.btn {
  border: 2px solid $red;
  background: $red;
  font-size: 14px;
  line-height: 26px;
  padding: 10px 24px;
  color: #FFF;
  font-weight: 700;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
  @include mq('tablet') {
    font-size: 12px;
    line-height: 20px;
    padding:8px 20px;
  }
  &:hover {
    background: #F20100;
    border-color: #F20100;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  &:active {
    background: #C70100;;
    border-color: #C70100;
    box-shadow: none;
  }
  &.btn-xs {
    padding: 5px 24px;
    font-size: 13px;
    @include mq('tablet') {
      font-size: 12px;
      line-height: 20px;
      padding: 3px 20px;
    }
  }
  &.border-white {
    border-color: #FFF;
    color: #FFF;
    background: transparent;
    &:hover {
      border-color: #FFF;
      background: #FFF;
      color: $red;
      box-shadow: none;
    }
    &:active {
      border-color: #FFF;
      background: #FFF;
      color: $red;
    }
  }
  &.btn-border {
    border-color: $gray5;
    color: #000000;
    background: transparent;
    &:hover {
      border-color: $gray5;
      color: $red;
      box-shadow: none;
    }
    &:active {
      border-color: #EB2120;
      color: $red;
    }
  }
  &.border-red {
    border-color: $red;
    &:hover {
      border-color:  #EB2120;
    }
    &:active {
      border-color: #EB2120;
    }
  }
  &.btn-gray {
    background: $gray5;
    color: #000;
    border-color: $gray5;
    &:hover {
      border-color:  $gray5;
      color: $red;
      background: $gray5;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    &:active {
      background: #D5D5D5;
      border-color: #D5D5D5;
      color: #EB2120;
    }
  }
  &.btn-white {
    background: #FFF;
    color: #000;
    border-color: #FFF;
    &:hover {
      border-color:  #FFF;
      color: $red;
      background: #FFF;
      box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.44);
    }

    &:active {
      background: #D5D5D5;
      border-color: #D5D5D5;
      color:   #EB2120;
    }
  }
  &.btn-fluid {
    width: 100%;
    display: block;
  }
  &:disabled,&[disabled], &:disabled:hover, &:disabled:focus {
    background: #D6D6D6;
    border-color: #D6D6D6;
    box-shadow: none;
    color: #F2F2F2;
    cursor: default;
    &.btn-border {
      border-color: $gray5;
      color: rgba(151, 151, 151, 0.43);
      background: transparent;
    }
    &.btn-gray {
      background: $gray5;
      border-color: $gray5;
      color: #BDBDBD;
      box-shadow: none;
    }
    &.btn-white{
      background: $gray5;
      border-color: $gray5;
      color: #BDBDBD;
      box-shadow: none;
    }
  }
}
@include classMod('btn.btn-full') {
  display: block;
  width: 100%;
}
.social-box {
  margin: 25px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  &.text-center {
    justify-content: center;
    li {
      margin: 0 10px;
      &:first-child {
        margin: 0 10px;
      }
    }
  }
  li {
    margin: 0 0 0 20px;

    &:first-child {
      margin-left: 0;
    }
    button,
    a {
      display: block;
      width: 52px;
      height: 52px;
      padding: 0;
      border-radius: 100%;
      background: #FFF;
      border: 1px solid #EBEBEB;
      position: relative;
      color:  #8B8B91;
      &:active ,
      &:hover {
        color:  $red;
        box-shadow: $boxShadowRed;
      }
      &:disabled,&[disabled], &:disabled:hover, &:disabled:focus {
        border-color:  #EBEBEB;
        color: #D6D6D6;
        box-shadow: none;
      }
      svg {
        width: 23px;
        @include center;
        height: 23px;
        &.icon_youtobe {
          width: 24px;
          height: 28px;
        }
        &.icon_vk {
          width: 25px;
          height: 14px;
        }
        &.icon_fb {
          width: 13px;
          height: 25px;
        }
      }
    }
  }
}
.social-reverse {
    li {
      button,
      a {
        color:  $red;
        &:active ,
        &:hover {
          color:  #8B8B91;
        }
      }
    }
}
$spinkit-size: 3em !default;
$circleCount: 12;
$animationDuration: 1.2s;
.btn.btn-loaded {
  position: relative;
  .sk-fading-circle {
    $circleCount: 12;
    $animationDuration: 1.2s;
    width: $spinkit-size;
    height: $spinkit-size;
    margin: auto;
    color: inherit;
    position: absolute;
    @include center;
    .sk-circle {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .sk-circle:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      color: inherit;
      background-color: currentColor;
      border-radius: 100%;
      animation: sk-fading-circle-delay $animationDuration infinite ease-in-out both;
    }
    @for $i from 2 through $circleCount {
      .sk-circle-#{$i} {
        transform: rotate((360deg / $circleCount * ($i - 1)));
      }
    }

    @for $i from 2 through $circleCount {
      .sk-circle-#{$i}:before {
        animation-delay: (-$animationDuration + $animationDuration / $circleCount * ($i - 1));
      }
    }
  }
}

@keyframes sk-fading-circle-delay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
