.form-group {
  margin: 0 0 18px;
  @include mq('tablet') {
    margin: 0 0 15px;
  }
  .error-message {
    display: none;
    padding-top: 5px;
  }
  &.error {
    .error-message {
      display: block;
    }
  }
}
.inp-wrap {
  position: relative;
  .icon-wrap {
    cursor: pointer;
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3A3A3A;
    @include mq('tablet') {
      width: 40px;

    }
    .icon_datepicker {
      @include mq('tablet') {
        width: 16px;
        height: 16px;

      }
    }
  }
  .form-control {
    padding-right: 50px;
    @include mq('tablet') {
      padding-right: 40px;
    }
  }
}
.form-lbl {
  display: inline-block;
  color: $gray7;
  padding: 0 0 5px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  @include mq('tablet', min) {
    padding: 0 0 13px;
    font-size: 14px;
    line-height: 18px;

  }
}
.form-control {
  font-size: 16px;
  resize: none;
  line-height: 20px;
  font-weight: normal;
  font-family: $baseFF;
  padding: 14px 20px 14px 20px;
  border: 1px solid $gray6;
  color: #3A3A3A;
  width: 100%;
  outline: none!important;
  @include mq('tablet') {
    padding: 9px 12px;
    font-size: 12px;
  }
  @include placeholder() {
    color: #000;
  }
  &.border-white {
    border-color: #FFF;
  }
  &.error {
    border-color: $red!important;
    color: $red;
    @include placeholder() {
      color: $red;
    }
  }
  &.inp-gray {
    background: #F5F5F5;
    color: #3A3A3A;
    @include placeholder() {
      color: #3A3A3A;
    }
  }
  &.input-xs {
    padding: 8px 20px 8px 20px;
    @include mq('tablet') {
      padding: 4px 12px;
    }
  }
  &.inp-round {
    border-radius: 25px;
  }
}
.error+.select2.select2-container  {
  .select2-selection--single {
    border-color: $red!important;
    color: $red;;
  }
}
.inp-gray+.select2.select2-container  {
  .select2-selection--single {
    background: #F5F5F5;
    border-color: #DDDDDD;
    color: #3A3A3A;
  }
}
.border-white+.select2.select2-container  {
  .select2-selection--single {
    border-color: #FFF;
  }
}
.input-xs+.select2.select2-container  {
  .select2-selection--single {
    .select2-selection__rendered {
      padding-top: 10px;
      padding-bottom: 10px;
      @include mq('tablet') {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}
.select2.select2-container {
  * {
    outline: none;
  }

  &.select2-container--open {
    .select2-selection__arrow {
      b {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .select2-selection--single {
    border: 1px solid $gray6;
    border-radius: 0;
    height: auto;
    color: #3A3A3A;
    .select2-selection__placeholder {
      color: #3A3A3A;
    }
    .select2-selection__rendered {
      padding: 15px 40px 15px 20px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 300;
      color: #000;
      @include mq('tablet') {
        padding: 10px 40px 10px 12px;
        font-size: 12px;
      }
    }

    .select2-selection__arrow {
      width: 40px;
      height: 100%;
      top: 1px;
      right: 0;
      color: #000000;
      svg {
        width: 100%;
        height: 100%;
        display: block;

      }

      b {
        width: 16px !important;
        height: 16px !important;
        border: none !important;
        @include center;
        @include mq('tablet') {
          width: 8px !important;
          height: 8px !important;
        }
      }
    }
  }


}
.select2-dropdown {
  border-radius: 0;
  border-color: $gray6;
  font-size: 14px;
  line-height: 18px;
  box-shadow: $boxShadow3;
  margin-top: 1px;
  &.select2-dropdown--above {
    margin-top: -1px;
  }
  &.select2-dropdown--below {
    margin-top: 1px;
  }
  &.border-white {
    border-color: #FFF;
  }
  .select2-results__option {
    padding: 11px 15px;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    @include mq('tablet') {
      padding-left: 12px;
      padding-right: 12px;

    }
    &.select2-results__option--highlighted {
      background: $red;
      color: #FFF;
    }
    &[aria-selected=true] {
      background: #FFF;
      color: $red;
    }
  }
}
input[type="checkbox"].error+.checkbox {
  .icon-wrap {
    border-color: $red!important;
  }
}
input[type="checkbox"]:checked+.checkbox {
  .icon-wrap {
    .icon {
      opacity: 1;
    }
  }
}

.checkbox-white +.checkbox {
  .icon-wrap {
    border-color: #FFF;
    color: #FFF;
  }
}
.checkbox {
  display: inline-block;
  padding-left: 33px;
  position: relative;
  .icon-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 2px;
    color: $red;
    @include mq('tablet') {
      width: 20px;
      height: 20px;
    }
    .icon {
      width: 16px;
      height: 16px;
      opacity: 0;
      @include transition();
    }
  }
}
input[type="radio"].error+.radio {
  .icon-wrap {
    border-color: $red!important;
  }
}
input[type="radio"]:checked+.radio{
  .icon-wrap {
    &:after {
      opacity: 1;
    }
  }
}
.radio{
  display: inline-block;
  padding-left: 33px;
  position: relative;
  .icon-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 100%;
    color: $red;
    @include mq('tablet') {
      width: 20px;
      height: 20px;
      top: 1px;
    }
    &:after {
      content: '';
      width: 12px;
      height: 12px;
      background: $red;
      border-radius: 100%;
      opacity: 0;
      @include transition();
    }
  }
}
.checkbox-inp,
.radio-inp {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -100;
}
