h1, .h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 0 0 25px;
  @include mq('tablet') {
    font-size: 28px;
    line-height: 34px;
  }
}
h2, .h2 {
  font-size: 40px;
  line-height: 50px;
  margin: 0 0 25px;
  @include mq('tablet') {
    font-size: 24px;
    line-height: 27px;
  }
}
h3, .h3 {
  font-size: 38px;
  line-height: 48px;
  margin: 0 0 25px;
  @include mq('tablet') {
    font-size: 20px;
    line-height: 24px;
  }
}

h4, .h4 {
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 25px;
  @include mq('tablet') {
    font-size: 19px;
    line-height: 22px;
  }
}

h5, .h5 {
  font-size: 34px;
  line-height: 44px;
  margin: 0 0 25px;
  @include mq('tablet') {
    font-size: 18px;
    line-height: 21px;
  }
}


h6, .h6 {
  font-size: 28px;
  line-height: 32px;
  margin: 0 0 25px;
  @include mq('tablet') {
    font-size: 17px;
    line-height: 20px;
  }
}
