.lnk,
a {
  color: $baseLinkColor;
  text-decoration: none;
  border-bottom: 1px solid;
  @include transition();
  &.no-border {
    border: none;
  }
  &.base-color {
    color: $baseFClr;
    &:hover {
      color: $red;
    }
  }
}
.lnk:hover,
a:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}
a[href^="mailto:"],
a[href^="tel:"] {
  text-decoration: none;
  color: inherit;
  border-bottom-color: transparent;
}

.lnk-reverse {
  border-bottom-color: transparent;
  &:hover {
    border-bottom-color: currentColor;
  }
}
