@mixin transition($time: 0.3s, $duration: 0s) {
  transition: all $time ease $duration;
}

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
   $width: map_get($breakpoints, $width);
   @if $type == max {
    $width: $width - 1px;
   }
   @media only screen and (#{$type}-width: $width) {
    @content;
   }
  }
}

@mixin placeholder() {
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}

@mixin format-text($font-size: 14px, $font-weight: 400, $color: false, $line-height: false) {
	font-size: px2em($font-size);
	font-weight: $font-weight;

	@if $color {
		color:$color;
	}

	@if $line-height {
		line-height: px2em($line-height);
	}
	@else {
		line-height: 100%;
	}
}


@mixin center {
	position:absolute;
	margin:auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

// add muted bg
@mixin muted($color: #000, $opacity: 0.5) {
	position:relative;
	&:before {
		content:'';
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		background-color:rgba($color, $opacity);
	}
}
@mixin gradient($deg: '-45deg', $bg1: '#7f20da' , $bg2: '#e05a6c') {
	background-image: linear-gradient($deg, $bg1 0%, $bg2 100%);
}
@mixin classMod($class, $type: false) {
	@if ($type == total) {
		.#{$class} {
			@content;
		}
	}
	@if $type {
		@if ($type == xxs) {
			@include mq('phone-wide') {
				.#{$class}-xxs {
					@content;
				}
			}
		}
		@if ($type == xs) {
			@include mq('phone-wide', min) {
				@include mq('tablet') {
					.#{$class}-xs {
						@content;
					}
				}
			}
		}
		@if ($type == sd) {
			@include mq('tablet', min) {
				@include mq('tablet-wide') {
					.#{$class}-sm {
						@content;
					}
				}
			}
		}
		@if ($type ==  md) {
			@include mq('tablet-wide', min) {
				@include mq('desktop') {
					.#{$class}-md {
						@content;
					}
				}
			}
		}
		@if ($type == lg) {
			@include mq('desktop', min) {
				.#{$class}-lg {
					@content;
				}
			}
		}
	} @else {
		.#{$class} {
			@content;
		}
		@include mq('phone-wide') {
			.#{$class}-xxs {
					@content;
				}
		}
		@include mq('phone-wide', min) {
			@include mq('tablet') {
				.#{$class}-xs {
					@content;
				}
			}
		}
		@include mq('tablet', min) {
			@include mq('tablet-wide') {
				.#{$class}-sm {
					@content;
				}
			}
		}
		@include mq('tablet-wide', min) {
			@include mq('desktop') {
				.#{$class}-md {
					@content;
				}
			}
		}

		@include mq('desktop', min) {
			.#{$class}-lg {
				@content;
			}
		}
	}
}
