.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon_Telegram {
  font-size:(28/10)*1rem;
  width:(28/28)*1em;
}
.icon_angle-down {
  font-size:(9/10)*1rem;
  width:(16/9)*1em;
}
.icon_angle-left {
  font-size:(15/10)*1rem;
  width:(9/15)*1em;
}
.icon_angle-right {
  font-size:(15/10)*1rem;
  width:(9/15)*1em;
}
.icon_arrow-left {
  font-size:(8/10)*1rem;
  width:(24/8)*1em;
}
.icon_arrow-right {
  font-size:(8/10)*1rem;
  width:(24/8)*1em;
}
.icon_burger {
  font-size:(16/10)*1rem;
  width:(23/16)*1em;
}
.icon_checked {
  font-size:(13/10)*1rem;
  width:(17/13)*1em;
}
.icon_clock {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_close {
  font-size:(22/10)*1rem;
  width:(21/22)*1em;
}
.icon_content_copy {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_datepicker {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
.icon_document-text {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon_fb {
  font-size:(22/10)*1rem;
  width:(11/22)*1em;
}
.icon_filter {
  font-size:(25/10)*1rem;
  width:(25/25)*1em;
}
.icon_filter2 {
  font-size:(16/10)*1rem;
  width:(22/16)*1em;
}
.icon_graduation-cap {
  font-size:(28/10)*1rem;
  width:(36/28)*1em;
}
.icon_insta {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon_mail {
  font-size:(21/10)*1rem;
  width:(32/21)*1em;
}
.icon_marker {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_marker-check {
  font-size:(17/10)*1rem;
  width:(20/17)*1em;
}
.icon_phone {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon_phone-border {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_place {
  font-size:(50/10)*1rem;
  width:(50/50)*1em;
}
.icon_purse {
  font-size:(53/10)*1rem;
  width:(53/53)*1em;
}
.icon_question {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_questions {
  font-size:(25/10)*1rem;
  width:(25/25)*1em;
}
.icon_quotation {
  font-size:(16/10)*1rem;
  width:(24/16)*1em;
}
.icon_round-angle-right {
  font-size:(33/10)*1rem;
  width:(33/33)*1em;
}
.icon_rub {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon_search {
  font-size:(14/10)*1rem;
  width:(14/14)*1em;
}
.icon_telegram-chat {
  font-size:(28/10)*1rem;
  width:(28/28)*1em;
}
.icon_trophy {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon_user {
  font-size:(15/10)*1rem;
  width:(13/15)*1em;
}
.icon_view-show {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon_vk {
  font-size:(13/10)*1rem;
  width:(22/13)*1em;
}
.icon_youtobe {
  font-size:(25/10)*1rem;
  width:(21/25)*1em;
}
