// Контрольные точки;
$breakpointsPhone:             400px;
$breakpointsPhoneWide:         480px;
$breakpointsPhablet:           540px;
$breakpointsTabletSmall:       640px;
$breakpointsTablet:            768px;
$breakpointsTabletWide:        992px;
$breakpointsDesktop:           1200px;
$breakpointsDesktopWideMd:     1400px;
$breakpointsDesktopWide:       1600px;

$breakpoints: (
  "phone":        $breakpointsPhone,
  "phone-wide":   $breakpointsPhoneWide,
  "phablet":      $breakpointsPhablet,
  "tablet-small": $breakpointsTabletSmall,
  "tablet":       $breakpointsTablet,
  "tablet-wide":  $breakpointsTabletWide,
  "desktop":      $breakpointsDesktop,
  "desktop-wide-md":      $breakpointsDesktopWideMd,
  "desktop-wide": $breakpointsDesktopWide
);

// Цвета на сайте
$blue: #0078ff;
$white: #FFF;
$black: #000;
$red: #FF2625;
$gray: #4d4d4d;
$gray2: #ECECEC;
$gray3: #999999;
$gray4: #FAFAFA;
$gray5: #E5E5E5;
$gray6: #DDDDDD;
$gray7: #9F9F9F;
$gray8: #F4F4F4;
$gray10: scale-color($black,$lightness:10%); // 1a1a1a
$green: #75bf5b;


// Grids
$grid-columns:              12;
$grid-gutter-width:         30px;


$boxShadowRed: 0 0 7px rgba(#ff2625, 0.72);
$boxShadow:  0 8px 36px rgba(#333, 0.12);
$boxShadow2: 0px 15px 20px rgba(0, 0, 0, 0.03);
$boxShadow3: 0px 4px 4px rgba(0, 0, 0, 0.25);
$boxShadowSmall: 0 0 15px rgba(51,51,51,.12);

$baseFS: 16px !default;
$baseLH: ( 26px / $baseFS );
$baseFW: 400;
$baseFSt: normal;
$baseFF: 'Montserrat', Arial, sans-serif;
$baseFClr: $black;
$baseBg: $gray4;

$containerW: 1210px;
$containerMW: 1010px;
$containerP: 0 20px;

$baseLinkColor: $red;


