include mixin
doctype html
html
  block vars
   -
    var baseData =
    {
        phone: {number: '+7 (499) 110-68-67', href: '+74991106867'},
    };
  head
    meta(charset="utf-8")
    title=pageTitle
    meta( name="description" content="" )
    meta( name="keywords" content="" )
    meta( name="viewport" content="width=device-width, initial-scale=1")
    meta( name="format-detection" content="telephone=no")
    link(rel="shortcut icn" href="img/favicn.ico" )
    block styles
    if langig
      link(rel="stylesheet" href="css/landig.css")
    else if  seminar
      link(rel="stylesheet" href="css/seminar.css")
    else
      link(rel="stylesheet" href="css/template_styles.css")
  body
    block body
      block header
         include ../blocks/header
      block main
        block content
      block footer
        include ../blocks/footer
    block scripts
    if langig
      script(type="text/javascript" src="js/landig.js")
    else if  seminar
      script(type="text/javascript" src="js/seminar.js")
    else
      script(type="text/javascript" src="js/scripts.js")



