mixin list(data)
  ul&attributes(attributes)
    each itm in data
      li(class=itm.itmClass)
        if (itm.icon)
          .icon-wrap
            +svg(itm.icon)
        !=itm.ttl
mixin listLink(array)
  ul&attributes(attributes)
    each itm in array
      li(class=itm.cl)
        a(target=itm.target, href=(itm.url) ? itm.url:'#')
          if (itm.icn)
            +svg(itm.icn)
          if (itm.ttl)
            !=itm.ttl
mixin menu(array)
  ul&attributes(attributes)
    each itm in array
      li(class=(itm.url == pageUrl) ? 'active':'')
        a(target=itm.target, href=(itm.url) ? itm.url:'#')
          if (itm.icon)
            +svg(itm.icon)
          if (itm.ttl)
            !=itm.ttl
mixin olListLink(array)
  ol&attributes(attributes)
    each itm in array
      li(class=itm.cl)
        a(target=itm.target, class=itm.linkClass, href=(itm.url) ? itm.url:'#')
          if (itm.icn)
            +svg(itm.icn)
          if (itm.ttl)
            !=itm.ttl
mixin svg(icn)
  svg( class="icon icon_"+icn)&attributes(attributes)
    use(xlink:href="images/sprite-svg.svg#"+icn)
mixin coursesPreview(data)
  .courses-preview
    button.arrow-round.slick-prev.hidden-xs.hidden-xxs.hidden-sm
      +svg('angle-left')
    button.arrow-round.slick-next.hidden-xs.hidden-xxs.hidden-sm
      +svg('angle-right')
    .carousel.slick-slider
      each itm in data
        .item
          .box
            .left.text-center-xxs.text-center-xs
              .in
                .top!=itm.text
                .h6.title.bold!=itm.title
            .right.text-center
              .in
                .time.bold Старт обучения
                  =' '
                  span.date.d-block.medium!=itm.date
                a(href="#").btn Записаться на курс
mixin programsContainer(data)
  .section-container.programs-container&attributes(attributes)
    .container-middle
      .h3.title-border(class=data.titleClass)!=data.title
      .row
        .col-sm-6.col-xxs-12
          .tabs-head-wrap
            button.arrow-carousel.arrow-prev.hidden-lg.hidden-md.hidden-sm
              +svg('arrow-left')
            button.arrow-carousel.arrow-next.hidden-lg.hidden-md.hidden-sm
              +svg('arrow-right')
            .tabs-head
              each itm, i in data.tabs

                    if i +1 < data.tabs.length || data.tabsNoAll
                      .item(class=(i == 0) ? 'active' : '')
                        a(href='#' + itm.url)
                          .top
                            .num=(i<9)? '0'+(i+1): (i+1)
                            if itm.type
                              .type
                                !=itm.type
                          .ttl.bold
                            !=itm.ttl
                    else if !data.tabsNoAll
                      .item.item-all
                        a(href='#' + itm.url)
                          .ttl.bold
                            +svg('round-angle-right')
                            !=itm.ttl
        .col-sm-6.col-xxs-12
          .tabs-wrap
            each itm, i in data.tabs
              if i + 1 < data.tabs.length || data.tabsNoAll
                .tab(id=itm.url class=(i== 0)? 'active': '')
                  .h6.title.bold!=itm.title
                  .period.bold Длительность:
                    =' '
                    !=itm.period
                  .start-date.bold Старт обучения:
                    =' '
                    span.text-red!=itm.startDate
                  .text
                    !=itm.text
                  .sum.bold.text-red
                    !=itm.sum
                    =' '
                    span руб
                  .btn-wrap
                    a(href="#").btn!=data.btnRed
                    a(href="#").btn.btn-border!=data.btnBorder
- var inpId = 0;
mixin select(data)
  -inpId++;
  select.js-select(id='select-'+inpId, style='width: 100%')&attributes(attributes)
    if attributes.placeholder
      option
    each itm in data.items
      option=itm
mixin pictures(data)
  picture
    each itm in data.picts
      source(srcset=itm.pict, media=itm.media)
    if data.lazy
      img(data-lazy=data.pict, alt="")
    else
      img(src=data.pict, alt="")
mixin library(data)
  .section-container.library-container&attributes(attributes)
    .container-middle
      if data.h5
        h5.titler(class=data.titleClass)!=data.title
      else
        .h3.title-border(class=data.titleClass)!=data.title
      if data.tabs.length > 1
        .tabs-head.medium
          each itm, i in data.tabs
            .item(class=(i== 0)? 'active': '')
              a(href="#"+itm.url)!=itm.ttl
      if data.tabs.length > 1
        .tabs-wrap
          each itm, i in data.tabs
            .tab(class=(i== 0)? 'active': '', id=itm.url)
              .carousel-wrap.text-right-xxs.text-right-xs
                button.arrow-round.slick-prev.hidden-xs.hidden-xxs
                  +svg('angle-left')
                button.arrow-round.slick-next.hidden-xs.hidden-xxs
                  +svg('angle-right')
                button.arrow-carousel.arrow-prev.hidden-lg.hidden-md.hidden-sm
                  +svg('arrow-left')
                button.arrow-carousel.arrow-next.hidden-lg.hidden-md.hidden-sm
                  +svg('arrow-right')
                .carousel
                  each slide in itm.carousel
                    .item
                      .row
                        each box in slide.boxs
                          .col-xxs-12.col-sm-6
                            a(href="#").box
                              +pictures(box.pict)
                              .ttl.font-lg.bold!=box.ttl
              .btn-wrap.text-center.text-left-xs.text-left-xxs
                a(href="#").btn Все материалы
      else
        each itm, i in data.tabs
          .carousel-wrap.text-right-xxs.text-right-xs
            button.arrow-round.slick-prev.hidden-xs.hidden-xxs
              +svg('angle-left')
            button.arrow-round.slick-next.hidden-xs.hidden-xxs
              +svg('angle-right')
            button.arrow-carousel.arrow-prev.hidden-lg.hidden-md.hidden-sm
              +svg('arrow-left')
            button.arrow-carousel.arrow-next.hidden-lg.hidden-md.hidden-sm
              +svg('arrow-right')
            .carousel
              each slide in itm.carousel
                .item
                  .row
                    each box in slide.boxs
                      .col-xxs-12.col-sm-6
                        a(href="#").box
                          +pictures(box.pict)
                          .ttl.font-lg.bold!=box.ttl
          if data.btnAll
            .btn-wrap.text-center.text-left-xs.text-left-xxs
              a(href="#").btn!=data.btnAll
mixin popularQuestion(data)
  .section-container.popular-question
    .bg(style="background-image: url(images/popular-question.jpg);").hidden-xs.hidden-xxs
    .container
      .block.block-shadow
        .container-middle
          .h3.title-border(class=data.titleClass)!=data.title
          .row
            .col-sm-6.hidden-xxs.hidden-xs
              .tabs-head
                each itm, i in data.tabs
                  .item(class=(i== 0)? 'active': '')
                    a(href="#"+itm.url).lnk-reverse!=itm.ttl
                      +svg('angle-right')
            .col-sm-6.col-xxs-12
              .tabs-wrap
                each itm, i in data.tabs
                  a(href="#" + itm.url, class=(i== 0)? 'open': '').tab-lnk.hidden-md.hidden-sm.hidden-lg.medium!=itm.ttl
                    .icon-wrap
                      +svg('angle-down')
                  .tab(class=(i== 0)? 'active': '', id=itm.url)
                    !=itm.txt
                    =' '
                    a(href="#").lnk-reverse Подробнее
          .btn-wrap.text-center
            a(href="#").btn.btn-full-xxs.btn-full-xs Все вопросы
mixin navAnchore(data)
  nav.nav-anchors&attributes(attributes)
    .container
      +menu(data)
mixin breadcrumbs(end, ...items)
  .breadcrumbs.hidden-xxs.hidden-xs&attributes(attributes)
    .container
      ul
        li
          a(href="#") Главная
        each item in items
          li
            a(href="#")= item
        li!=end
mixin previewBox(data)
  .preview-box&attributes(attributes)
    .container
      .row
        .col-sm-6.col-xs-12
          .pict
            img(src=data.pict, alt="")
        .col-sm-6.col-xs-12
          .preview-title.bold.h6!=data.title
          .period.bold Длительность обучения
            =' '
            !=data.period
          .start.bold  Старт обучения:
            =' '
            span.text-red!=data.start
          .desc!=data.desc
          .sum.bold.text-red!=data.sum
            =' '
            span.rub ₽
          .btn-wrap
            if data.btn1
              a(href="#").btn!=data.btn1
            if data.btn2
              a(href="#").btn.btn-border!=data.btn2
mixin subscriptionBlock(data)
  .subscription-block( class=(pageUrl=='main.html')? 'success': '')
    .report
      .container
        .in
          .h2.extrabold.title Спасибо за подписку!
          |Мы рады, что вы с нами
    .container
      form.inner
        .title.bold.upper Подпишитесь на новости!
        .form-group
          input(type="email" name="" placeholder="Введите email").form-control.border-white.required
        .form-group
          button.btn.btn-white.js-validate подписаться
        .font-small
          | Отправляя форму,  я даю согласие на
          | обработку
          = ' '
          a(href="#") персональных данных
mixin filter1(data)
  .filter-wrap#filter-wrap
    .filter.shadow2.bg-white
      a(href="#").close.visible-xs.visible-xxs
        +svg('close')
      .container-middle
        form
          .row
            .col-sm-6.col-xxs-12
              label.form-lbl Направление обучения
              .form-group
                +select({
                    items: ['Название специализации', 'Название специализации2', 'Название специализации3', 'Название специализации4', 'Название специализации5']
                })(placeholder="Выберите специализацию").inp-gray
            .col-sm-6.col-xxs-12
              label.form-lbl Дата проведения
              .row
                .col-sm-6.col-xxs-12
                  .form-group
                    .inp-wrap
                      label(for="datepicker-min").icon-wrap
                        +svg('datepicker')
                      input(type="text" name="" id='datepicker-min'  placeholder="Начало").form-control.inp-gray.datepicker-min
                .col-sm-6.col-xxs-12
                  .form-group
                    .inp-wrap
                      label(for="datepicker-max").icon-wrap
                        +svg('datepicker')
                      input(type="text" name="" id='datepicker-max' placeholder="Конец").form-control.inp-gray.datepicker-max
          .btn-wrap
            .row
              .col-sm-4.col-xxs-12
                button(type="reset").btn.btn-gray.btn-fluid сбросить
              .col-sm-8.col-xxs-12
                button.btn.btn-fluid
                  +svg('filter').hidden-xxs.hidden-xs
                  |фильтровать расписания
mixin landEntryCourse(data)
  .land-entry-course&attributes(attributes)
    .report
      .report-in
        .report-title Отличный старт!
        .report-desc
          | Вы успешно записались на обучение! Скоро с вами свяжется
          | менеджер курса, чтобы ответить на все ваши вопросы по
          | процессу учебы и сформировать счет на оплату.
        .report-btn.text-center
          a(href="#").btn Оплатить онлайн
    if data.title
      .h5.title.medium!=data.title
    form
      each itm in data.forms
        - inpId++
        .form-group(class=itm.formGroupClass)
          if itm.label
            label(for='land-entry-course-'+inpId)!=itm.lable
          if itm.input
            input(type=(itm.input.type)? itm.input.type: 'text' name="" placeholder=itm.input.placeholder id='land-entry-course-'+inpId, data-mask=(itm.input.mask)? itm.input.mask: false).required
          if itm.select
            +select(itm.select)(placeholder=itm.select.placeholder)
          if itm.checkbox
            input(type="checkbox" name="" placeholder="" id=itm.checkbox.id)
            label(for=itm.checkbox.id).lbl-checkbox
              .icon-wrap
                +svg('checked')
              !=itm.checkbox.lbl
          if itm.txt
            if data.btn2
              .btn-wrap
                .form-group
                  a(href="#").btn.btn-xs.btn-white.btn-full.js-validate!=data.btn
                .form-group
                  a(href="#").btn.btn-xs.btn-border.btn-full.js-validate!=data.btn2
            !=itm.txt
          if itm.countdown
            .countdown-container
              .ttl.bold.upper.text-center
                span До конца записи на курс
              .countdown(data-dateend=itm.countdown)
                .itm
                  .days.extrabold
                  span.bold-lg.bold-md.bold-sm дней
                .itm
                  .hours.extrabold
                  span.bold-lg.bold-md.bold-sm часов
                .itm
                  .minutes.extrabold
                  span.bold-lg.bold-md.bold-sm минут
      if !data.btn2
        .btn-wrap
          a(href="#").btn.btn-xs.btn-white.btn-full.js-validate!=data.btn
mixin landSectionAdv(data)
  .h3.land-section-title.extrabold.text-center.upper!=data.title
  .list.row
    each itm, i in data.list
      .col-sm-6.col-md-4.col-xxs-12(class=(i>1)?'hidden-phone': '')
        .box
          .ttl.bold.upper
            .num.extrabold.text-red
              span.hidden-xs.hidden-xxs.
                &mdash;
              span.hidden-md.hidden-lg.hidden-sm.
                -
              = ' '
              =(i<9)? '0'+(i+1): (i+1)
            !=itm.ttl
          .txt!=itm.txt
  .btn-wrap.visible-xs.visible-xxs.text-center
    a(href="#").btn.btn-border.js-more показать еще
mixin contentList(data)
  .list.row&attributes(attributes)
    each itm, i in data
      .item.col-sm-6.col-xxs-12(class=(i<2)? '': 'hidden-phone')
        .ttl.bold.upper!=itm.ttl
        .txt!=itm.txt
          if itm.list
            ul
              each item in itm.list
                li!=item
  .btn-wrap.text-center.visible-xxs.visible-xs
    a(href="#").btn.js-more показать еще
mixin landSectionDoc(data)
  .land-section.land-section-documents.has-mask-bg(style="background-image: url("+data.bg+");")&attributes(attributes)
    if !data.parallaxHide
      img(src="images/parallax1.png", alt="" style=(data.list.length == 1) ? "top: 50%; margin: -100px  0 0 250px;":"top: 50%; margin: -100px  0 0 550px;").parallax.right
      img(src="images/parallax2.png", alt="" style=(data.list.length == 1)? 'top: 50%; margin: -100px 250px 0 0;': "top: 50%; margin: -100px 450px 0 0;").parallax.left

    .container
      .h3.land-section-title.extrabold.text-center.upper!=data.title
      .carousel-wrap
        button.arrow-carousel.arrow-prev.hidden-lg.hidden-md.hidden-sm
          +svg('arrow-left')
        button.arrow-carousel.arrow-next.hidden-lg.hidden-md.hidden-sm
          +svg('arrow-right')
        .carousel
          each itm in data.list
            .item
              a(href=itm.pict data-fancybox=data.group).box
                .pict
                  img(src=itm.pict, alt="")

mixin landSectionDocSeminar(data)
  .land-section.land-section-documents.has-mask-bg(style="background-image: url("+data.bg+");")&attributes(attributes)
    if !data.parallaxHide
      img(src="images/parallax1.png", alt="" style=(data.list.length == 1) ? "top: 50%; margin: -100px  0 0 250px;":"top: 50%; margin: -100px  0 0 550px;").parallax.right
      img(src="images/parallax2.png", alt="" style=(data.list.length == 1) ? "top: 50%; margin: -100px 250px 0 0;":"top: 50%; margin: -100px 450px 0 0;").parallax.left
    .container
      if data.title
        .h3.land-section-title.extrabold.text-center.upper!=data.title
      .carousel-wrap
        button.arrow-carousel.arrow-prev.hidden-lg.hidden-md.hidden-sm
          +svg('arrow-left')
        button.arrow-carousel.arrow-next.hidden-lg.hidden-md.hidden-sm
          +svg('arrow-right')
        .carousel
          each itm in data.list
            .item
              a(href=itm.pict data-fancybox=data.group, class=(data.mask)? '': 'box-long').box
                .pict
                  img(src=itm.pict, alt="")
mixin loader()
  .lds-default
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
mixin pageBanner(data)
  .section-container.page-banner.has-mask-bg(style="background-image: url(" + data.bg + ");")&attributes(attributes)
    +breadcrumbs(pageTitle, data.breadcrumbs)
    .container
      .description
        .in(class=data.inClass)
          if data.title
            h1!=data.title
          if data.price
            .h3.price.text-red.bold!=data.price
          if data.txt
            .txt(class=data.txtClass)!=data.txt
          if data.btns
            .btn-wrap
              each btn in data.btns
                a(href=(btn.href)? btn.href: '#', class=btn.class).btn!=btn.ttl
mixin schedule(data)
  .section-container.schedule-list
    if data.title
      .head.clearfix
        .h5.bold.title!=data.title
        a(href="#").btn.btn-border Показать прошедшие
    .list
      each month in data.list
        .month
          .ttl-month.bold!=month.month
          each date in month.dates
            .date-wrap
              .head-date
                .date.text-red.bold!=date.date
                .days!=date.day
              .lessons.row
                each itm in date.lessons
                  .item.col-sm-6.col-xxs-12
                    .box.bg-white.shadow
                      .lesson-ttl.extrabold.upper!=itm.ttl
                      .teachers.bold.text-red
                        each teacher, i in itm.teacher
                          if i < 2
                            if i > 0
                              | ,
                              =' '
                            !=teacher
                        if itm.teacher.length >2
                          .hidden
                            each teacher, i in itm.teacher
                              if i > 1
                                | ,
                                =' '
                                !=teacher
                          .teacher-all
                            a(href="#")
                              .visible и еще
                                =' '
                                =itm.teacher.length - 2
                              .hidden Свернуть

                      .indic
                        span.bold Пройдет в:
                        =' '
                        !=itm.places
                      .indic
                        span.bold Группа:
                        =' '
                        !=itm.group
                      .indic
                        span.bold Время проведения:
                        =' '
                        !=itm.time

    .btn-wrap.text-center.show-loader
      +loader()
      a(href="#").btn Посмотреть еще
- var id = 0;
mixin checkbox(data)
  - id++
  input(type='checkbox', class="checkbox-inp",  checked=(data.checked) ? true: false, name=data.name id='checkbox'+id)&attributes(attributes)
  label(for='checkbox'+id, class='checkbox')
    .icon-wrap
      +svg('checked')
    !=data.lbl
mixin radio(data)
  - id++
  input(type='radio', class="radio-inp",  checked=(data.checked) ? true: false, name=data.name id='radio'+id)&attributes(attributes)
  label(for='radio'+id, class='radio')
    .icon-wrap
    !=data.lbl
mixin teacher(data)
  .teacher-preview.text-center
    .pict
      img(src=data.pict, alt="")
    .desc
      .ttl.font-lg.bold!= data.ttl
      .post!=data.post
    a(href="#").lnk-abs
mixin tagsBlock(data)
  .tags-block
    .title.bold!=data.title
    each line in data.lines
      .line
        .ttl.font-small.semibold.upper!=line.ttl
        .tags
          each tag in line.tags
            a(href="#").tag!=tag
mixin callbacks(data)
  .section-container.section-collbacks
    .container-middle.text-center
      .row
        each itm in data.items
          .col-sm-4.col-xxs-12
            .box
              .ttl.upper.bold!=itm.ttl
              .txt!=itm.txt
              a(href="#popup-callbacks" data-fancybox='', data-theme=itm.ttl).lnk-abs
    #popup-callbacks.popup.popup-callbacks
      .popup-head
        .h5.upper.extrabold.title ПРЕДЛОЖИТЬ ТЕМУ
      .popup-body
        form
          input(type="hidden" name="theme")
          .row
            .col-sm-6.col-xxs-12
              .form-group
                input(type="text" name="" placeholder="Имя").form-control.required
            .col-sm-6.col-xxs-12
              .form-group
                input(type="email" name="" placeholder="Email").form-control.required
          .form-group
            textarea.form-control.required(placeholder="Предложить тему" rows="5")
            .footnote.font-small Отправляя форму, я даю согласие на
              =' '
              a(href="#") обработку персональных данных
          button.btn.js-validate отправить
mixin blogPreview(data)
  .blog-preview
    .pict
      img(src=data.pict, alt="")
    .indicartors.font-small-xxs.font-small-xs
      .section!=data.section
      .views
        +svg('view-show')
        !=data.views
    .title.extrabold!=data.title
    a(href="#").lnk-abs
mixin blogList(data)
  .section-container.blog-list
    .row
      each itm in data
        .item.col-sm-4.col-xxs-12
          +blogPreview(itm)
mixin subscribe(data)
  .section-container.section-subscribe
    .block.text-center.text-left-xs.text-left-xxs
      .inner
        .title.extrabold.upper-xs.upper-xxs!=data.title
        p.txt.hidden-xs.hidden-xxs!=data.txt
        form
          input(type="email" name="" placeholder="Введите e-mail").required
          button.js-validate
            +svg('angle-right')
        .footnote.font-small!=data.footnote
mixin historyPreview(data)
  .histroy-preview.bg-white.shadow&attributes(attributes)
    .blockquote-box.text-red
      .icon-wrap
        +svg('quotation')
      .txt.font-small-xs.font-small-xxs!=data.blockquote
    .user.text-center-xxs.text-center-xs.text-center-sm
      .ava-wrap
        .ava
          img(src=data.ava, alt="")
      .desc
        .views
          span!=data.views
            +svg('view-show')
        #{(data.usernameTag)?data.usernameTag:'div'}.username.extrabold.semibold-xs.semibold-xxs!=data.username
        .post!=data.post
        if !data.btnHide
          .btn.btn-xs.btn-border.border-red Подробнее
    if !data.lnkHide
      a(href="history-detail.html").lnk-abs
mixin histroryList(data)
  .row.histroy-list
    each itm in data
      .item.col-md-6.col-xxs-12
        +historyPreview(itm)
mixin historyOuther(data)
  .section-container.histroy-outher&attributes(attributes)
    .container-middle
      if data.h5
        h5.titler(class=data.titleClass)!=data.title
      else
        .h3.title-border.text-center.extrabold(class=data.titleClass)!=data.title
      .carousel-wrap
        button.arrow-round.slick-prev.hidden-xs.hidden-xxs.hidden-sm
          +svg('angle-left')
        button.arrow-round.slick-next.hidden-xs.hidden-xxs.hidden-sm
          +svg('angle-right')
        .carousel
          each itm in data.items
            .item
              +historyPreview(itm)
mixin sectionLicenses(data)
  .section-container.section-licenses&attributes(attributes)
    .title(class=data.titleClass)!=data.title
    if data.desc
      .desc
        !=data.desc
    .carousel-wrap
      button.arrow-round.slick-prev.hidden-xs.hidden-xxs
        +svg('angle-left')
      button.arrow-round.slick-next.hidden-xs.hidden-xxs
        +svg('angle-right')
      .carousel
        each itm in data.items
          .item
            a(href=(itm.pictBig)? itm.pictBig: itm.pict, data-fancybox="licenses")
              img(src=itm.pict, alt="")
mixin postPreview(data)
  .posting-preview&attributes(attributes)
    .row
      .col-sm-6.col-xxs-12
        .pict(style="background-image: url(" + data.pict + ");")
          img(src=data.pict, alt="").hidden-md.hidden-sm.hidden-lg
      .col-sm-6.col-xxs-12
        .desc
          if data.title
            .title(class=data.titleClass)!=data.title
          if data.desc
            .txt!=data.desc
          if data.btn
            a(href="#").btn!=data.btn
mixin anonsList(data)
  .section-container.section-anons&attributes(attributes)
    .container
      .list
        each itm in data.items
          .item.row(id=itm.id)
            .col-sm-6.col-xxs-12
              .pict(style="background-image: url("+itm.pict+");")
                img(src=itm.pict, alt="").hidden-md.hidden-sm.hidden-lg
            .col-sm-6.col-xxs-12
              .desc
                if itm.top
                  .top!=itm.top
                if itm.title
                  .title.h6.extrabold!=itm.title
                if itm.desc
                  .txt!=itm.desc
                if itm.btn
                  a(href="#").btn!=itm.btn
mixin openFitness(data)
  .section-container.section-open-fitness&attributes(attributes)
    .title(class=data.titleClass)!=data.title
    .list.shadow
      each itm in data.items
        .item
          a(href=(itm.url)? itm.url: '#').box
            .icon-wrap
              img(src=itm.icon, alt="")
            .desc
              .in
                .ttl.bold!=itm.ttl
                .txt!=itm.txt
            .angle
              +svg('angle-right')
mixin consultation(data)
  .section-container.section-consultation.has-mask-bg(style="background-image: url(" + data.bg + ");")&attributes(attributes)
    .report
      .report-in
        .report-title Отлично!
        .report-desc
          | Вы успешно отправили заявку на партнерство! Скоро с вами свяжется менеджер, для уточнения деталей.
        .report-btn.text-center
          a.btn(href='#')!=(data.btnReport) ? data.btnReport: 'Кнопка если надо'
    .container
      .title(class=data.titleClass)!=data.title
      form.form
        .row
          .col-sm-6.col-xxs-12
            .form-group
              input(type="text" name="name" placeholder="Иванов Иван Иванович" ).form-control.inp-trt.required
          .col-sm-6.col-xxs-12
            .form-group
              input(type="text" name="phone" placeholder="Введите номер телефона" data-mask="+7 (999) 999-99-99").form-control.required
        .row
          .col-sm-6.col-xxs-12
            .form-group
              input(type="text" name="city" placeholder="Город" ).form-control.inp-trt.required
          .col-sm-6.col-xxs-12
            .form-group
              input(type="email" name="email" placeholder="Электронная почта" ).form-control.inp-trt.required
        .form-group
          textarea(rows="5" name="message" placeholder="Добавить комментарий" ).form-control
        if data.fpacheckbox
          .form-group
            +checkbox({
                lbl: 'Являюсь членом FPA',
                checked: true
            }).checkbox-white
        .footnote.font-small.form-group
          | Отправляя форму, я даю согласие на
          =' '
          a(href="#") обработку персональных данных

        .btn-wrap.text-center
          button.btn.btn-white.js-validate!=(data.btnTxt)? data.btnTxt: 'Записаться <span class="hidden-xs hidden-xxs">на консультацию</span>'
mixin education(data)
  .section-container.section-education&attributes(attributes)
    .title(class=data.titleClass)!=data.title
    .list.shadow
      each itm in data.items
        .item
          .year.bold!=itm.year
          .desc
            .ttl.bold
              !=itm.ttl
            .degree
              - icon = (itm.degreeIcon) ? itm.degreeIcon : 'graduation-cap';
              +svg(icon)
              !=itm.degree
mixin bookCarousel(data)
  .section-container.section-books&attributes(attributes)
    .container-middle
      .title(class=data.titleClass)!=data.title
      .carousel-wrap.text-right-xxs.text-right-xs
        button.arrow-round.slick-prev.hidden-xs.hidden-xxs
          +svg('angle-left')
        button.arrow-round.slick-next.hidden-xs.hidden-xxs
          +svg('angle-right')
        .carousel
          each itm in data.items
            .item
              .box.text-center.bg-white.shadow-small
                .pict
                  img(src=itm.pict, alt="")
                if itm.year
                  .year.text-gray!=itm.year
                if itm.ttl
                  .ttl.bold!=itm.ttl
mixin tinkoffBanner(data)
  .section-container.section-tinkoff&attributes(attributes)
    .container
      .row
        .col-sm-3.col-xxs-12
          a(href="#").logo
            img(src="images/tinkoff.png", alt="")
        .col-sm-6.col-xxs-12
          .txt.font-lg.text-center.semibold!=data.txt
        .col-sm-3.col-xxs-12
          a(href="#").questions.bold.font-large
            +svg('questions')
            span Частые вопросы
mixin gallery(data)
  .gallery-carousel&attributes(attributes)
    .carousel-wrap
      button.arrow-round.slick-prev.hidden-xs.hidden-xxs.hidden-sm
        +svg('angle-left')
      button.arrow-round.slick-next.hidden-xs.hidden-xxs.hidden-sm
        +svg('angle-right')
      -id++
      .carousel
        each itm in data
          .item
            a(href=itm.pict data-fancybox="gallery" + id)
              img(data-lazy=itm.pict, alt="")
mixin faq(data)
  .faq-accordion&attributes(attributes)
    each item in data
      .item
        .head.upper.medium!=item.head
          .icon-wrap
            +svg('angle-down')
        .body
          each itm in item.items
            .itm
              .ttl.bold!=itm.ttl
                .icon-wrap
                  +svg('angle-down')
              .answer!=itm.txt
mixin tariffs(data)
  .tariffs-list&attributes(attributes)
    .title(class=data.titleClass)!=data.title
    .row
      each itm in data.items
        .item(class=itm.class)
          .box.shadow.bg-white
            .ttl(class=itm.ttlClass)!=itm.ttl
            .price.bold.font-large
              span.h5!=itm.price
              =' '
              | ₽
            .btn-wrap
              a(href="#").btn Заказать
            if itm.list
              ul.list-checked.text-left
                each li in itm.list
                  li
                    .icon-wrap
                      +svg('checked')
                    !=li
mixin instructors(data)
  .section-container.section-instructors&attributes(attributes)
    .list
      each itm in data.items
        .item
          .box.shadow.bg-white.text-center-xxs.text-center-xs
            .icon-wrap
              +svg('angle-right')
            .in
              .pict.shadow-small
                img(src=itm.pict, alt="")
              .desc
                .ttl.bold!=itm.ttl
                if itm.organization
                  .organization.bold!=itm.organization
                if itm.address
                  .address!=itm.address
                if itm.prices
                  .prices.bold!=itm.prices
                if itm.name
                  .name.bold!=itm.name
                if itm.age
                  .age!=itm.age
                if itm.price
                  .price.bold!=itm.price
            a(href="#").lnk-abs
mixin feedbackCarousel(data)
  .carousel-wrap&attributes(attributes)
    button.arrow-round.slick-prev.hidden-xs.hidden-xxs.hidden-sm
      +svg('angle-left')
    button.arrow-round.slick-next.hidden-xs.hidden-xxs.hidden-sm
      +svg('angle-right')
    .carousel
      each itm in data
        .item
          .box
            .ava
              img(src=itm.ava, alt="")
            .desc
              .name.extrabold.upper!=itm.name
              .txt!=itm.txt
mixin pagination()
  .pagination&attributes(attributes)
    ul
      li.prev
        span
          +svg('angle-left')
      - var n = 1;
      while n < 13
        if n === 1
          li
            span= n++
        else if n === 4
          - n++
          li
            a(href="#") ...
        else if n < 12 && n > 4
          - n++
        else
          li
            a(href="#")= n++
      li.next
        a(href="#")
          +svg('angle-right')
mixin anonsArticle(data)
  .section-container.section-anons-article&attributes(attributes)
    .title(class=data.titleClass)!=data.title
    .row
      .col-sm-5.col-xxs-12
        a(href="#")
          img(src=data.pict, alt="")
      .col-sm-7.col-xxs-12
        .ttl(class=data.ttlClass)!=data.ttl
        .desc!=data.desc
        if data.btn
          .btn-wrap
            a(href="#" class=data.btnClass).btn!=data.btn
mixin summary(data)
  .section-container.section-summary&attributes(attributes)
    .box.shadow.bg-white
      .row
        .col-sm-3.col-lg-2.col-xxs-12
          .pict
            img(src=data.pict, alt="")
        .col-sm-9.col-lg-10.col-xxs-12
          if  data.post
            .title(class=data.titleClass)!=data.post
            .bold.font-large-lg.font-large-md.font-large-sm!=data.title

          else
            .title(class=data.titleClass)!=data.title
          if data.prices
            .itm
              .prices.bold!=data.prices
          if data.shop
            .itm
              .ttl.bold!=shop
              if data.shopAd
                !=data.shopAd
          if data.age || data.address
            .itm
              !=data.age
              br
              !=data.address
          if data.phone || mail
            .itm
              if data.phone
                .phone.bold
                  a(href="tel:+79269269265").lnk-reverse +7 (926) 926 9265
              if data.mail
                .mail
                  a(href="mailto:"+data.mail).lnk-reverse!=data.mail
          if data.education
            .itm
              .ttl.bold Образование
              !=data.education
          if data.experience
            .itm
              .ttl.bold Общий педагогический стаж
              !=data.education
          if data.plus
            .itm
              .ttl.bold!=data.ttlPlus
              !=data.plus
