.footer-empty
footer
  .footer-top
    .container
      .inner
        .item
          .logo-wrap
            a(href="#").logo
              include ../../images/fpa-logo.svg
            a(href="#").slogan
              include ../../images/slogan.svg
        .item.hidden-xxs.hidden-xs
          nav
            .ttl
              a(href="#") Фитнес-обучение
            +menu([
                {url: '#', ttl: 'Курсы'},
                {url: '#', ttl: 'Семинары'},
                {url: '#', ttl: 'Школа управления'},
                {url: '#', ttl: 'Расписание'},
                {url: '#', ttl: '3D-анатомия'},
            ])
          nav
            .ttl
              a(href="#") Развитие и карьера
            +menu([
                {url: '#', ttl: 'Онлайн-библиотека'},
                {url: '#', ttl: 'Истории успеха'},
                {url: '#', ttl: 'Гид по карьере'},
                {url: '#', ttl: 'Кадровый центр'},
                {url: '#', ttl: 'Консалтинг'},
            ])
          nav
            .ttl
              a(href="#") Фитнес-обучение
            +menu([
                {url: '#', ttl: 'Лицензия'},
                {url: '#', ttl: 'Аккредитация EREPS'},
                {url: '#', ttl: 'Дмитрий Калашников'},
                {url: '#', ttl: 'Преподаватели'},
                {url: '#', ttl: 'Вопросы и ответы'},
                {url: '#', ttl: 'Фотогалерея'},
                {url: '#', ttl: 'Партнеры'},
                {url: '#', ttl: 'Контакты'}
            ])
        .item
          .ttl.hidden-xxs.hidden-xs Свяжитесь с нами
          .address
            | 107023, г. Москва,
            br
            | ул. Малая Семеновская, дом 9, строение 9
            br
            | Бизнес-центр «На Семеновской»
          .phone
            a(href="tel:" + baseData.phone.href)
              =baseData.phone.number
          .mail
            a(href="mailto:info@fitness-pro.ru") info@fitness-pro.ru
          +menu([
              {url: '#', target: '_blank', icon: 'insta'},
              {url: '#', target: '_blank', icon: 'youtobe'},
              {url: '#', target: '_blank', icon: 'vk'},
              {url: '#', target: '_blank', icon: 'fb'},
          ]).social-box
  .footer-bottom
    .container
      .inner
        .copyright
          |© 2000-2020 FPA. Все права защищены
          br
          a(href="#").lnk-reverse Политика конфиденциальности
        .developer.hidden-xxs.hidden-xs
          a(href="#").lnk-reverse Разработка сайта
          br
          a(href="#").lnk-reverse Поддержка сайта
          a(href="#").logo
            img(src="images/developer.jpg", alt="")





