header
  .header-top.hidden-xxs.hidden-xs
    .container
      .inner
        nav
          +menu([
              {url: '#', ttl: 'Сведения об образовательной деятельности'}
          ])
        .phone
          a(href="tel:"+baseData.phone.href)
            =baseData.phone.number
            +svg('phone')
  .header-bottom
    .header-line
      .container
        .header-line-inner
          .logo-wrap
            a(href="main.html").burger.hidden-md.hidden-lg.hidden-sm
              +svg('close')
              +svg('burger')
            a(href="main.html").logo.hidden-xs.hidden-xxs
              include ../../images/fpa-logo.svg
            a(href="#").slogan.hidden-sm
              include ../../images/slogan.svg
          mixin mainMenu(data)
            .main-menu#main-menu
              ul
                each itm, i in data
                  li(class=(itm.url == pageUrl) ? 'active':'')
                    a(href=itm.url)!=itm.ttl
                      .icon-wrap.hidden-lg.hidden-sm.hidden-md
                        +svg('angle-right')
                    if itm.submenu
                      .submenu(class=(i==1)? 'schedule': (i==2)? 'about': '')
                        .head.hidden-md.hidden-lg.hidden-sm
                          a(href=itm.url)!=itm.ttl
                            .icon-wrap
                              +svg('angle-left')
                        .container
                          .submenu-inner
                            .submenu-columns
                              .submenu-column.big
                                if i == 0
                                  .columns
                                    .column.big
                                      .title
                                        a(href="#") Сертификационные курсы
                                      .picts-menu.row
                                        .col-xs-6.col-xxs-12
                                          a(href="#")
                                            img(src="images/menu1.jpg", alt="")
                                            .txt
                                              | Персональный
                                              br
                                              | фитнес-тренер
                                              br
                                              | (очное)
                                        .col-xs-6.col-xxs-12
                                          a(href="#")
                                            img(src="images/menu2.jpg", alt="")
                                            .txt
                                              | Персональный
                                              br
                                              | фитнес-тренер
                                              br
                                              | (дистанционное)
                                        .col-xs-6.col-xxs-12
                                          a(href="#")
                                            img(src="images/menu3.jpg", alt="")
                                            .txt
                                              | Фитнес-нутрициолог
                                        .col-xs-6.col-xxs-12
                                          a(href="#")
                                            img(src="images/menu4.jpg", alt="")
                                            .txt
                                              +svg('round-angle-right')
                                              | Посмотреть все
                                    .column.small
                                      .title
                                        a(href="#") Семинары
                                      +menu([
                                          {url: '#', ttl: 'Питание и коррекция веса'},
                                          {url: '#', ttl: 'Персональный тренинг'},
                                          {url: '#', ttl: 'Функциональный тренинг'},
                                          {url: '#', ttl: 'Категория 4'},
                                          {url: '#', ttl: 'Категория 5'},
                                      ])
                                      .title
                                        a(href="#") школа управления
                                      .title
                                        a(href="#") Мастер-тренер
                                      .title
                                        a(href="#") элит-тренер
                                if i == 1
                                  .columns
                                    each menu in itm.submenu
                                      .column
                                        .title
                                          a(href="#")!=menu.ttl
                                        +menu(menu.menu)

                                if i == 2
                                  each menu in itm.submenu
                                    .title
                                      a(href="#")!=menu.ttl
                                    +menu(menu.menu)
                              .submenu-column.small
                                if i == 0
                                  +menu([
                                      {url: '#', ttl: 'Гид по карьере'},
                                      {url: '#', ttl: 'Стажировка'},
                                      {url: '#', ttl: 'Истории успеха'},
                                      {url: '#', ttl: 'Библиотека'},
                                      {url: '#', ttl: 'Вопросы и ответы'},
                                  ])
                                if i == 1
                                  +menu([
                                      {url: '#', ttl: 'Лекции'},
                                      {url: '#', ttl: 'Практика'},
                                      {url: '#', ttl: 'Экзамены'},
                                      {url: '#', ttl: 'Учебный центр'},
                                      {url: '#', ttl: 'Banana Gym'},
                                  ])
                                if i == 2
                                  +menu([
                                      {target: '_blank', url: '#', icon: 'insta', ttl: 'Instagram'},
                                      {target: '_blank', url: '#', icon: 'youtobe', ttl: 'YouTube'},
                                      {target: '_blank', url: '#', icon: 'vk', ttl: 'ВКонтакте'},
                                      {target: '_blank', url: '#', icon: 'fb', ttl: 'Facebook'}
                                  ]).social-menu
                li.hidden-md.hidden-sm.hidden-lg
                  a(href="#") Сведения об образовательной деятельности
              .contacts.hidden-md.hidden-sm.hidden-lg
                .title  Свяжитесь с нами:
                .phone
                  a(href="tel:" + baseData.phone.href)
                    =baseData.phone.number
                .mail
                  a(href="mailto:info@fitness-pro.ru") info@fitness-pro.ru

          +mainMenu([
              {
                  url: '#',
                  ttl: 'Фитнес-обучение',
                  submenu: true
              },
              {
                  url: '#',
                  ttl: 'расписание',
                  submenu: [
                      {
                          ttl: 'Персональный<br>  фитнес-тренер',
                          menu: [
                              {url: '#', ttl: '203 ПТ<span>Набор!</span>'},
                              {url: '#', ttl: '200 ПТ'},
                              {url: '#', ttl: '202 ПТ'},
                              {url: '#', ttl: '199 ПТ'},
                              {url: '#', ttl: '201 ПТ'},
                              {url: '#', ttl: '198 ПТ'},
                          ]
                      },
                      {
                          ttl: 'Инструктор <br>тренажерного зала',
                          menu: [
                              {url: '#', ttl: '79 ИТЗ <span>Набор!</span>'},
                              {url: '#', ttl: '78 ИТЗ'}
                          ]
                      },
                      {
                          ttl: 'Инструктор <br>групповых программ',
                          menu: [
                              {url: '#', ttl: '79 ИТЗ <span>Набор!</span>'},
                              {url: '#', ttl: '78 ИТЗ'}
                          ]
                      },
                      {
                          ttl: 'Фитнес-нутрициолог',
                          menu: [
                              {url: '#', ttl: '79 ИТЗ <span>Набор!</span>'},
                              {url: '#', ttl: '78 ИТЗ'}
                          ]
                      },
                      {
                          ttl: 'Фитнес-нутрициолог',
                          menu: [
                              {url: '#', ttl: '79 ИТЗ <span>Набор!</span>'},
                              {url: '#', ttl: '78 ИТЗ'}
                          ]
                      },
                      {
                          ttl: 'всё расписание',
                          menu: [
                              {url: '#', ttl: 'Курсы'},
                              {url: '#', ttl: 'Семинары'}
                          ]
                      }
                  ]
              },
              {
                  url: '#', ttl: 'Об ассоциации',
                  submenu: [
                      {
                          ttl: 'Об ассоциации',
                          menu: [
                              {url: '#', ttl: 'Ассоциациия Профессионалов Фитнеса'},
                              {url: '#', ttl: 'Вопросы и ответы'},
                              {url: '#', ttl: 'Аккредитация EREPS'},
                              {url: '#', ttl: 'Рассрочка'},
                              {url: '#', ttl: 'Дмитрий Калашников'},
                              {url: '#', ttl: 'Партнёры'},
                              {url: '#', ttl: 'Преподаватели'},
                              {url: '#', ttl: 'Контакты'}
                          ]
                      },
                      {
                          ttl: 'Консалтинг',
                          menu: [
                              {url: '#', ttl: 'Кадровый центр'},
                              {url: '#', ttl: 'Проектирование клуба'},
                              {url: '#', ttl: 'Аккредитация EREPS'},
                              {url: '#', ttl: 'Вакансии'},
                              {url: '#', ttl: 'Открыть фитнес-клуб'},
                              {url: '#', ttl: 'Резюме'},
                              {url: '#', ttl: 'Постановка работы отдела продаж'}
                          ]
                      }
                  ]
              },
          ])
          .login
            a(href="#").btn.btn-xs Войти
              +svg('user')
          form.search
            button(type="submit").btn.btn-gray
              +svg('search')
            .inp
              input(type="text" name="search" autocomplete="off" placeholder="Введите поисковый запрос")


