extends base/base.pug
append vars
  - var pageUrl = '404.html';
  - var pageTitle = '404 not found';
block content
  .main.bg-gray
    .page-404.block-shadow-inset
      .container
        .row
          .col-sm-6.col-xxs-12.left-col.text-center
            img(src="images/404.png", alt="")
            .text.font-large-lg.font-large-md.font-large-sm
              |Страница не найдена
            +menu([
                {url: '#', target: '_blank', icon: 'insta'},
                {url: '#', target: '_blank', icon: 'youtobe'},
                {url: '#', target: '_blank', icon: 'vk'},
                {url: '#', target: '_blank', icon: 'fb'},
            ]).social-box.social-reverse.text-center
          .col-sm-6.col-xxs-12.right-col
            .programs-container
              .tabs-head-wrap
                .tabs-head.not-carousel
                  .item
                    a(href='index.html')
                      .top
                        .num 01

                      .ttl.bold
                        | Персональный фитнес-тренер (очное)
                  .item
                    a(href='#')
                      .top
                        .num 02

                      .ttl.bold
                        | Персональный фитнес-тренер (дист.)
                  .item
                    a(href='#')
                      .top
                        .num 03
                      .ttl.bold
                        | Фитнес-нутрициолог

                  .item
                    a(href='#')
                      .top
                        .num 04
                      .ttl.bold
                        | Фитнес-коучинг
                  .item
                    a(href='#')
                      .top
                        .num 05
                      .ttl.bold
                        | Инструктор групповых программ
                  .item.item-all
                    a(href='#')
                      .ttl.bold
                        svg.icon.icon_round-angle-right
                          use(xlink:href='images/sprite-svg.svg#round-angle-right')
                        | ВСЕ КУРСЫ

block scripts

