extends base/base.pug
append vars
  - var pageUrl = 'about.html';
  - var pageTitle = 'Об ассоциации';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/about-page-banner.jpg',
        breadcrumbs: 'Об ассоциации',
        inClass: 'text-center',
        title: 'Ассоциация Профессионалов Фитнеса',
    }).page-banner-small
    +navAnchore([
        {url: '#anchore1', ttl: 'Команда'},
        {url: '#anchore2', ttl: 'Аккредитация'},
        {url: '#anchore3', ttl: 'Обучение'},
        {url: '#anchore4', ttl: 'Карьера'},
    ]).hidden-xxs.hidden-xs.nav-anchors-big.nav-anchors-equal.nav-anchors-four(data-paretnt=".main")
    .container
      +sectionLicenses({
          title: 'Лицензия',
          titleClass: 'h3 title-border text-center extrabold',
          desc: '<p>Ассоциация Профессионалов Фитнеса (FPA) – объединение экспертов индустрии, специализирующееся в области обучения, сертификации, кадрового и фитнес-консалтинга.</p>',
          items: [
              {
                  pict: 'images/license2.jpg'
              },
              {
                  pict: 'images/license1.jpg'
              },
              {
                  pict: 'images/license2.jpg'
              }
          ]
      }).text-center
    +anonsList({
        items: [
            {
              id: 'anchore1',
              pict: 'images/anons1.jpg',
              title: 'Эксперты FPA',
              desc: 'Движение — командный вид спорта. В Ассоциации Профессионалов Фитнеса мы полагаемся на множество экспертов, которые помогут нам собрать соответствующую научно обоснованную информацию для профессионалов, общественности, работающих...',
              btn: 'Подробнее'
            },
            {
                id: 'anchore2',
                pict: 'images/anons2.jpg',
              title: 'Аккредитация и  новые возможности',
              desc: 'Выпускники курсов FPA «Персональный фитнес-тренер», «Инструктор тренажерного зала», «Инструктор классической аэробики, степа, силовых направлений» могут стать также членами европейского сообщества здоровья и фитнеса EREPS и могут...',
              btn: 'Подробнее'
            },
            {
              pict: 'images/anons3.jpg',
              title: 'Калашников Дмитрий',
              desc: 'Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции способствует подготовки и реализации существенных финансовых и административных условий. ',
              btn: 'Подробнее'
            },
            {
                id: 'anchore3',
                pict: 'images/anons4.jpg',
              title: 'Обучение в FPA',
              desc: 'Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции способствует подготовки и реализации существенных финансовых и административных условий. ',
              btn: 'Подробнее'
            },
            {
                id: 'anchore4',
                pict: 'images/anons5.jpg',
              title: 'Кадровый центр',
              desc: 'С однойстороны постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. С другой стороны консультация с широким активом влечет за собой...',
              btn: 'Подробнее'
            }
        ]
    }).block-shadow-inset.bg-white

    +subscriptionBlock()



block scripts

