extends base/base.pug
append vars
  - var pageUrl = 'accreditation.html';
  - var pageTitle = 'Аккредитация';
block content
  .main.bg-gray
    +breadcrumbs(pageTitle)
    .section-container
      .container-middle
        .h3.title-border.extrabold.text-center
          | Наша аккредитация EREPS
          br
          | подтверждена сертификатом
        .row
          .col-sm-7.col-xxs-12.pb-30-xxs.pb-30-xs
            a(href="images/certificate2.jpg" data-fancybox).shadow.no-border
              img(src="images/certificate2.jpg", alt="").d-block
          .col-sm-5.col-xxs-12
            p
              | В апреле 2012 года Ассоциация Профессионалов Фитнеса получила аккредитацию в EHFA (European Health & Fitness Association, сейчас преобразована в EuropeActive) - первая в России.
            p
              | С 1 ноября 2013г. FPA имеет эту аккредитацию по всем направлениям курсов: «Персональный фитнес- тренер», «Инструктор тренажерного зала», «Инструктор групповых программ».
            p
              | Таким образом, наши программы получили официальное признание европейского фитнес-сообщества..section-container
    .section-container.bg-white.block-shadow-inset
      .container-middle
        .h3.title-border.extrabold.text-center
          | Вы можете получить следующий сертификат
        .row
          .col-md-4.col-sm-5.col-xxs-12.pull-right.pb-30-xxs.pb-30-xs
            a(href="images/certificate3.jpg" data-fancybox).shadow.no-border
              img(src="images/certificate3.jpg", alt="").d-block
          .col-md-8.col-sm-7.col-xxs-12
            p
              | Выпускники курсов FPA «Персональный фитнес-тренер», «Инструктор тренажерного зала», «Инструктор классической аэробики, степа, силовых направлений» могут стать также членами европейского сообщества здоровья и фитнеса EREPS и могут получить его сертификаты.
            p
              | Это позволит общаться с коллегами-профессионалами европейских стран, завязывать новые контакты, обмениваться опытом; участвовать в опросах, иметь доступ к последним разработкам и получать консультации; заявить о себе как специалисте международного уровня и продвигать себя на европейском рынке фитнес-услуг!
            p
              | В настоящее время существуют рабочие отношения между EREPS и национальными реестрами Австралии, Бельгии, Финляндии, Венгрии, Ирландии, Литвы, России, Турции, Объединенных Арабских Эмиратов, Великобритании, США.
            p
              a(href="#") Подробнее о стандартах и преимуществах EREPS


    .container
      mixin partners(data)
        .section-container.section-partners
          .title(class=data.titleClass)!=data.title
          if data.desc
            .desc!=data.desc
          .list.text-center
            each itm in data.items
              .item
                .box.bg-white
                  .pict
                    img(src=itm.pict, alt="")
                  .ttl!=itm.ttl
      +partners({
          title: 'Наш сертификат позволит работать<br>  вам по всему миру',
          titleClass: 'h3 title-border extrabold text-center',
          desc: 'В настоящее время существуют рабочие отношения между EREPS и национальными реестрами Австралии, Бельгии, Финляндии, Венгрии, Ирландии, Литвы, России, Турции, Объединенных Арабских Эмиратов, Великобритании, США. Полный список партнеров EREPS можно посмотреть <a href="#">здесь</a>.',
          items: [
              {pict: 'images/partner1.jpg', ttl: 'Австралия'},
              {pict: 'images/partner2.jpg', ttl: 'Бельгия'},
              {pict: 'images/partner4.jpg', ttl: 'Венгрия'},
              {pict: 'images/partner5.jpg', ttl: 'Ирландия'},
              {pict: 'images/IREPS_logo.jpg', ttl: 'Индия'},
              {pict: 'images/partner6.jpg', ttl: 'Литва'},
              {pict: 'images/Saudi_REPs.jpg', ttl: 'Саудовская Арави'},
              {pict: 'images/partner10.jpg', ttl: 'Соединенное  Королевство'},
              {pict: 'images/partner11.jpg', ttl: 'Соединенное  Королевство'},
              {pict: 'images/partner12.jpg', ttl: 'Соединенные Штаты Америки'},
              {pict: 'images/partner8.jpg', ttl: 'Турция'},
              {pict: 'images/partner3.jpg', ttl: 'Финляндия'},
          ]
      })
    +programsContainer({
        title: 'Аккредитованные EREPS программы',
        titleClass: 'text-center extrabold text-left-xs text-left-xxs',
        btnRed: 'Записаться <span class="hiddden-xs hidden-xxs">на курс</span>',
        btnBorder: 'подробнее <span class="hiddden-xs hidden-xxs">о курсе</span>',
        tabsNoAll: true,
        tabs: [
            {
                url: 'tab12',
                ttl: 'Персональный фитнес тренер ',
                title: 'Персональный фитнес тренер ',
                type: 'Очное',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '22 000'

            },
            {
                url: 'tab13',
                ttl: 'Персональный фитнес-тренер',
                title: 'Персональный фитнес-тренер',
                type: 'Дистанционное',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: 'tab14',
                ttl: 'Инструктор групповых программ',
                title: 'Инструктор групповых программ',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: 'tab15',
                ttl: 'Инструктор тренажерного зала',
                title: 'Инструктор тренажерного зала',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'
            }
        ]
    }).block-shadow-inset.bg-white


    +subscriptionBlock()
block scripts

