extends base/base.pug
append vars
  - var pageUrl = 'anatomiya-3d.html';
  - var pageTitle = '3D анатомия';
block content
  .main.bg-gray
    +breadcrumbs('Библиотека',  'Мир фитнеса')
    .container
      .section-container.section-3d-anatomiya
        .text-center
          img(src='//fitness.co47551.tmweb.ru/html/images/3d_1.gif', alt="")
        br
        br
        h3
          strong «Мышцы и Движения»
        p
          | Используйте современные средства в своем обучении! Теперь вы можете получить взгляд изнутри на мышцы человека в движении. Предлагаем вашему вниманию динамический видео- ресурс «Мышцы и Движения», который существенно упростит ваше изучение, понимание и запоминание костно-мышечной анатомии и кинезиологии. Смотрите более 1000 уникальных анимаций и видеоклипов! 
        p
          |      Наблюдая мышцы в движении, вы запомните информацию намного лучше. «Мышцы и Движения» гарантированно увеличат ваш уровень инструкторских знаний.
        ul
          li 3D Анатомия мышечной системы
          li 3D Анатомия скелетной системы
          li 3D Кинезиология и анатомия движения
        h3  Купить подписку —
        .btn-list
          a(href="#").btn  1 месяц
          a(href="#").btn 6 месяцев
          a(href="#").btn 12 месяцев
          a(href="#").btn 3 года
        .seporate
        .text-center
          img(src='fitness.co47551.tmweb.ru/html/images/3d_2.gif', alt="")
        br
        br
        h4
          strong «Все о силовой тренировке»
        p
          strong «Все о силовой тренировке»
          |  - это анатомия силовой тренировки, упражнения энциклопедии, 3D костно-мышечной анатомии и многое другое - все в одной видео-библиотеке. Она обеспечивает полную визуальную интеграцию между различными областями силовой тренировки с использованием мультимедийных средств.
        ul
          li 250 видео силовых упражнений
          li Анатомический анализ каждого упражнения силовой тренировки
          li Интерактивная 3D анатомия мышечной и скелетной системы
          li Кинезиология: 3D анализ движения тела
          li Методы тренировки силы и выносливости
          li Физиологические упражнения с уникальной анимацией
          li Программы обучения силовым тренировкам.
        h3  Купить подписку —
        .btn-list
          a(href="#").btn  1 месяц
          a(href="#").btn 6 месяцев
          a(href="#").btn 12 месяцев
          a(href="#").btn 3 года
        .table-wrap
          table
            thead
              tr
                th
                th.text-center
                  | «Мышцы и Движения»
                th.text-center
                  | «Все о силовой тренировке»
            tbody

              tr
                td
                  | Упражнение энциклопедии (включая анатомию силовые тренировки)
                td.text-center
                td.text-center
                  | V
              tr
                td
                  | Мышечная анатомия
                td.text-center
                  | V
                td.text-center
                  | V
              tr
                td
                  | Скелетная система
                td.text-center
                  | V
                td.text-center
                  | V
              tr
                td
                  | Кинезиология
                td.text-center
                  | V
                td.text-center
                  | V
              tr
                td
                  | Сердце и нервная система
                td.text-center
                  | V
                td.text-center
                  | V
              tr
                td
                  | Энергетический обмен (метаболизм)
                td.text-center
                  | V
                td.text-center
                  | V
              tr
                td
                  | Биомеханика силовых тренировок
                td.text-center
                td.text-center
                  | V
              tr
                td
                  | Силовые методы тренировки
                td.text-center
                td.text-center
                  | V
              tr
                td
                  | Техника тренировки
                td.text-center
                td.text-center
                  | V
              tr
                td
                  | Тренировки по выносливости
                td.text-center
                td.text-center
                  | V
              tr
                td
                  | Методы растяжки
                td.text-center
                td.text-center
                  | V
              tr
                td
                  | Тренировочные программы
                td.text-center
                td.text-center
                  | V
              tr
                td.round-bottom
                  | Тестирование и концепция
                td.text-center
                td.text-center
                  | V

        p
          | Если вы не заинтересованы в автоматическом обновлении, его можно отменить в любое время.
          br
          |      Вы можете сделать это через вашу учетную запись  или просто написать нам письмо:
          a(href='mailto:amit@muscleandmotion.com') amit@muscleandmotion.com
          |  , и мы отменим автоматическое продление в ближайшее время.
          br
          br
          strong Интересного и полезного обучения!



    +subscriptionBlock()
block scripts

