extends base/base.pug
append vars
  - var pageUrl = 'applicants.html';
  - var pageTitle = 'Соискателям';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/faq.jpg',
        breadcrumbs: pageTitle ,
        title: 'Соискателям',
        txtClass: 'font-large-lg font-large-md font-large-sm',
        txt: 'В нашей базе – несколько сотен резюме специалистов в области фитнеса, которая постоянно пополняется за счет новых выпускников наших программ: инструкторских и Школы Управления, а в электронной базе - свыше 14,5 тысяч адресов специалистов сферы фитнеса',
        btns: [
            {class: 'anchore', href: '#consultation', ttl: 'Заказать резюме'}
        ]
    })
    .container
      .section-container
        p Если вы впервые ищете работу в качестве фитнес-тренера или хотите сменить свое место работы на более привлекательное, продвинуться по карьерной лестнице, мы поможем найти именно то, что вам нужно!
        p Маловероятно, что, имея на руках резюме «эконом», вы найдете работу класса «премиум». Предлагаем самостоятельно заполнить форму резюме.
        p Если вы никогда не занимались его составлением, понимаете, что оно далеко от  совершенства, мы составим для вас индивидуальное резюме, которое станет вашей визитной карточкой, достойной в глазах работодателя. Оно подчеркнет все ваши профессиональные достоинства, при этом не будет перегруженным - таким, чтобы у работодателя возникло желание, как минимум, пригласить вас на собеседование!


        +tariffs({
            title: 'Составление<br>индивидуального резюме',
            titleClass: 'h3 title-border text-center extrabold',
            items: [

                {
                    class: 'col-sm-4 col-xxs-12 text-center',
                    ttl: 'выпускника FPA',
                    ttlClass: 'bold h6 title-border text-center',
                    price: '4 000',
                },
                {
                    class: 'col-sm-4 col-xxs-12 text-center',
                    ttl: 'для тренера',
                    ttlClass: 'bold h6 title-border text-center',
                    price: '5 000',
                }
            ]
        })

        +instructors({
            items: [
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                }
            ]
        })
        .btn-wrap.text-center
            a(href="#").btn Посмотреть все
    +consultation({
        bg: 'images/consultation-bg.jpg',
        title: 'Заказать индивидуальное резюме',
        titleClass: 'h3 text-center extrabold',
        btnTxt: 'Заказать',
        fpacheckbox: true,
    })#consultation
    +subscriptionBlock()
block scripts

