extends base/base.pug
append vars
  - var pageUrl = 'blog.html';
  - var pageTitle = 'Библиотека';
block content
  .main.bg-gray
    +breadcrumbs('Библиотека',  'Мир фитнеса')
    .container
      .page-title.extrabold.text-center-xs.text-center-xxs
        h1=pageTitle
      .section-container.section-blog
        nav.top-nav.semibold.upper
          +listLink([
              {url: '#', ttl: 'Питание'},
              {url: '#', ttl: 'Тренировки'},
              {url: '#', ttl: 'Реабилитация'},
              {url: '#', cl: 'active', ttl: 'Бизнес'}
          ])

        .main-anons
          .row
            .col-lg-7.col-md-6.col-xxs-12
              img(src="images/blog-detail-main-pict.jpg", alt="")
            .col-lg-5.col-md-6.col-xxs-12
              .title-border.bold.h2 Global Fitness forum 2019: бизнес событие в новом формате
              .desc С 26 по 29 апреля 2018 г. в инновационном пространстве технопарке Сколково пройдёт бизнес-форум в сфере фитнеса, велнеса и человеческого капитала – Global Fitness Forum..
              .btm
                .item.section
                  |Питание
                .item.views
                  +svg('view-show')
                  |395

        +blogList([
            {
                pict: 'images/blog-detail-main-pict.jpg',
                section: 'Питание',
                views: '390',
                title: 'Существует ли минимальный  порог интенсивности для  стимуляции адаптационной гипертрофии при тренировке  с отягощениями',
            },
            {
                pict: 'images/blog-detail-main-pict.jpg',
                section: 'Питание',
                views: '390',
                title: 'Существует ли минимальный  порог интенсивности для  стимуляции адаптационной гипертрофии при тренировке  с отягощениями',
            },
            {
                pict: 'images/blog-detail-main-pict.jpg',
                section: 'Питание',
                views: '390',
                title: 'Существует ли минимальный  порог интенсивности для  стимуляции адаптационной гипертрофии при тренировке  с отягощениями',
            }
        ])



        +subscribe({
            title: 'Будьте в курсе событий',
            txt: 'Получайте уникальные предложения и информацию о специализированных программах, семинарах, бесплатных вебинарах и многом другом.',
            footnote: 'Отправляя форму, я даю согласие на <a href="#">обработку персональных данных</a>'
        })
        +blogList([
            {
                pict: 'images/blog-detail-main-pict.jpg',
                section: 'Питание',
                views: '390',
                title: 'Существует ли минимальный  порог интенсивности для  стимуляции адаптационной гипертрофии при тренировке  с отягощениями',
            },
            {
                pict: 'images/blog-detail-main-pict.jpg',
                section: 'Питание',
                views: '390',
                title: 'Существует ли минимальный  порог интенсивности для  стимуляции адаптационной гипертрофии при тренировке  с отягощениями',
            },
            {
                pict: 'images/blog-detail-main-pict.jpg',
                section: 'Питание',
                views: '390',
                title: 'Существует ли минимальный  порог интенсивности для  стимуляции адаптационной гипертрофии при тренировке  с отягощениями',
            },
            {
                pict: 'images/blog-detail-main-pict.jpg',
                section: 'Питание',
                views: '390',
                title: 'Существует ли минимальный  порог интенсивности для  стимуляции адаптационной гипертрофии при тренировке  с отягощениями',
            },
            {
                pict: 'images/blog-detail-main-pict.jpg',
                section: 'Питание',
                views: '390',
                title: 'Существует ли минимальный  порог интенсивности для  стимуляции адаптационной гипертрофии при тренировке  с отягощениями',
            },
            {
                pict: 'images/blog-detail-main-pict.jpg',
                section: 'Питание',
                views: '390',
                title: 'Существует ли минимальный  порог интенсивности для  стимуляции адаптационной гипертрофии при тренировке  с отягощениями',
            }
        ])

        +pagination()
        +callbacks({
            items: [
                {
                    ttl: 'связаться с редакцией',
                    txt: 'У вас есть пожелания и вопросы по блогу, напишите их нам, мы постараемся учесть.'
                },
                {
                    ttl: 'стать автором',
                    txt: 'Вам интересна тема, умеете работать с текстом — у нас есть для вас предложение.'
                },
                {
                    ttl: 'предложить тему',
                    txt: 'Поделитесь с нами, о чем бы вы хотели почитать в нашем блоге.'
                }
            ]
        })
    +subscriptionBlock()
block scripts

