extends base/base.pug
append vars
  - var pageUrl = 'contacts.html';
  - var pageTitle = 'Контакты';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/contacts-bg.jpg',
        breadcrumbs: 'Контакты',
        inClass: 'text-center',
        title: 'Контакты',
    }).page-banner-small
    mixin contactsInfo(data)
      .info
        each itm in data
          .item(class=itm.class)
            .icon-wrap
              +svg(itm.icon)
            .ttl(class=itm.ttlClass)!=itm.ttl
            if itm.txtgray
              .text-gray.font-small!=itm.txtgray

    .section-container.section-contacts
      .container
        .h5.title.extrabold Офис FPA
        .row.box
          .col-xxs-12.col-sm-6
            +contactsInfo([
                {
                    icon: 'phone-border',
                    ttlClass: 'bold',
                    ttl: '<a href="tel:+74956717368">+7 (495) 671-73- 68</a>',
                    txtgray: 'Отвечаем ежедневно с 10 до 18'
                },
                {
                    icon: 'mail',
                    ttlClass: 'bold',
                    ttl: '<a href="mailto:info@fitness-pro.ru">info@fitness-pro.ru</a>',
                },
                {
                    icon: 'clock',
                    ttlClass: 'bold',
                    ttl: 'По будням с 10.00 до 18.00',
                },
                {
                    icon: 'marker',
                    ttl: 'м. Волгоградский проспект <br>г. Москва, ул. Малая Семеновская, дом 9, строение 9, бизнес-центр «На Семеновской». подъезд 4'
                    ,
                },
                {
                    icon: 'marker',
                    ttlClass: 'bold',
                    ttl: '<a href="#">Как добраться</a>',
                    class: 'hidden-xs hidden-xxs'
                }
            ])
          .col-xxs-12.col-sm-6.map-wrap
            .map
              iframe(src='//yandex.ru/map-widget/v1/?um=constructor%3A2634e9226ed17f9ac874d2c67128d91e966a5286662baf26339bd3947dc4d644&source=constructor', width='100%', height='350', frameborder='0')
          .visible-xxs.visible-xs.how-get
            a(href="#").btn.btn-fluid Как добраться
        +gallery([
            {pict: 'images/gallery6.jpg'},
            {pict: 'images/gallery5.jpg'},
            {pict: 'images/gallery4.jpg'},
            {pict: 'images/gallery1.jpg'},
            {pict: 'images/gallery2.jpg'},
            {pict: 'images/gallery3.jpg'}
        ])
    .section-container.section-contacts
      .container
        .h5.title.extrabold Фитнес-клуб Banana Gym
        .row.box
          .col-xxs-12.col-sm-6
            +contactsInfo([
                {
                    icon: 'phone-border',
                    ttlClass: 'bold',
                    ttl: '<a href="tel:+74956717368">+7 (495) 671-73- 68</a>',
                },
                {
                    icon: 'mail',
                    ttlClass: 'bold',
                    ttl: '<a href="mailto:info@fitness-pro.ru">info@fitness-pro.ru</a>',
                },

                {
                    icon: 'marker',
                    ttl: 'м. Волгоградский проспект <br>г. Москва, ул. Талалихина, д.28, стр.1, фитнес-центр "Banana Gym" (в здании ФОК "Атлант")',
                },
                {
                    icon: 'marker',
                    ttlClass: 'bold',
                    ttl: '<a href="#">Как добраться</a>',
                    class: 'hidden-xs hidden-xxs'
                }
            ])
          .col-xxs-12.col-sm-6.map-wrap
            .map
              iframe(src='//yandex.ru/map-widget/v1/?um=constructor%3A2634e9226ed17f9ac874d2c67128d91e966a5286662baf26339bd3947dc4d644&source=constructor', width='100%', height='350', frameborder='0')
          .visible-xxs.visible-xs.how-get
            a(href="#").btn.btn-fluid Как добраться
        +gallery([
            {pict: 'images/gallery6.jpg'},
            {pict: 'images/gallery5.jpg'},
            {pict: 'images/gallery4.jpg'},
            {pict: 'images/gallery1.jpg'},
            {pict: 'images/gallery2.jpg'},
            {pict: 'images/gallery3.jpg'}
        ])

    .container
      .section-container.contacts-info
        .row.list
          .item.col-xxs-12.col-sm-6
            .box.bg-white.shadow.text-center
              .ttl.bold Кадровый центр
              p
                |Кадровое агентство, специализирующееся в подборе персонала в области фитнеса. Специалисты не владеют вопросами работы Учебного Центра.
                br
                | Работаем с понедельника по пятницу с 10.00 до 20.00
                |
              a(href="tel:+79099129777") +7 (909) 912-97-77
              br
              a(href="mailto:kadry@fitness-pro.ru")  kadry@fitness-pro.ru
          .item.col-xxs-12.col-sm-6
            .box.bg-white.shadow.text-center
              .ttl.bold Мы в соцсетях
              p
                | В наших социальных сетях Вы можете ознакомиться  с последними новостями, акциями.  Вступайте в сообщества
                | и будьте в курсе..
              +menu([
                  {url: '#', target: '_blank', icon: 'insta'},
                  {url: '#', target: '_blank', icon: 'youtobe'},
                  {url: '#', target: '_blank', icon: 'vk'},
                  {url: '#', target: '_blank', icon: 'fb'},
              ]).social-box.text-center
          .item.col-xxs-12.col-sm-6
            .box.bg-white.shadow.text-center
              .ttl.bold Контакты подразделений
              p
                | Для студентов очных курсов и семинаров
                br
                a(href="mailto:ucheba@fitness-pro.ru") ucheba@fitness-pro.ru
              p
                | Для студентов дистанционного обучения
                br
                a(href="mailto:distant@fitness-pro.ru") distant@fitness-pro.ru
              p
                | Для сообщений о пересдачах
                br
                a(href="mailto::shevchenko@fitness-pro.ru") shevchenko@fitness-pro.ru
              p
                | Вопросы подготовки выпускных документов
                br
                a(href="mailto:serrie@fitness-pro.ru") serrie@fitness-pro.ru
              p
                | Выставление счетов и подготовка договоров
                br
                a(href="mailto:nberdnik@fitness-pro.ru") nberdnik@fitness-pro.ru
              p
                | Корпоративное обучение, проверка подлинности сертификатов
                br
                a(href="mailto:rubleva@fitness-pro.ru") rubleva@fitness-pro.ru
          .item.col-xxs-12.col-sm-6
            .box.bg-white.shadow.text-center
              .ttl.bold Реквизиты
              p
                | Автономная некоммерческая организация (АНО) «Учебно-методический центр «Профессионалы фитнеса»
              p
                | Юр. адрес: 117485, г. Москва, ул. Профсоюзная, д.94, к. 138 Факт. адрес: 107023 г. Москва, ул. Малая Семеновская, дом 9, бизнес-центр "На Семеновской", строение 9
                br
                | ОГРН: 1037700083035
                br
                | ИНН: 7706230753
                br
                | КПП: 772801001
                br
                | ОКПО: 57017724
                br
                | Р/с: 40703810638110101296 в Московском банке ПАО
                br
                | «Сбербанк России» г. Москва
                br
                | К/с: 30101810400000000225s
                br
                | БИК: 044525225
    +subscriptionBlock()
block scripts

