extends base/base.pug
append vars
  - var langig = true;
  - var pageUrl = 'course-landig.html';
  - var pageTitle = 'Курс ландиг';
block content
  .main
    +navAnchore([
        {url: '#ancore1', ttl: 'О КУРСЕ'},
        {url: '#ancore2', ttl: 'Содержание'},
        {url: '#ancore3', ttl: 'Как проходит обучение'},
        {url: '#ancore4', ttl: 'Выпускные документы '},
        {url: '#ancore5', ttl: 'Записаться'},
    ]).hidden-xxs.hidden-xs(data-paretnt=".main")
    #ancore1.land-section.land-banner.has-mask-bg(style='background-image: url(images/land-banner.jpg);')
      .container
        .row
          .col-md-7.col-xxs-12
            .desc
                p.hidden-xs.hidden-xxs Самый популярный курc для фитнес-тренеров
                .h6.title.bold.upper-lg.upper-md.upper-sm
                  | Станьте персональным
                  | фитнес-тренером дистанционно
                  | ЗА  30 ЧАСОВ
                +list([
                    {icon: 'checked', ttl: 'Вы тренер и ваши клиенты постоянно спрашивают, как им питаться ?'},
                    {
                        icon: 'checked',
                        ttl: 'Популярные журналы дают неоднозначные и разрозненные советы и рекомендации ?'
                    },
                    {
                        icon: 'checked',
                        ttl: 'Вы изучаете тему питания самостоятельно, но информации слишком много и нет структуры?'
                    },
                    {
                        icon: 'checked',
                        ttl: 'Популярные журналы дают неоднозначные и разрозненные советы и рекомендации ?'
                    },
                ]).list-checked
                .info
                  .start-date
                    span Старт обучения:   18.07.2019
                  .end Набор до:   18.08.2019
          .col-md-5.col-xxs-12
            - var inpId = 0;
            +landEntryCourse({
                title: 'Записаться на <br class="hidden-xs hidden-xxs">курс',
                btn: 'Записаться на курс',
                forms: [
                    {
                        label: 'ФИО',
                        input: {
                            placeholder: 'Иванов Иван Иванович'
                        }
                    },
                    {
                        input: {
                            placeholder: '+7 (999) 999-99-99',
                            mask: '+7 (999) 999-99-99'
                        }
                    },
                    {
                        input: {
                            type: 'email',
                            placeholder: 'Электронная почта',
                        }
                    },
                    {
                        formGroupClass: 'font-small',
                        txt: 'Отправляя форму, я даю согласие на обработку <a href="#"> персональных данных</a>'
                    },
                    {
                        countdown: '2021-01-01T00:00:00',
                    }
                ]
            })
    .land-section.land-section-advantages
      .container
        +landSectionAdv({
            title: '<span class="border">6 причин</span>, почему стоит<br class="hidden-xs hidden-xxs">пройти нашу программу',
            list: [
                {
                    ttl: 'главное - очень интересно',
                    txt: 'Еда, спортпит и БАДы – горячая тема. Дадим ответы на все вопросы. Для этого: лекции, вебинары, видео, форум'
                },
                {
                    ttl: 'развитие карьеры',
                    txt: 'Еда, спортпит и БАДы – горячая тема. Дадим ответы на все вопросы. Для этого: лекции, вебинары, видео, форум'
                },
                {
                    ttl: 'много практики',
                    txt: 'Еда, спортпит и БАДы – горячая тема. Дадим ответы на все вопросы. Для этого: лекции, вебинары, видео, форум'
                },
                {
                    ttl: 'УЧЕБНИК FPA, В  КОТОРОМ ЕСТЬ ВСЕ',
                    txt: 'Еда, спортпит и БАДы – горячая тема. Дадим ответы на все вопросы. Для этого: лекции, вебинары, видео, форум'
                },
                {
                    ttl: 'доказательная  база',
                    txt: 'Еда, спортпит и БАДы – горячая тема. Дадим ответы на все вопросы. Для этого: лекции, вебинары, видео, форум'
                },
                {
                    ttl: 'ПОДДЕРЖКА, ОБЩЕНИЕ С ПРЕПОДАВАТЕЛЯМИ',
                    txt: 'Еда, спортпит и БАДы – горячая тема. Дадим ответы на все вопросы. Для этого: лекции, вебинары, видео, форум'
                }
            ]
        })
    #ancore2.land-section.land-section-content.has-mask-bg(style='background-image: url(images/land-section-content.jpg);')
      .container
        .h3.land-section-title.extrabold.text-center.upper содержание курса
        .carousel-wrap.text-right
          button.arrow-carousel.arrow-prev.hidden-lg.hidden-md.hidden-sm
            +svg('arrow-left')
          button.arrow-carousel.arrow-next.hidden-lg.hidden-md.hidden-sm
            +svg('arrow-right')
          .carousel-phone.text-left
            .row.carousel
              .col-sm-6.cols-xxs-12.item
                .ttl.extrabold.upper теоретический блок
                +list([
                    {ttl: 'Структура организма. Внутренняя среда и гомеостаз. ', icon: 'checked'},
                    {ttl: 'Анатомия, основы биомеханики', icon: 'checked'},
                    {ttl: 'Адаптация к физической нагрузке', icon: 'checked'},
                    {ttl: 'Физиология', icon: 'checked'},
                    {ttl: 'Теория тренировки', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Развитие силы', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Развитие выносливости', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Развитие гибкости', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Развитие скорости', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Развитие координации', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Питание', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Специализированные добавки и БАДы', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Снижение веса тела за счет ', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'жирового компонента', icon: 'checked', itmClass: 'hidden-phone'}
                ]).list-checked-small
                .js-carousel-more.upper.medium.font-small.visible-xs.visible-xxs
                  span показать больше
                  = ' '
                  .icon-wrap
                    +svg('angle-down')
              .col-sm-6.cols-xxs-12.item
                .ttl.extrabold.upper блок практической направлености
                +list([
                    {ttl: 'Оценка физического состояния клиента', icon: 'checked'},
                    {ttl: 'Разработка тренировочных программ', icon: 'checked'},
                    {ttl: 'Периодизация нагрузок', icon: 'checked'},
                    {ttl: 'Планирование фитнес-программ', icon: 'checked'},
                    {ttl: 'Планирование и организация тренировочного процесса', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Контроль за безопасностью и здоровьем', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Особенности занятий фитнесом ', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'при ограничениях здоровья', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Фитнес для различных возрастных групп', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Техника выполнения упражнений', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Обучение клиента технике выполнения упражнений', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Маркетинг персонального тренинга. Мотивация клиента', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Консультирование клиента.', icon: 'checked', itmClass: 'hidden-phone'},
                    {ttl: 'Работа над мотивацией.', icon: 'checked', itmClass: 'hidden-phone'}
                ]).list-checked-small
                .js-carousel-more.upper.medium.font-small.visible-xs.visible-xxs
                  span показать больше
                  = ' '
                  .icon-wrap
                    +svg('angle-down')

    .land-section.land-section-content
      .container
        .h3.land-section-title.extrabold.text-center.upper содержание курса
        +contentList([
            {ttl: 'ГРАНИЦЫ КОМПЕТЕНЦИЙ СПЕЦИАЛИСТОВ ФИТНЕСА', txt: 'Роль фитнес-тренера в профилактике хронических неинфекционных заболеваний. Границы компетенций – юридические аспекты'},
            {ttl: 'ПИЩЕВАРИТЕЛЬНАЯ СИСТЕМА', txt: 'Структура и функция пищеварительной системы. Физиология пищеварения. Регуляция пищеварения'},
            {ttl: 'ПИТАТЕЛЬНЫЕ ВЕЩЕСТВА', txt: 'Строение, переваривание, всасывание и обмен. Нормы потребления, источники нутриентов'},
            {ttl: 'ЭНЕРГЕТИЧЕСКИЙ ОБМЕН', txt: 'Связь энергетического и пластического обмена. Превращение энергии в организме. Энергетический баланс'},
            {ttl: 'ЛЕГЕНДЫ И МИФЫ ПИТАНИЯ', txt: 'Легенды про питание для снижения веса. Мифы про спортивное питание. Легенды про «правильное» и «неправильное»'},
            {ttl: 'СПОРТИВНОЕ ПИТАНИЕ И БАДЫ', txt: 'Классификация пищевых добавок. Что работает, а что нет. Рекомендации по применению'},
            {ttl: 'ПСИХОЛОГИЯ ПИТАНИЯ', txt: 'Сила воли и мотивация. Срывы. Нарушения пищевого поведения'},
            {ttl: 'КОНСУЛЬТИРОВАНИЕ КЛИЕНТА', txt: 'Сбор и анализ информации. Планирование рациона. Проведение обучения и выдача рекомендаций'},
        ])


    .land-section.land-section-info.has-mask-bg(style="background-image: url(images/info-bg.jpg);")
      .container
        .h3.land-section-title.extrabold.text-center.upper ИНФОРМАЦИЯ О СОЗДАНИИ КУРСА
        .subtitle.font-lg-lg.font-lg-md.font-lg-sm.upper.text-center.extrabold КАЛАШНИКОВ ДМИТРИЙ ГЕННАДИЕВИЧ
        p.text-center
          |Президент и преподаватель Центра FPA. Кандидат педагогических наук. О новой программе «Фитнес-нутрициолог»
        .video
          .video-block
            iframe(src='//www.youtube.com/embed/YROjJqPulfM?rel=0', frameborder='0')
          img(src="images/video-bg.png", alt="").hidden-xxs.hidden-xs
        .info
          .title.text-center.upper.bold
            | ДРУЗЬЯ И КОЛЛЕГИ, МЫ СДЕЛАЛИ ОТЛИЧНУЮ
            br.hidden-xs.hidden-xxs
            | ПРОГРАММУ – ФИТНЕС-НУТРИЦИОЛОГ!
          .carousel-wrap.text-right
            button.arrow-carousel.arrow-prev.hidden-lg.hidden-md.hidden-sm
              +svg('arrow-left')
            button.arrow-carousel.arrow-next.hidden-lg.hidden-md.hidden-sm
              +svg('arrow-right')
            .carousel-phone.text-left
              .row.carousel
                .col-sm-6.cols-xxs-12.item
                  +list([
                      {ttl: 'Прочитали 170 литературных источников по теме', icon: 'checked'},
                      {ttl: 'Изучили результаты 83 научных исследований', icon: 'checked'},
                      {ttl: 'Ознакомились с позицией экспертных организаций: ВОЗ, FDA, ACSM и др.', icon: 'checked'},
                      {ttl: 'Выбрали основное, написали учебник, сделали видео', icon: 'checked'},
                      {ttl: 'Теория тренировки', icon: 'checked', itmClass: 'hidden-phone'},
                      {ttl: 'Развитие силы', icon: 'checked', itmClass: 'hidden-phone'},

                  ]).list-checked-small
                  .js-carousel-more.upper.medium.font-small.visible-xs.visible-xxs
                    span показать больше
                    = ' '
                    .icon-wrap
                      +svg('angle-down')
                .col-sm-6.cols-xxs-12.item
                  +list([
                      {ttl: 'Пригласили отличных преподавателей', icon: 'checked'},
                      {ttl: 'Сделали пилотную версию', icon: 'checked'},
                      {ttl: 'Пригласили тестировщиков – тренеров, экспертов, энтузиастов ЗОЖ', icon: 'checked'},
                      {ttl: 'Учли их замечания и добавили новые возможности', icon: 'checked'},
                      {ttl: 'Планирование и организация тренировочного процесса', icon: 'checked', itmClass: 'hidden-phone'},
                      {ttl: 'Контроль за безопасностью и здоровьем', icon: 'checked', itmClass: 'hidden-phone'}
                  ]).list-checked-small
                  .js-carousel-more.upper.medium.font-small.visible-xs.visible-xxs
                    span показать больше
                    = ' '
                    .icon-wrap
                      +svg('angle-down')

    #ancore3.land-section.land-section-training.block-shadow-inset.bg-gray
      .container
        .h3.land-section-title.extrabold.text-center.upper как проходит обучение?
        mixin trainingList(data)
          .list-wrap
            button.arrow-carousel.arrow-prev.hidden-lg.hidden-md.hidden-sm
              +svg('arrow-left')
            button.arrow-carousel.arrow-next.hidden-lg.hidden-md.hidden-sm
              +svg('arrow-right')
            .list
              each itm in data
                .item.text-center
                  .pict-wrap
                    img(src=itm.img, alt="")
                  .ttl.text-red.upper.extrabold!=itm.ttl
                  .desc!=itm.desc

        +trainingList([
            {
                img: 'images/training1.jpg',
                ttl: 'ПРИСТУПАЕТЕ К ИЗУЧЕНИЮ МАТЕРИАЛА',
                desc: 'В вашем распоряжении учебники, презентации, тесты и другие материалы курса.'
            },
            {
                img: 'images/training3.jpg',
                ttl: 'ПОСЕЩАЕТЕ ОНЛАЙН- КОНСУЛЬТАЦИИ',
                desc: 'Участвуете в вебинарах с преподавателями курса, разбираете сложные вопросы, выполняете практические задания.'
            },
            {
                img: 'images/training2.jpg',
                ttl: 'ПОЛУЧАЕТЕ СЕРТИФИКАТ',
                desc: 'Получаете именной сертификат «Фитнес-коуч».'
            },
            {
                img: 'images/training4.jpg',
                ttl: 'ПОЛУЧАЕТЕ ДОСТУП',
                desc: 'Вы получаете доступ к ЛК в системе дистанционного обучения'
            },
            {
                img: 'images/training5.jpg',
                ttl: 'КОНТРОЛИРУЕТЕ',
                desc: 'Проходите тесты, интерактивные задания.'
            },
            {
                img: 'images/training6.png',
                ttl: 'ВЫПОЛНЯЕТЕ',
                desc: 'В вашем распоряжении учебники, презентации, тесты и другие материалы курса.'
            }
        ])

    .land-section.land-section-book.has-mask-bg(style="background-image: url(images/book-bg.jpg);")
      .container-middle
        .h3.land-section-title.extrabold.text-center.upper учеБник
        .textbook-pdf(data-pathpdf="/src/images/pdf.pdf")

    .land-section.land-section-videos.bg-gray-xs.bg-gray-xxs
      .container
        .h3.land-section-title.extrabold.text-center.upper Пример учебного видео
        mixin videosCarousel(data)
          .carousel-wrap
            button.arrow-round.slick-prev.hidden-xs.hidden-xxs.hidden-sm
              +svg('angle-left')
            button.arrow-round.slick-next.hidden-xs.hidden-xxs.hidden-sm
              +svg('angle-right')
            .container-middle
              .carousel
                each itm in data
                  .item
                    .video-resize
                      iframe(src=itm.video, frameborder='0')
        +videosCarousel([
            {video: '//www.youtube.com/embed/YROjJqPulfM?rel=0'},
            {video: '//www.youtube.com/embed/Yjdz8NvJcno'},
            {video: '//www.youtube.com/embed/CeY4Aw6MoU0'},
            {video: '//www.youtube.com/embed/E5_k3J92NEQ'},
        ])
        .description
          .container-middle
            .title.upper.bold.text-center ДРУЗЬЯ И КОЛЛЕГИ, МЫ СДЕЛАЛИ ОТЛИЧНое видео
            +list([
                {ttl: 'Прочитали 170 литературных источников по теме', icon: 'checked'},
                {ttl: 'Изучили результаты 83 научных исследований', icon: 'checked'},
                {ttl: 'Пригласили отличных преподавателей', icon: 'checked', itmClass: 'hidden-phone'},
                {ttl: 'Сделали пилотную версию', icon: 'checked', itmClass: 'hidden-phone'},
            ]).list-checked-small
          .btn-wrap.visible-xs.visible-xxs.text-center
            a(href="#").btn.js-more показать еще


    +landSectionDoc({
        group: 'gallery-doc',
        bg: 'images/documents-bg.jpg',
        title: 'Выпускные документы',
        list: [
            {pict: '//fitness.co47551.tmweb.ru/upload/resize_cache/iblock/8b4/350_263_2/8b48fd43fb217b9f18258ba97ad725f4.png'},
            {pict: '//fitness.co47551.tmweb.ru/upload/resize_cache/iblock/fb7/350_263_2/fb74b967f819005e6c9a63b8719cea0d.png'},
            {pict: '//fitness.co47551.tmweb.ru/upload/resize_cache/iblock/00a/350_263_2/00a7de83123241dd49e53093f896d725.png'}
        ]
    })#ancore4
    +landSectionDoc({
        group: 'gallery-doc',
        bg: 'images/documents-bg.jpg',
        title: 'Выпускные документы',
        list: [
            {pict: '//alex.fitness.co47551.tmweb.ru/upload/iblock/dd6/dd6e04e774f9c2ada3654918495a1d4f.jpg'},
            {pict: '//alex.fitness.co47551.tmweb.ru/upload/iblock/dd6/dd6e04e774f9c2ada3654918495a1d4f.jpg'},
        ]
    })
    +landSectionDoc({
        group: 'gallery-doc',
        bg: 'images/documents-bg.jpg',
        title: 'Выпускные документы',
        list: [
            {pict: '//fitness.co47551.tmweb.ru/upload/resize_cache/iblock/00a/350_263_2/00a7de83123241dd49e53093f896d725.png'}
        ]
    })

    .land-section.land-section-skills
      img(src="images/parallax4.png", alt="" style="margin: -150px 0 0 718px").right.parallax
      img(src="images/parallax5.png", alt="" style="top: 100%; bottom: auto; margin: -385px 576px 0 0").left.parallax
      img(src="images/parallax6.png", alt="" style="top: 100%; bottom: auto; margin: -311px 0 0 300px").right.parallax
      .container
        .h3.land-section-title.extrabold.text-center.upper
          | после прохождения курса
          br.hidden-xxs.hidden-xs
          | вы сможете
        .row
          .col-md-7.col-xxs-12
            mixin skills(data)
              .list
                each itm, i in data
                  .item(class=(i>1)?'hidden-phone': '')
                    .icon-wrap
                      img(src=itm.icon, alt="")
                    .ttl.upper.extrabold.text-red!=itm.ttl
                    .desc!=itm.desc
            +skills([
                {
                  icon: 'images/skills1.svg',
                  ttl: 'СОСТАВИТЬ ПЛАН ПИТАНИЯ ДЛЯ ВАШЕГО КЛИЕНТА',
                  desc: 'Нет универсального меню, которое подходило бы каждому человеку. Мы научим вас составлять индивидуальный рацион для клиента с учетом его предпочтений в еде и потребностей организма'
                },
                {
                  icon: 'images/skills2.svg',
                  ttl: 'ПОЛУЧИТЬ С ЛЮБЫМ КЛИЕНТОМ СТАБИЛЬНЫЙ РЕЗУЛЬТАТ',
                  desc: 'Вы узнаете, почему возвращаются килограммы после популярных диет и как помочь клиенту достигнуть стабильного и прогнозируемого результата без негативных последствий для здоровья'
                },
                {
                  icon: 'images/skills3.svg',
                  ttl: 'ОЦЕНИТЬ ЭФФЕКТИВНОСТЬ  ЛЮБЫХ БАД ИЛИ СПОРТИВНОГО ПИТАНИЯ',
                  desc: 'Понимание физиологии и регуляции пищеварения позволит вам разобраться в обещаниях маркетологов на упаковках пищевых добавок и спортивного питания'
                },
                {
                  icon: 'images/skills4.svg',
                  ttl: 'ОТКРЫТЬ ДЛЯ СЕБЯ НОВОЕ НАПРАВЛЕНИЕ – ДИЕТОЛОГИЮ',
                  desc: 'Во время обучения вы получите не только хорошую теоретическую базу, но и практические навыки, которые дадут возможность сразу после окончания программы приступить к работе'
                },
                {
                  icon: 'images/skills5.svg',
                  ttl: 'ЗАРАБОТАТЬ БОЛЬШЕ И ПРИВЛЕЧЬ НОВЫХ КЛИЕНТОВ',
                  desc: 'Более 20 000 запросов по теме «Здоровое питание» ежедневно делают пользователи «Яндекса». Все эти люди хотят разобраться в принципах построения своего рациона, и все они могут стать вашими клиентами'
                },
                {
                  icon: 'images/skills6.svg',
                  ttl: 'ПОНЯТЬ САМОМУ, КАК ПРАВИЛЬНО ПИТАТЬСЯ',
                  desc: 'Ваш главный клиент – это вы сами. Вы спланируете собственный рацион и в итоге создадите привлекательный образ эксперта-нутрициолога'
                }
            ])
            .btn-wrap.visible-xs.visible-xxs.text-center
              a.btn.btn-border.js-more(href='#') показать еще

          .col-md-5.col-xxs-12
            +landEntryCourse({
                title: 'Получите бесплатно материалы курса <b>+  подарок!</b>',
                btn: 'Получить подарок',
                forms: [
                    {
                        input: {
                            type: 'email',
                            placeholder: 'Электронная почта',
                        }
                    },
                    {
                        formGroupClass: 'font-small',
                        txt: 'Отправляя форму, я даю согласие на обработку <a href="#"> персональных данных</a>'
                    },
                    {
                        countdown: '2021-01-01T00:00:00',
                    }
                ]
            })(data-parent=".land-section-skills .row").sticky-block


    .land-section.land-section-teachers.bg-gray-xs.bg-gray-xxs
      .container
        .h3.land-section-title.extrabold.text-center.upper преподаватели
        mixin carouselTeachers(data)
          .carousel-wrap
            button.arrow-round.slick-prev.hidden-xs.hidden-xxs.hidden-sm
              +svg('angle-left')
            button.arrow-round.slick-next.hidden-xs.hidden-xxs.hidden-sm
              +svg('angle-right')
            .carousel
              each itm in data
                .item
                  .box
                    .pict
                      img(src=itm.pict, alt="")
                    .name.upper.extrabold!=itm.name
                    .desc.medium!=itm.desc
                    a(href="#").lnk-abs
        +carouselTeachers([
            {
                pict: 'images/teacher1.jpg',
                name: 'Дмитрий  Калашников ',
                desc: 'Генеральный директор, преподаватель АНО «Учебно-методический центр «Профессионалы фитнеса», преподаватель и автор учебника «Теория и методика фитнес-тренировки. Учебник персонального тренера», автор системы оценки и аттестации тренерского состава тренажерного зала и персональных фитнес-тренеров'
            },
            {
                pict: 'images/teacher2.jpg',
                name: 'Олег Терн ',
                desc: 'Эксперт FPA, врач, специалист по вопросам здорового образа жизни'
            },
            {
                pict: 'images/teacher3.jpg',
                name: 'Дмитрий  Калашников ',
                desc: 'Бизнес-тренер, психолог, коуч, создатель и эксперт Школы продаж «Sale for fitness».'
            },
            {
                pict: 'images/teacher1.jpg',
                name: 'Дмитрий  Калашников ',
                desc: 'Генеральный директор, преподаватель АНО «Учебно-методический центр «Профессионалы фитнеса», преподаватель и автор учебника «Теория и методика фитнес-тренировки. Учебник персонального тренера», автор системы оценки и аттестации тренерского состава тренажерного зала и персональных фитнес-тренеров'
            },
            {
                pict: 'images/teacher2.jpg',
                name: 'Олег Терн ',
                desc: 'Эксперт FPA, врач, специалист по вопросам здорового образа жизни'
            },
            {
                pict: 'images/teacher3.jpg',
                name: 'Дмитрий  Калашников ',
                desc: 'Бизнес-тренер, психолог, коуч, создатель и эксперт Школы продаж «Sale for fitness».'
            }
        ])

    .land-section.land-section-equipment.has-mask-bg(style="background-image: url(images/equipment-bg.jpg);")
      .container
        .h3.land-section-title.extrabold.text-center.upper оснащение курса
        mixin equipmentList(data)
          .list
            each itm, i in data
              .item(class=(i>0) ? 'hidden-phone': '')
                .box
                  .ttl.upper.bold!=itm.ttl
                  .desc.medium.hidden-xs.hidden-xxs!=itm.desc
            .js-more.upper.medium.font-small.visible-xs.visible-xxs
              span показать еще
              = ' '
              .icon-wrap
                +svg('angle-down')
        +equipmentList([
            {
                ttl: 'Учебник',
                desc: '«Основы фитнес-диетологии и нутрициологии» в бумажном и электронном формате – 160 страниц актуальной и достоверной информации'
            },
            {
                ttl: 'студенческий чат',
                desc: 'Наш онлайн-чат — место, где для студенты общаются, задают преподавателям вопросы и получают ответы, вносят предложения и делятся мнениями',
            },
            {
                ttl: 'вебинары',
                desc: 'Все аудиторные лекции одновременно проходят в формате вебинаров. Вы можете выбрать, присутствовать на лекции, участвовать дистанционно или посмотреть после в записи дистанционно или посмотре',
            },
            {
                ttl: 'онлайн тестирование',
                desc: 'Сертификация FPA включает ответы на 100 тестовых вопросов и выполнение 4 практических заданий по планированию рациона и консультированию. Проходит дистанционно',
            },
            {
                ttl: '23 ДОПОЛНИТЕЛЬНЫХ МАТЕРИАЛА  ДОПОЛНИТЕЛЬ',
                desc: 'Дополнительные видеолекции, формы, бланки, инструкции по использованию приложений для расчета рациона, примеры выполнения практических заданий',
            },
            {
                ttl: 'тестирование',
                desc: 'Сертификация FPA включает ответы на 100 тестовых вопросов и выполнение 4 практических заданий по планированию рациона и консультированию. ',
            }
        ])


    .land-section.land-section-equipment.has-mask-bg(style="background-image: url(images/equipment-bg.jpg);")
      .container
        .h3.land-section-title.extrabold.text-center.upper оснащение курса
        .row
          .col-sm-6.col-xxs-12
            +equipmentList([
                {
                    ttl: 'Учебник',
                    desc: '«Основы фитнес-диетологии и нутрициологии» в бумажном и электронном формате – 160 страниц актуальной и достоверной информации'
                },
                {
                    ttl: 'студенческий чат',
                    desc: 'Наш онлайн-чат — место, где для студенты общаются, задают преподавателям вопросы и получают ответы, вносят предложения и делятся мнениями'
                },
                {
                    ttl: 'вебинары',
                    desc: 'Все аудиторные лекции одновременно проходят в формате вебинаров. Вы можете выбрать, присутствовать на лекции, участвовать дистанционно или посмотреть после в записи дистанционно или посмотре'
                },
                {
                    ttl: 'онлайн тестирование',
                    desc: 'Сертификация FPA включает ответы на 100 тестовых вопросов и выполнение 4 практических заданий по планированию рациона и консультированию. Проходит дистанционно'
                },
                {
                    ttl: '23 ДОПОЛНИТЕЛЬНЫХ МАТЕРИАЛА  ДОПОЛНИТЕЛЬ',
                    desc: 'Дополнительные видеолекции, формы, бланки, инструкции по использованию приложений для расчета рациона, примеры выполнения практических заданий'
                },
                {
                    ttl: 'тестирование',
                    desc: 'Сертификация FPA включает ответы на 100 тестовых вопросов и выполнение 4 практических заданий по планированию рациона и консультированию. '
                }
            ])

          .col-sm-6.col-xxs-12
            a.certificate-box(href='images/certificate-long.jpg', data-fancybox='gallery-doc', tabindex='0')
              .pict
                img(src='images/certificate-long.jpg', alt='')
    .land-section.land-section-work
      .container-middle
        .h3.land-section-title.extrabold.text-center.upper С ЧЕМ РАБОТАЕТ ФИТНЕС-КОУЧ
        mixin WorkList(data)
          .list-wrap
            button.arrow-carousel.arrow-prev.hidden-lg.hidden-md.hidden-sm
              +svg('arrow-left')
            button.arrow-carousel.arrow-next.hidden-lg.hidden-md.hidden-sm
              +svg('arrow-right')
            .list
              each itm in data
                .item.text-center
                  .pict-wrap
                    img(src=itm.pict, alt="")
                  .ttl.text-red.upper.extrabold!=itm.ttl


        +WorkList([
            {
                pict: 'images/work-icon1.jpg',
                ttl: 'ФИТНЕС'
            },
            {
                pict: 'images/work-icon2.jpg',
                ttl: 'ЗДОРОВОЕ ПИТАНИЕ'
            },
            {
                pict: 'images/work-icon3.jpg',
                ttl: 'СНИЖЕНИЕ ВЕСА И ПОДДЕРЖАНИЕ РЕЗУЛЬТАТОВ'
            },
            {
                pict: 'images/work-icon4.jpg',
                ttl: 'ОРГАНИЗАЦИЯ УМСТВЕННОГО ТРУДА'
            },
            {
                pict: 'images/work-icon5.jpg',
                ttl: 'ПРЕКРАЩЕНИЕ КУРЕНИЯ'
            },
            {
                pict: 'images/work-icon6.jpg',
                ttl: 'СОХРАНЕНИЕ ЗДОРОВЬЯ ПОЖИЛЫХ'
            }
        ])

    .land-section.land-section-desc
      .container-middle
        .h3.land-section-title.extrabold.text-center.upper С ЧЕМ РАБОТАЕТ ФИТНЕС-КОУЧ
        .row
          .col-md-7.col-xxs-12
            .description.medium.text-center-xs.text-center-xxs
              p
                | Человек хочет выглядеть привлекательным, похудеть, получить кубики на прессе, бросить курить и начать следить за здоровьем. За помощью приходит к нам: тренерам, нутрициологам, консультантам, начинает «новую жизнь».
              p
                | И кажется, все просто: бери и делай, двигайся к цели! Но что-то мешает… Старые привычки, «не хочется», лень, сомнения в успехе, срывы, попытки через «не могу», новые срывы, обвинения себя, обвинения других. Это знакомо нам всем, это то, что постоянно мешает нашим клиентам.
              p
                | Специалист, помогающий клиенту изменить поведение так, чтобы рациональное питание, тренировки, здоровые привычки и защита от стресса стали образом жизни и есть фитнес-коуч.
              p
                | Фитнес-тренер, освоив коучинг, поможет клиентам меняться эффективнее, сможет работать со сложными клиентами. Нутрициолог поможет добиться лучших результатов. Это прикладные аспекты психологии и эффективных коммуникаций, которые могут повысить эффективность любого специалиста в сфере фитнеса.
            .btn-wrap.visible-xs.visible-xxs.text-center
              a(href="#").btn.btn-border.js-more показать еще
          .col-md-5.col-xxs-12
            +landEntryCourse({
                title: 'Оставь заявку <span>и получи самую «вкусную» главу учебника</span>',
                btn: 'Оставить заявку',
                forms: [
                    {
                        input: {
                            type: 'email',
                            placeholder: 'Электронная почта',
                        }
                    },
                    {
                        formGroupClass: 'font-small',
                        txt: 'Отправляя форму, я даю согласие на обработку <a href="#"> персональных данных</a>'
                    }
                ]
            })

    .land-section.land-section-feedback
      .container
        .h3.land-section-title.extrabold.text-center.upper отзывы
        +feedbackCarousel([
            {
                ava: 'images/ava.jpg',
                name: 'татьяна гаврилова',
                txt: 'Мне понравилось все — преподаватели, организация, качество и количество материала и то, как интересно нам его преподносили, ответы на ВСЕ задеваемые вопросы. Для меня был удобным график учебы — выходные дни (как человеку, у которого офисная пятидневка). Плюс, что можно смотреть вебинары в записи'
            },
            {
                ava: 'images/ava.jpg',
                name: 'ольга иванова',
                txt: 'Закончила курс Фитнес — нутрициолог. Очень хорошая программа, материал рассмотрен достаточно широко. '
            },
            {
                ava: 'images/ava.jpg',
                name: 'ольга иванова',
                txt: 'Закончила курс Фитнес — нутрициолог. Очень хорошая программа, материал рассмотрен достаточно широко. '
            },
            {
                ava: 'images/ava.jpg',
                name: 'ольга иванова',
                txt: 'Закончила курс Фитнес — нутрициолог. Очень хорошая программа, материал рассмотрен достаточно широко. '
            }
        ])



    #ancore5.land-section.land-section-leave.has-mask-bg(style="background-image: url(images/leave-request-bg.jpg);")
      .container
        .h3.land-section-title.extrabold.text-center.upper Записаться на обучение
        .row
          .col-md-4
            .prices
              .item
                .ttl.upper.medium при оплате частями
                .sum
                  .price.bold 6 000 ₽
              .item
                .ttl.upper.medium Одним платежом
                .sum
                  .price.bold 36 000 ₽
                  .oldprice 45 000 ₽
                .start-date
                  span До 28 декабря скидка 1 099 ₽
            .saving.hidden-xxs.hidden-xs.hidden-sm
              .ttl.medium Сэкономьте еще 13%
                +svg('rub')
              |Вы можете вернуть 13% денег через налоговый вычет. Спросите об этом менеджера, когда запишетесь на курс
          .col-md-4
            +landEntryCourse({
                btn: 'Отправить заявку',
                btn2: 'Получить консультацию',
                forms: [
                    {
                        label: 'ФИО',
                        input: {
                            placeholder: 'Иванов Иван Иванович'
                        }
                    },
                    {
                        input: {
                            placeholder: '+7 (999) 999-99-99',
                            mask: '+7 (999) 999-99-99'
                        }
                    },
                    {
                        input: {
                            type: 'email',
                            placeholder: 'Электронная почта',
                        }
                    },
                    {
                        formGroupClass: 'font-small',
                        txt: 'Отправляя форму, я даю согласие на обработку <a href="#"> персональных данных</a>'
                    }
                ]
            })
          .col-md-4
            .saving.visible-xxs.visible-xs.visible-sm
              .ttl.medium Сэкономьте еще 13%
                +svg('rub')
              | Вы можете вернуть 13% денег через налоговый вычет. Спросите об этом менеджера, когда запишетесь на курс
            .pay-info
              .item
                .icon-wrap
                  +svg('purse')
                .ttl.medium Как оплатить частями?
                .txt.font-small Мы предоставляем беспроцентный кредит от Тинькофф. Вы разделите платеж и ничего не переплатите
              .item
                .icon-wrap
                  +svg('purse')
                .ttl.medium Как оплатить от юрлица?
                .txt.font-small Запишитесь на курс от имени того, кто будет учиться, а затем с вами свяжется менеджер курса и поможет оформить оплату
              .item
                .icon-wrap
                  +svg('question')
                .ttl.medium Есть еще вопросы?
                .txt.font-small Звоните нам  —
                  a(href="tel:+74991106867").text-green +7 (499) 110-68-67
    +subscriptionBlock()
block scripts

