extends base/base.pug
append vars
  - var pageUrl = 'employers.html';
  - var pageTitle = 'Работодателям';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/faq.jpg',
        breadcrumbs: pageTitle ,
        title: 'Работодателям',
        txtClass: 'font-large-lg font-large-md font-large-sm',
        txt: 'В нашей базе – несколько сотен резюме специалистов в области фитнеса, которая постоянно пополняется за счет новых выпускников наших программ: инструкторских и Школы Управления, а в электронной базе - свыше 14,5 тысяч адресов специалистов сферы фитнеса',
        btns: [
            {class: 'anchore', href: '#consultation', ttl: 'Записаться на консультацию'}
        ]
    })
    .container
      .section-container
        p
          | Сегодня насчитывается более 15 000 сертифицированных членов FPA: инструкторов тренажерного зала, персональных фитнес-тренеров, инструкторов оздоровительной аэробики и силовых направлений в групповых программах, фитнес- менеджеров разного уровня, фитнес-коучей, фитнес- и спортивных нутрициологов.
        p
          | Если в вашу команду нужны сотрудники данных специальностей, мы поможем донести до них информацию о вашей вакансии с вашими прямыми контактами. В зависимости от того, сколько вакансий открыто в вашей компании, предлагаем воспользоваться пакетом «Стандарт» или «Стандарт+»
        +tariffs({
            title: 'Пакеты услуг',
            titleClass: 'h3 title-border text-center extrabold',
            items: [
                {
                    class: 'col-sm-4 col-xxs-12 text-center',
                    ttl: 'Разовое размещение',
                    ttlClass: 'bold h6 title-border text-center',
                    price: '0',
                    list: ['Разовое размещение макета работодателя с вакансией, ссылками, контактами на стене официальных страниц FPA в ВКонтакте и Faceboo']
                },
                {
                    class: 'col-sm-4 col-xxs-12 text-center',
                    ttl: 'Стандарт',
                    ttlClass: 'bold h6 title-border text-center',
                    price: '8 000',
                    list: ['Размещение одной вакансии на сайте FPA','Разовое размещение анонса вакансии на стене официальных страниц FPA в ВКонтакте и Facebook','Двукратная рассылка информации о вакансии по подписчикам FPA']
                },
                {
                    class: 'col-sm-4 col-xxs-12 text-center',
                    ttl: 'Стандарт +',
                    ttlClass: 'bold h6 title-border text-center',
                    price: '14 000',
                    list: ['Размещение одной вакансии на сайте FPA','Разовое размещение анонса вакансии на стене официальных страниц FPA в ВКонтакте и Facebook','Двукратная рассылка информации о вакансии по подписчикам FPA']
                }
            ]
        })

        +instructors({
            items: [
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Инструктор тренажерного зала | Персональный фитнес-тренер | Инструктор тренажерного зала ',
                    name: 'Белицкая Любовь Александровна',
                    age: '27 лет, Москва',
                    price: '35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Инструктор тренажерного зала | Персональный фитнес-тренер',
                    name: 'Белицкая Любовь Александровна',
                    age: '27 лет, Москва',
                    price: '35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Инструктор тренажерного зала | Персональный фитнес-тренер',
                    name: 'Белицкая Любовь Александровна',
                    age: '27 лет, Москва',
                    price: '35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Инструктор тренажерного зала | Персональный фитнес-тренер',
                    name: 'Белицкая Любовь Александровна',
                    age: '27 лет, Москва',
                    price: '35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Инструктор тренажерного зала | Персональный фитнес-тренер',
                    name: 'Белицкая Любовь Александровна',
                    age: '27 лет, Москва',
                    price: '35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Инструктор тренажерного зала | Персональный фитнес-тренер',
                    name: 'Белицкая Любовь Александровна',
                    age: '27 лет, Москва',
                    price: '35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Инструктор тренажерного зала | Персональный фитнес-тренер',
                    name: 'Белицкая Любовь Александровна',
                    age: '27 лет, Москва',
                    price: '35 000 ₽'
                }
            ]
        })
        .btn-wrap.text-center
            a(href="#").btn Посмотреть все
    +consultation({
        bg: 'images/consultation-bg.jpg',
        title: 'Записаться на консультацию',
        titleClass: 'h3 text-center extrabold',
    })#consultation
    +subscriptionBlock()
block scripts

