extends base/base.pug
append vars
  - var pageUrl = 'faq.html';
  - var pageTitle = 'Вопрос Ответ';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/faq.jpg',
        breadcrumbs: pageTitle ,
        title: 'Вопросы и ответы',
        txtClass: 'font-large-lg font-large-md font-large-sm',
        txt: 'Мы собрали здесь самые попеулярные<br> вопросы<br> наших клиентов',
        btns: [
            {class: 'anchore', href: '#consultation', ttl: 'ЗАДАТЬ ВОПРОС'}
        ]
    })
    .container
      .section-container
        .font-large-lg.font-large-md.font-large-sm.text-center
          |Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
        +faq([
            {
                head: 'ОБУЧЕНИЕ В FPA',
                items: [
                    {
                        ttl: 'Интересуют правила посещения детьми фитнес-клуба. Что говорит законодательство?',
                        txt: '<p><b>Lorem ipsum dolor sit amet</b>, consectetur adipiscing elit. Donec ut est purus. Phasellus semper orci a pretium rhoncus. Donec condimentum mauris sed mollis condimentum. Quisque facilisis semper velit, vel sollicitudin magna condimentum ac. Sed commodo quam mauris, eget iaculis elit tincidunt nec. Etiam finibus est vel metus tempus, sed viverra ligula ultrices. Aenean sit amet fermentum elit. Pellentesque placerat ut lacus quis dignissim. Integer faucibus sollicitudin mattis. Donec hendrerit tristique quam at mollis. Curabitur ultrices magna elit.</p><p>In eleifend ullamcorper nisi. Aenean ligula est, pulvinar ut tristique quis, condimentum non nibh. Duis in dolor vitae turpis congue euismod. <strong>Integer eros lectus</strong>, hendrerit vel eros sed, elementum fringilla quam. Proin ultrices turpis non tellus pellentesque viverra. Curabitur enim turpis, ullamcorper vel tristique vel, luctus fermentum orci. Curabitur eu justo iaculis, imperdiet metus at, blandit lectus. Fusce diam nisi, semper ac diam nec, placerat bibendum risus. In sit amet viverra nisi, in ultrices metus. Nullam accumsan sit amet tellus at facilisis. Praesent luctus eros ut dui tristique mollis.<br>Aliquam dignissim laoreet odio, id tempus enim egestas a. Cras rutrum b</p>'
                    },
                    {
                        ttl: 'Дает ли право работать с беременными посещение семинара «Беременность и фитнес-тренировка»? ',
                        txt: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut est purus. Phasellus semper orci a pretium rhoncus. Donec condimentum mauris sed mollis condimentum. Quisque facilisis semper velit, vel sollicitudin magna condimentum ac. Sed commodo quam mauris, eget iaculis elit tincidunt nec. Etiam finibus est vel metus tempus, sed viverra ligula ultrices. Aenean sit amet fermentum elit. Pellentesque placerat ut lacus quis dignissim. Integer faucibus sollicitudin mattis. Donec hendrerit tristique quam at mollis. Curabitur ultrices magna elit.</p><p>In eleifend ullamcorper nisi. Aenean ligula est, pulvinar ut tristique quis, condimentum non nibh. Duis in dolor vitae turpis congue euismod. Integer eros lectus, hendrerit vel eros sed, elementum fringilla quam. Proin ultrices turpis non tellus pellentesque viverra. Curabitur enim turpis, ullamcorper vel tristique vel, luctus fermentum orci. Curabitur eu justo iaculis, imperdiet metus at, blandit lectus. Fusce diam nisi, semper ac diam nec, placerat bibendum risus. In sit amet viverra nisi, in ultrices metus. Nullam accumsan sit amet tellus at facilisis. Praesent luctus eros ut dui tristique mollis.<br>Aliquam dignissim laoreet odio, id tempus enim egestas a. Cras rutrum b</p>'
                    },
                    {
                        ttl: 'Для каких сотрудников фитнес-клуба необходима медицинская книжка?  ',
                        txt: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut est purus. Phasellus semper orci a pretium rhoncus. Donec condimentum mauris sed mollis condimentum. Quisque facilisis semper velit, vel sollicitudin magna condimentum ac. Sed commodo quam mauris, eget iaculis elit tincidunt nec. Etiam finibus est vel metus tempus, sed viverra ligula ultrices. Aenean sit amet fermentum elit. Pellentesque placerat ut lacus quis dignissim. Integer faucibus sollicitudin mattis. Donec hendrerit tristique quam at mollis. Curabitur ultrices magna elit.</p><p>In eleifend ullamcorper nisi. Aenean ligula est, pulvinar ut tristique quis, condimentum non nibh. Duis in dolor vitae turpis congue euismod. Integer eros lectus, hendrerit vel eros sed, elementum fringilla quam. Proin ultrices turpis non tellus pellentesque viverra. Curabitur enim turpis, ullamcorper vel tristique vel, luctus fermentum orci. Curabitur eu justo iaculis, imperdiet metus at, blandit lectus. Fusce diam nisi, semper ac diam nec, placerat bibendum risus. In sit amet viverra nisi, in ultrices metus. Nullam accumsan sit amet tellus at facilisis. Praesent luctus eros ut dui tristique mollis.<br>Aliquam dignissim laoreet odio, id tempus enim egestas a. Cras rutrum b</p>'
                    }
                ]
            },
            {
                head: 'СОТРУДНИЧЕСТВО С FPA',
                items: [
                    {
                        ttl: 'Интересуют правила посещения детьми фитнес-клуба. Что говорит законодательство?',
                        txt: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut est purus. Phasellus semper orci a pretium rhoncus. Donec condimentum mauris sed mollis condimentum. Quisque facilisis semper velit, vel sollicitudin magna condimentum ac. Sed commodo quam mauris, eget iaculis elit tincidunt nec. Etiam finibus est vel metus tempus, sed viverra ligula ultrices. Aenean sit amet fermentum elit. Pellentesque placerat ut lacus quis dignissim. Integer faucibus sollicitudin mattis. Donec hendrerit tristique quam at mollis. Curabitur ultrices magna elit.</p><p>In eleifend ullamcorper nisi. Aenean ligula est, pulvinar ut tristique quis, condimentum non nibh. Duis in dolor vitae turpis congue euismod. Integer eros lectus, hendrerit vel eros sed, elementum fringilla quam. Proin ultrices turpis non tellus pellentesque viverra. Curabitur enim turpis, ullamcorper vel tristique vel, luctus fermentum orci. Curabitur eu justo iaculis, imperdiet metus at, blandit lectus. Fusce diam nisi, semper ac diam nec, placerat bibendum risus. In sit amet viverra nisi, in ultrices metus. Nullam accumsan sit amet tellus at facilisis. Praesent luctus eros ut dui tristique mollis.<br>Aliquam dignissim laoreet odio, id tempus enim egestas a. Cras rutrum b</p>'
                    },
                    {
                        ttl: 'Дает ли право работать с беременными посещение семинара «Беременность и фитнес-тренировка»? ',
                        txt: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut est purus. Phasellus semper orci a pretium rhoncus. Donec condimentum mauris sed mollis condimentum. Quisque facilisis semper velit, vel sollicitudin magna condimentum ac. Sed commodo quam mauris, eget iaculis elit tincidunt nec. Etiam finibus est vel metus tempus, sed viverra ligula ultrices. Aenean sit amet fermentum elit. Pellentesque placerat ut lacus quis dignissim. Integer faucibus sollicitudin mattis. Donec hendrerit tristique quam at mollis. Curabitur ultrices magna elit.</p><p>In eleifend ullamcorper nisi. Aenean ligula est, pulvinar ut tristique quis, condimentum non nibh. Duis in dolor vitae turpis congue euismod. Integer eros lectus, hendrerit vel eros sed, elementum fringilla quam. Proin ultrices turpis non tellus pellentesque viverra. Curabitur enim turpis, ullamcorper vel tristique vel, luctus fermentum orci. Curabitur eu justo iaculis, imperdiet metus at, blandit lectus. Fusce diam nisi, semper ac diam nec, placerat bibendum risus. In sit amet viverra nisi, in ultrices metus. Nullam accumsan sit amet tellus at facilisis. Praesent luctus eros ut dui tristique mollis.<br>Aliquam dignissim laoreet odio, id tempus enim egestas a. Cras rutrum b</p>'
                    },
                    {
                        ttl: 'юридические вопросы',
                        txt: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut est purus. Phasellus semper orci a pretium rhoncus. Donec condimentum mauris sed mollis condimentum. Quisque facilisis semper velit, vel sollicitudin magna condimentum ac. Sed commodo quam mauris, eget iaculis elit tincidunt nec. Etiam finibus est vel metus tempus, sed viverra ligula ultrices. Aenean sit amet fermentum elit. Pellentesque placerat ut lacus quis dignissim. Integer faucibus sollicitudin mattis. Donec hendrerit tristique quam at mollis. Curabitur ultrices magna elit.</p><p>In eleifend ullamcorper nisi. Aenean ligula est, pulvinar ut tristique quis, condimentum non nibh. Duis in dolor vitae turpis congue euismod. Integer eros lectus, hendrerit vel eros sed, elementum fringilla quam. Proin ultrices turpis non tellus pellentesque viverra. Curabitur enim turpis, ullamcorper vel tristique vel, luctus fermentum orci. Curabitur eu justo iaculis, imperdiet metus at, blandit lectus. Fusce diam nisi, semper ac diam nec, placerat bibendum risus. In sit amet viverra nisi, in ultrices metus. Nullam accumsan sit amet tellus at facilisis. Praesent luctus eros ut dui tristique mollis.<br>Aliquam dignissim laoreet odio, id tempus enim egestas a. Cras rutrum b</p>'
                    }
                ]
            },
            {
                head: 'помощь по сайту',
                items: [
                    {
                        ttl: 'Интересуют правила посещения детьми фитнес-клуба. Что говорит законодательство?',
                        txt: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut est purus. Phasellus semper orci a pretium rhoncus. Donec condimentum mauris sed mollis condimentum. Quisque facilisis semper velit, vel sollicitudin magna condimentum ac. Sed commodo quam mauris, eget iaculis elit tincidunt nec. Etiam finibus est vel metus tempus, sed viverra ligula ultrices. Aenean sit amet fermentum elit. Pellentesque placerat ut lacus quis dignissim. Integer faucibus sollicitudin mattis. Donec hendrerit tristique quam at mollis. Curabitur ultrices magna elit.</p><p>In eleifend ullamcorper nisi. Aenean ligula est, pulvinar ut tristique quis, condimentum non nibh. Duis in dolor vitae turpis congue euismod. Integer eros lectus, hendrerit vel eros sed, elementum fringilla quam. Proin ultrices turpis non tellus pellentesque viverra. Curabitur enim turpis, ullamcorper vel tristique vel, luctus fermentum orci. Curabitur eu justo iaculis, imperdiet metus at, blandit lectus. Fusce diam nisi, semper ac diam nec, placerat bibendum risus. In sit amet viverra nisi, in ultrices metus. Nullam accumsan sit amet tellus at facilisis. Praesent luctus eros ut dui tristique mollis.<br>Aliquam dignissim laoreet odio, id tempus enim egestas a. Cras rutrum b</p>'
                    },
                    {
                        ttl: 'Дает ли право работать с беременными посещение семинара «Беременность и фитнес-тренировка»? ',
                        txt: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut est purus. Phasellus semper orci a pretium rhoncus. Donec condimentum mauris sed mollis condimentum. Quisque facilisis semper velit, vel sollicitudin magna condimentum ac. Sed commodo quam mauris, eget iaculis elit tincidunt nec. Etiam finibus est vel metus tempus, sed viverra ligula ultrices. Aenean sit amet fermentum elit. Pellentesque placerat ut lacus quis dignissim. Integer faucibus sollicitudin mattis. Donec hendrerit tristique quam at mollis. Curabitur ultrices magna elit.</p><p>In eleifend ullamcorper nisi. Aenean ligula est, pulvinar ut tristique quis, condimentum non nibh. Duis in dolor vitae turpis congue euismod. Integer eros lectus, hendrerit vel eros sed, elementum fringilla quam. Proin ultrices turpis non tellus pellentesque viverra. Curabitur enim turpis, ullamcorper vel tristique vel, luctus fermentum orci. Curabitur eu justo iaculis, imperdiet metus at, blandit lectus. Fusce diam nisi, semper ac diam nec, placerat bibendum risus. In sit amet viverra nisi, in ultrices metus. Nullam accumsan sit amet tellus at facilisis. Praesent luctus eros ut dui tristique mollis.<br>Aliquam dignissim laoreet odio, id tempus enim egestas a. Cras rutrum b</p>'
                    },
                    {
                        ttl: 'Для каких сотрудников фитнес-клуба необходима медицинская книжка?  ',
                        txt: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut est purus. Phasellus semper orci a pretium rhoncus. Donec condimentum mauris sed mollis condimentum. Quisque facilisis semper velit, vel sollicitudin magna condimentum ac. Sed commodo quam mauris, eget iaculis elit tincidunt nec. Etiam finibus est vel metus tempus, sed viverra ligula ultrices. Aenean sit amet fermentum elit. Pellentesque placerat ut lacus quis dignissim. Integer faucibus sollicitudin mattis. Donec hendrerit tristique quam at mollis. Curabitur ultrices magna elit.</p><p>In eleifend ullamcorper nisi. Aenean ligula est, pulvinar ut tristique quis, condimentum non nibh. Duis in dolor vitae turpis congue euismod. Integer eros lectus, hendrerit vel eros sed, elementum fringilla quam. Proin ultrices turpis non tellus pellentesque viverra. Curabitur enim turpis, ullamcorper vel tristique vel, luctus fermentum orci. Curabitur eu justo iaculis, imperdiet metus at, blandit lectus. Fusce diam nisi, semper ac diam nec, placerat bibendum risus. In sit amet viverra nisi, in ultrices metus. Nullam accumsan sit amet tellus at facilisis. Praesent luctus eros ut dui tristique mollis.<br>Aliquam dignissim laoreet odio, id tempus enim egestas a. Cras rutrum b</p>'
                    }
                ]
            },
            {
                head: 'ОБУЧЕНИЕ В FPA',
                items: [
                    {
                        ttl: 'Интересуют правила посещения детьми фитнес-клуба. Что говорит законодательство?',
                        txt: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut est purus. Phasellus semper orci a pretium rhoncus. Donec condimentum mauris sed mollis condimentum. Quisque facilisis semper velit, vel sollicitudin magna condimentum ac. Sed commodo quam mauris, eget iaculis elit tincidunt nec. Etiam finibus est vel metus tempus, sed viverra ligula ultrices. Aenean sit amet fermentum elit. Pellentesque placerat ut lacus quis dignissim. Integer faucibus sollicitudin mattis. Donec hendrerit tristique quam at mollis. Curabitur ultrices magna elit.</p><p>In eleifend ullamcorper nisi. Aenean ligula est, pulvinar ut tristique quis, condimentum non nibh. Duis in dolor vitae turpis congue euismod. Integer eros lectus, hendrerit vel eros sed, elementum fringilla quam. Proin ultrices turpis non tellus pellentesque viverra. Curabitur enim turpis, ullamcorper vel tristique vel, luctus fermentum orci. Curabitur eu justo iaculis, imperdiet metus at, blandit lectus. Fusce diam nisi, semper ac diam nec, placerat bibendum risus. In sit amet viverra nisi, in ultrices metus. Nullam accumsan sit amet tellus at facilisis. Praesent luctus eros ut dui tristique mollis.<br>Aliquam dignissim laoreet odio, id tempus enim egestas a. Cras rutrum b</p>'
                    },
                    {
                        ttl: 'Дает ли право работать с беременными посещение семинара «Беременность и фитнес-тренировка»? ',
                        txt: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut est purus. Phasellus semper orci a pretium rhoncus. Donec condimentum mauris sed mollis condimentum. Quisque facilisis semper velit, vel sollicitudin magna condimentum ac. Sed commodo quam mauris, eget iaculis elit tincidunt nec. Etiam finibus est vel metus tempus, sed viverra ligula ultrices. Aenean sit amet fermentum elit. Pellentesque placerat ut lacus quis dignissim. Integer faucibus sollicitudin mattis. Donec hendrerit tristique quam at mollis. Curabitur ultrices magna elit.</p><p>In eleifend ullamcorper nisi. Aenean ligula est, pulvinar ut tristique quis, condimentum non nibh. Duis in dolor vitae turpis congue euismod. Integer eros lectus, hendrerit vel eros sed, elementum fringilla quam. Proin ultrices turpis non tellus pellentesque viverra. Curabitur enim turpis, ullamcorper vel tristique vel, luctus fermentum orci. Curabitur eu justo iaculis, imperdiet metus at, blandit lectus. Fusce diam nisi, semper ac diam nec, placerat bibendum risus. In sit amet viverra nisi, in ultrices metus. Nullam accumsan sit amet tellus at facilisis. Praesent luctus eros ut dui tristique mollis.<br>Aliquam dignissim laoreet odio, id tempus enim egestas a. Cras rutrum b</p>'
                    },
                    {
                        ttl: 'Для каких сотрудников фитнес-клуба необходима медицинская книжка?  ',
                        txt: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut est purus. Phasellus semper orci a pretium rhoncus. Donec condimentum mauris sed mollis condimentum. Quisque facilisis semper velit, vel sollicitudin magna condimentum ac. Sed commodo quam mauris, eget iaculis elit tincidunt nec. Etiam finibus est vel metus tempus, sed viverra ligula ultrices. Aenean sit amet fermentum elit. Pellentesque placerat ut lacus quis dignissim. Integer faucibus sollicitudin mattis. Donec hendrerit tristique quam at mollis. Curabitur ultrices magna elit.</p><p>In eleifend ullamcorper nisi. Aenean ligula est, pulvinar ut tristique quis, condimentum non nibh. Duis in dolor vitae turpis congue euismod. Integer eros lectus, hendrerit vel eros sed, elementum fringilla quam. Proin ultrices turpis non tellus pellentesque viverra. Curabitur enim turpis, ullamcorper vel tristique vel, luctus fermentum orci. Curabitur eu justo iaculis, imperdiet metus at, blandit lectus. Fusce diam nisi, semper ac diam nec, placerat bibendum risus. In sit amet viverra nisi, in ultrices metus. Nullam accumsan sit amet tellus at facilisis. Praesent luctus eros ut dui tristique mollis.<br>Aliquam dignissim laoreet odio, id tempus enim egestas a. Cras rutrum b</p>'
                    }
                ]
            }
        ]).mt-30
    +consultation({
        bg: 'images/consultation-bg.jpg',
        title: 'ЗАДАТЬ ВОПРОС',
        titleClass: 'h3 text-center extrabold',
        btnTxt: 'ЗАДАТЬ ВОПРОС',
    })#consultation
    +subscriptionBlock()
block scripts

