extends base/base.pug
append vars
  - var pageUrl = 'group-schedule.html';
  - var pageTitle = 'Расписание группы 195 ПТ';
block content
  .main.bg-gray
    +breadcrumbs(pageTitle, "Расписание")
    .container
      +schedule({
          title: 'Расписание группы 195 ПТ',
          list: [
              {
                  month: 'Ноябрь’19',
                  dates: [
                      {
                          date: '30 ноября',
                          day: 'Понедельник',
                          lessons: [
                              {
                                  ttl: 'ЗАЧЕТЫ «АЭРОБИКА» И «СТЕП».',
                                  teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                  ],
                                  places: 'Banana Gym (тренажерный зал)',
                                  group: '199 ПТ, подгруппа 2',
                                  time: '08:30 - 13:00'

                              },
                              {
                                  ttl: 'ЗАЧЕТ "УПРАЖНЕНИЯ С ОТЯГОЩЕНИЯМИ"',
                                  teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                  ],
                                  places: 'Banana Gym (тренажерный зал)',
                                  group: '199 ПТ, подгруппа 2',
                                  time: '08:30 - 13:00'

                              },
                              {
                                  ttl: 'ЗАЧЕТ "ОБУЧЕНИЕ ДВИГАТЕЛЬНЫМ ДЕЙСТВИЯМ"',
                                  teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна'
                                  ],
                                  places: 'Banana Gym (тренажерный зал)',
                                  group: '199 ПТ, подгруппа 2',
                                  time: '08:30 - 13:00'

                              },
                              {
                                  ttl: 'ЗАЧЕТ "УПРАЖНЕНИЯ С ОТЯГОЩЕНИЯМИ"',
                                  teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                  ],
                                  places: 'Banana Gym (тренажерный зал)',
                                  group: '199 ПТ, подгруппа 2',
                                  time: '08:30 - 13:00'

                              },
                              {
                                  ttl: 'ЗАЧЕТ "ОБУЧЕНИЕ ДВИГАТЕЛЬНЫМ ДЕЙСТВИЯМ"',
                                  teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат'
                                  ],
                                  places: 'Banana Gym (тренажерный зал)',
                                  group: '199 ПТ, подгруппа 2',
                                  time: '08:30 - 13:00'

                              }
                          ]
                      },
                      {
                          date: '01 декабря',
                          day: 'Понедельник',
                          lessons: [
                              {
                                  ttl: 'ЗАЧЕТЫ «АЭРОБИКА» И «СТЕП».',
                                  teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                  ],
                                  places: 'Banana Gym (тренажерный зал)',
                                  group: '199 ПТ, подгруппа 2',
                                  time: '08:30 - 13:00'

                              },
                              {
                                  ttl: 'ЗАЧЕТ "УПРАЖНЕНИЯ С ОТЯГОЩЕНИЯМИ"',
                                  teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                  ],
                                  places: 'Banana Gym (тренажерный зал)',
                                  group: '199 ПТ, подгруппа 2',
                                  time: '08:30 - 13:00'

                              },
                              {
                                  ttl: 'ЗАЧЕТ "ОБУЧЕНИЕ ДВИГАТЕЛЬНЫМ ДЕЙСТВИЯМ"',
                                  teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат'
                                  ],
                                  places: 'Banana Gym (тренажерный зал)',
                                  group: '199 ПТ, подгруппа 2',
                                  time: '08:30 - 13:00'

                              },
                              {
                                  ttl: 'ЗАЧЕТ "УПРАЖНЕНИЯ С ОТЯГОЩЕНИЯМИ"',
                                  teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                  ],
                                  places: 'Banana Gym (тренажерный зал)',
                                  group: '199 ПТ, подгруппа 2',
                                  time: '08:30 - 13:00'

                              },
                              {
                                  ttl: 'ЗАЧЕТ "ОБУЧЕНИЕ ДВИГАТЕЛЬНЫМ ДЕЙСТВИЯМ"',
                                  teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат'
                                  ],
                                  places: 'Banana Gym (тренажерный зал)',
                                  group: '199 ПТ, подгруппа 2',
                                  time: '08:30 - 13:00'

                              }
                          ]
                      }
                  ]
              }
          ]
      })
    +popularQuestion({
        title: 'Популярные вопросы',
        titleClass: 'text-center extrabold text-left-xs text-left-xxs',
        tabs: [
            {
                url: 'question-tab1',
                ttl: 'Как проходит очное обучение',
                txt: 'Иногородним слушателям, желающим пройти ОЧНОЕ обучение в Москве, рекомендуем выслать электронным письмом заявку в свободной форме с указанием ФИО, контактного телефона, адреса прописки, названия программы и номера группы, в которой хотите проходить обучение, а также копию документа о полной оплате выбранного курса. Выделять полной оплате... '
            },
            {
                url: 'question-tab2',
                ttl: 'Как проходит дистанционное обучение',
                txt: 'Иногородним слушателям, желающим пройти ОЧНОЕ обучение в Москве, рекомендуем выслать электронным письмом заявку в свободной форме с указанием ФИО, контактного телефона, адреса прописки, названия программы и номера группы, в которой хотите проходить обучение, а также копию документа о полной оплате выбранного курса. Выделять полной оплате... '
            },
            {
                url: 'question-tab3',
                ttl: 'Какую программу обучения выбрать',
                txt: 'Иногородним слушателям, желающим пройти ОЧНОЕ обучение в Москве, рекомендуем выслать электронным письмом заявку в свободной форме с указанием ФИО, контактного телефона, адреса прописки, названия программы и номера группы, в которой хотите проходить обучение, а также копию документа о полной оплате выбранного курса. Выделять полной оплате... '
            },
            {
                url: 'question-tab4',
                ttl: 'Рассрочка',
                txt: 'Иногородним слушателям, желающим пройти ОЧНОЕ обучение в Москве, рекомендуем выслать электронным письмом заявку в свободной форме с указанием ФИО, контактного телефона, адреса прописки, названия программы и номера группы, в которой хотите проходить обучение, а также копию документа о полной оплате выбранного курса. Выделять полной оплате... '
            }
        ]
    })

    +subscriptionBlock()



block scripts

