extends base/base.pug
append vars
  - var pageUrl = 'guide.html';
  - var pageTitle = 'Гид по карьере';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/guide-page-banner.jpg',
        breadcrumbs: 'Гид по карьере',
        inClass: 'text-center',
        title: 'Гид по карьере',
    }).page-banner-small
    +navAnchore([
        {url: '#anchore1', ttl: 'уровень 1'},
        {url: '#anchore2', ttl: 'уровень 2'},
        {url: '#anchore3', ttl: 'уровень 3'},
    ]).hidden-xxs.hidden-xs.nav-anchors-big.nav-anchors-equal.nav-anchors-three(data-paretnt=".main")
    .section-container.bg-white
      .container
        +postPreview({
            pict: 'images/post-preview.jpg',
            title: 'Из офиса в тренеры. Пошаговая инструкция',
            titleClass: 'h5 extrabold',
            desc: 'Ежегодно в разных странах опрашивают людей в возрасте 70-90 лет, о чем они больше всего сожалеют в конце жизни и составляют «Рейтинги Сожалений». На первом месте сожаление о том, что большая часть жизни была отдана нелюбимой работе. Также в топ 5 входит страх перед выходом из зоны комфорта и возможностью изменить свою жизнь в лучшую сторону.',
            btn: 'Читать дальше'
          })
    +anonsList({
        items: [
            {
                id: 'anchore1',
                pict: 'images/anons1.jpg',
                top: '<span class="bg-red">Уровень 1</span> <span class="upper">Старт карьеры</span>',
                title: 'Планируете карьеру в фитнес-индустрии? Начните отсюда',
                desc: 'Вы на пороге принятия важного решения — начала своей карьеры. Фитнес-индустрия сегодня — отличный выбор, вы не ошиблись. Зайдите в этот раздел и узнайте...',
                btn: 'Читать'
            },
            {
                id: 'anchore2',
                pict: 'images/anons7.jpg',
                top: '<span class="bg-red">Уровень 2</span> <span class="upper"> начало деятельности</span>',
                title: 'Сертификат получен. <br> А что дальше?',
                desc: 'На руках долгожданный диплом или сертификат. Может быть, даже с «пятерками». Но это не означает, что вы можете назвать себя инструктором — тем более востребованным. ',
                btn: 'Читать'
            },
            {
                id: 'anchore3',
                pict: 'images/anons8.jpg',
                top: '<span class="bg-red">Уровень 3</span> <span class="upper">уже в профессии</span>',
                title: 'Вы состоялись как специалист, работа по душе. Осторожно!',
                desc: 'Вы — в обойме сертифицированных специалистов, востребованы и работа вам по душе. Осторожно! Крайности в любом деле приводят к отрицательным результатам – даже в горении на рабочем месте. ...соблюсти разумную середину, уметь отстоять свои интересы и добиться успеха, читайте в этом разделе.',
                btn: 'Читать'
            }
        ]
    }).block-shadow-inset.section-anons-reverse.bg-white
    +subscriptionBlock()
block scripts

