extends base/base.pug
append vars
  - var pageUrl = 'guide.html';
  - var pageTitle = 'Гид по карьере';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/guide-step-page-banner.jpg',
        breadcrumbs: 'Гид по карьере',
        inClass: 'text-center',
        title: 'Уровень 1. Старт карьеры',
        txt: 'Вы на пороге принятия важного решения — начала своей карьеры. Фитнес-индустрия сегодня — отличный выбор, вы не ошиблись. Зайдите в этот раздел и узнайте, как правильно сделать первый шаг.'
    })
    +anonsList({
        items: [
            {
                id: 'anchore1',
                pict: 'images/anons1.jpg',
                title: 'Как спланировать свою  карьеру в фитнесе: мыслим стратегически',
                desc: 'Вы на пороге принятия важного решения — начала своей карьеры. Фитнес-индустрия сегодня — отличный выбор, вы не ошиблись. Зайдите в этот раздел и узнайте...',
                btn: 'Читать'
            },
            {
                id: 'anchore2',
                pict: 'images/anons7.jpg',
                title: 'Планирование карьеры:  от инструктора до генерального директора',
                desc: 'На руках долгожданный диплом или сертификат. Может быть, даже с «пятерками». Но это не означает, что вы можете назвать себя инструктором — тем более востребованным. ',
                btn: 'Читать'
            },
            {
                id: 'anchore3',
                pict: 'images/anons8.jpg',
                title: 'Курсы фитнес-инструкторов.  Инструкция по применению',
                desc: 'Вы — в обойме сертифицированных специалистов, востребованы и работа вам по душе. Осторожно! Крайности в любом деле приводят к отрицательным результатам – даже в горении на рабочем месте. ...соблюсти разумную середину, уметь отстоять свои интересы и добиться успеха, читайте в этом разделе.',
                btn: 'Читать'
            },
            {
                id: 'anchore1',
                pict: 'images/anons1.jpg',
                title: 'Как спланировать свою  карьеру в фитнесе: мыслим стратегически',
                desc: 'Вы на пороге принятия важного решения — начала своей карьеры. Фитнес-индустрия сегодня — отличный выбор, вы не ошиблись. Зайдите в этот раздел и узнайте...',
                btn: 'Читать'
            },
            {
                id: 'anchore2',
                pict: 'images/anons7.jpg',
                title: 'Планирование карьеры:  от инструктора до генерального директора',
                desc: 'На руках долгожданный диплом или сертификат. Может быть, даже с «пятерками». Но это не означает, что вы можете назвать себя инструктором — тем более востребованным. ',
                btn: 'Читать'
            },
            {
                id: 'anchore3',
                pict: 'images/anons8.jpg',
                title: 'Курсы фитнес-инструкторов.  Инструкция по применению',
                desc: 'Вы — в обойме сертифицированных специалистов, востребованы и работа вам по душе. Осторожно! Крайности в любом деле приводят к отрицательным результатам – даже в горении на рабочем месте. ...соблюсти разумную середину, уметь отстоять свои интересы и добиться успеха, читайте в этом разделе.',
                btn: 'Читать'
            }
        ]
    }).block-shadow-inset
    .container
      +subscribe({
          title: 'Будьте в курсе событий',
          txt: 'Получайте уникальные предложения и информацию о специализированных программах, семинарах, бесплатных вебинарах и многом другом.',
          footnote: 'Отправляя форму, я даю согласие на <a href="#">обработку персональных данных</a>'
      })
    +library({
      title: 'Библиотека',
      titleClass: 'text-center extrabold text-left-xs text-left-xxs',
      tabs: [
          {
              url: 'library-tab1',
              ttl: 'Питание',
              carousel: [
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Старт продаж!',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                  },
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                  },
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                  },
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                  },
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                  },
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                  },
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                  }
              ]

          },
          {
              url: 'library-tab2',
              ttl: 'Тренировки',
              carousel: [
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict: {
                                  pict: 'images/library-mobile.jpg', lazy: true,
                                  picts: [
                                      {
                                          pict: 'images/library2.jpg',
                                          media: '(min-width: 768px)'
                                      }
                                  ]
                              }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Старт продаж!',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }

                          }
                      ]
                  },
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                  }
              ]

          },
          {
              url: 'library-tab3',
              ttl: 'Реабилитация',
              carousel: [
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Старт продаж!',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                  },
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict: {
                                  pict: 'images/library-mobile.jpg', lazy: true,
                                  picts: [
                                      {
                                          pict: 'images/library1.jpg',
                                          media: '(min-width: 768px)'
                                      }
                                  ]
                              }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                  }
              ]

          },
          {
              url: 'library-tab4',
              ttl: 'Бизнес',
              carousel: [
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict: {
                                  pict: 'images/library-mobile.jpg', lazy: true,
                                  picts: [
                                      {
                                          pict: 'images/library2.jpg',
                                          media: '(min-width: 768px)'
                                      }
                                  ]
                              }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Старт продаж!',
                              pict: {
                                  pict: 'images/library-mobile.jpg', lazy: true,
                                  picts: [
                                      {
                                          pict: 'images/library1.jpg',
                                          media: '(min-width: 768px)'
                                      }
                                  ]
                              }
                          }
                      ]
                  },
                  {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict: {
                                  pict: 'images/library-mobile.jpg', lazy: true,
                                  picts: [
                                      {
                                          pict: 'images/library1.jpg',
                                          media: '(min-width: 768px)'
                                      }
                                  ]
                              }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict: {
                                  pict: 'images/library-mobile.jpg', lazy: true,
                                  picts: [
                                      {
                                          pict: 'images/library2.jpg',
                                          media: '(min-width: 768px)'
                                      }
                                  ]
                              }
                          }
                      ]
                  }
              ]

          }
      ]
  })
    +subscriptionBlock()
block scripts

