extends base/base.pug
append vars
  - var pageUrl = 'history.html';
  - var pageTitle = 'История успеха';
block content
  .main.bg-gray

    +breadcrumbs('История успеха')
    .container
      .page-title.extrabold.text-center-xs.text-center-xxs
        h1=pageTitle
      .section-container.section-histroy
        +histroryList([
            {
                blockquote: ' В фитнес я пришла очень поздно. Сейчас мне 37 лет, а в фитнес я пришла в 32 года, причем как клиент: весила более 85 кг и решила, что пора заняться собой. Как положено человеку с сидячим образом жизни, имела больную спину и вес ...',
                ava: 'images/ava.jpg',
                views: '350',
                username: 'Эльмира Чеснокова ',
                post: 'Эльмира Чеснокова – сертифицированный FPA Персональный тренер по бодибилдингу и фитнесу (2016) ...'

            },
            {
                blockquote: ' Я пришла устраиваться на работу в зал как начинающий специалист, без опыта, но с «корочкой» тренера (сертификат NASM). Пришла в клуб с младенцем - это же и должно быть, так думала я в то время. Теперь я понимаю, что',
                ava: 'images/ava.jpg',
                views: '350',
                username: 'Виктория Боровская',
                post: 'Эльмира Чеснокова – сертифицированный FPA Персональный тренер по бодибилдингу и фитнесу (2016) ...'

            },
            {
                blockquote: ' В фитнес я пришла очень поздно. Сейчас мне 37 лет, а в фитнес я пришла в 32 года, причем как клиент: весила более 85 кг и решила, что пора заняться собой.',
                ava: 'images/ava.jpg',
                views: '350',
                username: 'Эльмира Чеснокова ',
                post: 'Эльмира Чеснокова – сертифицированный FPA Персональный тренер по бодибилдингу и фитнесу (2016) ...'

            },
            {
                blockquote: ' Я пришла устраиваться на работу в зал как начинающий специалист, без опыта, но с «корочкой» тренера (сертификат NASM). Пришла в клуб с младенцем - это же и должно быть, так думала я в то время. Теперь я понимаю, что',
                ava: 'images/ava.jpg',
                views: '350',
                username: 'Виктория Боровская',
                post: 'Эльмира Чеснокова – сертифицированный FPA Персональный тренер по бодибилдингу и фитнесу (2016) ...'

            },
            {
                blockquote: ' В фитнес я пришла очень поздно. Сейчас мне 37 лет, а в фитнес я пришла в 32 года, причем как клиент: весила более 85 кг и решила, что пора заняться собой. Как положено человеку с сидячим образом жизни, имела больную спину и вес ...',
                ava: 'images/ava.jpg',
                views: '350',
                username: 'Эльмира Чеснокова ',
                post: 'Эльмира Чеснокова – сертифицированный FPA Персональный тренер по бодибилдингу и фитнесу (2016) ...'

            },
            {
                blockquote: ' Я пришла устраиваться на работу в зал как начинающий специалист, без опыта, но с «корочкой» тренера (сертификат NASM). Пришла в клуб с младенцем - это же и должно быть, так думала я в то время. Теперь я понимаю, что',
                ava: 'images/ava.jpg',
                views: '350',
                username: 'Виктория Боровская',
                post: 'Эльмира Чеснокова – сертифицированный FPA Персональный тренер по бодибилдингу и фитнесу (2016) ...'

            }
        ])
        +subscribe({
            title: 'Будьте в курсе событий',
            txt: 'Получайте уникальные предложения и информацию о специализированных программах, семинарах, бесплатных вебинарах и многом другом.',
            footnote: 'Отправляя форму, я даю согласие на <a href="#">обработку персональных данных</a>'
        })
        +histroryList([
            {
                blockquote: ' В фитнес я пришла очень поздно. Сейчас мне 37 лет, а в фитнес я пришла в 32 года, причем как клиент: весила более 85 кг и решила, что пора заняться собой. Как положено человеку с сидячим образом жизни, имела больную спину и вес ...',
                ava: 'images/ava.jpg',
                views: '350',
                username: 'Эльмира Чеснокова ',
                post: 'Эльмира Чеснокова – сертифицированный FPA Персональный тренер по бодибилдингу и фитнесу (2016) ...'

            },
            {
                blockquote: ' Я пришла устраиваться на работу в зал как начинающий специалист, без опыта, но с «корочкой» тренера (сертификат NASM). Пришла в клуб с младенцем - это же и должно быть, так думала я в то время. Теперь я понимаю, что',
                ava: 'images/ava.jpg',
                views: '350',
                username: 'Виктория Боровская',
                post: 'Эльмира Чеснокова – сертифицированный FPA Персональный тренер по бодибилдингу и фитнесу (2016) ...'

            },
            {
                blockquote: ' В фитнес я пришла очень поздно. Сейчас мне 37 лет, а в фитнес я пришла в 32 года, причем как клиент: весила более 85 кг и решила, что пора заняться собой. Как положено человеку с сидячим образом жизни, имела больную спину и вес ...',
                ava: 'images/ava.jpg',
                views: '350',
                username: 'Эльмира Чеснокова ',
                post: 'Эльмира Чеснокова – сертифицированный FPA Персональный тренер по бодибилдингу и фитнесу (2016) ...'

            },
            {
                blockquote: ' Я пришла устраиваться на работу в зал как начинающий специалист, без опыта, но с «корочкой» тренера (сертификат NASM). Пришла в клуб с младенцем - это же и должно быть, так думала я в то время. Теперь я понимаю, что',
                ava: 'images/ava.jpg',
                views: '350',
                username: 'Виктория Боровская',
                post: 'Эльмира Чеснокова – сертифицированный FPA Персональный тренер по бодибилдингу и фитнесу (2016) ...'

            }
        ])
        +pagination()
    +subscriptionBlock()
block scripts

