extends base/base.pug
append vars
  - var pageUrl = 'index.html';
  - var pageTitle = 'Структура сайта';
block content
  .container
    h1.title-border Страницы
    +olListLink([
        {ttl: 'Главная страница', url: 'main.html', target: '_blank'},
        {ttl: 'Курсы (раздел)', url: 'courses.html', target: '_blank'},
        {ttl: 'Курс (детальная)', url: 'course-landig.html', target: '_blank'},
        {ttl: 'Семинары (раздел)', url: 'seminars.html', target: '_blank'},
        {ttl: 'Семинар (детальная)', url: 'seminars-landig.html', target: '_blank'},
        {ttl: 'ШУ курсы (раздел)', url: 'school-management.html', target: '_blank'},
        {ttl: 'ШУ семинары (раздел)', url: 'school-management-seminars.html', target: '_blank'},
        {ttl: 'ШУ курс  (детальная)', url: 'school-management-course.html', target: '_blank'},
        {ttl: 'ШУ семинар (детальная)', url: 'school-management-seminar.html', target: '_blank'},
        {ttl: 'Расписание', url: 'schedule.html', target: '_blank'},
        {ttl: 'Расписание группы 195 ПТ без баннера', url: 'group-schedule-no-banner.html', target: '_blank'},
        {ttl: 'Расписание группы 195 ПТ с баннером', url: 'group-schedule.html', target: '_blank'},
        {ttl: 'Преподаватели (раздел)', url: 'teachers.html', target: '_blank'},
        {ttl: 'Преподаватели (детальная)', url: 'teacher.html', target: '_blank'},
        {ttl: 'Онлайн-библиотека (раздел)', url: 'blog.html', target: '_blank'},
        {ttl: 'Онлайн-библиотека (детальная)', url: 'blog-detail.html', target: '_blank'},
        {ttl: 'История успеха (раздел)', url: 'histry.html', target: '_blank'},
        {ttl: 'История успеха (детальная)', url: 'history-detail.html', target: '_blank'},
        {ttl: 'Об ассоциации', url: 'about.html', target: '_blank'},
        {ttl: 'Гид по карьере', url: 'guide.html', target: '_blank'},
        {ttl: 'Гид по карьере (детальная)', url: 'guide-detail2.html', target: '_blank'},
        {ttl: 'Гид по карьере (Шаг)', url: 'guide-step.html', target: '_blank'},
        {ttl: 'Открыть фитнес', url: 'open.html', target: '_blank'},
        {ttl: 'Открыть фитнес (детальная)', url: 'open-detail.html', target: '_blank'},
        {ttl: 'Калашников Дмитрий Геннадьевич', url: 'kalashnikov.html', target: '_blank'},
        {ttl: '3D анатомия', url: 'anatomiya-3d.html', target: '_blank'},
        {ttl: 'Оплата', url: 'payment.html', target: '_blank'},
        {ttl: 'Контакты', url: 'contacts.html', target: '_blank'},
        {ttl: 'Аккредитация', url: 'accreditation.html', target: '_blank'},
        {ttl: 'Сведения об образовательной деятельности', url: 'information.html', target: '_blank'},
        {ttl: 'Вопросы и ответы', url: 'faq.html', target: '_blank'},
        {ttl: 'Партнёры', url: 'partners.html', target: '_blank'},
        {ttl: 'Кадровый центр', url: 'personnel-center.html', target: '_blank'},
        {ttl: 'Работодателям', url: 'employers.html', target: '_blank'},
        {ttl: 'Соискателям', url: 'applicants.html', target: '_blank'},
        {ttl: 'Тариф (детальная)', url: 'tariff.html', target: '_blank'},
        {ttl: 'Резюме (Раздел)', url: 'summary-section.html', target: '_blank'},
        {ttl: 'Резюме (детальная)', url: 'summary.html', target: '_blank'},
        {ttl: 'Вакансия (Раздел)', url: 'vacancy-section.html', target: '_blank'},
        {ttl: 'Вакансия (детальная)', url: 'vacancy.html', target: '_blank'},
        {ttl: 'Результаты поиска', url: 'search-result.html', target: '_blank'},
        {ttl: '404', url: '404.html', target: '_blank'},
    ])
    br
    br
    br
    .blockquote-box.text-red
      .icon-wrap
        +svg('quotation')
      .txt.font-small-xs.font-small-xxs
        | В фитнес я пришла очень поздно. Сейчас мне 37 лет, а в фитнес я пришла в 32 года, причем как клиент: весила более 85 кг и решила, что пора заняться собой. Как положено человеку с сидячим образом жизни, имела больную спину и вес ...
    br
    br
    br
    .blockquote-box
      .icon-wrap
        svg.icon.icon_quotation
          use(xlink:href='images/sprite-svg.svg#quotation')
      .txt.font-small-xs.font-small-xxs
        | В фитнес я пришла очень поздно. Сейчас мне 37 лет, а в фитнес я пришла в 32 года, причем как клиент: весила более 85 кг и решила, что пора заняться собой. Как положено человеку с сидячим образом жизни, имела больную спину и вес ...
    br
    h1.title-border Сетка
    p Стандартная бустраповская сетка, 12 колоночная, только добавлено еще одно расширение
    p Префиксы, в дальнейшем адаптация идет по этим контрольным точкам:
    p >1200 lg
    p 1200 < md >992
    p 992< sm >768
    p 768< xs > 480
    p xxs > 480
    .row
      .col-md-1.col-xxs-12(style="border: 1px solid;") 1
      .col-md-1.col-xxs-12(style="border: 1px solid;") 2
      .col-md-1.col-xxs-12(style="border: 1px solid;") 3
      .col-md-1.col-xxs-12(style="border: 1px solid;") 4
      .col-md-1.col-xxs-12(style="border: 1px solid;") 5
      .col-md-1.col-xxs-12(style="border: 1px solid;") 6
      .col-md-1.col-xxs-12(style="border: 1px solid;") 7
      .col-md-1.col-xxs-12(style="border: 1px solid;") 8
      .col-md-1.col-xxs-12(style="border: 1px solid;") 9
      .col-md-1.col-xxs-12(style="border: 1px solid;") 10
      .col-md-1.col-xxs-12(style="border: 1px solid;") 11
      .col-md-1.col-xxs-12(style="border: 1px solid;") 12
    h1.title-border Тени
    div(style="width: 200px;height: 100px;margin: 0 0 15px;").shadow shadow
    div(style="width: 200px;height: 100px;margin: 0 0 15px;").shadow2 shadow2
    div(style="width: 200px;height: 100px;margin: 0 0 15px;").shadow3 shadow3
    div(style="width: 200px;height: 100px;margin: 0 0 15px;").shadow-red shadow-red
    h1.title-border Типографика
    h2 Заголовки
    h1 Заголовок h1, .h1
    h2 Заголовок h2, .h2
    h3 Заголовок h3, .h3
    h4 Заголовок h4, .h4
    h5 Заголовок h5, .h5
    h6 Заголовок h6, .h6
    h1.title-border Текст
    .base font-size: 16px; line-heigth:
      = 26/16*100
      ='%'
    .light light
    div normal
    .medium medium
    .semibold semibold
    .bold bold
    .extrabold extrabold
    .upper upper
    .text-left   text-left
    .text-center  text-center
    .text-right text-right

    h1.title-border Кнопки
    h3 Таги
    +tagsBlock({
        title: 'Другие статьи по темам:',
        lines: [
            {
                ttl: 'Тренировки',
                tags: ['Фитнес', 'Силовые тренировки']
            },
            {
                ttl: 'Карьера',
                tags: ['Фитнес']
            }
        ]
    })
    h3 Социальные
    +menu([
        {url: '#', target: '_blank', icon: 'insta'},
        {url: '#', target: '_blank', icon: 'youtobe'},
        {url: '#', target: '_blank', icon: 'vk'},
        {url: '#', target: '_blank', icon: 'fb'},
    ]).social-box
    ul.social-box
      li
        button(disabled)
          svg.icon.icon_insta
            use(xlink:href='images/sprite-svg.svg#insta')
      li
        button(disabled)
          svg.icon.icon_youtobe
            use(xlink:href='images/sprite-svg.svg#youtobe')
      li
        button(disabled)
          svg.icon.icon_vk
            use(xlink:href='images/sprite-svg.svg#vk')
      li
        button(disabled)
          svg.icon.icon_fb
            use(xlink:href='images/sprite-svg.svg#fb')
    br
    br
    a(href="#").btn.btn-xs button xs
    a(href="#" disabled).btn.btn-xs disabled xs
    br
    br
    a(href="#").btn.btn-border.btn-xs button xs
    a(href="#" disabled).btn.btn-border.btn-xs disabled xs
    br
    br
    a(href="#").btn.btn-border.border-red.btn-xs button xs
    a(href="#" disabled).btn.btn-border.border-red.btn-xs disabled xs
    br
    br
    a(href="#").btn.btn-gray.btn-xs button xs
    a(href="#" disabled).btn.btn-gray.btn-xs disabled xs
    br
    br
    a(href="#").btn.btn-white.btn-xs button white xs
    a(href="#" disabled).btn.btn-white.btn-xs white  disabled xs
    br
    br
    a(href="#").btn button xs
    a(href="#" disabled).btn disabled xs
    br
    br
    a(href="#").btn.btn-border button xs
    a(href="#" disabled).btn.btn-border disabled xs
    br
    br
    a(href="#").btn.btn-gray button xs
    a(href="#" disabled).btn.btn-gray disabled xs
    br
    br
    a(href="#").btn.btn-white button white xs
    a(href="#" disabled).btn.btn-white white  disabled xs
    br
    br
    h1.title-border Элементы форм
    .form-group
      +radio({
          lbl: 'radio',
          name: 'radio-group1'
      })
      +radio({
          lbl: 'radio',
          name: 'radio-group1'
      })
    .form-group
      +radio({
          lbl: 'radio'
      }).error
    .form-group
      +checkbox({
          lbl: 'checkbox'
      })
    .form-group
      +checkbox({
          lbl: 'checkbox'
      }).error
    label.form-lbl  form-lbl
    .form-group
      input(type="text" name="" placeholder="inp-gray").form-control.inp-gray
    .form-group
      input(type="text" name="" placeholder="border-white").form-control

    .form-group
      input(type="text" name="" placeholder="form-control").form-control
    .form-group
      input(type="text" name="" placeholder="form-control input-xs").form-control.input-xs
    .form-group.error
      input(type="text" name="" placeholder="form-control").form-control.error
      .error-message.text-red.font-small Заполните поле телефон
    .form-group
      +select({
          items: ['Программа обучения1', 'Программа обучения2', 'Программа обучения3', 'Программа обучения4', 'Программа обучения5']
      })(placeholder="inp-gray").inp-gray
    .form-group
      +select({
          items: ['Программа обучения1', 'Программа обучения2', 'Программа обучения3', 'Программа обучения4', 'Программа обучения5']
      })(placeholder="Программа обучения").error
    .form-group
      +select({
          items: ['Программа обучения1', 'Программа обучения2', 'Программа обучения3', 'Программа обучения4', 'Программа обучения5']
      })(placeholder="Программа обучения ")
    .form-group
      +select({
          items: ['Программа обучения1 input-xs', 'Программа обучения2', 'Программа обучения3', 'Программа обучения4', 'Программа обучения5']
      })(placeholder="Программа обучения input-xs").input-xs
    h1 Иконки
    mixin iconList(data)
      ul(style="display: flex; flex-flow: row wrap; align-items: center; padding: 0; list-style-type: none;")
        each itm in data
          li(style="padding: 5px;")
            +svg(itm)
    +iconList(['phone','search','round-angle-right','insta','youtobe','vk','fb','burger','close','user','angle-right','angle-left','angle-down','arrow-left','arrow-right','checked','rub', 'purse', 'question', 'datepicker', 'filter', 'filter2', 'clock', 'view-show', 'quotation', 'document-text', 'quotation', 'graduation-cap', 'trophy', 'content_copy', 'questions', 'Telegram', 'telegram-chat'])

block scripts
