extends base/base.pug
append vars
  - var pageUrl = 'information.html';
  - var pageTitle = 'Сведения об образовательной деятельности';
block content
  .main.bg-gray
    +breadcrumbs(pageTitle)
    .container
      .page-title.extrabold.text-center-xs.text-center-xxs
        h1.h5=pageTitle
      .section-container.section-iformation
        +olListLink([
            {linkClass: 'no-border base-color', ttl: 'Основные сведения'},
            {linkClass: 'no-border base-color', ttl: 'Структура и органы управления образовательной организацией'},
            {linkClass: 'no-border base-color', ttl: 'Документы'},
            {linkClass: 'no-border base-color', ttl: 'Образование'},
            {linkClass: 'no-border base-color', ttl: 'Образовательные стандарты'},
            {linkClass: 'no-border base-color', ttl: 'Руководство. Педагогический (научно-педагогический) состав'},
            {linkClass: 'no-border base-color', ttl: 'Материально-техническое обеспечение и оснащенность образовательного процесса'},
            {linkClass: 'no-border base-color', ttl: 'Стипендии и иные виды материальной поддержки'},
            {linkClass: 'no-border base-color', ttl: 'Платные образовательные услуги'},
            {linkClass: 'no-border base-color', ttl: 'Финансово-хозяйственная деятельность'},
            {linkClass: 'no-border base-color', ttl: 'Вакантные места для приема (перевода)'},
        ])

    +subscriptionBlock()

block scripts

