extends base/base.pug
append vars
  - var pageUrl = 'kalashnikov.html';
  - var pageTitle = 'Калашников Дмитрий Геннадьевич';
block content
  .main.bg-gray
    .section-container.page-banner.has-mask-bg(style='background-image: url(images/kalashnikov-bg.jpg);')
      .breadcrumbs.hidden-xxs.hidden-xs
        .container
          ul
            li
              a(href='#') Главная
            li
              a(href='#') Об ассоциации
            li Калашников Дмитрий Геннадьевич
      .container
        .description
          .in.full-width
            .row
              .col-xxs-12.col-md-8
                h1
                  | КАЛАШНИКОВ
                  br
                  | ДМИТРИЙ ГЕННАДИЕВИЧ
                .txt.font-large
                  | Президент и преподаватель FPA, учредитель клуба BANANA GYM, руководитель учебного консалтингового центра, школы управления FPA, сертифицированный ISSA персональный фитнес-тренер
            img(src="images/kalashnikov.png", alt="").pict-abs.visible-lg.visible-md
            +menu([
                {url: '#', target: '_blank', icon: 'insta'},
                {url: '#', target: '_blank', icon: 'vk'},
                {url: '#', target: '_blank', icon: 'fb'},
            ]).social-box


    .container
      +education({
          title: 'Образование и награды',
          titleClass: 'h5 extrabold text-center',
          items: [
              {
                  year: '1981–1986',
                  ttl: 'Московский Инженерно-строительный институт',
                  degree:  'Бакалавриат',
              },
              {
                  year: '2005',
                  ttl: 'Московский Инженерно-строительный институт',
                  degree:  'Аспирантура, кандидат педагогических наук',
              },
              {
                  year: '2012',
                  ttl: 'National Strength and Conditioning Association (NSCA) , США',
                  degree:  'Повышение квалифиикации, программа «Персональный фитнес-тренер»',
              },
              {
                  year: '1998',
                  ttl: 'International Sports Sciences Association (ISSA), США',
                  degree:  'Повышение квалифиикации, программа «Персональный фитнес-тренер»',
              },
              {
                  year: '2012',
                  ttl: 'Московское Городское физкультурно-спортивное объединение',
                  degreeIcon: 'trophy',
                  degree:  'Почетная грамота за заслуги в области образования»',
              },
              {
                  year: '2012',
                  ttl: 'Комитет физической культуры и спорта правительства Москвы',
                  degreeIcon: 'trophy',
                  degree:  'Почетная грамота за заслуги в области образования»',
              }
          ]
      })
    .consultation-container.has-mask-bg(style="background-image: url(images/consultation-container-bg.jpg);")
      .container
        .row
          .col-xxs-12.col-sm-6.col-consultation.col-consultation-big(style="background-image: url(images/consultation-bg-mobile.jpg);")
            .consultation
              .h6.title.extrabold
                | Получи приглашение
                br
                | на вебинар
              p
                | Дмитрий Геннадиевич Калашников проводит вебинары,
                | на которых в прямом эфире разбирает мифы качалки
                | и рассказывает про последние научные исследования.
                |
              p
                | Введите адрес своей электронной почты и мы
                | пригласим вас на следующий вебинар
              form
                .form-group
                  input(type="email" name="phone" placeholder="Ваш Email" ).form-control.required
                  .error-message.text-red.font-small Заполните поле телефон
                .btn-wrap
                  button.btn.js-validate Подписаться
              .font-small
                | Отправляя форму,  я даю согласие
                | на обработку
                =' '
                a(href="#") персональных данных
          .col-xxs-12.col-sm-6
            .mythes
              .in
                .h6.title.extrabold
                  | Разбор мифов из
                  br
                  | качалки
                .video-resize
                  iframe(width='560', height='315', src='https://www.youtube.com/embed/Ci0J6PPOBLQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')



    +bookCarousel({
        title: 'Учебники под редакцией <br> Дмитрия Геннадиевича Калашникова',
        titleClass: 'h3 extrabold text-center title-border',
        items: [
            {
              pict: 'images/book.png',
                year: '2019 год',
                ttl: 'Основы анатомии,<br> физиологии и биомеханики'
            },
            {
              pict: 'images/book.png',
                year: '2019 год',
                ttl: 'Основы анатомии'
            },
            {
              pict: 'images/book.png',
                year: '2019 год',
                ttl: 'Основы анатомии, физиологии и биомеханики'
            },
            {
              pict: 'images/book.png',
                year: '2019 год',
                ttl: 'Основы анатомии, физиологии и биомеханики'
            },
            {
              pict: 'images/book.png',
                year: '2019 год',
                ttl: 'Основы анатомии, физиологии и биомеханики'
            }
        ]
    })
    +library({
          title: 'Статьи Дмитрия <br> Геннадиевича Калашникова',
          titleClass: 'text-center extrabold text-left-xs text-left-xxs',
          btnAll: 'Все материалы',
          tabs: [
              {
                  url: 'library-tab1',
                  ttl: 'Питание',
                  carousel: [
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Старт продаж!',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      }
                  ]

              }
          ]
      }).bg-white

    +subscriptionBlock()
block scripts

