extends base/base.pug
append vars
  - var pageUrl = 'main.html';
  - var pageTitle = 'Главная';
block content
  .main.bg-white
    .covid19-banner.text-center.block-shadow-inset
      .container
        .font-lg.extrabold.title ФИТНЕС В УСЛОВИЯХ COVID-19
        .txt Актуальная информация и ресурсы от FPA.
          ='   '
          span.text-red
            span.lnk Подробнее
            |...
        a(href="/biblioteka/fitnes-v-usloviyakh-covid-19/").lnk-abs
    .main-banner(style="background-image: url(images/main-banner.jpg);")
      video.bg-video(data-parent='.item', data-ratio='16/9', muted='', autoplay='', loop='')
        source(src='/src/mp3/main-video.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
      .container-middle
        .desc
          .desc-inner.medium-xs.medium-xxs
            h1.title.extrabold
              | Ассоциация
              br
              | Профессионалов
              br
              | Фитнеса
            | Лидер на российском рынке фитнес-
            br.hidden-xs.hidden-xxs
            | образования
            .desc-button.visible-xs.visible-xxs
              a(href="#").btn Выбрать курс
    .container-middle
      +coursesPreview([
          {
              text: 'Курс для фитнес-тренеров',
              title: '«Инструктор тренажерного зала»',
              date: ' 12 марта 2020',
          },
          {
              text: 'Обновленная сертификационная программа FPA',
              title: '«OLD_Инструктор тренажерного зала»',
              date: ' 31 января 2020',
          },
          {
              text: 'Обновленная сертификационная программа FPA',
              title: '«OLD_Инструктор тренажерного зала»',
              date: ' 31 января 2020',
          }
      ])
    .section-container.about-container
      .container-middle
        .row
          .col-sm-6.col-xxs-12
            .title-border.bold.h2 Ассоциация Профессионалов Фитнеса (FPA)
            p
              |Объединение экспертов фитнес-индустрии, специализирующееся в области фитнес-обучения, сертификации, кадрового и фитнес-консалтинга.
            p
              | В сферу деятельности ассоциации входит организация учебных курсов, семинаров, разработка учебных программ, методик и технологий; тестирование и аттестация персонала, помощь в трудоустройстве и подборе сотрудников.
          .col-sm-6.col-xxs-12
            .progress
              .item
                .box
                  .in.text-center
                    img(src="images/progress-pict.png", alt="")
                    .text.extrabold
                      | Европейская
                      br
                      | аккредитация
              .item
                .box
                  .in.text-center
                    .text.extrabold
                      .num.text-red 20
                      div лет
              .item
                .box
                  .in.text-center
                    .text.extrabold
                      .num.text-red 15 000
                      div выпускников
              .item
                a(href="#").more.box
                  .in.text-center
                      +svg('round-angle-right')
                      .extrabold.upper
                        |подробнее

    +programsContainer({
        title: 'Курсы для фитнес-тренеров',
        titleClass: 'text-center extrabold text-left-xs text-left-xxs',
        btnRed: 'Записаться <span class="hiddden-xs hidden-xxs">на курс</span>',
        btnBorder: 'подробнее <span class="hiddden-xs hidden-xxs">о курсе</span>',
        tabs: [
            {
                url: 'tab1',
                type: 'Очное',
                ttl: 'Персональный фитнес-тренер (очное)',
                title: 'Персональный фитнес-тренер',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '22 000'

            },
            {
                url: 'tab2',
                type: 'Дистанционное',
                ttl: 'Персональный фитнес-тренер (дист.)',
                title: 'Персональный фитнес-тренер',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: 'tab3',
                ttl: 'Фитнес-нутрициолог',
                title: 'Фитнес-нутрициолог',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: 'tab4',
                ttl: 'Фитнес-коучинг',
                title: 'Фитнес-коучинг',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: 'tab5',
                type: 'Очное',
                ttl: 'Инструктор групповых программ',
                title: 'Персональный фитнес-тренер',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: '',
                ttl: 'ВСЕ КУРСЫ',
            }
        ]
    }).block-shadow-inset.bg-gray-xxs.bg-gray-xs
    .section-container.schedule-container.has-mask-bg(style="background-image: url(images/schedule-container-bg.jpg);")
      .container-middle
        .title-border.h3.text-center.extrabold.text-left-xs.text-left-xxs Расписание
        form
          .row
            .col-xxs-12.col-sm-6
              .form-group
                +select({
                    items: ['Очень длинное название первогго пункта Программа обучения1', 'Программа обучения2', 'Программа обучения3', 'Программа обучения4', 'Программа обучения5']
                })(placeholder="Программа обучения").border-white.required
            .col-xxs-12.col-sm-6
              .form-group
                +select({
                    items: ['Номер группы1', 'Номер группы2', 'Номер группыя3', 'Номер группы4', 'Номер группы5']
                })(placeholder="Номер группы").border-white.required
          .text-center
            button.btn.js-validate посмотреть
    +programsContainer({
        title: 'Семинары<br>для фитнес-тренеров',
        titleClass: 'text-center extrabold text-left-xs text-left-xxs',
        btnRed: 'Записаться',
        btnBorder: 'подробнее',
        tabs: [
            {
                url: 'tab7',
                ttl: 'Восстановление  двигательной активности ',
                title: 'Восстановление двигательной активности',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '22 000'

            },
            {
                url: 'tab8',
                ttl: 'Функциональное тестирование аппарата',
                title: 'Функциональное  тестирование аппарата',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: 'tab9',
                ttl: 'Особенности фитнес-тренировки',
                title: 'Особенности фитнес-тренировки',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: 'tab10',
                ttl: 'Всё о приседаниях',
                title: 'Всё о приседаниях',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: 'tab11',
                ttl: 'Визуальная оценка осанки',
                title: 'Визуальная оценка  осанки',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: '',
                ttl: 'ВСЕ СЕМИНАРЫ',
            }
        ]
    }).block-shadow-inset.bg-gray-xxs.bg-gray-xs

    .consultation-container.has-mask-bg(style="background-image: url(images/consultation-container-bg.jpg);")
      .container-middle
        .row
          .col-xxs-12.col-sm-6.col-consultation(style="background-image: url(images/consultation-bg-mobile.jpg);")
            .consultation
              .h6.title.extrabold
                | Мы готовы ответить на ваши
                | вопросы
              p  Оставьте свой номер телефона, и наши менеджеры
                | перезвонят вам.
              form
                .form-group
                  input(type="text" name="phone" placeholder="Введите номер телефона" data-mask="+7 (999) 999-99-99").form-control.required
                  .error-message.text-red.font-small Заполните поле телефон
                .btn-wrap
                  button.btn.js-validate Перезвоните мне
              .font-small
                | Отправляя форму,  я даю согласие
                |на обработку
                =' '
                a(href="#") персональных данных
          .col-xxs-12.col-sm-6
            .we-socials
              .in
                .h6.title.extrabold Мы в соцсетях
                .text.hidden-xxs.hidden-xs
                  p
                    | В наших социальных сетях Вы можете
                    | ознакомитьсяс последними новостями,
                    | акциями. Вступайте в сообщества
                    | и будьте в курсе.
                  p
                    | В наших социальных сетях Вы можете
                    | ознакомитьсяс последними новостями,
                    | акциями. Вступайте в сообщества
                    | и будьте в курсе. Вступайте в сообщества
                    | и будьте в курсе.
              ul.social-box
                li
                  a(target='_blank', href='#')
                    .icon-wrap
                      svg.icon.icon_insta
                        use(xlink:href='images/sprite-svg.svg#insta')
                    .ttl.visible-xs.visible-xxs.upper.extrabold instagram
                li
                  a(target='_blank', href='#')
                    .icon-wrap
                      svg.icon.icon_youtobe
                        use(xlink:href='images/sprite-svg.svg#youtobe')
                    .ttl.visible-xs.visible-xxs.upper.extrabold youtube
                li
                  a(target='_blank', href='#')
                    .icon-wrap
                      svg.icon.icon_vk
                        use(xlink:href='images/sprite-svg.svg#vk')
                    .ttl.visible-xs.visible-xxs.upper.extrabold ВКОНТАКТЕ
                li
                  a(target='_blank', href='#')
                    .icon-wrap
                      svg.icon.icon_fb
                        use(xlink:href='images/sprite-svg.svg#fb')
                    .ttl.visible-xs.visible-xxs.upper.extrabold facebook
    mixin reviewsAboutUs(data)
      .section-container.reviews-aboutus&attributes(attributes)
        .container-middle
          .title(class=data.title.class)!=data.title.txt
          .top
            button.arrow-round.slick-prev.hidden-sm.hidden-xs.hidden-xxs
              +svg('angle-left')
            button.arrow-round.slick-next.hidden-sm.hidden-xs.hidden-xxs
              +svg('angle-right')
            .carousel
              each itm in data.items
                .item
                  .box.bg-white
                    .pict
                      img(src=itm.pict, alt="")
                    .ttl!=itm.ttl
          .btm
            .carousel
              each itm in data.items
                .item
                  .blockquote-box.text-red
                    .icon-wrap
                      svg.icon.icon_quotation
                        use(xlink:href='images/sprite-svg.svg#quotation')
                    .txt
                      .user
                        .ava
                          img(src="images/ava10.jpg", alt="")
                        .info
                          .username.bold.h6!=itm.user
                          .userpost.bold!=itm.userpost
                      .desc!=itm.desc

    +reviewsAboutUs({
      title: {
        txt: 'Работодатели о нас',
        class: 'h3 title-border text-center extrabold text-left-xs text-left-xxs'
      },
      items: [
        {
          pict: 'images/partner1.jpg',
          ttl: 'Австралия',
          user: 'Ольга Киселева',
          userpost: 'Руководитель сети World Gym в России, президент Ассоциации \n' +
            'операторов фитнес-индустрии',
          desc: '<p>С каждым годом все более важным становится уровень профессионализма тренерского состава: это связано и с ростом требований клиентов к качеству оказываемых услуг, и с пониманием собственников фитнес-клубов своей ответственности за безопасность клиентов, и в связи с последними изменениями в законодательстве – обязательности профессиональных стандартов в фитнесе.</p><p>Ассоциация профессионалов фитнеса – одна из ведущих образовательных структур отрасли с огромным опытом работы, с которой World Gym Russia сотрудничает более 15 лет. Выпускники FPA успешно работают во многих клубах сети World Gym в России. Ассоциация профессионалов фитнеса является для нас гарантией качественного образования, при приеме на работу выпускников этой школы мы уверены в уровне их знаний и навыков.</p>'
        },
        {
          pict: 'images/partner2.jpg',
          ttl: 'Бельгия',
          user: 'Ольга Киселева',
          userpost: 'Руководитель сети World Gym в России, президент Ассоциации \n' +
            'операторов фитнес-индустрии',
          desc: '<p>С каждым годом все более важным становится уровень профессионализма тренерского состава: это связано и с ростом требований клиентов к качеству оказываемых услуг, и с пониманием собственников фитнес-клубов своей ответственности за безопасность клиентов, и в связи с последними изменениями в законодательстве – обязательности профессиональных стандартов в фитнесе.</p><p>Ассоциация профессионалов фитнеса – одна из ведущих образовательных структур отрасли с огромным опытом работы, с которой World Gym Russia сотрудничает более 15 лет. Выпускники FPA успешно работают во многих клубах сети World Gym в России. Ассоциация профессионалов фитнеса является для нас гарантией качественного образования, при приеме на работу выпускников этой школы мы уверены в уровне их знаний и навыков.</p>'
        },
        {
          pict: 'images/partner4.jpg',
          ttl: 'Венгрия',
          user: 'Ольга Киселева',
          userpost: 'Руководитель сети World Gym в России, президент Ассоциации \n' +
            'операторов фитнес-индустрии',
          desc: '<p>С каждым годом все более важным становится уровень профессионализма тренерского состава: это связано и с ростом требований клиентов к качеству оказываемых услуг, и с пониманием собственников фитнес-клубов своей ответственности за безопасность клиентов, и в связи с последними изменениями в законодательстве – обязательности профессиональных стандартов в фитнесе.</p><p>Ассоциация профессионалов фитнеса – одна из ведущих образовательных структур отрасли с огромным опытом работы, с которой World Gym Russia сотрудничает более 15 лет. Выпускники FPA успешно работают во многих клубах сети World Gym в России. Ассоциация профессионалов фитнеса является для нас гарантией качественного образования, при приеме на работу выпускников этой школы мы уверены в уровне их знаний и навыков.</p>'
        },
        {
          pict: 'images/partner5.jpg',
          ttl: 'Ирландия',
          user: 'Ольга Киселева',
          userpost: 'Руководитель сети World Gym в России, президент Ассоциации \n' +
            'операторов фитнес-индустрии',
          desc: '<p>С каждым годом все более важным становится уровень профессионализма тренерского состава: это связано и с ростом требований клиентов к качеству оказываемых услуг, и с пониманием собственников фитнес-клубов своей ответственности за безопасность клиентов, и в связи с последними изменениями в законодательстве – обязательности профессиональных стандартов в фитнесе.</p><p>Ассоциация профессионалов фитнеса – одна из ведущих образовательных структур отрасли с огромным опытом работы, с которой World Gym Russia сотрудничает более 15 лет. Выпускники FPA успешно работают во многих клубах сети World Gym в России. Ассоциация профессионалов фитнеса является для нас гарантией качественного образования, при приеме на работу выпускников этой школы мы уверены в уровне их знаний и навыков.</p>'
        },
        {
          pict: 'images/IREPS_logo.jpg',
          ttl: 'Индия',
          user: 'Ольга Киселева',
          userpost: 'Руководитель сети World Gym в России, президент Ассоциации \n' +
            'операторов фитнес-индустрии',
          desc: '<p>С каждым годом все более важным становится уровень профессионализма тренерского состава: это связано и с ростом требований клиентов к качеству оказываемых услуг, и с пониманием собственников фитнес-клубов своей ответственности за безопасность клиентов, и в связи с последними изменениями в законодательстве – обязательности профессиональных стандартов в фитнесе.</p><p>Ассоциация профессионалов фитнеса – одна из ведущих образовательных структур отрасли с огромным опытом работы, с которой World Gym Russia сотрудничает более 15 лет. Выпускники FPA успешно работают во многих клубах сети World Gym в России. Ассоциация профессионалов фитнеса является для нас гарантией качественного образования, при приеме на работу выпускников этой школы мы уверены в уровне их знаний и навыков.</p>'
        },
        {
          pict: 'images/partner6.jpg',
          ttl: 'Литва',
          user: 'Юлия Журавлева',
          userpost: 'Руководитель сети World Gym в России, президент Ассоциации \n' +
            'операторов фитнес-индустрии',
          desc: '<p>С каждым годом все более важным становится уровень профессионализма тренерского состава: это связано и с ростом требований клиентов к качеству оказываемых услуг, и с пониманием собственников фитнес-клубов своей ответственности за безопасность клиентов, и в связи с последними изменениями в законодательстве – обязательности профессиональных стандартов в фитнесе.</p><p>Ассоциация профессионалов фитнеса – одна из ведущих образовательных структур отрасли с огромным опытом работы, с которой World Gym Russia сотрудничает более 15 лет. Выпускники FPA успешно работают во многих клубах сети World Gym в России. Ассоциация профессионалов фитнеса является для нас гарантией качественного образования, при приеме на работу выпускников этой школы мы уверены в уровне их знаний и навыков.</p>'
        },
        {
          pict: 'images/Saudi_REPs.jpg',
          ttl: 'Саудовская Арави',
          user: 'Ольга Киселева',
          userpost: 'Руководитель сети World Gym в России, президент Ассоциации \n' +
            'операторов фитнес-индустрии',
          desc: '<p>С каждым годом все более важным становится уровень профессионализма тренерского состава: это связано и с ростом требований клиентов к качеству оказываемых услуг, и с пониманием собственников фитнес-клубов своей ответственности за безопасность клиентов, и в связи с последними изменениями в законодательстве – обязательности профессиональных стандартов в фитнесе.</p><p>Ассоциация профессионалов фитнеса – одна из ведущих образовательных структур отрасли с огромным опытом работы, с которой World Gym Russia сотрудничает более 15 лет. Выпускники FPA успешно работают во многих клубах сети World Gym в России. Ассоциация профессионалов фитнеса является для нас гарантией качественного образования, при приеме на работу выпускников этой школы мы уверены в уровне их знаний и навыков.</p>'
        },
        {
          pict: 'images/partner10.jpg',
          ttl: 'Соединенное  Королевство'
        },
        {pict: 'images/partner11.jpg',
          ttl: 'Соединенное  Королевство',
          user: 'Ольга Киселева',
          userpost: 'Руководитель сети World Gym в России, президент Ассоциации \n' +
            'операторов фитнес-индустрии',
          desc: '<p>С каждым годом все более важным становится уровень профессионализма тренерского состава: это связано и с ростом требований клиентов к качеству оказываемых услуг, и с пониманием собственников фитнес-клубов своей ответственности за безопасность клиентов, и в связи с последними изменениями в законодательстве – обязательности профессиональных стандартов в фитнесе.</p><p>Ассоциация профессионалов фитнеса – одна из ведущих образовательных структур отрасли с огромным опытом работы, с которой World Gym Russia сотрудничает более 15 лет. Выпускники FPA успешно работают во многих клубах сети World Gym в России. Ассоциация профессионалов фитнеса является для нас гарантией качественного образования, при приеме на работу выпускников этой школы мы уверены в уровне их знаний и навыков.</p>'
        },
        {
          pict: 'images/partner12.jpg',
          ttl: 'Соединенные Штаты Америки',
          user: 'Ольга Киселева',
          userpost: 'Руководитель сети World Gym в России, президент Ассоциации \n' +
            'операторов фитнес-индустрии',
          desc: '<p>С каждым годом все более важным становится уровень профессионализма тренерского состава: это связано и с ростом требований клиентов к качеству оказываемых услуг, и с пониманием собственников фитнес-клубов своей ответственности за безопасность клиентов, и в связи с последними изменениями в законодательстве – обязательности профессиональных стандартов в фитнесе.</p><p>Ассоциация профессионалов фитнеса – одна из ведущих образовательных структур отрасли с огромным опытом работы, с которой World Gym Russia сотрудничает более 15 лет. Выпускники FPA успешно работают во многих клубах сети World Gym в России. Ассоциация профессионалов фитнеса является для нас гарантией качественного образования, при приеме на работу выпускников этой школы мы уверены в уровне их знаний и навыков.</p>'
        },
        {
          pict: 'images/partner8.jpg',
          ttl: 'Турция',
          user: 'Ольга Киселева',
          userpost: 'Руководитель сети World Gym в России, президент Ассоциации \n' +
            'операторов фитнес-индустрии',
          desc: '<p>С каждым годом все более важным становится уровень профессионализма тренерского состава: это связано и с ростом требований клиентов к качеству оказываемых услуг, и с пониманием собственников фитнес-клубов своей ответственности за безопасность клиентов, и в связи с последними изменениями в законодательстве – обязательности профессиональных стандартов в фитнесе.</p><p>Ассоциация профессионалов фитнеса – одна из ведущих образовательных структур отрасли с огромным опытом работы, с которой World Gym Russia сотрудничает более 15 лет. Выпускники FPA успешно работают во многих клубах сети World Gym в России. Ассоциация профессионалов фитнеса является для нас гарантией качественного образования, при приеме на работу выпускников этой школы мы уверены в уровне их знаний и навыков.</p>'
        },
        {
          pict: 'images/partner3.jpg',
          ttl: 'Финляндия',
          user: 'Ольга Киселева',
          userpost: 'Руководитель сети World Gym в России, президент Ассоциации \n' +
            'операторов фитнес-индустрии',
          desc: '<p>С каждым годом все более важным становится уровень профессионализма тренерского состава: это связано и с ростом требований клиентов к качеству оказываемых услуг, и с пониманием собственников фитнес-клубов своей ответственности за безопасность клиентов, и в связи с последними изменениями в законодательстве – обязательности профессиональных стандартов в фитнесе.</p><p>Ассоциация профессионалов фитнеса – одна из ведущих образовательных структур отрасли с огромным опытом работы, с которой World Gym Russia сотрудничает более 15 лет. Выпускники FPA успешно работают во многих клубах сети World Gym в России. Ассоциация профессионалов фитнеса является для нас гарантией качественного образования, при приеме на работу выпускников этой школы мы уверены в уровне их знаний и навыков.</p>'
        },
      ]
    })
    +programsContainer({
        title: 'Курсы и семинары<br>для фитнес-руководителей',
        titleClass: 'text-center extrabold text-left-xs text-left-xxs',
        btnRed: 'Записаться <span class="hiddden-xs hidden-xxs">на курс</span>',
        btnBorder: 'подробнее <span class="hiddden-xs hidden-xxs">о курсе</span>',
        tabs: [
            {
                url: 'tab12',
                ttl: 'Управляющий фитнес-клубом ',
                title: 'Управляющий  фитнес-клубом',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '22 000'

            },
            {
                url: 'tab13',
                ttl: 'Фитнес-директор',
                title: 'Фитнес-директор',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: 'tab14',
                ttl: 'Менеджер тренажерного зала',
                title: 'Менеджер тренажерного зала',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: 'tab15',
                ttl: 'Менеджер  групповых программ',
                title: 'Менеджер  групповых программ',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: 'tab16',
                ttl: 'Менеджер  водных программ',
                title: 'Менеджер водных программ',
                period: ' 120 дней',
                startDate: '20 марта 2020',
                text: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
                sum: '43 000'

            },
            {
                url: '',
                ttl: 'ВСЕ СЕМИНАРЫ И КУРСЫ',
            }
        ]
    }).block-shadow-inset.bg-gray-xxs.bg-gray-xs

    +library({
        title: 'Библиотека',
        titleClass: 'text-center extrabold text-left-xs text-left-xxs',
        tabs: [
            {
                url: 'library-tab2',
                ttl: 'Тренировки',
                carousel: [
                    {
                        boxs: [
                            {
                                ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                pict: {
                                    pict: 'images/library-mobile.jpg', lazy: true,
                                    picts: [
                                        {
                                            pict: 'images/library2.jpg',
                                            media: '(min-width: 768px)'
                                        }
                                    ]
                                }
                            },
                            {
                                ttl: 'Global Fitness Evolution: Старт продаж!',
                                pict:
                                    {
                                        pict: 'images/library-mobile.jpg', lazy: true,
                                        picts: [
                                            {
                                                pict: 'images/library1.jpg',
                                                media: '(min-width: 768px)'
                                            }
                                        ]
                                    }

                            }
                        ]
                    },
                    {
                        boxs: [
                            {
                                ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                pict:
                                    {
                                        pict: 'images/library-mobile.jpg', lazy: true,
                                        picts: [
                                            {
                                                pict: 'images/library1.jpg',
                                                media: '(min-width: 768px)'
                                            }
                                        ]
                                    }
                            },
                            {
                                ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                pict:
                                    {
                                        pict: 'images/library-mobile.jpg', lazy: true,
                                        picts: [
                                            {
                                                pict: 'images/library2.jpg',
                                                media: '(min-width: 768px)'
                                            }
                                        ]
                                    }
                            }
                        ]
                    }
                ]

            },
            {
                url: 'library-tab1',
                ttl: 'Питание',
                carousel: [
                    {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Старт продаж!',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                    },
                    {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                    },
                    {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                    },
                    {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                    },
                    {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                    },
                    {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                    },
                    {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                    }
                ]

            },

            {
                url: 'library-tab3',
                ttl: 'Реабилитация',
                carousel: [
                    {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Старт продаж!',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                    },
                    {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:
                                  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                    }
                ]

            },
            {
                url: 'library-tab4',
                ttl: 'Бизнес',
                carousel: [
                    {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict: {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Старт продаж!',
                              pict:  {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                    },
                    {
                      boxs: [
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict:   {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          },
                          {
                              ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                              pict: {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                          }
                      ]
                    }
                ]

            }
        ]
    })

    +popularQuestion({
        title: 'Популярные вопросы',
        titleClass: 'text-center extrabold text-left-xs text-left-xxs',
        tabs: [
            {
                url: 'question-tab1',
                ttl: 'Как проходит очное обучение',
                txt: 'Иногородним слушателям, желающим пройти ОЧНОЕ обучение в Москве, рекомендуем выслать электронным письмом заявку в свободной форме с указанием ФИО, контактного телефона, адреса прописки, названия программы и номера группы, в которой хотите проходить обучение, а также копию документа о полной оплате выбранного курса. Выделять полной оплате... '
            },
            {
                url: 'question-tab2',
                ttl: 'Как проходит дистанционное обучение',
                txt: 'Иногородним слушателям, желающим пройти ОЧНОЕ обучение в Москве, рекомендуем выслать электронным письмом заявку в свободной форме с указанием ФИО, контактного телефона, адреса прописки, названия программы и номера группы, в которой хотите проходить обучение, а также копию документа о полной оплате выбранного курса. Выделять полной оплате... '
            },
            {
                url: 'question-tab3',
                ttl: 'Какую программу обучения выбрать',
                txt: 'Иногородним слушателям, желающим пройти ОЧНОЕ обучение в Москве, рекомендуем выслать электронным письмом заявку в свободной форме с указанием ФИО, контактного телефона, адреса прописки, названия программы и номера группы, в которой хотите проходить обучение, а также копию документа о полной оплате выбранного курса. Выделять полной оплате... '
            },
            {
                url: 'question-tab4',
                ttl: 'Рассрочка',
                txt: 'Иногородним слушателям, желающим пройти ОЧНОЕ обучение в Москве, рекомендуем выслать электронным письмом заявку в свободной форме с указанием ФИО, контактного телефона, адреса прописки, названия программы и номера группы, в которой хотите проходить обучение, а также копию документа о полной оплате выбранного курса. Выделять полной оплате... '
            }
        ]
    })

    +subscriptionBlock()

block scripts

