extends base/base.pug
append vars
  - var pageUrl = 'open-detail.html';
  - var pageTitle = 'Существует ли минимальный порог интенсивности для стимуляции адаптационной гипертрофии при тренировке с отягощениями';
block content
  .main.bg-gray
    +breadcrumbs('лог#Фитнес-форум', 'Библиотека', 'Мир фитнеса')
    .container
      .section-container.blog-detail
        .row
          .col-xxs-12.col-sm-4
            .banner.sticky-block(data-parent=".blog-detail>.row")
              a(href="#")
                img(src="images/banner.jpg", alt="")
          .col-xxs-12.col-sm-8
            article
              .preface
                |23-24 февраля в Екатеринбурге пройдет первая в этом году бизнес-конференция Global Fitness Russia. Вас ждут возможности для еще большего обмена опытом между всеми участниками конференции. Организаторы также персонализировали контент для решения индивидуальных задач.
              h2 h2 Первый день 23 февраля начнется со стратегических сессий
              p
                | Лекционный день откроет Александр Шумилин, сертифицированный бизнес-тренер, практик продаж и управления с более чем 16-летним опытом, и Анна Николаева, фитнес-директор Citrus Fitness. Они расскажут, как результативно управлять командой клуба, когда в ней "лебедь, рак да щука".
                | Влад Хартуков, управляющий Encore Fitness City, расскажет, как современные тенденции меняют понятие сервиса, как перестроиться под новые реалии и быть в тренде.
                | Управляющий директор LOMOV Gym Антон Смирнов поделится своим практическим опытом и расскажет об ошибках, допускаемых на этапе создания клуба.
                | Наталья Протасова, владелец сети фитнес-клубов «Астрон» (Йошкар-Ола) выступит с темой «Демпинг - зло: региональные особенности и конкретные инструменты конкурентного преимущества на примере собственного клуба.
                | Генеральный директор велнес-клуба «Витаспорт» Дмитрий Киселев объяснит, почему клиентоориентированность - это большое заблуждение фитнеса как бизнеса и расскажет, как соблюсти стратегический баланс в бизнесе.
              p После стратегических лекций 16.30-18.30 вас ждет несколько круглых столов. Выбирайте интересующую вас тему и присоединяйтесь:
              ul
                li Как вовлекать собственника в бизнес-процесс и зачем это надо делать?
                li Особенности эксплуатации помещений фитнес-клуба.
                li Продуктовый маркетинг для фитнес-клуба: как упаковывать и формировать интерес к дополнительным услугам фитнес-департамента, используя их для привлечения новой аудитории в клуб?
                li Как действовать, когда выручка стала снижаться?

              h3 h3 Второй день конференции 24 февраля: практические семинары
              p
                | Татьяна Андреева, аналитик, специалист по оценке персонала, эксперт по развитию ключевых компетенций, будет говорить про измеримые команды, на примере конкретного кейса из фитнес-отрасли расскажет, как оптимизировать расходы на обучение персонала благодаря фокусу на ключевых критериях.
                | Сергей Швец, бизнес-тренер и консультант по маркетингу и бизнес-процессам в фитнес-клубе, назовет как минимум 20 способов увеличить доход от персонального тренинга.
                | Илья Коноплев, руководитель проекта фитнес-санатория "Знание", экс-директор по франчайзингу World Gym Russia, эксперт FPA, будет говорить о маркетинге в digital-среде и сделает обзор решений, которые уже применили российские операторы фитнес-услуг.
                | Ирина Троска, директор по фитнесу X-FIT, выступит с темой «Драйверы продаж фитнес-департамента и инструменты анализа для увеличения показателей».
                | В завершении дня Марина Штеренлихт, управляющий партнер HR агентства BRB, и Наталия Серафимова, генеральный директор ДОН-Спорт, проведут мастер-класс по принятию решений: максимально полезная и практически применимая информация.
              p
                strong После стратегических лекций 16.30-18.30 вас ждет несколько круглых столов. Выбирайте интересующую вас тему и присоединяйтесь:
              ol
                li Как вовлекать собственника в бизнес-процесс и зачем это надо делать?
                li Особенности эксплуатации помещений фитнес-клуба.
                li Продуктовый маркетинг для фитнес-клуба: как упаковывать и формировать интерес к дополнительным услугам фитнес-департамента, используя их для привлечения новой аудитории в клуб?
                li Как действовать, когда выручка стала снижаться?
                li Как действовать, когда выручка стала снижаться?
                li Как действовать, когда выручка стала снижаться?
                li Как действовать, когда выручка стала снижаться?
                li Как действовать, когда выручка стала снижаться?
                li Как действовать, когда выручка стала снижаться?
                li Как действовать, когда выручка стала снижаться?
                li Как действовать, когда выручка стала снижаться?
                li Как действовать, когда выручка стала снижаться?
                li Как действовать, когда выручка стала снижаться?
                li Как действовать, когда выручка стала снижаться?
                li Как действовать, когда выручка стала снижаться?

              blockquote
                |Ты можешь сказать, что у тебя плохая генетика, плохой обмен веществ, а можешь просто поднять свою задницу с дивана и начать работать над собой, задаться целью и верить в себя. В этом случае ты обязательно добьёшься успеха. Арнольд Шварценеггер
              h4 h4 Третий день конференции 25 февраля: практические семинары
              p
                strong Татьяна Андреева, аналитик, специалист по оценке персонала,
                =' '
                |  эксперт по развитию ключевых компетенций, будет говорить про измеримые команды, на примере конкретного кейса из фитнес-отрасли расскажет, как оптимизировать расходы на обучение персонала благодаря фокусу на ключевых критериях.
                br
                strong Сергей Швец, бизнес-тренер и консультант по маркетингу
                |  и бизнес-процессам в фитнес-клубе, назовет как минимум 20 способов увеличить доход от персонального тренинга.
                | Илья Коноплев, руководитель проекта фитнес-санатория "Знание", экс-директор по франчайзингу World Gym Russia, эксперт FPA, будет говорить о маркетинге в digital-среде и сделает обзор решений, которые уже применили российские операторы фитнес-услуг.
                | Ирина Троска, директор по фитнесу X-FIT, выступит с темой «Драйверы продаж фитнес-департамента и инструменты анализа для увеличения показателей».
                | В завершении дня Марина Штеренлихт, управляющий партнер HR агентства BRB, и Наталия Серафимова, генеральный директор ДОН-Спорт, проведут мастер-класс по принятию решений: максимально полезная и практически применимая информация.
              h5 h5 Открытые вакансии
              .table-wrap
                table
                  thead
                    tr
                      th Должность
                      th Город
                      th Зарплата
                  tbody
                    tr
                      td Инструктор групповых программ в Neofit
                      td Москва
                      td от 100 000 ₽
                    tr
                      td Инструктор групповых программ в Neofit
                      td Москва
                      td от 100 000 ₽
                    tr
                      td Инструктор групповых программ в Neofit
                      td Москва
                      td от 100 000 ₽
                    tr
                      td Инструктор групповых программ в Neofit
                      td Москва
                      td от 100 000 ₽
                    tr
                      td Инструктор групповых программ в Neofit
                      td Москва
                      td от 100 000 ₽

              h6 h6   Четвертый день конференции 26февраля: практические семинары
              p
                | Татьяна Андреева, аналитик, специалист по оценке персонала, эксперт по развитию ключевых компетенций, будет говорить про измеримые команды, на примере конкретного кейса из фитнес-отрасли расскажет, как оптимизировать расходы на обучение персонала благодаря фокусу на ключевых критериях.
                | Сергей Швец, бизнес-тренер и консультант по маркетингу и бизнес-процессам в фитнес-клубе, назовет как минимум 20 способов увеличить доход от персонального тренинга.
                | Илья Коноплев, руководитель проекта фитнес-санатория "Знание", экс-директор по франчайзингу World Gym Russia, эксперт FPA, будет говорить о маркетинге в digital-среде и сделает обзор решений, которые уже применили российские операторы фитнес-услуг.
                | Ирина Троска, директор по фитнесу X-FIT, выступит с темой «Драйверы продаж фитнес-департамента и инструменты анализа для увеличения показателей».
                | В завершении дня Марина Штеренлихт, управляющий партнер HR агентства BRB, и Наталия Серафимова, генеральный директор ДОН-Спорт, проведут мастер-класс по принятию решений: максимально полезная и практически применимая информация.
                |
                |
              a(href="//forarchipeople.ru/wp-content/uploads/2014/01/4.jpg" data-fancybox="pict-detail")
                img(src="//forarchipeople.ru/wp-content/uploads/2014/01/4.jpg", alt="")
              h4 h4 Третий день конференции 25 февраля: практические семинары
              p
                strong Татьяна Андреева, аналитик, специалист по оценке персонала,
                =' '
                |  эксперт по развитию ключевых компетенций, будет говорить про измеримые команды, на примере конкретного кейса из фитнес-отрасли расскажет, как оптимизировать расходы на обучение персонала благодаря фокусу на ключевых критериях.
                br
                strong Сергей Швец, бизнес-тренер и консультант по маркетингу
                |  и бизнес-процессам в фитнес-клубе, назовет как минимум 20 способов увеличить доход от персонального тренинга.
                | Илья Коноплев, руководитель проекта фитнес-санатория "Знание", экс-директор по франчайзингу World Gym Russia, эксперт FPA, будет говорить о маркетинге в digital-среде и сделает обзор решений, которые уже применили российские операторы фитнес-услуг.
                | Ирина Троска, директор по фитнесу X-FIT, выступит с темой «Драйверы продаж фитнес-департамента и инструменты анализа для увеличения показателей».
                | В завершении дня Марина Штеренлихт, управляющий партнер HR агентства BRB, и Наталия Серафимова, генеральный директор ДОН-Спорт, проведут мастер-класс по принятию решений: максимально полезная и практически применимая информация.
              a(href="#").doc
                +svg('document-text')
                .ttl “Как стать фитнем-тренером”
                span.bold Скачать
              h4 h4 Третий день конференции 25 февраля: практические семинары
              p
                strong Татьяна Андреева, аналитик, специалист по оценке персонала,
                =' '
                |  эксперт по развитию ключевых компетенций, будет говорить про измеримые команды, на примере конкретного кейса из фитнес-отрасли расскажет, как оптимизировать расходы на обучение персонала благодаря фокусу на ключевых критериях.
                br
                strong Сергей Швец, бизнес-тренер и консультант по маркетингу
                |  и бизнес-процессам в фитнес-клубе, назовет как минимум 20 способов увеличить доход от персонального тренинга.
                | Илья Коноплев, руководитель проекта фитнес-санатория "Знание", экс-директор по франчайзингу World Gym Russia, эксперт FPA, будет говорить о маркетинге в digital-среде и сделает обзор решений, которые уже применили российские операторы фитнес-услуг.
                | Ирина Троска, директор по фитнесу X-FIT, выступит с темой «Драйверы продаж фитнес-департамента и инструменты анализа для увеличения показателей».
                | В завершении дня Марина Штеренлихт, управляющий партнер HR агентства BRB, и Наталия Серафимова, генеральный директор ДОН-Спорт, проведут мастер-класс по принятию решений: максимально полезная и практически применимая информация.
              .video-resize
                iframe(src="//www.youtube.com/embed/YROjJqPulfM?rel=0")
    +consultation({
        bg: 'images/consultation-bg.jpg',
        title: 'Записаться на консультацию',
        titleClass: 'h3 text-center extrabold'
    })
    +subscriptionBlock()
block scripts


