extends base/base.pug
append vars
  - var pageUrl = 'open.html';
  - var pageTitle = 'Открытие и развитие фитнес-центра';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/guide-step-page-banner.jpg',
        breadcrumbs: 'Открытие и развитие фитнес-центра',
        title: 'Открытие и развитие фитнес-центра',
        txt: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу. ',
        txtClass: 'font-large',
        btns: [
            {
                ttl: 'Записаться на консультацию'
            }
        ]
    })
    .container
      +openFitness({
          title: 'Открыть фитнес-центр',
          titleClass: 'h5 title-border text-center extrabold',
          items: [
              {
                  url: 'open-detail',
                  icon: 'images/open1.jpg',
                  ttl: 'Постановка работы<br> отдела продаж'
              },
              {
                  url: 'open-detail',
                  icon: 'images/open2.jpg',
                  ttl: 'Подбор и обучение<br>  персонала'
              },
              {
                  url: 'open-detail',
                  icon: 'images/open3.jpg',
                  ttl: 'Подбор и спецификация  специализированного  оборудования'
              },
              {
                  url: 'open-detail',
                  icon: 'images/open4.jpg',
                  ttl: 'Проектирование клуба',
                  txt: '  (сопровождение проекта совместно со специалистами)'
              },
              {
                  url: 'open-detail',
                  icon: 'images/open5.jpg',
                  ttl: 'Разработка концепции  позиционирования  и продвижения фитнес клуба'
              },
              {
                  url: 'open-detail',
                  icon: 'images/open6.jpg',
                  ttl: 'Финансовое планирование  и бюджетирование'
              },
              {
                  url: 'open-detail',
                  icon: 'images/open7.jpg',
                  ttl: 'Стратегический   маркетинговый анализ рынка и базовое ценообразование  '
              },
              {
                  icon: 'images/open8.jpg',
                  ttl: 'Маркетинговые  исследования'
              }
          ]
      })
      +openFitness({
          title: 'Развить фитнес-центр',
          titleClass: 'h5 title-border text-center extrabold',
          items: [
              {
                  url: 'open-detail',
                  icon: 'images/open9.jpg',
                  ttl: 'Повышение эффективности работы отдела продаж  в фитнес клубе'
              }
          ]
      })
      +library({
          title: 'Библиотека',
          titleClass: 'text-center extrabold text-left-xs text-left-xxs',
          tabs: [
              {
                  url: 'library-tab1',
                  ttl: 'Питание',
                  carousel: [
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Старт продаж!',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      }
                  ]

              },
              {
                  url: 'library-tab2',
                  ttl: 'Тренировки',
                  carousel: [
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict: {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Старт продаж!',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }

                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      }
                  ]

              },
              {
                  url: 'library-tab3',
                  ttl: 'Реабилитация',
                  carousel: [
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library1.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Старт продаж!',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict: {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict:
                                      {
                                          pict: 'images/library-mobile.jpg', lazy: true,
                                          picts: [
                                              {
                                                  pict: 'images/library2.jpg',
                                                  media: '(min-width: 768px)'
                                              }
                                          ]
                                      }
                              }
                          ]
                      }
                  ]

              },
              {
                  url: 'library-tab4',
                  ttl: 'Бизнес',
                  carousel: [
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict: {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Старт продаж!',
                                  pict: {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                              }
                          ]
                      },
                      {
                          boxs: [
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict: {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library1.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                              },
                              {
                                  ttl: 'Global Fitness Evolution: Новый формат фитнес-событий  в нашем городе',
                                  pict: {
                                      pict: 'images/library-mobile.jpg', lazy: true,
                                      picts: [
                                          {
                                              pict: 'images/library2.jpg',
                                              media: '(min-width: 768px)'
                                          }
                                      ]
                                  }
                              }
                          ]
                      }
                  ]

              }
          ]
      })

    +consultation({
        bg: 'images/consultation-bg.jpg',
      title: 'Записаться на консультацию',
      titleClass: 'h3 text-center extrabold'
    })
    +subscriptionBlock()
block scripts

