extends base/base.pug
append vars
  - var pageUrl = 'partners.html';
  - var pageTitle = 'Партнёры';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/faq.jpg',
        breadcrumbs: pageTitle ,
        title: 'Партнёры',
        txtClass: 'font-large-lg font-large-md font-large-sm',
        txt: 'Вы мечтаете о работе, где совместятся любовь к фитнесу  и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу. ',
        btns: [
            {class: 'anchore', href: '#consultation', ttl: 'Стать партнёром'}
        ]
    })
    .section-container.section-partners-list
      mixin partnersList(data)
        .list
          each itm in data
            .item
              .container
                .row
                  .col-sm-5.col-md-4.col-xxs-12
                    .pict-wrap.bg-white.shadow.mb-15-xxs.mb-15-xs
                      .pict
                        img(src=itm.pict, alt="")
                      .title.text-center.font-large-sm.font-large-md.font-large-lg!=itm.title

                  .col-sm-7.col-md-8.col-xxs-12
                    .h6.ttl.bold!=itm.ttl
                    !=itm.desc
      +partnersList([
          {
              pict: 'images/partner13.jpg',
              title: 'Reebok',
              ttl: 'Компания Reebok International Ltd',
              desc: '<p>Компания Reebok International Ltd. со штаб-квартирой в Кантоне (штат Массачусетс, США) является ведущим мировым дизайнером, продавцом и дистрибьютором одежды, обуви и оборудования для спорта, фитнеса и повседневной жизни. Reebok – это глобальный бренд и настоящий «пионер» индустрии спортивных товаров с богатой историей и легендарным фитнес-наследием. <p></p>Reebok разрабатывает продукты, технологии и программное обеспечение для постоянного развития, достижения максимальных спортивных результатов и реализации собственного потенциала. Reebok объединяет поклонников фитнеса и всячески поддерживает их спортивные убеждения, будь то тренировки в зале, бег, ходьба, танцы, йога или аэробика. Лайфстайл направление Reebok Classic создана для повседневного использования и вдохновлена богатым историческим наследием бренда в фитнес-индустрии. <p></p>Компания Reebok International Ltd. является подразделением Adidas Group и реализует продукцию брендов Reebok, Reebok-CCM Hockey и Sports Licensed Division.  Reebok является эксклюзивным поставщиком экипировки для CrossFit и Всемирных Игр Reebok CrossFit Games, главным спонсором Reebok Spartan Race; эксклюзивным поставщиком экипировки для UFC (Ultimate Fighting Championship), а также производителем одежды для тренировок Les Mills. <p></p>Для получения более подробной информации посетите официальный сайт <a href="Reebok  www.reebok.ru">Reebok  www.reebok.ru</a>, следите за новостями в наших социальных сетях:  </p>'
          },
          {
              pict: 'images/partner14.jpg',
              title: 'MIOFF',
              ttl: 'Компания Reebok International Ltd',
              desc: '<p>Компания Reebok International Ltd. со штаб-квартирой в Кантоне (штат Массачусетс, США) является ведущим мировым дизайнером, продавцом и дистрибьютором одежды, обуви и оборудования для спорта, фитнеса и повседневной жизни. Reebok – это глобальный бренд и настоящий «пионер» индустрии спортивных товаров с богатой историей и легендарным фитнес-наследием. <p></p>Reebok разрабатывает продукты, технологии и программное обеспечение для постоянного развития, достижения максимальных спортивных результатов и реализации собственного потенциала. Reebok объединяет поклонников фитнеса и всячески поддерживает их спортивные убеждения, будь то тренировки в зале, бег, ходьба, танцы, йога или аэробика. Лайфстайл направление Reebok Classic создана для повседневного использования и вдохновлена богатым историческим наследием бренда в фитнес-индустрии. <p>'
          },
          {
              pict: 'images/partner15.jpg',
              title: 'Banana Gym',
              ttl: 'Компания Reebok International Ltd',
              desc: '<p>Компания Reebok International Ltd. со штаб-квартирой в Кантоне (штат Массачусетс, США) является ведущим мировым дизайнером, продавцом и дистрибьютором одежды, обуви и оборудования для спорта, фитнеса и повседневной жизни. Reebok – это глобальный бренд и настоящий «пионер» индустрии спортивных товаров с богатой историей и легендарным фитнес-наследием. <p></p>Reebok разрабатывает продукты, технологии и программное обеспечение для постоянного развития, достижения максимальных спортивных результатов и реализации собственного потенциала. Reebok объединяет поклонников фитнеса и всячески поддерживает их спортивные убеждения, будь то тренировки в зале, бег, ходьба, танцы, йога или аэробика. Лайфстайл направление Reebok Classic создана для повседневного использования и вдохновлена богатым историческим наследием бренда в фитнес-индустрии. <p></p>Компания Reebok International Ltd. является подразделением Adidas Group и реализует продукцию брендов Reebok, Reebok-CCM Hockey и Sports Licensed Division.  Reebok является эксклюзивным поставщиком экипировки для CrossFit и Всемирных Игр Reebok CrossFit Games, главным спонсором Reebok Spartan Race; эксклюзивным поставщиком экипировки для UFC (Ultimate Fighting Championship), а также производителем одежды для тренировок Les Mills. <p></p>Для получения более подробной информации посетите официальный сайт <a href="Reebok  www.reebok.ru">Reebok  www.reebok.ru</a>, следите за новостями в наших социальных сетях:  </p>'
          },
          {
              pict: 'images/partner16.jpg',
              title: 'MIOFF',
              ttl: 'Компания Reebok International Ltd',
              desc: '<p>Компания Reebok International Ltd. со штаб-квартирой в Кантоне (штат Массачусетс, США) является ведущим мировым дизайнером, продавцом и дистрибьютором одежды, обуви и оборудования для спорта, фитнеса и повседневной жизни. Reebok – это глобальный бренд и настоящий «пионер» индустрии спортивных товаров с богатой историей и легендарным фитнес-наследием. <p></p>Reebok разрабатывает продукты, технологии и программное обеспечение для постоянного развития, достижения максимальных спортивных результатов и реализации собственного потенциала. Reebok объединяет поклонников фитнеса и всячески поддерживает их спортивные убеждения, будь то тренировки в зале, бег, ходьба, танцы, йога или аэробика. Лайфстайл направление Reebok Classic создана для повседневного использования и вдохновлена богатым историческим наследием бренда в фитнес-индустрии. <p>'
          },
          {
              pict: 'images/partner14.jpg',
              title: 'MIOFF',
              ttl: 'Компания Reebok International Ltd',
              desc: '<p>Компания Reebok International Ltd. со штаб-квартирой в Кантоне (штат Массачусетс, США) является ведущим мировым дизайнером, продавцом и дистрибьютором одежды, обуви и оборудования для спорта, фитнеса и повседневной жизни. Reebok – это глобальный бренд и настоящий «пионер» индустрии спортивных товаров с богатой историей и легендарным фитнес-наследием. <p></p>Reebok разрабатывает продукты, технологии и программное обеспечение для постоянного развития, достижения максимальных спортивных результатов и реализации собственного потенциала. Reebok объединяет поклонников фитнеса и всячески поддерживает их спортивные убеждения, будь то тренировки в зале, бег, ходьба, танцы, йога или аэробика. Лайфстайл направление Reebok Classic создана для повседневного использования и вдохновлена богатым историческим наследием бренда в фитнес-индустрии. <p>'
          },
          {
              pict: 'images/partner15.jpg',
              title: 'Banana Gym',
              ttl: 'Компания Reebok International Ltd',
              desc: '<p>Компания Reebok International Ltd. со штаб-квартирой в Кантоне (штат Массачусетс, США) является ведущим мировым дизайнером, продавцом и дистрибьютором одежды, обуви и оборудования для спорта, фитнеса и повседневной жизни. Reebok – это глобальный бренд и настоящий «пионер» индустрии спортивных товаров с богатой историей и легендарным фитнес-наследием. <p></p>Reebok разрабатывает продукты, технологии и программное обеспечение для постоянного развития, достижения максимальных спортивных результатов и реализации собственного потенциала. Reebok объединяет поклонников фитнеса и всячески поддерживает их спортивные убеждения, будь то тренировки в зале, бег, ходьба, танцы, йога или аэробика. Лайфстайл направление Reebok Classic создана для повседневного использования и вдохновлена богатым историческим наследием бренда в фитнес-индустрии. <p></p>Компания Reebok International Ltd. является подразделением Adidas Group и реализует продукцию брендов Reebok, Reebok-CCM Hockey и Sports Licensed Division.  Reebok является эксклюзивным поставщиком экипировки для CrossFit и Всемирных Игр Reebok CrossFit Games, главным спонсором Reebok Spartan Race; эксклюзивным поставщиком экипировки для UFC (Ultimate Fighting Championship), а также производителем одежды для тренировок Les Mills. <p></p>Для получения более подробной информации посетите официальный сайт <a href="Reebok  www.reebok.ru">Reebok  www.reebok.ru</a>, следите за новостями в наших социальных сетях:  </p>'
          },
          {
              pict: 'images/partner16.jpg',
              title: 'MIOFF',
              ttl: 'Компания Reebok International Ltd',
              desc: '<p>Компания Reebok International Ltd. со штаб-квартирой в Кантоне (штат Массачусетс, США) является ведущим мировым дизайнером, продавцом и дистрибьютором одежды, обуви и оборудования для спорта, фитнеса и повседневной жизни. Reebok – это глобальный бренд и настоящий «пионер» индустрии спортивных товаров с богатой историей и легендарным фитнес-наследием. <p></p>Reebok разрабатывает продукты, технологии и программное обеспечение для постоянного развития, достижения максимальных спортивных результатов и реализации собственного потенциала. Reebok объединяет поклонников фитнеса и всячески поддерживает их спортивные убеждения, будь то тренировки в зале, бег, ходьба, танцы, йога или аэробика. Лайфстайл направление Reebok Classic создана для повседневного использования и вдохновлена богатым историческим наследием бренда в фитнес-индустрии. <p>'
          }
      ])

    +consultation({
        bg: 'images/consultation-bg.jpg',
        title: 'Предложить партнерство',
        titleClass: 'h3 text-center extrabold',
        btnTxt: 'Отправить предложение'
    })#consultation
    +subscriptionBlock()
block scripts

