extends base/base.pug
append vars
  - var pageUrl = 'payment.html';
  - var pageTitle = 'Оплата';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/hero.jpg',
        breadcrumbs: 'Оплата',
        title: 'Оплата за обучение по программе “Персональный фитнес-тренер”',
        price: '45 000 ₽',
        txt: 'Можно в рассрочку от 10 000 р/мес - отключаемый текстовый блок, ручной ввод текста',
        txtClass: 'font-large-lg font-large-md font-large-sm',
        btns: [
            {ttl: 'Оплатить'}
        ]
    })
    .container
        .section-container.section-payment
          .h3.bold  Как оплатить?
          p
            | Скоро можно будет оплатить обучение на сайте, пока можно оплатить по нашим реквизитам с помощью мобильного приложения вашего банка.
          mixin requisites(data)
             ul.requisites
               each itm in data
                 li
                    !=itm.txt
                    button.js-copy(data-text=itm.txt)
                      +svg('content_copy')
                      span.hidden-xxs.hidden-xs Копировать
             button.btn.js-copy(data-text="Автономная некоммерческая организация (АНО) «Учебно-методический центр «Профессионалы фитнеса», Юр. адрес: 117485, г. Москва, ул. Профсоюзная, д.94, к. 138, Факт. адрес: 107023 г. Москва, ул. Малая Семеновская, дом 9, бизнес-центр 'На Семеновской', строение 9, ОГРН  1037700083035, ИНН 7706230753, КПП 772801001, ОКПО 57017724,  Р/с 40703810638110101296  в  Московском банке  ПАО «Сбербанк России» г. Москва, К/с 30101810400000000225,  БИК  044525225") КОПИРОВАТЬ РЕКВИЗИТЫ
          +requisites([
                 {txt: 'Автономная некоммерческая организация (АНО) «Учебно-методический центр «Профессионалы фитнеса»'},
                 {txt: 'Юр. адрес: 117485, г. Москва, ул. Профсоюзная, д.94, к. 138'},
                 {txt: 'Факт. адрес: 107023 г. Москва, ул. Малая Семеновская, дом 9, бизнес-центр "На Семеновской", строение 9'},
                 {txt: 'ОГРН 1037700083035'},
                 {txt: 'ИНН 7706230753'},
                 {txt: 'КПП 772801001'},
                 {txt: 'ОКПО 57017724'},
                 {txt: 'Р/с 40703810638110101296 в Московском банке ПАО «Сбербанк России» г. Москва'},
                 {txt: 'БИК 044525225'},
                 {txt: 'К/с 30101810400000000225'},
             ])


        mixin bankCard(data)
          .section-container.section-bank-card
            .title(class=data.titleClass)!=data.title
            form.form
              .cards
                .card.shadow.front
                  .form-group
                    label(for='numberCard').form-lbl Номер карты (от 12 до 16 симовлов)
                    input(type="text" name="numberCard" id="numberCard" placeholder="0000 0000 0000 0000").inp-gray.form-control.required
                    .error-message.text-red.font-small Заполните поле Номер карты
                  .validity
                      .form-lbl Срок действия (ММ / ГГ)
                      .selects
                        .form-group
                          +select({
                              items: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '12', '24', '25', '26', '27', '28', '29', '30', '31']
                          }).inp-gray
                        .form-group
                          +select({
                              items: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
                          }).inp-gray
                  .form-group
                    label(for='username').form-lbl Имя на карте
                    input(type="text" name="username" id='username' placeholder="Например: ivan petrov").inp-gray.form-control.required
                    .error-message.text-red.font-small Заполните поле Имя на карте
                .card.cvs.shadow
                  .form-group
                    label(for='cvc').form-lbl CVC
                    input(type="password" id="cvc" name="cvc" placeholder="CVC").inp-gray.form-control.required
                    .error-message.text-red.font-small Заполните поле CVC
                  .text-right-lg.text-right-md.text-right-sm.text-gray.footnote.font-small
                    | Последние три
                    | цифры на обороте карты
              .btn-wrap.text-center
                button.btn.js-validate  Оплатить
        +bankCard({
            title: 'Оплата банковской картой',
            titleClass: 'h5 title-border text-center extrabold',
        })
        mixin deferredPayment(data)
          .section-container.section-deferred-payment
            .title(class=data.titleClass)!=data.title
            .row.list
              each itm in data.items
                .item.col-sm-6.col-xxs-12
                  .box.shadow.bg-white
                    .ttl.bold.text-center!=itm.ttl
                    .prices.row.text-center
                      each price in itm.prices
                        .col-md-6.col-xxs-12
                          !=price.ttl
                          .price.text-red.bold!=price.price
                    .btn-wrap.text-center
                      a(href="#").btn ОПЛАТИТЬ
                        =' '
                        span.hidden-xxs.hidden-xs В РАССРОЧКУ


        +deferredPayment({
            title: 'Оплата в рассрочку',
            titleClass: 'h5 title-border text-center extrabold',
            items: [
                {
                    ttl: 'Без первоначального взноса',
                    prices: [
                        {ttl: 'Первоначальный взнос', price: '0 ₽'},
                        {ttl: 'Срок рассрочки', price: '3 месяцев'}
                    ]

                },
                {
                    ttl: 'С первоначальным взносом',
                    prices: [
                        {ttl: 'Первоначальный взнос', price: 'от 15 000  ₽'},
                        {ttl: 'Срок рассрочки', price: 'от 3 месяцев'}
                    ]

                }
            ]
        })

    +tinkoffBanner({
        txt: 'По всем вопросам рассрочки обращайтесь<br class="hidden-xxs hidden-xs"> по телефону <a href="tel:88005552244"><strong>8 800 555-22-44</strong></a>'
    })
    +subscriptionBlock()
block scripts

