extends base/base.pug
append vars
  - var pageUrl = 'personnel-center.html';
  - var pageTitle = 'Кадровый центр';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/faq.jpg',
        breadcrumbs: pageTitle ,
        title: 'Кадровый центр',
        txtClass: 'font-large-lg font-large-md font-large-sm',
        txt: 'В нашей базе – несколько сотен резюме специалистов в области фитнеса, которая постоянно пополняется за счет новых выпускников наших программ: инструкторских и Школы Управления, а в электронной базе - свыше 14,5 тысяч адресов специалистов сферы фитнеса',
        btns: [
            {class: 'anchore', href: '#consultation', ttl: 'Записаться на консультацию'}
        ]
    })
    .container
      .section-container
        p
          | Быстро растущий рынок фитнеса в Москве (да и по всей России) остро нуждается в квалифицированных специалистах.
          | Не секрет, что до сих пор в некоторых небольших клубах основной состав персонала – это самоучки от фитнеса. Эти люди - энтузиасты своего дела, но не обладают необходимыми качественными знаниями в своей сфере. Ошибка в работе такого тренера может стоить самого дорогого – безопасности здоровья клиентов, некомпетентность менеджерского состава – вялотекущее развитие бизнеса или даже его убыточность. Понимая насущную потребность в подборе грамотных сертифицированных специалистов, Ассоциация Профессионала Фитнеса выделила особое направление в своей деятельности – Кадровый Центр.
        p
          | Это кадровое агентство, специализирующееся в области фитнеса, где вам помогут быстро и недорого помочь в подборе персонала для фитнес-клуба. В нашей базе – несколько сотен резюме специалистов в области фитнеса, которая постоянно пополняется за счет новых выпускников наших программ: инструкторских и Школы Управления, а в электронной базе - свыше 14,5 тысяч адресов специалистов сферы фитнеса. Мы имеем широкий круг профессиональных контактов и связей.
          | Цены на наши услуги в несколько раз ниже подобных в обычных кадровых агентствах.
        .links-section
          .container-middle
            .row
              .col-sm-6.col-xxs-12.item
                a(href="applicants").box.no-border
                  img(src="images/section1.jpg", alt="")
                  .desc
                    .h6.ttl.bold Соискателям
              .col-sm-6.col-xxs-12.item
                a(href="employers.html").box.no-border
                  img(src="images/section2.jpg", alt="")
                  .desc
                    .h6.ttl.bold Работодателям


    +consultation({
        bg: 'images/consultation-bg.jpg',
        title: 'Записаться на консультацию',
        titleClass: 'h3 text-center extrabold',
    })#consultation
    +subscriptionBlock()
block scripts

