extends base/base.pug
append vars
    - var pageUrl = 'schedule.html';
    - var pageTitle = 'Расписание';
block content
    .main.bg-gray
        +breadcrumbs(pageTitle, "Фитнес", 'Семинары')
        .container
            .page-title.extrabold.pb-30.pb-50-lg.pb-50-md
                .filter-mob-btn.visible-xxs.visible-xs.text-center&attributes(attributes)
                    a(href="#filter-wrap").btn-filter
                        +svg('filter2')
                        | фильтр
                        .count 9
                h1=pageTitle

            p
                | На этой странице Вы можете посмотреть расписание занятий интересующей Вас группы. Если Ваша группа разбита
                | на подгруппы, обязательно укажите номер подгруппы.
                |
            mixin filter2(data)
                .filter-wrap#filter-wrap
                    .filter.shadow2.bg-white
                        a(href="#").close.visible-xs.visible-xxs
                            +svg('close')
                        .container-middle
                            form
                                .checkbox-list
                                   .item
                                       +checkbox({
                                           lbl: 'Лекции'
                                       })
                                   .item
                                       +checkbox({
                                           lbl: 'Семинары'
                                       })
                                   .item
                                       +checkbox({
                                           lbl: 'Практика'
                                       })
                                   .item
                                       +checkbox({
                                           lbl: 'Экзамены'
                                       })
                                .row
                                    .col-sm-6.col-xxs-12
                                        label.form-lbl Программа обучения
                                        .form-group
                                            +select({
                                                items: ['Все программы','Название специализации', 'Название специализации2', 'Название специализации3', 'Название специализации4', 'Название специализации5']
                                            }).inp-gray
                                    .col-sm-6.col-xxs-12
                                        .form-lbl Группа
                                        .form-group
                                            +select({
                                                items: ['Все группы','Группа 1', 'Группа 2', 'Группа 3', 'Группа 4', 'Группа 5']
                                            }).inp-gray
                                .row
                                    .col-sm-6.col-xxs-12
                                        .form-lbl Место проведения
                                        .checkbox-list
                                            .item
                                                +checkbox({
                                                    lbl: 'БЦ на Семеновской'
                                                })
                                            .item
                                                +checkbox({
                                                    lbl: 'Banana Gym'
                                                })
                                            .item
                                                +checkbox({
                                                    lbl: 'Online'
                                                })
                                    .col-sm-6.col-xxs-12
                                        .form-lbl Дата проведения
                                        .row
                                            .col-sm-6.col-xxs-12
                                                .form-group
                                                    .inp-wrap
                                                        label(for="datepicker-min").icon-wrap
                                                            +svg('datepicker')
                                                        input(type="text" name="" id='datepicker-min'  placeholder="Начало").form-control.inp-gray.require.datepicker-min
                                            .col-sm-6.col-xxs-12
                                                .form-group
                                                    .inp-wrap
                                                        label(for="datepicker-max").icon-wrap
                                                            +svg('datepicker')
                                                        input(type="text" name="" id='datepicker-max' placeholder="Конец").form-control.inp-gray.required.datepicker-max
                                .btn-wrap
                                    .row
                                        .col-sm-4.col-xxs-12
                                            button(type="reset").btn.btn-gray.btn-fluid сбросить
                                        .col-sm-8.col-xxs-12
                                            button.btn.btn-fluid
                                                +svg('filter').hidden-xxs.hidden-xs
                                                | фильтровать расписания
            +filter2()
            +schedule({
                list: [
                    {
                        month: 'Ноябрь’19',
                        dates: [
                            {
                                date: '30 ноября',
                                day: 'Понедельник',
                                lessons: [
                                    {
                                        ttl: 'ЗАЧЕТЫ «АЭРОБИКА» И «СТЕП».',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "УПРАЖНЕНИЯ С ОТЯГОЩЕНИЯМИ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "ОБУЧЕНИЕ ДВИГАТЕЛЬНЫМ ДЕЙСТВИЯМ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "УПРАЖНЕНИЯ С ОТЯГОЩЕНИЯМИ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "ОБУЧЕНИЕ ДВИГАТЕЛЬНЫМ ДЕЙСТВИЯМ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    }
                                ]
                            },
                            {
                                date: '01 декабря',
                                day: 'Понедельник',
                                lessons: [
                                    {
                                        ttl: 'ЗАЧЕТЫ «АЭРОБИКА» И «СТЕП».',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "УПРАЖНЕНИЯ С ОТЯГОЩЕНИЯМИ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "ОБУЧЕНИЕ ДВИГАТЕЛЬНЫМ ДЕЙСТВИЯМ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "УПРАЖНЕНИЯ С ОТЯГОЩЕНИЯМИ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "ОБУЧЕНИЕ ДВИГАТЕЛЬНЫМ ДЕЙСТВИЯМ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    }
                                ]
                            }
                        ]
                    },
                    {
                        month: 'Декабрь’19',
                        dates: [
                            {
                                date: '30 ноября',
                                day: 'Понедельник',
                                lessons: [
                                    {
                                        ttl: 'ЗАЧЕТЫ «АЭРОБИКА» И «СТЕП».',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "УПРАЖНЕНИЯ С ОТЯГОЩЕНИЯМИ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "ОБУЧЕНИЕ ДВИГАТЕЛЬНЫМ ДЕЙСТВИЯМ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "УПРАЖНЕНИЯ С ОТЯГОЩЕНИЯМИ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "ОБУЧЕНИЕ ДВИГАТЕЛЬНЫМ ДЕЙСТВИЯМ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    }
                                ]
                            },
                            {
                                date: '01 декабря',
                                day: 'Понедельник',
                                lessons: [
                                    {
                                        ttl: 'ЗАЧЕТЫ «АЭРОБИКА» И «СТЕП».',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "УПРАЖНЕНИЯ С ОТЯГОЩЕНИЯМИ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "ОБУЧЕНИЕ ДВИГАТЕЛЬНЫМ ДЕЙСТВИЯМ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "УПРАЖНЕНИЯ С ОТЯГОЩЕНИЯМИ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Буракевич Татьяна', 'Бикчурина Гульшат', 'Буракевич Татьяна', 'Буракевич Татьяна'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    },
                                    {
                                        ttl: 'ЗАЧЕТ "ОБУЧЕНИЕ ДВИГАТЕЛЬНЫМ ДЕЙСТВИЯМ"',
                                        teacher: ['Бикчурина Гульшат', 'Буракевич Татьяна', 'Бикчурина Гульшат'
                                        ],
                                        places: 'Banana Gym (тренажерный зал)',
                                        group: '199 ПТ, подгруппа 2',
                                        time: '08:30 - 13:00'

                                    }
                                ]
                            }
                        ]
                    }
                ]
            })
        +popularQuestion({
            title: 'Популярные вопросы',
            titleClass: 'text-center extrabold text-left-xs text-left-xxs',
            tabs: [
                {
                    url: 'question-tab1',
                    ttl: 'Как проходит очное обучение',
                    txt: 'Иногородним слушателям, желающим пройти ОЧНОЕ обучение в Москве, рекомендуем выслать электронным письмом заявку в свободной форме с указанием ФИО, контактного телефона, адреса прописки, названия программы и номера группы, в которой хотите проходить обучение, а также копию документа о полной оплате выбранного курса. Выделять полной оплате... '
                },
                {
                    url: 'question-tab2',
                    ttl: 'Как проходит дистанционное обучение',
                    txt: 'Иногородним слушателям, желающим пройти ОЧНОЕ обучение в Москве, рекомендуем выслать электронным письмом заявку в свободной форме с указанием ФИО, контактного телефона, адреса прописки, названия программы и номера группы, в которой хотите проходить обучение, а также копию документа о полной оплате выбранного курса. Выделять полной оплате... '
                },
                {
                    url: 'question-tab3',
                    ttl: 'Какую программу обучения выбрать',
                    txt: 'Иногородним слушателям, желающим пройти ОЧНОЕ обучение в Москве, рекомендуем выслать электронным письмом заявку в свободной форме с указанием ФИО, контактного телефона, адреса прописки, названия программы и номера группы, в которой хотите проходить обучение, а также копию документа о полной оплате выбранного курса. Выделять полной оплате... '
                },
                {
                    url: 'question-tab4',
                    ttl: 'Рассрочка',
                    txt: 'Иногородним слушателям, желающим пройти ОЧНОЕ обучение в Москве, рекомендуем выслать электронным письмом заявку в свободной форме с указанием ФИО, контактного телефона, адреса прописки, названия программы и номера группы, в которой хотите проходить обучение, а также копию документа о полной оплате выбранного курса. Выделять полной оплате... '
                }
            ]
        })

        +subscriptionBlock()

block scripts

