extends base/base.pug
append vars
  - var seminar = true;
  - var pageUrl = 'school-management-seminar.html';
  - var pageTitle = 'Школа урпавления семинар';
block content
  .main
    +navAnchore([
        {url: '#ancore1', ttl: 'О Семинаре'},
        {url: '#ancore2', ttl: 'Что изучается'},
        {url: '#ancore3', ttl: 'Выпускные документы'},
        {url: '#ancore4', ttl: 'Отзывы'},
        {url: '#ancore5', ttl: 'Записаться'},
    ]).hidden-xxs.hidden-xs(data-paretnt=".main")
    #ancore1.land-section.land-banner.has-mask-bg(style='background-image: url(images/land-banner.jpg);')
      .container
        .row
          .col-md-7.col-xxs-12
            .desc
              .h6.title.bold.upper-lg.upper-md.upper-sm
                | Восстановление двигательной активности клиента фитнес-клуба с нарушениями функций и травмами коленного сустава
                |
              +list([
                  {icon: 'checked', ttl: 'Для чего определять телосложение клиента, чем отличаются астеники от эктоморфов? '},
                  {
                      icon: 'checked',
                      ttl: 'Как анализировать показатели о составе тела в динамике и почему это важно для коррекции программ тренировок и питания?  '
                  },
                  {
                      icon: 'checked',
                      ttl: 'Что еще важно учитывать при ведении клиента, помимо данных биоимпедансометрии? '
                  },
                  {
                      icon: 'checked',
                      ttl: 'Какие методы изменения веса/массы тела наиболее эффективны и безопасны?'
                  },
              ]).list-checked
              .info
                .start-date
                  span
                    span Ближайшая дата обучения:
                    =' '
                    |27.12.19
                .end
                  span Преподаватель:
                  =' '
                  |Юлия Попова
          .col-md-5.col-xxs-12
            - var inpId = 0;
            +landEntryCourse({
                title: 'Записаться на <br class="hidden-xs hidden-xxs">семинар',
                btn: 'Отправить заявку',
                forms: [
                    {
                        label: 'ФИО',
                        input: {
                            placeholder: 'Иванов Иван Иванович'
                        }
                    },
                    {
                        input: {
                            placeholder: '+7 (999) 999-99-99',
                            mask: '+7 (999) 999-99-99'
                        }
                    },
                    {
                        input: {
                            type: 'email',
                            placeholder: 'Электронная почта',
                        }
                    },

                    {

                        checkbox: {
                            lbl: 'Являюсь членом FPA',
                            id: 'land-entry-course-checkbox'
                        }
                    },
                    {
                        formGroupClass: 'font-small',
                        txt: 'Отправляя форму, я даю согласие на обработку <a href="#"> персональных данных</a>'
                    }
                ]
            })
    #ancore2.land-section.land-contents.text-center-xs.text-center-xxs
      .container
        .h3.land-section-title.extrabold.text-center.upper Что изучается на семинаре
        mixin contentsList(data)
          .row
            each itm in data
              .item.col-xxs-12.col-sm-4(class=itm.class)
                .ttl.bold.upper!=itm.ttl
                .desc!=itm.txt
        +contentsList([
            {
                ttl: 'Как правильно определить телосложение? ',
                txt: 'Что такое избыток или дефицит веса? В чем отличие астеников от эктоморфов? Подробный разбор понятий «ожирение», «истощение» и др. Как данные антропометрических измерений о составе тела помогают составить план питания и тренировок?'
            },
            {
                class: 'hidden-phone',
                ttl: 'Развеиваем мифы<br>  и заблуждения',
                txt: 'Слышали, что «мышцы тяжелее жира» и что человек весит больше, если у него «кость широкая»? Разберем самые популярные мифы и проанализируем реальные причины возникновения и развития проблем с весом. '
            },
            {
                class: 'hidden-phone',
                ttl: 'Методы исследования<br>  состава тела',
                txt: 'Посмотрим на практике, как работают методы соматоскопического и антропометрического исследования. Как читать данные из имеющихся у вас анализаторов (от калипера и Омрона до Футрекса и InBoby)? Как применять в фитнесе данные биоимпедансного анализа?'
            }
        ])
        .btn-wrap.visible-xs.visible-xxs.text-center
          a.btn.btn-border.js-more(href='#') показать еще
    .land-section.land-contents.text-center-xs.text-center-xxs
      .container
        .h3.land-section-title.extrabold.text-center.upper Что изучается на семинаре
        .subtitle.text-center.text-red.upper.bold Первый день
        +contentsList([
            {
                ttl: 'Как правильно определить телосложение? ',
                txt: 'Что такое избыток или дефицит веса? В чем отличие астеников от эктоморфов? Подробный разбор понятий «ожирение», «истощение» и др. Как данные антропометрических измерений о составе тела помогают составить план питания и тренировок?'
            },
            {
                class: 'hidden-phone',
                ttl: 'Развеиваем мифы<br> и заблуждения',
                txt: 'Слышали, что «мышцы тяжелее жира» и что человек весит больше, если у него «кость широкая»? Разберем самые популярные мифы и проанализируем реальные причины возникновения и развития проблем с весом. '
            },
            {
                class: 'hidden-phone',
                ttl: 'Методы исследования<br>  состава тела',
                txt: 'Посмотрим на практике, как работают методы соматоскопического и антропометрического исследования. Как читать данные из имеющихся у вас анализаторов (от калипера и Омрона до Футрекса и InBoby)? Как применять в фитнесе данные биоимпедансного анализа?'
            }
        ])
        .subtitle.text-center.text-red.upper.bold.hidden-phone Второй день
        +contentsList([
            {
                class: 'hidden-phone',
                ttl: 'Регуляция массы <br> и состава тела ',
                txt: 'Разберем, как определять и оценивать пищевой статус клиента. Углубимся в тему метаболизма и энергетического обмена у физически активных людей. Рассмотрим причины отклонения параметров фигуры клиента от желаемых, учитывая состав тела и другие измерения. '
            },
            {
                class: 'hidden-phone',
                ttl: 'Исправление <br>  ошибок ',
                txt: 'Почему у клиента до сих пор нет результата? Подбираем методы и подходы к изменению фигуры клиента на основе анализа данных о его прошлом опыте и образе жизни в настоящее время. Подбираем рацион и способы контроля за движением клиента к желаемому результату.'
            },
            {
                class: 'hidden-phone',
                ttl: 'Мониторинг<br>  результата',
                txt: 'Работа в комплексе: контролируем состав тела и обхваты, ориентируясь на особенности телосложения - составляем карту клиента. Учимся интерпретировать результаты работы относительно поставленной цели.'
            }
        ])
        .btn-wrap.visible-xs.visible-xxs.text-center
          a.btn.btn-border.js-more(href='#') показать еще

    +landSectionDocSeminar({
        parallaxHide: true,
        group: 'gallery-doc',
        bg: 'images/documents-bg2.jpg',
        mask: true,
        list: [
            {pict: '//fitness-pro.ru/upload/medialibrary/7cb/7cb1e4dd2f86a6556b0de0ee4b581660.jpg'}
        ]
    })#ancore3

    #ancore4.land-section.land-section-feedback
      .container
        .h3.land-section-title.extrabold.text-center.upper отзывы
        +feedbackCarousel([
            {
                ava: 'images/ava.jpg',
                name: 'татьяна гаврилова',
                txt: 'Мне понравилось все — преподаватели, организация, качество и количество материала и то, как интересно нам его преподносили, ответы на ВСЕ задеваемые вопросы. Для меня был удобным график учебы — выходные дни (как человеку, у которого офисная пятидневка). Плюс, что можно смотреть вебинары в записи'
            },
            {
                ava: 'images/ava.jpg',
                name: 'ольга иванова',
                txt: 'Закончила курс Фитнес — нутрициолог. Очень хорошая программа, материал рассмотрен достаточно широко. '
            },
            {
                ava: 'images/ava.jpg',
                name: 'ольга иванова',
                txt: 'Закончила курс Фитнес — нутрициолог. Очень хорошая программа, материал рассмотрен достаточно широко. '
            },
            {
                ava: 'images/ava.jpg',
                name: 'ольга иванова',
                txt: 'Закончила курс Фитнес — нутрициолог. Очень хорошая программа, материал рассмотрен достаточно широко. '
            }
        ])
    .land-section.land-section-gallery.bg-gray.block-shadow-inset
      .container
        .h3.land-section-title.extrabold.text-center.upper Как проходит семинар?
        mixin landGallery(data)
          .carousel-wrap
            button.arrow-round.slick-prev.hidden-xs.hidden-xxs.hidden-sm
              +svg('angle-left')
            button.arrow-round.slick-next.hidden-xs.hidden-xxs.hidden-sm
              +svg('angle-right')
            .carousel
              each itm in data
                .item
                  a(href=itm.img data-fancybox)
                    img(data-lazy=itm.img, alt="")
        +landGallery([
            {img: 'images/gallery1.jpg'},
            {img: 'images/gallery2.jpg'},
            {img: 'images/gallery3.jpg'},
            {img: 'images/gallery2.jpg'},
            {img: 'images/gallery3.jpg'},
        ])
    #ancore5.land-section.land-section-leave.has-mask-bg(style="background-image: url(images/leave-request-bg.jpg);")
      .container
        .h3.land-section-title.extrabold.text-center.upper Записаться на обучение
        .row
          .col-md-4
            .prices
              .item
                .ttl.upper.medium Одним платежом
                .sum
                  .price.bold 36 000 ₽
                  .oldprice 45 000 ₽
                .start-date
                  span До 28 декабря скидка 1 099 ₽
            .period.hidden-xs.hidden-xxs
              .ttl.medium Длительность
              .txt 2 дня по 8 часов
            .saving.hidden-xxs.hidden-xs.hidden-sm
              .ttl.medium Сэкономьте еще 15%
                +svg('rub')
              .txt при оплате за 30 дней до семинара
              .ttl.medium Или скидка 10%
              .txt членам FPA
          .col-md-4
            +landEntryCourse({
                btn: 'Отправить заявку',
                btn2: 'Получить консультацию',
                forms: [
                    {
                        label: 'ФИО',
                        input: {
                            placeholder: 'Иванов Иван Иванович'
                        }
                    },
                    {
                        input: {
                            placeholder: '+7 (999) 999-99-99',
                            mask: '+7 (999) 999-99-99'
                        }
                    },
                    {
                        input: {
                            type: 'email',
                            placeholder: 'Электронная почта',
                        }
                    },
                    {

                        checkbox: {
                            lbl: 'Являюсь членом FPA',
                            id: 'land-entry-course-checkbox'
                        }
                    },
                    {
                        formGroupClass: 'font-small',
                        txt: 'Отправляя форму, я даю согласие на обработку <a href="#"> персональных данных</a>'
                    }
                ]
            })
          .col-md-4
            .saving.visible-xxs.visible-xs.visible-sm
              .ttl.medium Сэкономьте еще 15%
                +svg('rub')
              | Вы можете вернуть 13% денег через налоговый вычет. Спросите об этом менеджера, когда запишетесь на курс
            .pay-info
              .item
                .icon-wrap
                  +svg('purse')
                .ttl.medium Как оплатить от юрлица?
                .txt.font-small Запишитесь на курс от имени того, кто будет учиться, а затем с вами свяжется менеджер курса и поможет оформить оплату
              .item
                .icon-wrap
                  +svg('question')
                .ttl.medium Есть еще вопросы?
                .txt.font-small Звоните нам  —
                  a(href="tel:+74991106867").text-green +7 (499) 110-68-67
            .saving
              .ttl.medium Где проходит семинар?
                +svg('place')
              | г. Москва, ул. Талалихина, д. 28, строение 1, клуб "Banana GYM"
    +subscriptionBlock()
block scripts

