extends base/base.pug
append vars
  - var langig = true;
  - var pageUrl = 'school-management-course.html';
  - var pageTitle = 'Школа урпавления курс';
block content
  .main
    +navAnchore([
        {url: '#ancore1', ttl: 'О КУРСЕ'},
        {url: '#ancore2', ttl: 'Содержание'},
        {url: '#ancore4', ttl: 'Выпускные документы '},
        {url: '#ancore6', ttl: 'Отзывы'},
        {url: '#ancore5', ttl: 'Записаться'},
    ]).hidden-xxs.hidden-xs(data-paretnt=".main")
    #ancore1.land-section.land-banner.has-mask-bg(style='background-image: url(images/land-banner.jpg);')
      .container
        .row
          .col-md-7.col-xxs-12
            .desc
              .h6.title.bold.upper-lg.upper-md.upper-sm
                | АНАЛИЗ СОСТАВА ТЕЛА МВ  ФИТНЕСЕ ФИГУРА НА РЕЗУЛЬТАТ
              +list([
                  {icon: 'checked', ttl: 'Вы тренер и ваши клиенты постоянно спрашивают, как им питаться ?'},
                  {
                      icon: 'checked',
                      ttl: 'Популярные журналы дают неоднозначные и разрозненные советы и рекомендации ?'
                  },
                  {
                      icon: 'checked',
                      ttl: 'Вы изучаете тему питания самостоятельно, но информации слишком много и нет структуры?'
                  },
                  {
                      icon: 'checked',
                      ttl: 'Популярные журналы дают неоднозначные и разрозненные советы и рекомендации ?'
                  },
              ]).list-checked
              .info
                .start-date
                  span Ближайшая дата обучения:   27.12.19
                .end Набор до:   18.08.2019
          .col-md-5.col-xxs-12
            - var inpId = 0;
            +landEntryCourse({
                title: 'Записаться на <br class="hidden-xs hidden-xxs">курс',
                btn: 'Записаться на курс',
                forms: [
                    {
                        label: 'ФИО',
                        input: {
                            placeholder: 'Иванов Иван Иванович'
                        }
                    },
                    {
                        input: {
                            placeholder: '+7 (999) 999-99-99',
                            mask: '+7 (999) 999-99-99'
                        }
                    },
                    {
                        input: {
                            type: 'email',
                            placeholder: 'Электронная почта',
                        }
                    },
                    {

                        checkbox: {
                            lbl: 'Являюсь членом FPA',
                            id: 'land-entry-course-checkbox'
                        }
                    },
                    {
                        formGroupClass: 'font-small',
                        txt: 'Отправляя форму, я даю согласие на обработку <a href="#"> персональных данных</a>'
                    }
                ]
            })

    .land-section.land-section-content#ancore2
      .container
        .h3.land-section-title.extrabold.text-center.upper Что изучается на Курсе
        +contentList([
            {
                ttl: 'ПЕРСОНАЛЬНЫЙ МАРКЕТИНГ ДЛЯ ТРЕНЕРА КАК СИСТЕМА',
                txt: '17 сентября (19.00 - 21.00 МСК)',
                list: [
                    'Из чего состоит система маркетинга эксперта. Основные составляющие системы и как с ними работать.',
                    'Что такое личный бренд и как это работает.',
                    '5 инструментов маркетинга, которыми должен управлять каждый эксперт.',
                    'Как формировать УТП и как работать с разными типами клиентов... <a href="#">Подробнее</a>'
                ]

            },
            {
                ttl: 'КОНТЕНТ-МАРКЕТИНГ ДЛЯ ТРЕНЕРА И НУТРИЦИОЛОГА: СТРАТЕГИЯ, КОНТЕНТ-ПЛАН, СХЕМЫ ВНЕДРЕНИЯ',
                txt: '19 сентября (19.00 - 21.00 МСК)',
                list: [
                    'Из чего состоит система маркетинга эксперта. Основные составляющие системы и как с ними работать.',
                    'Что такое личный бренд и как это работает.',
                    '5 инструментов маркетинга, которыми должен управлять каждый эксперт.',
                    'Как формировать УТП и как работать с разными типами клиентов... <a href="#">Подробнее</a>'
                ]

            },
            {
                ttl: 'ПЕРСОНАЛЬНЫЙ МАРКЕТИНГ ДЛЯ ТРЕНЕРА КАК СИСТЕМА',
                txt: '17 сентября (19.00 - 21.00 МСК)',
                list: [
                    'Из чего состоит система маркетинга эксперта. Основные составляющие системы и как с ними работать.',
                    'Что такое личный бренд и как это работает.',
                    '5 инструментов маркетинга, которыми должен управлять каждый эксперт.',
                    'Как формировать УТП и как работать с разными типами клиентов... <a href="#">Подробнее</a>'
                ]

            },
            {
                ttl: 'КОНТЕНТ-МАРКЕТИНГ ДЛЯ ТРЕНЕРА И НУТРИЦИОЛОГА: СТРАТЕГИЯ, КОНТЕНТ-ПЛАН, СХЕМЫ ВНЕДРЕНИЯ',
                txt: '19 сентября (19.00 - 21.00 МСК)',
                list: [
                    'Из чего состоит система маркетинга эксперта. Основные составляющие системы и как с ними работать.',
                    'Что такое личный бренд и как это работает.',
                    '5 инструментов маркетинга, которыми должен управлять каждый эксперт.',
                    'Как формировать УТП и как работать с разными типами клиентов... <a href="#">Подробнее</a>'
                ]

            },
            {
                ttl: 'ПЕРСОНАЛЬНЫЙ МАРКЕТИНГ ДЛЯ ТРЕНЕРА КАК СИСТЕМА',
                txt: '17 сентября (19.00 - 21.00 МСК)',
                list: [
                    'Из чего состоит система маркетинга эксперта. Основные составляющие системы и как с ними работать.',
                    'Что такое личный бренд и как это работает.',
                    '5 инструментов маркетинга, которыми должен управлять каждый эксперт.',
                    'Как формировать УТП и как работать с разными типами клиентов... <a href="#">Подробнее</a>'
                ]

            },
            {
                ttl: 'КОНТЕНТ-МАРКЕТИНГ ДЛЯ ТРЕНЕРА И НУТРИЦИОЛОГА: СТРАТЕГИЯ, КОНТЕНТ-ПЛАН, СХЕМЫ ВНЕДРЕНИЯ',
                txt: '19 сентября (19.00 - 21.00 МСК)',
                list: [
                    'Из чего состоит система маркетинга эксперта. Основные составляющие системы и как с ними работать.',
                    'Что такое личный бренд и как это работает.',
                    '5 инструментов маркетинга, которыми должен управлять каждый эксперт.',
                    'Как формировать УТП и как работать с разными типами клиентов... <a href="#">Подробнее</a>'
                ]

            },
        ])

    +landSectionDocSeminar({
        parallaxHide: true,
        group: 'gallery-doc',
        bg: 'images/documents-bg2.jpg',
        list: [
            {pict: 'images/certificate-long.jpg'}
        ]
    })#ancore4
    .land-section.land-section-gallery.bg-gray#ancore3
      .container
        .h3.land-section-title.extrabold.text-center.upper Как проходит обучение
        mixin landGallery(data)
          .carousel-wrap
            button.arrow-round.slick-prev.hidden-xs.hidden-xxs.hidden-sm
              +svg('angle-left')
            button.arrow-round.slick-next.hidden-xs.hidden-xxs.hidden-sm
              +svg('angle-right')
            .carousel
              each itm in data
                .item
                  a(href=itm.img data-fancybox)
                    img(data-lazy=itm.img, alt="")
        +landGallery([
            {img: 'images/gallery1.jpg'},
            {img: 'images/gallery2.jpg'},
            {img: 'images/gallery3.jpg'},
            {img: 'images/gallery2.jpg'},
            {img: 'images/gallery3.jpg'},
        ])

    #ancore6.land-section.land-section-feedback
      .container
        .h3.land-section-title.extrabold.text-center.upper отзывы
        +feedbackCarousel([
            {
                ava: 'images/ava.jpg',
                name: 'татьяна гаврилова',
                txt: 'Мне понравилось все — преподаватели, организация, качество и количество материала и то, как интересно нам его преподносили, ответы на ВСЕ задеваемые вопросы. Для меня был удобным график учебы — выходные дни (как человеку, у которого офисная пятидневка). Плюс, что можно смотреть вебинары в записи'
            },
            {
                ava: 'images/ava.jpg',
                name: 'ольга иванова',
                txt: 'Закончила курс Фитнес — нутрициолог. Очень хорошая программа, материал рассмотрен достаточно широко. '
            },
            {
                ava: 'images/ava.jpg',
                name: 'ольга иванова',
                txt: 'Закончила курс Фитнес — нутрициолог. Очень хорошая программа, материал рассмотрен достаточно широко. '
            },
            {
                ava: 'images/ava.jpg',
                name: 'ольга иванова',
                txt: 'Закончила курс Фитнес — нутрициолог. Очень хорошая программа, материал рассмотрен достаточно широко. '
            }
        ])


    #ancore5.land-section.land-section-leave.has-mask-bg(style="background-image: url(images/leave-request-bg.jpg);")
      .container
        .h3.land-section-title.extrabold.text-center.upper Записаться на обучение
        .row
          .col-md-4
            .prices
              .item
                .ttl.upper.medium при оплате частями
                .sum
                  .price.bold 6 000 ₽
              .item
                .ttl.upper.medium Одним платежом
                .sum
                  .price.bold 36 000 ₽
                  .oldprice 45 000 ₽
                .start-date
                  span До 28 декабря скидка 1 099 ₽
            .saving.hidden-xxs.hidden-xs.hidden-sm
              .ttl.medium Сэкономьте еще 13%
                +svg('rub')
              |Вы можете вернуть 13% денег через налоговый вычет. Спросите об этом менеджера, когда запишетесь на курс
          .col-md-4
            +landEntryCourse({
                btn: 'Отправить заявку',
                btn2: 'Получить консультацию',
                forms: [
                    {
                        label: 'ФИО',
                        input: {
                            placeholder: 'Иванов Иван Иванович'
                        }
                    },
                    {
                        input: {
                            placeholder: '+7 (999) 999-99-99',
                            mask: '+7 (999) 999-99-99'
                        }
                    },
                    {
                        input: {
                            type: 'email',
                            placeholder: 'Электронная почта',
                        }
                    },
                    {

                        checkbox: {
                            lbl: 'Являюсь членом FPA',
                            id: 'land-entry-course-checkbox'
                        }
                    },
                    {
                        formGroupClass: 'font-small',
                        txt: 'Отправляя форму, я даю согласие на обработку <a href="#"> персональных данных</a>'
                    }
                ]
            })
          .col-md-4
            .saving.visible-xxs.visible-xs.visible-sm
              .ttl.medium Сэкономьте еще 13%
                +svg('rub')
              | Вы можете вернуть 13% денег через налоговый вычет. Спросите об этом менеджера, когда запишетесь на курс
            .pay-info
              .item
                .icon-wrap
                  +svg('purse')
                .ttl.medium Как оплатить частями?
                .txt.font-small Мы предоставляем беспроцентный кредит от Тинькофф. Вы разделите платеж и ничего не переплатите
              .item
                .icon-wrap
                  +svg('purse')
                .ttl.medium Как оплатить от юрлица?
                .txt.font-small Запишитесь на курс от имени того, кто будет учиться, а затем с вами свяжется менеджер курса и поможет оформить оплату
              .item
                .icon-wrap
                  +svg('question')
                .ttl.medium Есть еще вопросы?
                .txt.font-small Звоните нам  —
                  a(href="tel:+74991106867").text-green +7 (499) 110-68-67
            .saving
              .ttl.medium Где проходит семинар?
                +svg('place')
              | г. Москва, ул. Талалихина, д. 28, строение 1, клуб "Banana GYM"
    +subscriptionBlock()
block scripts
