extends base/base.pug
append vars
  - var pageUrl = 'search-result.html';
  - var pageTitle = 'Поиск';
block content
  .main.bg-gray
    .section-container.page-banner.has-mask-bg.page-banner-small(style='background-image: url(images/search-result.jpg);')
      .breadcrumbs.hidden-xxs.hidden-xs
        .container
          ul
            li
              a(href='#') Главная
            li Поиск
      .container
        .description
          .in.full-width
            form.search-block
              .row
                .col-sm-9.col-xxs-12
                  .form-group
                    input(type="text" name="" placeholder="Поиск").form-control.required.inp-round
                    .error-message.text-red.font-small Укажите что вы ищете
                .col-sm-3.col-xxs-12
                  button.btn.btn-fluid.js-validate Найти




    .section-container.search-result
      .item
        .container
          h1.title.text-center.extrabold По вашему запросу мы нашли
          .search-filter.upper
            .head.hidden-md.hidden-lg
              a(href="#")
                span Все (124)
                .icon-wrap
                  +svg('angle-down')
            ul
              li.active
                a(href="#anchore1") Все (124)
              li
                a(href="#anchore2") Курсы (2)
              li
                a(href="#anchore3") Семинары (1)
              li
                a(href="#anchore4") Библиотека (120)
              li
                a(href="#anchore2") Гид по карьере (1)
      mixin searchList(data)
        .list.row
          each itm in data
            .col-sm-4.col-xs-12.item
              .box
                .ttl.bold.font-large-lg.font-large-md.font-large-sm!=itm.ttl
                !=itm.desc
                a(href="#").lnk-abs

      .item#anchore1
        .container
          .h3.title.extrabold Курсы
          +searchList([
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              },
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              }
          ])

      .item#anchore2
        .container
          .h3.title.extrabold Библиотека
          +searchList([
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum явл'
              },
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              },
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              },
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              },
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              },
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              }
          ])
          .btn-wrap.text-center
            a(href="#").btn Показать еще

      .item#anchore3
        .container
          .h3.title.extrabold Гид по карьере
          +searchList([
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              },
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              },
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              }
          ])
          .btn-wrap.text-center
            a(href="#").btn Показать еще

      .item#anchore4
        .container
          .h3.title.extrabold Гид по карьере
          +searchList([
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              },
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              },
              {
                  ttl: 'Что такое Lorem Ipsum?',
                  desc: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов'
              }
          ])
          .btn-wrap.text-center
            a(href="#").btn Показать еще

    +subscriptionBlock()
block scripts

