extends base/base.pug
append vars
  - var pageUrl = 'seminars.html';
  - var pageTitle = 'Семинары';
block content
  .main.bg-gray
    +breadcrumbs(pageTitle)
    .container
      .page-title.extrabold
        .filter-mob-btn.visible-xxs.visible-xs.text-center&attributes(attributes)
          a(href="#filter-wrap").btn-filter
            +svg('filter2')
            | фильтр
            .count 9
        h1=pageTitle
      +filter1()
    .list-previews
      .item
        +previewBox({
            pict: 'images/preview-box.jpg',
            title: 'Персональный фитнес-тренер',
            period: '120 дней',
            start: '20 марта 2020',
            desc: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
            sum: '43 000',
            btn1: 'Записаться <span class="hidden-xs hidden-xxs">на семинар</span> ',
            btn2: 'подробнее <span class="hidden-xs hidden-xxs">о  семинаре</span> '
        })
      .item
        +previewBox({
            pict: 'images/preview-box.jpg',
            title: 'Персональный фитнес-тренер',
            period: '120 дней',
            start: '20 марта 2020',
            desc: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
            sum: '43 000',
            btn1: 'Записаться <span class="hidden-xs hidden-xxs">на семинар</span> ',
            btn2: 'подробнее <span class="hidden-xs hidden-xxs">о  семинаре</span> '
        })
      .item

        +previewBox({
            pict: 'images/preview-box.jpg',
            title: 'Персональный фитнес-тренер',
            period: '120 дней',
            start: '20 марта 2020',
            desc: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
            sum: '43 000',
            btn1: 'Записаться <span class="hidden-xs hidden-xxs">на семинар</span> ',
            btn2: 'подробнее <span class="hidden-xs hidden-xxs">о  семинаре</span> '
        })
      .item
        +previewBox({
            pict: 'images/preview-box.jpg',
            title: 'Персональный фитнес-тренер',
            period: '120 дней',
            start: '20 марта 2020',
            desc: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
            sum: '43 000',
            btn1: 'Записаться <span class="hidden-xs hidden-xxs">на семинар</span> ',
            btn2: 'подробнее <span class="hidden-xs hidden-xxs">о  семинаре</span> '
        })
      .item
        +previewBox({
            pict: 'images/preview-box.jpg',
            title: 'Персональный фитнес-тренер',
            period: '120 дней',
            start: '20 марта 2020',
            desc: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
            sum: '43 000',
            btn1: 'Записаться <span class="hidden-xs hidden-xxs">на семинар</span> ',
            btn2: 'подробнее <span class="hidden-xs hidden-xxs">о  семинаре</span> '
        })
      .item
        +previewBox({
            pict: 'images/preview-box.jpg',
            title: 'Персональный фитнес-тренер',
            period: '120 дней',
            start: '20 марта 2020',
            desc: 'Вы мечтаете о работе, где совместятся любовь к фитнесу и возможность достойно зарабатывать? Информация из интернета только запутывает, сайты, блогеры и эксперты противоречат друг другу.',
            sum: '43 000',
            btn1: 'Записаться <span class="hidden-xs hidden-xxs">на семинар</span> ',
            btn2: 'подробнее <span class="hidden-xs hidden-xxs">о  семинаре</span> '
        })




      .list-btn-wrap.text-center
        a(href="#").btn показать еще
    .section-container.description-section.has-mask-bg(style="background-image: url(images/desc-block-bg.jpg);")
      .container-middle
        .title-border.h3.extrabold.text-center Текстовый блок
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        p
          | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

    +subscriptionBlock()
block scripts

