extends base/base.pug
append vars
  - var pageUrl = 'tariff.html';
  - var pageTitle = 'Тариф';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/faq.jpg',
        breadcrumbs: pageTitle ,
        title: 'Тарифы на подбор персонала',
        txtClass: 'font-large-lg font-large-md font-large-sm',
        txt: 'В нашей базе – несколько сотен резюме специалистов в области фитнеса, которая постоянно пополняется за счет новых выпускников наших программ: инструкторских и Школы Управления, а в электронной базе - свыше 14,5 тысяч адресов специалистов сферы фитнеса',
        btns: [
            {class: 'anchore', href: '#consultation', ttl: 'Заказать услугу'}
        ]
    })
    .container
      .section-container
        p
          | Сегодня насчитывается более 15 000 сертифицированных членов FPA: инструкторов тренажерного зала, персональных фитнес-тренеров, инструкторов оздоровительной аэробики и силовых направлений в групповых программах, фитнес- менеджеров разного уровня, фитнес-коучей, фитнес- и спортивных нутрициологов.
        p
          | Если в вашу команду нужны сотрудники данных специальностей, мы поможем донести до них информацию о вашей вакансии с вашими прямыми контактами.
    .section-container.section-tariff(style="background-image: url(images/tariff.jpg);")
      .container
        .title-border.h3.extrabold.text-center
          | Что включено в пакет по подбору
          br
          | персонала “Стандарт”
        mixin tariffDetailList(data)
          .list
            each itm in data
              .item
                .num.h5.extrabold.text-red!=itm.num
                .ttl.bold.font-large-lg.font-large-md.font-large-sm!=itm.ttl
                if itm.desc
                  .desc!=itm.desc
        +tariffDetailList([
            {
                num: '1',
                ttl: 'Размещение на fitness-pro.ru',
                desc: 'одной вакансии в строчной форме в рубрике «Вакансии», основная информация – на отдельной странице. Кнопка  «Вакансии» размещена на главной странице сайта. В итоге ваша вакансия непременно окажется в поле зрения любого посетителя сайта FPA,  заинтересованного поиском нового места работы. Посещаемость сайта – свыше 4000\\день.'

            },
            {
                num: '2',
                ttl: 'Двукратная электронная рассылка информации о вакансии по базе адресов FPA в дайджесте «Новые вакансии Кадрового Центра FPA». ',
                desc: '14,5 тысяч сотрудников сферы фитнеса узнают о вашем предложении, просто получив электронное письмо от организации, которой они доверяют!'

            },
            {
                num: '3',
                ttl: 'Размещение анонса вакансии на страницах FPA в социальных сетях: ',
                desc: '<a href="http://vk.com/fpafpa" target="_blank">http://vk.com/fpafpa</a> (более 20 тысяч подписчиков)<br><a href="https://www.facebook.com/proffitness" target="_blank">https://www.facebook.com/proffitness</a> (около 6,7 тысяч подписчиков).'

            }
        ])
        .total-price.text-center
          .title.h5.extrabold Стоимость пакета:
          .price.bold
            span 8 000
             =' '
            |₽
          .btn-wrap
            a(href="#consultation").anchore.btn ЗАКАЗАТЬ Услугу
    .section-container.section-feedback
      .container
        .h3.title.extrabold.text-center.upper отзывы
        +feedbackCarousel([
            {
                ava: 'images/ava.jpg',
                name: 'татьяна гаврилова',
                txt: 'Мне понравилось все — преподаватели, организация, качество и количество материала и то, как интересно нам его преподносили, ответы на ВСЕ задеваемые вопросы. Для меня был удобным график учебы — выходные дни (как человеку, у которого офисная пятидневка). Плюс, что можно смотреть вебинары в записи'
            },
            {
                ava: 'images/ava.jpg',
                name: 'ольга иванова',
                txt: 'Закончила курс Фитнес — нутрициолог. Очень хорошая программа, материал рассмотрен достаточно широко. '
            },
            {
                ava: 'images/ava.jpg',
                name: 'ольга иванова',
                txt: 'Закончила курс Фитнес — нутрициолог. Очень хорошая программа, материал рассмотрен достаточно широко. '
            },
            {
                ava: 'images/ava.jpg',
                name: 'ольга иванова',
                txt: 'Закончила курс Фитнес — нутрициолог. Очень хорошая программа, материал рассмотрен достаточно широко. '
            }
        ])
    +consultation({
        bg: 'images/consultation-bg.jpg',
        title: 'Заказать услугу',
        titleClass: 'h3 text-center extrabold',
    })#consultation.form-success
    +subscriptionBlock()
block scripts

