extends base/base.pug
append vars
  - var pageUrl = 'teachers.html';
  - var pageTitle = 'Преподаватели';
block content
  .main.bg-gray
    +breadcrumbs(pageTitle)
    .container
      .page-title.extrabold.text-center-xs.text-center-xxs
        h1=pageTitle
      mixin teachers(data)
        .teachers-list.row
          each item in data
            .item.col-sm-6.col-md-4.col-xxs-12
              +teacher(item)
      +teachers([
          {
              pict: 'images/teacher4.jpg',
              ttl: 'Лосева <br>Анна',
              post: 'Врач анестезиолог-реаниматолог мед. центра сердечно-сосудистой хирургии, преподаватель кафедры анестезиологии и реаниматологии.'
          },
          {
              pict: 'images/teacher5.jpg',
              ttl: 'Бочкарева Илона Вячеславовна',
              post: 'Преподаватель тренерских  курсов FPA.'
          },
          {
              pict: 'images/teacher7.jpg',
              ttl: 'Бирюкова Лариса',
              post: 'Бизнес-тренер, персональный коуч по фитнесу и бодибилдингу, консультант.'
          },
          {
              pict: 'images/teacher8.jpg',
              ttl: 'Лосева Анна',
              post: 'Врач анестезиолог-реаниматолог мед. центра сердечно-сосудистой хирургии, преподаватель кафедры анестезиологии и реаниматологии.'
          },
          {
              pict: 'images/teacher9.jpg',
              ttl: 'Бочкарева Илона Вячеславовна',
              post: 'Преподаватель тренерских  курсов FPA.'
          },
          {
              pict: 'images/teacher10.jpg',
              ttl: 'Бирюкова Лариса',
              post: 'Бизнес-тренер, персональный коуч по фитнесу и бодибилдингу, консультант.'
          },
          {
              pict: 'images/teacher4.jpg',
              ttl: 'Лосева <br>Анна',
              post: 'Врач анестезиолог-реаниматолог мед. центра сердечно-сосудистой хирургии, преподаватель кафедры анестезиологии и реаниматологии.'
          },
          {
              pict: 'images/teacher5.jpg',
              ttl: 'Бочкарева Илона Вячеславовна',
              post: 'Преподаватель тренерских  курсов FPA.'
          },
          {
              pict: 'images/teacher7.jpg',
              ttl: 'Бирюкова Лариса',
              post: 'Бизнес-тренер, персональный коуч по фитнесу и бодибилдингу, консультант.'
          },
          {
              pict: 'images/teacher8.jpg',
              ttl: 'Лосева Анна',
              post: 'Врач анестезиолог-реаниматолог мед. центра сердечно-сосудистой хирургии, преподаватель кафедры анестезиологии и реаниматологии.'
          },
          {
              pict: 'images/teacher9.jpg',
              ttl: 'Бочкарева Илона Вячеславовна',
              post: 'Преподаватель тренерских  курсов FPA.'
          },
          {
              pict: 'images/teacher10.jpg',
              ttl: 'Бирюкова Лариса',
              post: 'Бизнес-тренер, персональный коуч по фитнесу и бодибилдингу, консультант.'
          }
      ])
    +subscriptionBlock()
block scripts

