extends base/base.pug
append vars
  - var pageUrl = 'teacher.html';
  - var pageTitle = 'Белицкая Любовь Александровна';
block content
  .main.bg-gray
    +breadcrumbs(pageTitle, 'Преподаватели')
    .container
      .page-title.extrabold.text-center-xs.text-center-xxs
        h1=pageTitle
      .section-container.teacher-detail
        .row
          .col-xs-12.col-sm-4
            .pict
              img(src="images/teacher11.jpg", alt="")
            +menu([
                {url: '#', target: '_blank', icon: 'insta'},
                {url: '#', target: '_blank', icon: 'vk'},
                {url: '#', target: '_blank', icon: 'fb'},
            ]).social-box.social-reverse
          .col-xs-12.col-sm-8
            .ttl.bold Образование
            p  Высшее профильное образование и переподготовка за рубежом (USA, Spain)
            .ttl.bold Общий педагогический стаж
            p
              | Более 30 лет.
              br
              | Доцент кафедры физиологии РГУФКСМиТ, специалист в области физиологии спорта и оздоровительной физической культуры.
            .ttl.bold Заслуги
            p
              | Московское городское физкультурно-спортивное объединение: почетная грамота за заслуги в области образования.
              br
              | Комитет физической культуры и спорта правительства Москвы: почетная грамота за заслуги по обучению специалистов физической культуры и спорта Москвы в 2002/2003 учебном году.
            p
              | Псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель. Это очень удобный инструмент для моделей (макетов).
            p
              | Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка. Lorem ipsum по большей части является элементом латинского текста классического автора и философа Цицерона. Слова и буквы были заменены добавлением или сокращением элементов, поэтому будет совсем неразумно пытаться передать содержание; это не гениально, не правильно, используется даже не понятный латинский.
            p
              | Хотя Lorem ipsum напоминает классический латинский, вы не найдете никакого смысла в сказанном. Поскольку текст Цицерона не содержит буквы K, W, или Z, что чуждо для латинского, эти буквы, а также многие другие часто вставлены в случайном порядке, чтобы скопировать тексты различных Европейских языков, поскольку диграфы не встречаются в оригинальных текстах.
            p
              | В профессиональной сфере часто случается так, что личные или корпоративные клиенты заказывают, чтобы публикация была сделана и представлена еще тогда, когда фактическое содержание все еще не готово. Вспомните новостные блоги, где информация публикуется каждый час в живом порядке. Тем не менее, читатели склонны к тому, чтобы быть отвлеченными доступным контентом, скажем, любым текстом, который был скопирован из газеты или интернета. Они предпочитают сконцентрироваться на тексте, пренебрегая разметкой и ее элементами. К тому же, случайный текст подвергается риску быть неумышленно смешным или оскорбительным, что является неприемлемым риском в корпоративной среде. Lorem ipsum, а также ее многие варианты были использованы в работе начиная с 1960-ых, и очень даже похоже, что еще с 16-го века.

    +subscriptionBlock()
block scripts

