extends base/base.pug
append vars
  - var pageUrl = 'vacancy-section.html';
  - var pageTitle = 'Вакансия раздел';
block content
  .main.bg-gray
    +pageBanner({
        bg: 'images/faq.jpg',
        breadcrumbs: pageTitle ,
        title: 'Все вакансии',
        txtClass: 'font-large-lg font-large-md font-large-sm',
        txt: 'В нашей базе – несколько сотен резюме специалистов в области фитнеса, которая постоянно пополняется за счет новых выпускников наших программ: инструкторских и Школы Управления, а в электронной базе - свыше 14,5 тысяч адресов специалистов сферы фитнеса',
        btns: [
            {class: 'anchore', href: '#consultation', ttl: 'Записаться на консультацию'}
        ]
    })
    .container
      .section-container
        +instructors({
            items: [
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                },
                {
                    pict: 'images/ava3.jpg',
                    ttl: 'Персональный фитнес-тренер',
                    organization: 'Магазин “Мир фитнеса”',
                    address: 'Москва, м. Бульвар Рокоссовскго',
                    prices: 'от 15 000 до 35 000 ₽'
                }
            ]
        })
        +pagination()
        +anonsArticle({
            title: 'Полезно знать о составление резюме',
            titleClass: 'h3 extrabold text-center title-border',
            pict: 'images/blog-detail-main-pict.jpg',
            ttl: 'В данной статье представлены несколько простых советов, которые смогут помочь инструкторам в поисках работы.',
            ttlClass: 'extrabold font-large-sm font-large-md font-large-lg mt-15-xxs mt-15-xs',
            desc: 'В данной статье представлены несколько простых советов, которые смогут помочь инструкторам в поисках работы – особенно если специалист ищет ее в данной отрасли впервые или имеет небольшой опыт и \\ или профессиональных связей в Москве. ВАЖНО!',
            btn: 'Читать дальше',
            btnClass: ''
        })
    +consultation({
        bg: 'images/consultation-bg.jpg',
        title: 'Записаться на консультацию',
        titleClass: 'h3 text-center extrabold',
    })#consultation
    +subscriptionBlock()
block scripts

