extends base/base.pug
append vars
  - var pageUrl = 'vacancy.html';
  - var pageTitle = 'Вакансия';
block content
  .main.bg-gray
    +breadcrumbs(pageTitle)
    .container
      +summary({
          pict: 'images/summary.jpg',
          title: 'Персональный фитнес-тренер',
          titleClass: 'bold h6 ',
          prices: 'от 15 000 до 35 000 ₽',
          shop: 'Магазин “Мир фитнеса”',
          shopAd: 'Москва, м. Бульвар Рокоссовскго',
          phone: true,
          mail: 'mir-fitnesa@mail.ru',
          education: 'Высшее профильное образование и переподготовка за рубежом (USA, Spain)',
          experience: 'Более 30 лет.<br>Доцент кафедры физиологии РГУФКСМиТ, специалист в области физиологии спорта и оздоровительной физической культуры.',
          education: 'Высшее профильное образование и переподготовка за рубежом (USA, Spain)',
          ttlPlus: 'Общий педагогический стаж',
          plus: 'Московское городское физкультурно-спортивное объединение: почетная грамота за заслуги в области образования.<br>Комитет физической культуры и спорта правительства Москвы: почетная грамота за заслуги по обучению специалистов физической культуры и спорта Москвы в 2002/2003 учебном году.'
      })


    +subscriptionBlock()
block scripts

