.about-container {
  .progress {
    display: flex;
    flex-flow: row wrap;
    border-right: 2px solid $gray5;
    border-bottom: 2px solid $gray5;
    border-radius: 0 0 10px 0;
    .item {
      display: flex;
      width: 50%;
      border-left: 2px solid $gray5;
      border-top: 2px solid $gray5;
      &:last-child {
        border: none;
        a {
          border-radius: 10px;
          background: $red;
          color: #FFF;
          box-shadow: $boxShadowRed;
          border: none;
          &:hover {
            background: #F20100;
            border-color: #F20100;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          }
        }
      }
      .box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 20px;
        font-size: 14px;
        min-height: 210px;
        @include mq('tablet') {
          min-height: 140px;
          padding: 5px;
          img {
            max-width: 70px;
          }
        }
        img {
          margin-bottom: 15px;
        }
        @include mq('tablet') {
          font-size: 11px;
          line-height: 15px;
        }
        .num {
          font-size: 50px;
          line-height: 65px;
          +div {
            font-size: 19px;
            line-height: 25px;
            @include mq('tablet') {
              font-size: 16px;
              line-height: 15px;
            }
          }
          @include mq('tablet') {
            font-size: 35px;
            line-height: 40px;
          }
        }
      }
    }
  }
}
