.section-anons-article {
  img {
    display: block;
    width: 100%;
  }
  .row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .desc {
    margin-top: 8px;
  }
  .btn-wrap {
    margin-top: 8px;
  }
}
