.blog-detail {
  text-align: justify;
  .sources .list,
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .title,
  ul, ol {
    text-align: left;
  }
  .top-info {
    display: flex;
    padding-bottom: 50px;
    @include mq('tablet') {
      padding: 0 0 15px;
      display: block;
    }
    .item {
      position: relative;
      padding-left: 30px;
      margin-right: 15px;
      @include mq('tablet') {
        width: 100%;
        +.item {
          margin-top: 10px;
        }
      }
      .icon {
        width: 20px;
        height: 20px;
        fill: #8B8B8B;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .banner {
    img {
      display: block;
      width: 100%;
    }
    @include mq('tablet') {
      margin: 0 0 30px;
    }
  }
  >.row {
    display: flex;
    flex-flow: row wrap;
    &:after {
      display: none;
    }
    >div:last-child {
      order: -1;
    }
  }
  .main-pict {
    img {
      width: 100%;
      margin: 0;
    }
  }
  .sources {
    margin: 50px 0;
    @include mq('tablet') {
      margin: 30px 0;
    }
    .ttl {
      font-weight: bold;
      @include mq('tablet', min) {
        font-size: 18px;
        line-height: 21px;
      }
    }
    .list {
      padding: 20px 0;
      max-height: 170px;
      overflow: hidden;
      position: relative;
      &.open {
        max-height: none;
      }
      &:after {
        width: 100%;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        background: linear-gradient(to bottom, rgba($gray4, 0) 0%, rgba($gray4, 1) 100%);
      }
      .item {
        margin: 0 0 10px;
        a {
          color: inherit;
          font-weight: bold;
        }
      }
    }
  }
  .share-block {
    margin: 50px 0;
    @include mq('tablet') {
      margin: 30px 0;
    }
    .ttl {
      margin: 0 0 20px;
      @include mq('tablet', min) {
        font-size: 18px;
        line-height: 21px;
      }
    }
    a {
      width: 40px;
      height: 40px;
      display: inline-block;
      vertical-align: top;
      border: none;
      margin: 0 10px 0 0;
      svg {
        display: block;
      }
    }
  }
  .tags-block {
    margin-bottom: 0;
  }
}
