.breadcrumbs {
  padding: 8px 0;
  font-size: 0;
  line-height: 0;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
      line-height: 16px;
      &:first-child {
        &:before {
          display: none;
        }
      }
      &:before {
        content: '/';
        margin: 0 22px;
      }
      a {
        color: inherit;
        border-bottom: transparent;
        &:hover {
          color: $red;
        }
      }
    }
  }
}

.landig-page {
  &.has-breadcrumbs {
    .nav-anchors {
      @include mq('tablet-wide') {
        display: none!important;
      }
    }
    @include mq('tablet', min) {
      .breadcrumbs {
        color: #FFF;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 100;
        background: rgba(255,255,255,.1);
      }
    }
    @include mq('tablet-wide', min) {
      .breadcrumbs {
        top: 32px;
      }
    }
  }
}
