.consultation-container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include mq('tablet', min) {
    .row {
      display: flex;
      flex-flow: row wrap;
      >div {
        display: flex;
      }
    }
  }
  @include mq('tablet') {
    background: transparent!important;
    &:before {
      display: none;
    }
    .row {
      margin: 0 -20px;
      >div {
        padding: 0 20px;
      }
    }
  }
  .row {
    >div {
      position: static;
    }
  }

  .mythes {
    padding: 50px 0;
    color: #FFF;
    width: 100%;
    @include mq('tablet', min) {
      padding-left: 25px;
    }
    @include mq('tablet') {
      background:  url(../images/mythes.jpg) 0 0 no-repeat;
      background-size: cover;
      margin: 0 -20px;
      padding: 30px 20px;
    }
    .in {
      position: relative;
    }
    &:before {
      content: '';
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: 15px;
      background:  url(../images/mythes.jpg) 0 0 no-repeat;
      background-size: cover;
      @include mq('tablet') {
        left: 0;
        display: none;
      }
    }
  }
  .container-middle  {
  }
  .col-consultation {
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    @include mq('tablet', min) {
      background: transparent!important;
    }
  }
  .col-consultation-big {
    @include mq('tablet', min) {
      display: flex;
      justify-content: flex-end;
      .consultation {
        width: 471px;
        max-width: 100%;

        form {
          max-width: 400px;
        }
      }
    }
  }
  .consultation {
    color: #FFF;
    padding: 50px 0;
    @include mq('tablet') {
      padding: 25px 0;
    }
    &.success {
      position: relative;
      .consultation-in {
        opacity: 1;
        visibility: hidden;
        z-index: -100;
        position: relative;
      }
      .report {
        opacity: 1;
        visibility: visible;
        z-index: auto;
      }
    }
    .report {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      position: absolute;
      @include transition();
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #FFF;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }
    .report-title {
      font-size: 42px;
      @include mq('tablet') {
        font-size: 20px;
        line-height: 23px;
      }
    }
    a {
      color: inherit;
    }
    .btn-wrap {
      margin: 0 0 18px;
    }
  }
  .we-socials {
    background: #FFF;
    position: relative;
    width: 100%;
    @include mq('tablet', min) {
      margin-right: 20px;
    }
    @include mq('tablet') {
      padding: 25px 0;
    }
    .title {
      @include mq('tablet') {
        position: relative;
        padding-bottom: 20px;
        &:after {
          content: '';
          width: 100px;
          height: 4px;
          background: $red;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }
    .social-box {
      @include mq('tablet', min) {
        margin: 0;
        display: flex;
        flex-direction: column;
        left: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        li {
          margin: 19px 0;
        }

      }
      @include mq('tablet') {
        flex-flow: row wrap;
        border-bottom: 2px solid $gray5;
        border-right: 2px solid $gray5;
        li {
          width: 50%;
          margin: 0;
          a {
            display: block;
            padding-bottom: 100%;
            border-left: 2px solid $gray5;
            border-top: 2px solid $gray5;
            width: auto;
            height: auto;
            border-radius: 0;
            position: relative;
            color: #000;
            .icon-wrap {
              width: 52px;
              height: 52px;
              border-radius: 100%;
              background: $red;
              color: #FFF;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -75%);
            }
            .ttl {
              position: absolute;
              bottom: 50%;
              left: 50%;
              transform: translate(-50%, 200%);
            }
          }
        }

      }
    }
    .in {
      @include mq('tablet', min) {
        max-width: 360px;
        margin: 0 auto;

        padding: 50px 15px;
      }
    }
  }
}
