.contacts-info{
    .list {
      display: flex;
      flex-flow: row wrap;
      .item {
        display: flex;
        padding: 15px;
      }
    }
  .box {
    width: 100%;
    padding: 35px;
    @include mq('tablet') {
      padding: 15px;
    }
    a[href^="mailto:"],
    a[href^="tel:"] {
      font-weight: bold;
    }
    a {
      color: inherit;
      &[href^="mailto:"] {
        border-bottom: 1px solid $baseFClr;
          &:hover {
            border-bottom-color: transparent;
          }
      }
    }
    .social-box {
      color: #8B8B91;
      li {
        @include mq('tablet') {
          margin: 0 5px;
        }
      }
    }
    .ttl {
      margin: 0 0 15px;
      font-size: 22px;
      line-height: 25px;
      @include mq('tablet', min) {
        font-size: 28px;
        line-height: 31px;
        margin: 0 0 25px;
      }
    }
  }
}
