.courses-preview {
  position: relative;
  padding: 50px  0;
  @include mq('tablet', min) {
    position: relative;
    z-index: 11;
  }
  @include mq('tablet-wide', min) {
    margin-top: -142px;
  }
  @include mq('desktop') {
    @include mq('tablet-wide', min) {
      margin-left: 80px;
      margin-right: 80px;
    }
  }

  @include mq('tablet-wide') {
    padding: 25px 0;
  }
  .item {}
  .carousel {
    background: #FFF;
    max-width: 100%;
    box-shadow: $boxShadow;
    @include mq('tablet-wide') {
      margin-bottom: 30px;
    }
    .slick-slide {

    }
  }
  .slick-track {
    @include mq('tablet', min) {
      display: flex;
      .slick-slide {
        display: flex;
        height: auto;
        >div {
          display: flex;
          width: 100%;
          .item {
            display: flex!important;
            width: 100%;
          }
        }
      }
    }
  }
  .box {
    font-size: 18px;
    min-height: 183px;
    width: 100%;
    background: #FFF;
    @include mq('tablet', min) {
      display: flex;
      flex-flow: row wrap;
    }
    @include mq('tablet') {
      font-size: 15px;
    }
    .right,.left {
      @include mq('tablet', min) {
        display: flex;
      }
      .in {
        width: 100%;
      }
    }
    .left {
      background:  url(../images/courses-preview-bg.jpg) center 0 no-repeat;
      background-size: cover;
      color: #FFF;
      width: 65%;
      padding: 25px 40px;
      .title {
        margin: 15px 0 0;
      }
      @include mq('tablet-wide') {
        @include mq('tablet') {
          width: 60%;
        }
      }
      @include mq('tablet') {
        width: auto;
        padding: 15px 10px;
        font-size: 13px;
        line-height: 16px;
        .top {
          height: 32px;
          overflow: hidden;
        }
        .title {
          height: 60px;
          overflow: hidden;
        }
      }
    }
    .right {
      width: 35%;
      padding: 25px 20px;
      @include mq('tablet-wide') {
        @include mq('tablet') {
          width: 40%;
        }
      }
      @include mq('tablet') {
        width: auto;
        padding: 15px 15px 20px;
      }
    }
    .btn  {
      margin-top: 15px;
    }

  }
}

