.covid19-banner {
  position: relative;
  padding: 15px 0;
  .title {
    margin: 0 0 5px;
  }
  .lnk-reverse {
    color: inherit;
  }
  &:hover {
    .lnk-reverse {
      color: $red;
      border-color: $red;
    }
  }
}
