.faq-accordion {
  .item {
    margin-top: 10px;
  }
  .item.open {
    .head {
      background: #D6D6D6;
      .icon-wrap {
        color: #6B6B6B;
        .icon {
          transform: rotate(180deg);
        }
      }
    }
    .body {
      display: block;
    }
  }
  .head {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    padding: 18px 60px 18px 40px;
    background: #EFEFEF;
    cursor: pointer;
    @include transition();
    @include mq('tablet') {
      padding: 10px 40px 10px 10px;
    }
    &:hover {
      background: #D6D6D6;
    }

  }
  .icon-wrap {
    height: 100%;
    position: absolute;
    width: 60px;
    display: flex;
    align-items: center;
    right: 0;
    top: 0;
    color: #000;
    @include mq('tablet') {
      width: 40px;
    }
    @include transition();
    .icon {
      width: 16px;
      height: 10px;
      cursor: pointer;
    }
  }
  .body {
    padding: 30px 0 30px 40px;
    display: none;
    @include mq('tablet') {
      padding: 10px 0 10px 10px;
    }
  }
  .itm {
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }
  }
  .ttl {
    position: relative;
    padding-right: 40px;
    cursor: pointer;
    @include transition();
    &:hover {
      color: $red;
      .icon-wrap {
        color: inherit;
      }
    }
    .icon-wrap {
      color: #909090;
      .icon {
        cursor: pointer;
      }
    }
  }
  .itm.open {
    .ttl {
      padding-right: 60px;
      @include mq('tablet') {
        padding-right: 40px;
      }
      .icon-wrap {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
    .answer {
      display: block;
    }
  }
  .answer {
    display: none;
    padding: 10px 60px 10px 0;
    @include mq('tablet') {
      padding: 5px 40px 5px 0;
    }
  }
}
