.filter-wrap {
  padding: 50px 0;
  @include mq('tablet') {
    padding:  0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: -1000;
    visibility: hidden;
    opacity: 0;
    transform: translateY(40%);
    @include transition();
    &.open {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      z-index: 1000;
    }
  }
  .checkbox-list {
    margin-bottom: 50px;
    @include mq('tablet') {
      margin: 0 0 7px;
      display: flex;
      flex-flow: row wrap;
    }
    .item {
      display: inline-block;
      vertical-align: top;
      margin-right: 55px;
      @include mq('tablet') {
        width: 50%;
        margin: 0 0 20px;

      }
    }
  }
  .row + .row {
    @include mq('tablet', min) {
      margin-top: 50px;
    }
  }
  .row {
    .checkbox-list {
      margin: 14px 0 0;
      .item {
        margin-right: 10px;
      }
      @include mq('tablet') {
        margin: 0;
        .item {
          width: 100%;
          margin: 0 0 10px;
        }
      }
    }
  }
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    color:  inherit;
    .icon {
      display: block;
      width: 15px;
    }
  }
  .filter {
    padding: 50px 15px;
    @include mq('tablet') {
      padding: 30px 15px;
      min-height: 100%;
    }
  }
  .btn-wrap {
    margin-top: 8px;
    @include mq('tablet', min) {
      margin-top: 32px;
    }
    @include mq('tablet') {
      .js-validate {
        margin-top: 15px;
      }
    }

  }
  .btn {
    .icon_filter {
      width: 18px;
      height: 18px;
      margin-right: 10px;
      vertical-align: middle;
      position: relative;
      top: -3px;
    }
  }
}
.filter-mob-btn {
  float: right;
  a {
    color: inherit;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    border: none;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-right: 20px;
  }
  .count {
    position: absolute;
    right: 0;
    top: -7px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: $red;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #FFF;
  }
  .icon {
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -3px;
    width: 22px;
    height: 16px;
  }
}
