footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include mq('tablet') {
    font-size: 15px;
    line-height: 18px;
  }
  a {
    color: inherit;
    @extend .lnk-reverse;
  }
  .footer-top {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 14px;
    line-height: 26px;
    @include mq('tablet-wide') {
      font-size: 12px;
      line-height: 20px;
    }
    @include mq('tablet') {
      font-size: 15px;
      line-height: 18px;
      padding: 20px 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
      }
    }
    .ttl {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1px;
    }
    .inner {
      display: flex;
      margin: 0 -15px;
      @include mq('tablet-wide') {
        margin: 0 -7.5px;
      }
      @include mq('tablet') {
        display: block;
        margin: 0;
      }
    }
    .address {
      margin-top: 5px;
    }
    .phone {
      margin: 20px 0 0;
      font-weight: bold;
      font-size: 20px;
      @include mq('tablet') {
        margin: 15px 0 9px;
      }
    }
    .mail {
      font-size: 16px;
      font-weight: bold;
      a {
        border-bottom: 1px dotted;
      }
    }
    .social-box {
      margin-top: 25px;
    }
    .logo-wrap {
      width: 100px;
      margin-top: 3px;
      max-width: 100%;
      @include mq('tablet') {
        width: auto;
        display: flex;
        align-items: center;
        margin: 0 0 15px;
        .logo {
          border: none;
          width: 95px;
        }
      }
      svg {
        display: block;
        max-height: 39px;
      }
      .logo {
        display: block;
        border: none;
        svg {
          width: 100%;
        }
      }
      .slogan {
        border: none;
        display: block;
        margin-top: 12px;
        @include mq('tablet') {
          width: 103px;
          margin: 0 0 0 15px;
        }
        svg {
          width: 100%;
          max-height: 30px;
        }
      }
    }
    .item {
      padding: 0 15px;
      @include mq('tablet-wide') {
        padding: 0 7.5px;

      }
      @include mq('tablet') {
        padding: 0;
        width: auto;
      }
      &:first-child {
        width: 12.5%;
        @include mq('tablet-wide') {
          width: 75px;
          margin-right: auto;
        }
        @include mq('tablet') {
          padding: 15px 0 0;
          width: auto;
        }
      }
      &:nth-child(2) {
        width: 54.5%;
        display: flex;
        nav {
          padding-left: 15px;
          width: percentage(1/3);
          &:first-child {
            padding-left: 0;
          }
        }
      }
      &:nth-child(3) {}
    }
  }

  .footer-bottom {
    border-top: 1px solid $gray5;
    padding: 20px 0;
    .inner {
      display: flex;
      font-size: 14px;
      line-height: 20px;
      color: #666666;
      @include mq('tablet') {
        font-size: 12px;
        line-height: 15px;
      }
      a {
        color: inherit;
      }
      .copyright {
        margin-right: auto;
      }
    }
    .developer {
      position: relative;
      padding-right: 160px;
      .logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }
}
