.gallery-carousel {
  position: relative;
  .carousel-wrap {
    position: relative;
    @include mq('desktop-wide-md') {
      @include mq('tablet-wide', min) {
        margin: 0 70px;
      }
    }
  }
  .carousel {
    margin: 0 -15px;
  }
  .slick-dots {
    position: relative;
  }
  .item {
    padding: 0 15px;
    img {
      display: block;
      width: 100%;
    }
    a {
      border: none;
    }
  }
}
