header {
  &.fixed {
    .header-line {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      box-shadow: 0 2px 3px rgba(#333333, 0.28);
    }
  }

  .header-top {
    background: #FFF;
    border-bottom: 1px solid $gray5;

    .inner {
      display: flex;
      align-items: center;
    }

    nav {
      margin-right: auto;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
          a {
            font-size: 13px;
            line-height: 20px;
            padding: 5px 5px 5px 0;
            border-bottom: none;
            color: inherit;
          }

          &.active a,
          a:hover {
            color: $red;
          }
        }
      }
    }

    .phone {
      margin-left: auto;
      margin-right: 6px;
      font-weight: 500;

      a {
        display: inline-block;
        padding: 9px 0 3px 22px;
        position: relative;
        white-space: nowrap;

        .icon {
          width: 14px;
          height: 14px;
          position: absolute;
          top: 15px;
          left: 0;
          color: $red;
        }
      }
    }
  }

  .header-bottom {
    height: 68px;
    @include mq('tablet') {
      height: 60px;

    }
  }

  .header-line {
    height: 68px;
    background: #FFF;
    position: relative;
    z-index: 500;
    @include transition();
    @include mq('tablet') {
      height: 60px;

    }
  }

  .header-line-inner {
    display: flex;
    height: 68px;
    @include mq('tablet') {
      height: 60px;
    }
  }

  .logo-wrap {
    margin-right: auto;
    display: flex;
    align-items: center;
    border: none;

    a {
      border: none;
    }

    .burger {
      width: 23px;
      margin-right: 18px;
      height: 23px;
      display: block;
      position: relative;
      z-index: 100;

      .icon {
        display: block;
        @include center;
        @include transition();

        &.icon_burger {
          width: 23px;
          color: $baseFClr;
        }

        &.icon_close {
          width: 21px;
          height: 21px;
          color: #FFF;
          opacity: 0;
        }
      }
    }

    .logo {
      svg {
        width: 100px;
        height: 62px;
        margin: 0px 16px 0 0;
      }
    }

    svg {
      display: block;
    }

    .slogan {
      svg {
        width: 125px;
        @include mq('tablet') {
          width: 103px;

        }
      }
    }
  }

  .login {
    align-self: center;

    .btn {
      display: block;
      @include mq('tablet', min) {
        svg {
          display: none;
        }
      }
      @include mq('tablet') {
        padding: 0;
        font-size: 0;
        line-height: 0;
        width: 36px;
        height: 36px;
        position: relative;
        svg {
          width: 12px;
          height: 14px;
          @include center;
        }

      }
    }
  }

  .search {
    align-self: center;
    position: relative;
    margin-left: 28px;
    @include mq('tablet-wide') {
      margin-left: 15px;
    }
    @include mq('tablet') {
      position: static;
      margin-left: 10px;
    }

    button {
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 100%;
      position: relative;
      display: block;
      z-index: 3;
      padding: 0;
      @include mq('tablet') {
        width: 36px;
        height: 36px;
      }

      &:hover {
        @include mq('tablet-wide', min) {
          color: #FFF;
          background: $red;
        }
      }

      .icon {
        @include center;
        width: 17px;
        height: 17px;
        @include mq('tablet') {
          width: 14px;
          height: 14px;
        }
      }
    }

    &.open {
      .inp {
        width: 737px;
        @include mq('tablet') {
          width: calc(100% - 83px);
        }
      }

      button {
        color: #FFF;
        background: $red;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      }
    }

    .inp {
      position: absolute;
      right: 0;
      top: 0;
      @include transition();
      width: 0;
      overflow: hidden;
      border-radius: 20px;
      @include mq('tablet') {
        right: 20px;
        top: 12px;

      }
    }

    input {
      display: block;
      width: 100%;
      border: none;
      border-radius: 20px;
      font-size: 16px;
      line-height: 26px;
      color: $baseFClr;
      background: $gray2;
      padding: 7px 45px 7px 24px;
      @include placeholder() {
        color: $gray3;
      }
      @include mq('tablet') {
        padding-top: 5.5px;
        padding-bottom: 5.5px;
        padding-left: 18px;
        font-size: 12px;
      }
    }
  }

  &.menu-open {
    @include mq('tablet') {
      .header-line {
        background: $red;

        .logo-wrap {
          .burger {
            .icon_burger {
              opacity: 0;
            }

            .icon_close {
              opacity: 1;
            }
          }

          .slogan {
            opacity: 0;
          }
        }

        .login {
          opacity: 0;
        }

        .search {
          button {
            background: #FFFFFF;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            color: $baseFClr;
          }

          .inp {
            width: calc(100% - 83px);
          }
        }
      }
      .main-menu {
        transform: translateX(0);
      }
    }
  }
  &.search-open {
   @include mq('tablet') {
     .header-line {
       background: $red;
       color: #000;
     }
     .logo-wrap {
       .slogan {
         opacity: 0;
       }
     }
     .search.open button {
       background: #FFF;
       color: #000;
     }
     .logo-wrap .burger {
       .icon_burger {
         opacity: 0;
       }
       .icon_close {
         opacity: 1;
       }
     }
   }
  }
}

.main-menu {
  display: flex;
  margin-right: 15px;
  @include mq('tablet-wide') {
    margin-left: 23px;
  }
  @include mq('tablet') {
    position: absolute;
    transition: transform 0.3s ease;
    top: 100%;
    left: 0;
    width: 100%;
    background: $red;
    color: #FFF;
    margin: 0;
    height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    transform: translateX(-100%);
    &.submenu-open {
      overflow: hidden;
    }
    .contacts {
      padding: 50px 20px;
      .title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        margin: 0 0 15px;
      }
      .phone {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin: 0 0 15px;
      }
      .mail {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 25px;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  > ul {
    @include mq('tablet', min) {
      display: flex;
    }

    > li {
      @include mq('tablet', min) {
        display: flex;
      }

      > a {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 26px;
        padding: 15px 14px;
        text-transform: uppercase;
        color: inherit;
        text-decoration: none;
        border: none;
        font-weight: 700;
        position: relative;
        white-space: nowrap;
        @include mq('tablet-wide') {
          padding: 15px 7px;
        }
        @include mq('tablet', min) {
          &:before {
            opacity: 0;
            content: '';
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-top: none;
            border-bottom: 10px solid $red;
            bottom: 2px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @include transition();
          }
          &:after {
            content: '';
            position: absolute;
            bottom: 2px;
            width: 100%;
            background: $red;
            height: 3px;
            @include transition();
            opacity: 0;
            left: 0;
          }
        }
        @include mq('tablet') {
          height: 50px;
          border-top: 1px solid #FFF;
          padding: 0 20px;
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          white-space: normal;
          .icon-wrap {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);

            svg {
              width: 9px;
              height: 15px;
              display: block;
            }
          }
        }
      }

      @include mq('tablet') {
        &.hidden-lg {
          > a {
            text-transform: none;
            font-size: 14px;
            padding-top: 25px;
            line-height: 16px;
          }
        }
      }

      &.open a {
        &:before {
          opacity: 1;
        }
      }

      &.open a,
      a:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  a {
    border: none;
    color: inherit;
  }

  .open {
    .submenu {
      @include mq('tablet', min) {
        visibility: visible;
        z-index: 100;
        opacity: 1;
      }
      @include mq('tablet') {
        transform: translateX(0);

      }
    }
  }

  .submenu {
    background: $red;
    z-index: 100;

    @include mq('tablet') {
      font-size: 15px;
      line-height: 18px;

    }
    .head {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $red;
      background: #FFF;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      .icon-wrap {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);

        svg {
          width: 9px;
          height: 15px;
          display: block;
        }
      }
    }
    @include mq('tablet', min) {
      position: absolute;
      overflow: hidden;
      top: 100%;
      left: 0;
      width: 100%;
      background: $red;
      color: #FFF;
      font-size: 15px;
      line-height: 26px;
      z-index: -100;
      opacity: 0;
      visibility: hidden;
      @include transition();
    }
    @include mq('tablet') {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba($red, 1);
      transform: translateX(100%);
      height: 100%;
      padding: 50px 0 0;
      transition: transform 0.3s ease;
      .container {
        padding: 0;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    .submenu-inner {
      display: flex;
      @include mq('desktop', min) {
        padding: 0 20px;
      }
      @include mq('tablet', min) {
        min-height: calc(100vh - 68px);
      }
      @include mq('tablet') {
        display: block;

      }

      .submenu-columns {
        flex: 1;
        margin-left: -30px;
        display: flex;
        @include mq('tablet-wide') {
          margin-left: -15px;
        }
        @include mq('tablet') {
          display: block;
          margin: 0;
          padding: 0 20px;
        }

        .submenu-column {
          padding: 55px 30px;
          @include mq('tablet-wide') {
            padding: 25px 15px;
          }
          @include mq('tablet') {
            padding: 20px 0;
          }

          &.big {
            flex: 1;
          }

          &.small {
            width: 200px;
            background: rgba(#FFF, 0.1);
            @include mq('tablet') {
              width: auto;
              padding: 20px 20px 80px;
              margin: 0 -20px;
            }
            ul {
             @include mq('tablet', min) {
               border-top: 1px solid;
               margin-top: 44px;
               padding-top: 10px;
             }
              @include mq('tablet') {
                margin: 0;
              }
            }
          }
        }
      }
    }

    .columns {
      margin: 0 -25px;
      display: flex;
      flex-flow: row wrap;
      @include mq('tablet-wide') {
        margin: 0 -15px;
      }
      @include mq('tablet') {
        margin: 0;
        display: block;
      }
      .column {
        padding: 0 25px;
        width: percentage(1/3);
        @include mq('tablet-wide') {
          padding: 0 15px;
        }
        @include mq('tablet') {
          padding: 0;
          width: auto;
        }

        &.big {
          width: 65.3%;
          @include mq('tablet') {
            padding: 0;
            width: auto;
          }
        }

        &.small {
          width: 34.7%;
          @include mq('tablet') {
            padding: 0;
            width: auto;
          }
        }
      }
    }

    ul {
      margin: 10px 0 43px;
      @include mq('tablet') {
        margin: 10px 0 25px;
      }
      li {
        padding-bottom: 2px;
        @include mq('tablet') {
          padding-bottom: 8px;

        }
      }
    }

    .title {
      font-size: 18px;
      border-bottom: 1px solid;
      text-transform: uppercase;
      padding-bottom: 18px;
      font-weight: 600;
      margin: 0 0 5px;
      @include mq('tablet') {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        padding: 0 0 10px;
        margin: 0 0 10px;
      }
      & + .title {
        margin-top: 37px;
        @include mq('tablet') {
          margin-top: 25px;
        }
      }

      a {
        border-bottom: none;
      }
    }

    .picts-menu {
      margin: 0 -10px;
      display: flex;
      flex-flow: row wrap;
      @include mq('tablet-wide') {
        margin: 0 -5px;
      }
      @include mq('tablet') {
        margin-bottom: 25px;
      }
      > div {
        padding: 10px;
        display: flex;
        @include mq('tablet-wide') {
          padding: 5px;
        }
        a {
          display: flex;
          width: 100%;

          position: relative;

          &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(#030000, 0.4);
          }

          img {
            display: block;
            width: 100%;
          }

          .txt {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            line-height: 19px;
            font-weight: 600;
            text-align: center;
            @include mq('tablet-wide') {
              font-size: 13px;
            }

            .icon {
              width: 33px;
              height: 33px;
              margin-right: 10px;
              @include mq('tablet-wide') {
                width: 20px;
                height: 20px;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }

    &.schedule {
      .submenu-inner .submenu-columns .submenu-column.small ul {
        margin-top: 70px;
        @include mq('tablet') {
          margin-top: 0;
          border-top: none;
        }
      }

      .column {
        ul {
          display: flex;
          flex-flow: row wrap;
          @include mq('tablet') {
            margin-top: 0;
            border-top: none;
            display: block;
            margin-bottom: 34px;
          }
          li {
            @include mq('tablet', min) {
              width: 45%;
              &:nth-child(odd) {
                width: 55%;
              }
            }
            a {
              display: inline-block;
              position: relative;
              padding-left: 15px;
              span {
                display: inline-block;
                background: #FFF;
                color: $red;
                padding: 0 6px;
                margin-left: 4px;
                font-size: 12px;
                line-height: 15px;
                border-radius: 8px;
                font-style: italic;
                font-weight: 600;
              }

              &:after {
                content: '';
                width: 0;
                height: 0;
                border: 4px solid transparent;
                border-right: none;
                border-left: 6px solid #FFF;
                position: absolute;
                left: 0;
                top: 8px;
                @include mq('tablet') {
                  top: 4px;
                }
              }
            }
          }
        }
      }
    }

    .submenu-inner .submenu-columns .submenu-column.small .social-menu {
      border-top: none;
      @include mq('tablet', min) {
        li {
          padding-bottom: 7px;
        }
      }
      @include mq('tablet') {
        margin-top: 0;
        border-top: none;
      }
      .icon {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 5px;
      }
      @include mq('tablet') {
        padding: 0;
        list-style-type: none;
        display: flex;
        font-size: 0;
        line-height: 0;
        margin: 0;
        li {
          margin: 0 0 0 20px;

          &:first-child {
            margin-left: 0;
          }
          button,
          a {
            display: block;
            width: 52px;
            height: 52px;
            padding: 0;
            border-radius: 100%;
            background: #FFF;
            border: 1px solid #EBEBEB;
            position: relative;
            color:  #8B8B91;
            &:active ,
            &:hover {
              color:  #FF2625;
              box-shadow: $boxShadowRed;
            }
            &:disabled,&[disabled], &:disabled:hover, &:disabled:focus {
              border-color:  #EBEBEB;
              color: #D6D6D6;
              box-shadow: none;
            }
            svg {
              width: 23px;
              @include center;
              height: 23px;
              &.icon_youtobe {
                width: 24px;
                height: 28px;
              }
              &.icon_vk {
                width: 25px;
                height: 14px;
              }
              &.icon_fb {
                width: 13px;
                height: 25px;
              }
            }
          }
        }
      }

    }
    &.about {
      .submenu-column {
        &.big {
          ul {
            @include mq('tablet', min) {
              display: flex;
              flex-flow: row wrap;
              li {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}

