.section-histroy {
  padding: 35px 0;
  @include mq('tablet') {
    padding: 15px 0;
  }
}
.histroy-list {
  display: flex;
  flex-flow: row wrap;
  .item {
    padding: 15px;
    display: flex;
  }
}

.histroy-preview {
  position: relative;
  background: #FFF;
  padding: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  @include mq('tablet') {
    padding: 20px;
  }
  &:hover {
    .btn {
      color: $red;
    }
  }
  .blockquote-box {
    @include mq('tablet-wide', min) {
      min-height: 190px;
    }
    .txt {
      @include mq('tablet-wide', min) {
        max-height: 150px;
        overflow: hidden;

      }
    }
  }
  .user {
    display: flex;
    align-items: center;
    @include mq('tablet-wide') {
      flex-flow: row wrap;
    }
    .ava-wrap {
      min-width: 125px;
      max-width: 125px;
      @include mq('tablet-wide') {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
      }
      .ava {
        width: 110px;
        height: 110px;
        overflow: hidden;
        @include mq('tablet-wide') {
          margin: 0 auto 14px;
        }
        img {
          display: block;
          width: 100%;
          border-radius: 100%;
        }
      }
    }
    .views {
      color: $gray3;
      span {
        display: inline-block;
        position: relative;
        padding-right: 30px;
        .icon {
          width: 20px;
          height: 20px;
          fill: #8B8B8B;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .post {
      margin: 0 0 15px;
    }
    .username {
      margin: 8px 0;
      @include mq('tablet', min) {
        font-size: 22px;
        line-height: 28px;
        margin: 10px 0;

      }
    }
  }
  &.main-preview {
    @include mq('tablet-wide', min) {
      padding: 35px 40px;
      .blockquote-box {
        margin-left: 60px;
        margin-right: 60px;
        .txt {
          color: $baseFClr;
          font-weight: 600;
          @include mq('tablet', min) {
            font-size: 22px;
            line-height: 28px;
            font-weight: 800;
            max-width: 860px;
            margin: 0 auto;
          }
        }
      }
      .user {
        .ava-wrap {
          min-width: 180px;
          max-width: 180px;
          .ava {
            width: 140px;
            height: 140px;
          }
        }
        .post {
          max-width: 687px;
        }
      }
    }
  }
}
