.histroy-outher {
  .carousel-wrap {
    position: relative;
    margin: -15px -15px 0;
    .item {
      padding: 15px;
      .shadow {
        box-shadow: 0 0 15px rgba(51,51,51,.12)
      }
    }
  }
  .slick-track {
    display: flex;
    .slick-slide {
      display: flex;
      height: auto;
      >div {
        display: flex;
        width: 100%;
        >.item {
          display: flex!important;
          width: 100%;
        }
      }
    }
  }
}
