.land-section-videos {
  .carousel-wrap {
    position: relative;
    @include mq('desktop-wide') {
      @include mq('tablet-wide', min) {
        margin: 0 70px;
      }
    }
    .carousel {
      margin: 0 -15px;
      .item {
        padding: 0 15px;
      }
    }
    .slick-dots {
      position: relative;
      margin: 20px 0 0;
    }
  }
  .description {
    margin-top: 60px;
    @include mq('tablet-wide') {
      margin: 35px 0 0;
    }
    .title {
      margin: 0 0 20px;
      @include mq('tablet', min) {
        font-size: 24px;
        line-height: 27px;
        margin: 0 0 50px;
      }
    }
    .btn-wrap {
      @include mq('tablet') {
        margin-top: 30px;
      }
    }
    .list-checked-small {
      @include mq('tablet', min) {
        display: flex;
        flex-flow: row wrap;
        li {
          width: 50%;
          padding-right: 10px;
        }

      }
    }
  }
}
