.land-section-teachers {
  .carousel-wrap {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    @include mq('tablet-wide', min) {
      max-width: none;
      margin: 0 70px;
    }
    .slick-dots {
      position: relative;
      margin: 15px 0 0;
    }
    @include mq('tablet') {
      text-align: center;
      .slick-dots {
        position: relative;
        margin: 15px 0 0;
      }
    }
    .carousel {
      margin: 0 -15px;
    }
    .item {
      padding: 0 15px;
      .box {
       max-width: 300px;
        margin: 0 auto;
        position: relative;
      }
      .pict {
        img {
          display: block;
          width: 100%;
        }
      }
      .name {
        margin: 25px 0;
        @include mq('tablet') {
          margin: 15px 0 10px;
        }
      }
    }
  }
}
