
.land-section {
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  position: relative;
  padding: 50px 0;
  @include mq('tablet') {
    padding: 25px 0;
  }
  .parallax {
    position: absolute;
    z-index: 10;
    &.left {
      right: 50%;
    }
    &.right {
      left: 50%;
    }
  }
  &:not(.form-success).has-mask-bg {
    position: relative;
    color: #FFF;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#110C13, 0.8);
    }
    .container-middle,
    .container  {
      position: relative;
    }
  }
}
.list-checked {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    position: relative;
    margin: 25px 0 0;
    padding-left: 40px;
    @include mq('tablet') {
      margin: 22px 0 0;
    }
    .icon-wrap {
      left: 0;
      top: 0;
      position: absolute;
      color: #FFF;
      @include mq('tablet') {
        top: 3px;
      }
      &:before {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background: $red;
        top: 3px;
        left: 0;
        @include mq('tablet') {
          width: 17px;
          height: 17px;
          top: 2px;
        }
      }
      .icon {
        position: relative;
        width: 25px;
        height: 25px;
        @include mq('tablet') {
          width: 17px;
          height: 17px;
        }
      }
    }
    &:first-child {
      margin-top: 0;
    }
  }
}
.hidden-phone {
  @include mq('tablet', min) {
    display: block!important;
  }
  @include mq('tablet') {
    display: none;
  }
}
.list-checked-small {
  @extend .list-checked;
  li {
    margin-top: 7px;
    min-height: 0;
    .icon-wrap {
      @include mq('tablet', min) {
        &:before {
          width: 19px;
          height: 19px;
        }
        .icon_checked {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}
.land-section-title {
  margin: 0 0 50px;
  @include mq('tablet') {
    margin: 0 0 25px;
  }
  .border {
    border-bottom: 4px solid $red;
    display: inline-block;
    line-height: 1;
  }
}
