.land-section-training {
  @include mq('tablet', min) {
    padding-bottom: 0;
  }
  .land-section-title {
    @include mq('tablet', min) {
      margin: 0;
    }
  }
  .list-wrap {
    position: relative;
  }
  .arrow-carousel {
    position: absolute;
    top: 18px;
    z-index: 50;
    &.arrow-prev {
      left: 0;
    }
    &.arrow-next{
      right: 0;
    }
  }
  .slick-dots {
    position: relative;
    margin: 20px 0 0;
  }
  .list {
    counter-reset: item;
    @include mq('tablet', min) {
      display: flex;
      flex-flow: row wrap;
      margin: 0 -15px;
    }
    .slick-slide {
      &:last-child {
        .pict-wrap {
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
    .item {
      @include mq('tablet', min) {
        padding: 0 15px;
        width: percentage(1/3);
        margin: 50px 0;
        position: relative;
        &:after {
          content: '';
          width: 150px;
          height: 22px;
          position: absolute;
          left: 100%;
          top: 82px;
          transform: translate(-50%, -50%);
          background:  url(../images/training-arrow-right.png) right 0 no-repeat;
          @include mq('tablet-wide') {
            width: 70px;

          }
        }
      }
      &:last-child {
        @include mq('tablet', min) {
          .pict-wrap {

          }
        }
      }
      @include mq('tablet', min) {
        &:nth-child(3) {
          &:after {
            display: none;
          }
        }
        &:nth-child(4) {
          order: 5;
          &:after {
            background:  url(../images/training-arrow-down.png) 0 0 no-repeat;
            width: 88px;
            height: 153px;
            bottom: 78%;
            transform: translate(25px, 0%);
            top: auto;
          }
        }
        &:nth-child(5) {
          order: 4;
          &:after {
            background:  url(../images/training-arrow-leftt.png) 0 0 no-repeat;
          }
        }
        &:nth-child(6) {
          order: 3;
          &:after {
            background:  url(../images/training-arrow-leftt.png) 0 0 no-repeat;
          }
        }

      }
    }
    .pict-wrap {
      margin: 0 auto 28px;
      width: 163px;
      height: 163px;
      border-radius: 100%;
      border: 1px solid $red;
      display: flex;
      align-items: center;
      position: relative;
      &.no-border {
        width: 183px;
        border-radius: 0;
        border: none;
        background: transparent;
        img {
          width: 60%;
          max-height: 60%;
        }
      }
      @include mq('tablet') {
        width: 140px;
        height: 140px;
        border: 1px solid #FD2726;
        margin: 0 auto 25px;
      }
      img {
        margin: 0 auto;
        display: block;
        width: 60%;
        max-height: 60%;
        @include mq('tablet') {
          width: auto;
          max-width: 55%;
          max-height: 55%;
        }
      }
      &:before {
        counter-increment: item;
        content: counter(item);
        position: absolute;
        width: 31px;
        height: 31px;
        background: $red;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 100%;
        top: 12px;
        right: 3px;
      }
    }
    .ttl {

      margin: 0 0 15px;
      @include mq('tablet') {

      }
    }
  }
}
