.land-banner {
  color: #FFF;
  position: relative;
  .row {
    position: static;
    >div {
      position: static;
    }
  }
  .land-entry-course {
    @include mq('tablet-wide') {
      @include mq('tablet', min) {
        margin-top: 0;
        padding: 10px 20px 20px;
      }
    }
    .title {
      @include mq('tablet-wide') {
        @include mq('tablet', min) {
          font-size: 30px;
          br {
            display: none;
          }
        }
      }
    }
  }
  .desc {
    max-width: 620px;
    @include mq('tablet', min) {
      font-size: 18px;
    }
    ul {
      max-width: 485px;
    }
    .info {
      margin-top: 25px;
      @include mq('tablet', min) {
        margin-left: 40px;
      }
      .end {
        @include mq('tablet') {
          margin-left: 40px;

        }
      }
      .start-date {
        margin: 0 0 15px;
        @include mq('tablet') {
          margin: 0 0 7px;
        }
        >span {
          display: inline-block;
          padding: 0 15px;
          background: #2D743B;
          line-height: 50px;
          @include mq('tablet') {
            padding: 0 0 0 40px;
            line-height: 37px;
            display: block;
          }
        }
      }
    }
  }
}
