.land-section-skills {
  position: relative;
  .row {
    position: relative;
    z-index: 11;
    >div {
      position: static;
    }
  }
  .list {
    @include mq('tablet', min) {
      display: flex;
      flex-flow: row wrap;
      margin: -40px -15px 0;
    }
    .item {
      margin-bottom: 30px;
      @include mq('tablet') {
        &:first-child {
          margin-top: 0;
        }
        &.hidden-phone {
          display: none;
        }

      }
      @include mq('tablet', min) {
        width: 50%;
        padding: 0 15px;
        margin-top: 40px;
      }
      .icon-wrap {
        margin: 0 0 15px;
        img {
          display: block;
          height: 39px;
        }
      }
      .ttl {
        margin: 0 0 15px;
      }
    }
  }
}
