.land-section-leave {
  position: relative;
  .row {
    position: static;
    @include mq('tablet-wide') {
      @include mq('tablet', min) {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

      }

    }
    >div {
      position: static;
    }
  }
  .prices {
    .item {
      margin: 0 0 35px;
      @include mq('tablet') {
        margin: 0 0 15px;
      }
    }
    .ttl {
      opacity: 0.6;
    }
    .price {
      font-size: 46px;
      line-height: 50px;
      display: inline-block;
      @include mq('tablet') {
        font-size: 32px;
        line-height: 35px;

      }
    }
    .oldprice {
      color: #c56262;
      font-size: 26px;
      line-height: 30px;
      display: inline-block;
      text-decoration: line-through;
      @include mq('tablet') {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }
    }
    .start-date {
      margin-top: 5px;
      span {
        display: inline-block;
        padding: 0 15px;
        font-size: 18px;
        line-height: 26px;
        background: #2D743B;
        @include mq('tablet') {
          font-size: 14px;
          line-height: 27px;
          padding: 0 10px;

        }
      }
    }
  }
  .land-entry-course {
    position: static;
    .report {
      background: #FFF;
      color: $baseFClr;
    }
    @include mq('tablet-wide') {
      margin: 30px auto 25px;
    }
  }
  .container {

  }
  .saving {
    background: rgba(#E16868, 0.15);
    border: 1px solid rgba(#FFF, 0.6);
    padding: 20px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 24px;
    .txt + .ttl {
      margin-top: 10px;
      @include mq('tablet') {
        margin-top: 10px;

      }
    }
    .ttl {
      position: relative;
      padding-right: 35px;
      @include mq('tablet', min) {
        font-size: 20px;
        line-height: 23px;
        margin: 0 0 10px;
      }
      margin: 0 0 10px;
      .icon {
        position: absolute;
        right: 0;
        top: 50%;
        width: 35px;
        height: 35px;
        transform: translateY(-50%);
      }
    }
  }
  .period {
    margin-bottom: 35px;
    .ttl {
      @include mq('tablet', min) {
        font-size: 20px;
        line-height: 23px;
        margin: 0 0 10px;
      }
      margin: 0 0 10px;
    }
    .txt {
    }
  }
  .pay-info {
    +.saving {
      margin-top: 35px;
      @include mq('tablet') {
        margin-top: 15px;
      }
    }
    .item {
      position: relative;
      padding-left: 60px;
      margin: 15px 0 0;
      @include mq('tablet-wide', min) {
        margin: 30px 0 0;
      }
      .ttl {
        @include mq('tablet', min) {
          font-size: 20px;
          line-height: 23px;
          margin: 0 0 20px;
        }
        margin: 0 0 10px;
      }
      .icon-wrap {
        position: absolute;
        top: 0;
        left: 0;
        .icon {
          width: 30px;
          height: 30px;
        }
      }
      &:first-child {
        @include mq('tablet-wide', min) {
          margin-top: 0;
        }
      }
    }
  }
}
