.land-section-documents {
  overflow: hidden;
  color: #FFF;
  .container {
    z-index: 11;
  }
  .carousel-wrap {
    position: relative;
    margin: 0 20px;
    @include mq('tablet', min) {
      margin: 0 -20px;
    }
    @include mq('tablet') {
      padding-top: 10px;
      .slick-slide {
        transform: scale(0.8);
        opacity: 0.6;
        @include transition();
        &.slick-active {
          opacity: 1;
          transform: scale(1);
        }
      }
      .slick-dots {
        position: relative;
        margin-top: 10px;
      }
    }
    .arrow-carousel {
      position: absolute;
      z-index: 5;
      top: -25px;
      &.arrow-prev {
        left: 0;
        height: 50px;
        width: 50%;
        display: flex;
        align-items: center;
      }
      &.arrow-next {
        right: 0;
        height: 50px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
    .carousel {
      @include mq('tablet') {
        overflow: visible;
        transform: none!important;
        position: static;
        .slick-list {
          transform: none!important;
          position: static;
          overflow: visible;
        }
      }
    }

    .item {
      display: block!important;
      padding: 0 20px;
      @include mq('tablet') {
        padding: 0;

      }
      .box {
        border: none;
        position: relative;
        width: 466px;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        display: block;
        padding: 42px 0 42px;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background: url(../images/doc-border-top.jpg) center bottom no-repeat;
          height: 44px;
          background-size: 100% ;
        }
        &:after {
          top: auto;
          bottom: 0;
          height: 42px;
          background: url(../images/doc-border-btm.jpg) center 0 no-repeat;
          background-size: 100% ;
        }
        .border {
          width: 100%;
          display: block;
          position: relative;
          z-index: 5;
        }
        .pict {
          background: url(../images/doc-border-middle.png) center 0 repeat-y;
          background-size: 100% ;
          img {
            display: block;
            width: 83%;
            margin: 0 auto;
          }
        }
        &.box-long {
          width: 389px;
          .pict {

          }
        }
      }
    }
  }
}

