.land-section-gallery {
  .carousel-wrap {
    position: relative;
    @include mq('desktop-wide-md') {
      @include mq('tablet-wide', min) {
        margin: 0 70px;
      }
    }
  }
  .slick-dots {
    position: relative;
    margin-top: 20px;
  }
  .carousel {
    margin: 0 -15px;
    .item {
      padding: 0 15px;
    }
  }
}
