.land-contents {
  .row {
    display: flex;
    flex-flow: row wrap;
    .item {
      margin-top: 30px;
      @include mq('tablet', min) {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-top: 0;
        }
      }
      @include mq('tablet') {
        margin-top: 15px;
      }
    }
  }
  .ttl {
    margin: 0 0 20px;
    @include mq('tablet') {
      margin: 0 0 4px;
    }
  }
  .btn-wrap {
    margin-top: 22px;
  }
  .subtitle {
    font-size: 28px;
    line-height: 31px;
    margin: 35px 0;
    @include mq('tablet') {
      font-size: 18px;
      line-height: 21px;
      margin: 20px 0;

    }
  }
}
