.land-entry-course {
  background:  url(../images/land-entry-course.jpg) 0 0 no-repeat;
  background-size: cover;
  max-width: 458px;
  width: 100%;
  box-shadow: 5px 13px 38px rgba(#000000, 0.33);
  padding: 35px 40px;
  color: #FFF;
  &.sticky-block {
    z-index: 50;
  }
  @include mq('tablet') {
    position: relative;
  }
  &.form-success {
    position: relative;
    > * {
      opacity: 0;
      visibility: hidden;
      position: relative;
      z-index: -1;
    }
    .report {
      z-index: 10;
      opacity: 1;
      visibility: visible;
    }
  }
  .report {
    padding: 0 25px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $baseFClr;
    background: transparent;
    color: #FFF;
  }
  .report-btn {
    .btn{
      color: #FFF;
      @include mq('tablet') {
        display: block;
      }
    }
  }
  .report-in {
    max-width: 480px;
  }
  .report-title {
    font-size: 42px;
    @include mq('tablet') {
      font-size: 20px;
      line-height: 23px;
    }
  }
  .report-desc {
    margin: 15px 0;
  }
  @include mq('tablet-wide', min) {
    float: right;
  }
  @include mq('tablet-wide') {
    margin: 25px auto 0 ;
    padding: 10px 20px;
  }
  .title {
    @include mq('tablet', min) {
      div,
      span {
        display: block;
        font-size: 0.7em;
        line-height: 1.5;
      }
    }
    @include mq('tablet') {
      margin: 0 0 10px;
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
    }
  }
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -100;
    &:checked +  .lbl-checkbox {
      .icon-wrap {
        .icon {
          opacity: 1;
        }
      }
    }
  }
  .lbl-checkbox {
    display: inline-block;
    vertical-align: top;
    padding-left: 35px;
    position: relative;
    font-size: 13px;
    line-height: 16px;
    padding-top: 3px;
    .icon-wrap {
      width: 23px;
      height: 23px;
      top: 0;
      left: 0;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      .icon {
        width: 13px;
        height: 9px;
        opacity: 0;
        @include transition();
      }
    }
  }
  .form-group {
    margin: 0 0 27px;
    @include mq('tablet') {
      margin: 0 0 15px;
    }
    .select2.select2-container .select2-selection--single {
      border: none;
      border-bottom: 2px solid #FFF;
      background: transparent;
    }
    .select2.select2-container .select2-selection--single .select2-selection__rendered {
      color: #FFF;
      background: transparent;
      padding: 6px 40px 6px 0;
      font-size: 14px;
      line-height: 18px;
    }
    .select2.select2-container .select2-selection--single .select2-selection__arrow svg {
      color: #FFF;
    }
    .select2.select2-container .select2-selection--single .select2-selection__placeholder {
      opacity: 1;
      color: rgba(#FFF, 0.6);
    }
  }
  .btn-wrap {
    .btn {
      &.btn-border {
        color: #FFF;
        &:hover {
          background: #FFF;
          color: $red;
        }
      }

    }
  }
  label {
    display: block;
    padding-bottom: 5px;
    font-size: 8px;
    line-height: 11px;
  }
  input {
    display: block;
    width: 100%;
    background: transparent;
    padding: 6px 0;
    font-size: 14px;
    line-height: 18px;
    border: none;
    border-bottom: 2px solid #FFF;
    @include placeholder() {
      opacity: 1;
      color: rgba(#FFF, 0.6);
    }
    &.error {
      border-color: $red;
    }
  }
  a {
    color: inherit;
  }

  .countdown-container {
    @include mq('tablet') {
      margin: 25px 0;
    }

    .ttl {
      font-size: 15px;
      line-height: 18px;
      margin: 0 0 15px;
      overflow: hidden;
      @include mq('tablet') {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-transform: none;
      }
      span {
        display: inline-block;
        position: relative;
        padding: 0 10px;
        &:after,
        &:before {
          content: '';
          width: 1000px;
          height: 1px;
          background: #FFF;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        &:after {
          left: 100%;
        }
        &:before {
          right: 100%;
        }
      }
    }
    .countdown {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      line-height: 15px;
      @include mq('tablet') {
        font-size: 10px;
        line-height: 12px;
      }

      .itm {
        margin:  0 10px;
        @include mq('tablet', min) {
          display: flex;
          align-items: center;
          margin:0;
        }
      }
      span {
        padding: 0 5px;
        @include mq('tablet') {
          display: block;
          text-align: center;
          font-size: 10px;
          line-height: 12px;
          margin-top: 3px;
        }
      }
      .itm div {
        min-width: 53px;
        height: 42px;
        padding: 0 5px;
        border-radius: 4px;
        box-shadow: 1px -2px 4px rgba(#000000, 0.38);
        background: linear-gradient(to bottom, #B1AFB2 0%,  #646570 20%, #646570 20%, #646570 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        line-height: 1;
        text-shadow:  1px -2px 4px rgba(#000000, 0.38);
        @include mq('tablet') {
          min-width: 40px;
          height: 31px;
          background: #112328;
          border-radius: 6px;
          box-shadow: none;
          font-size: 18px;
          line-height: 22px;
          margin: 0 auto;
        }
      }
    }
  }
}
