.land-section-info {
  .land-section-title {
    margin: 0 0 30px;
  }
  .subtitle {
    margin: 0 0 25px;
  }
  .video {
    @include mq('tablet', min) {
      max-width: 880px;
      overflow: hidden;
      margin: 25px auto;
      position: relative;
      .video-block {
        width: percentage(589/880);
        position: absolute;
        margin: 0 auto;
        background: #000;
        height: 76%;
        left: 50%;
        top: 7%;
        transform: translate(-50%, 0);
        margin-left: 5px;
      }
      iframe {
        width: 100%;
        height: 100%;
        z-index: 100;
      }
      img {
        display: block;
      }
    }
    @include mq('tablet') {
      border: 1px solid #FFFFFF;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      overflow: hidden;
      margin: 25px 0;
      .video-block {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-width: 0;
          outline-width: 0;
        }
      }
    }
  }
  .info {
    .title {
      @include mq('tablet', min) {
        font-size: 24px;
        line-height: 27px;
        margin: 0 0 30px;
      }
    }
  }
  .carousel-phone {
    .ttl {
      position: relative;
      padding-left: 24px;
      margin: 0 0 15px;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      &:before {
        content: '—';
        color: $red;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    @include mq('tablet') {
      margin-bottom: 30px;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.22);
      box-sizing: border-box;
      border-radius: 3px;
      .item {
        padding: 17px 19px 25px;
      }
    }
    .carousel {
      @include mq('tablet') {
        margin: 0;
      }
    }
  }

  .hidden-phone {
    display: none;
    @include mq('tablet',min) {
      display: block!important;
      height: auto!important;
    }
  }
  .js-carousel-more {
    padding-left: 40px;
    margin-top: 15px;
    .icon-wrap {
      display: inline-block;
      vertical-align: middle;
      width: 12px;
      height: 12px;
      margin-left: 10px;
    }
    .icon {
      width: 12px;
      height: 12px;
    }
    &.active {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
  .btn-wrap {
    margin-top: 25px;
  }
  .list {
    counter-reset: list;
    margin-top: -25px;
    @include mq('talbet', min) {
      display: flex;
      flex-flow: row wrap;
    }
    .item {
      font-size: 14px;
      line-height: 22px;
      margin-top: 25px;

      .ttl {
        position: relative;
        padding-left: 24px;
        margin: 0 0 10px;
        @include mq('tablet') {
          padding-left: 20px;
        }
        &:before {
          color:$red;
          position: absolute;
          top: 0;
          left: 0;
          counter-increment: list;
          content: counter(list) ". ";
        }
      }
      .txt {
        padding-left: 24px;
        @include mq('tablet') {
          padding-left: 20px;
        }
      }
    }
  }
}
