.land-section-work {
  .list-wrap{
    position: relative;
  }
  .arrow-carousel {
    position: absolute;
    top: 18px;
    z-index: 50;
    &.arrow-prev {
      left: 0;
    }
    &.arrow-next{
      right: 0;
    }
  }
  .slick-dots {
    position: relative;
    margin: 20px 0 0;
  }
  .list {
    @include mq('tablet', min) {
      display: flex;
      flex-flow: row wrap;
      .item {
        padding: 0 15px;
        margin-top: 50px;
        width: percentage(1/3);
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-top: 0;
        }
      }

    }
    .pict-wrap {
      margin: 0 auto 28px;
      width: 163px;
      height: 163px;
      border-radius: 100%;
      border: 1px solid #FF2625;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @include mq('tablet') {
        width: 140px;
        height: 140px;
        border: 1px solid #FD2726;
        margin: 0 auto 25px;
      }
      img {
        display: block;
        max-width: 60%;
        max-height: 60%;
        @include mq('tablet') {
          max-width: 55%;
          max-height: 55%;
        }
      }
    }
  }
}
