.land-section-content {
  .carousel-phone {
    .ttl {
      position: relative;
      padding-left: 24px;
      margin: 0 0 15px;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      &:before {
        content: '—';
        color: $red;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    @include mq('tablet') {
      margin-bottom: 30px;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.22);
      box-sizing: border-box;
      border-radius: 3px;
      .item {
        padding: 17px 19px 25px;
      }
    }
    .carousel {
      @include mq('tablet') {
        margin: 0;
      }
    }
  }
  .list-checked {
    li {
      margin-top: 7px;
      min-height: 0;
      .icon-wrap {
        @include mq('tablet', min) {
          &:before {
            width: 19px;
            height: 19px;
          }
          .icon_checked {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
  .hidden-phone {
    display: none;
    @include mq('tablet',min) {
      display: block!important;
      height: auto!important;
    }
  }
  .js-carousel-more {
    padding-left: 40px;
    margin-top: 15px;
    .icon-wrap {
      display: inline-block;
      vertical-align: middle;
      width: 12px;
      height: 12px;
      margin-left: 10px;
    }
    .icon {
      width: 12px;
      height: 12px;
    }
    &.active {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
  .btn-wrap {
    margin-top: 25px;
  }
  .list {
    counter-reset: list;
    margin-top: -25px;
    @include mq('tablet', min) {
      display: flex;
      flex-flow: row wrap;
    }
    .item {
      //font-size: 14px;
      //line-height: 22px;
      margin-top: 25px;
      .ttl {
        position: relative;
        padding-left: 24px;
        margin: 0 0 10px;
        @include mq('tablet') {
          padding-left: 20px;
        }
        &:before {
          color:$red;
          position: absolute;
          top: 0;
          left: 0;
          counter-increment: list;
          content: counter(list) ". ";
        }
      }
      .txt {
        padding-left: 24px;
        @include mq('tablet') {
          padding-left: 20px;
        }
      }
    }
  }
}
