.land-section-advantages {
  .land-section-title {
    margin-bottom: 0;
  }
  .hidden-phone {
    display: none;
    @include mq('tablet', min) {
      display: block!important;
      height: auto!important;
    }
  }
  .list {
    display: flex;
    flex-flow: row wrap;
    .box {
      padding-left: 70px;
      margin-top: 50px;
      @include mq('tablet') {
        padding-left: 60px;
        margin-top: 25px;
      }
      .ttl {
        font-size: 14px;
        line-height: 18px;
        position: relative;
        padding-left: 70px;
        min-height: 36px;
        margin: 0 0 30px;
        @include mq('tablet') {
          padding-left: 0;
          min-height: auto;
          margin: 0 0 10px;
        }
        .num {
          position: absolute;
          left: -70px;
          top: -5px;
          font-size: 45px;
          line-height: 50px;
          @include mq('tablet') {
            font-size: 24px;
            line-height: 36px;
            left: -60px;
          }
        }
      }
    }
  }
  .btn-wrap  {
    margin-top: 25px;
  }
}
