.land-section-desc {
  .btn-wrap {
    margin: 15px 0 0;
  }
  .description {
    @include mq('tablet') {
      max-height: 85px;
      overflow: hidden;
      &.open {
        max-height: none;
      }
    }
  }
}
