.land-section-equipment {
  .row {
    .list {
      .item {
        width: 100%;
        &:nth-child(2) {
          @include mq('tablet', min) {
            margin-top: 15px;
          }
        }
      }
    }
  }
  .list {
    counter-reset: list;
    @include mq('tablet', min) {
      display: flex;
      flex-flow: row wrap;
      margin: 0 -15px;
    }
    @include mq('tablet') {
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.22);
      box-sizing: border-box;
      border-radius: 3px;
      padding: 15px 20px;
    }
    .item {
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
      @include mq('tablet', min) {
        padding: 0 15px;
        width: 50%;
        margin-top: 25px;
        &:nth-child(1),
        &:nth-child(2) {
          margin-top: 0;
        }
      }

    }
    .box {
      position: relative;
      padding-left: 30px;
      @include mq('tablet') {
        padding: 0 0 0 44px;
      }

      .ttl {
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          counter-increment: list;
          content: counter(list);
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $red;
          color: #FFF;
          border-radius: 100%;
          font-size: 12px;
          @include mq('tablet') {
            width: 22px;
            height: 22px;
            font-size: 14px;
            top: 0;
            left: -44px;
          }
        }
        @include mq('tablet') {
          position: relative;
          padding-right: 10px;
          .icon-wrap {
            position: absolute;
            top: 6px;
            width: 12px;
            height: 12px;
            right: -5px;
            svg {
              display: block;
              width: 100%;
              height: 100%;
            }
          }

          &.acitve {
            .icon-wrap {
              svg {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      .desc {
        margin: 10px 0 0;
        @include mq('tablet') {
          margin-left: -44px;
        }
      }
    }
  }
  .js-more {
    padding-left: 40px;
    margin-top: 15px;
    .icon-wrap {
      display: inline-block;
      vertical-align: middle;
      width: 12px;
      height: 12px;
      margin-left: 10px;
    }
    .icon {
      width: 12px;
      height: 12px;
    }
    &.active {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}
