.library-container {
  .tabs-head {
    margin: 0 0 40px;
    display: flex;
    justify-content: center;
    @include mq('tablet') {
      margin: 0 -20px;
      flex-flow: row wrap;
      justify-content: flex-start;
    }
    .item {
      padding: 0 20px;
      @include mq('tablet') {
        width: 140px;
      }
      &.active {
        color: $red;
      }
      a {
        color: inherit;
        border: none;
      }
    }
  }
  .tabs-wrap {
    @include mq('desktop') {
      @include mq('tablet-wide', min) {
        margin: 0 80px;
      }
    }
    @include mq('tablet-wide') {
      @include mq('tablet', min) {
        margin: 0 40px
      }
    }
    .tab {

    }
  }
  .carousel-wrap {
    @include mq('tablet', min) {
      position: relative;
    }
  }
  .carousel {
    @include mq('tablet') {
      position: static;
      margin-right: -20px;
      margin-left: -10px;
      .item {
        padding: 0 10px;
        text-align: left;
      }
      .row {
        margin: 0 -10px;
        width: 240px;
        >div {
          padding: 10px;
        }
      }
    }
  }
  .btn-wrap {
    margin-top: 50px;
    @include mq('tablet') {
      margin-top: 40px;
    }
  }
  .box {
    display: block;
    position: relative;
    border: none;
    color: #FFF;
    &:before {
      content: '';
      background: rgba(#000, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .ttl {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 15px 28px 28px;
      @include mq('tablet') {
        padding: 16px 19px;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  .slick-dots {
    justify-content: flex-start;
    top: auto;
    bottom: 70px;
    padding-left: 20px;
    position: static;
  }
}
