.list-previews {
  .item {
    padding: 50px 0;
    border-top: 10px solid #fff;
    &:first-child {
      border-top: none;
    }
    @include mq('tablet') {
      padding: 30px 0;
      border-top-width: 5px;
    }
  }
  .list-btn-wrap {
    padding-bottom: 50px;
    @include mq('tablet') {
      padding-bottom: 30px;
    }
  }
}
