.main-banner {
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  video.bg-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mq('tablet') {
      display: none;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.5);
    z-index: 1;
  }
  .desc {
    display: flex;
    align-items: center;
    padding: 25px 0;
    min-height: 600px;
    color: #FFF;
    position: relative;
    font-size: 22px;
    z-index: 10;
    @include mq('tablet') {
      font-size: 16px;
      line-height: 20px;
      min-height: 486px;
    }
  }
  .desc-button {
    margin-top: 25px;
  }
  .title {
    margin: 15px 0 0;
  }
}
