.nav-anchors {
  color: #FFF;
  background: $red;
  z-index: 100;
    ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    li {
      position: relative;
      a:hover,
      &.active a {
        padding: 6px 15px 8px;
        box-shadow: 0 2px 10px rgba(#000, 0.2);
        margin-bottom: -2px;
        z-index: 1;
      }
      a {
        display: block;
        border: none;
        color: inherit;
        font-size: 12px;
        line-height: 20px;
        padding: 6px 15px;
        text-transform: uppercase;
        background: $red;
        position: relative;
        text-align: center;
      }
    }
  }
  &.nav-anchors-big {
    ul {
      li {
        a:hover,
        &.active a {
          padding: 17px 15px;
          box-shadow: 0 2px 15px rgba(#000, 0.2);
          margin-bottom: -4px;
          z-index: 1;
        }
        &.active a {
        }
        a {
          font-size: 18px;
          padding: 15px 15px;
        }
      }
    }
  }
  &.nav-anchors-equal {
    ul {
      li {
        flex: 1;
      }
    }
  }
  &.nav-anchors-three {
    padding-bottom: 4px;
    background: transparent;
    ul {
      li a {
        background: inherit;
      }
      li:first-child {
        background: #FE2F2E;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 100%;
          width: 1000px;
          height: 100%;
          background: inherit;
        }
      }
      li:nth-child(2) {
        background: #E62337;
      }
      li:nth-child(3) {
        background: #D71535;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 100%;
          width: 1000px;
          height: 100%;
          background: inherit;
        }
      }
    }
  }
  &.nav-anchors-four {
    padding-bottom: 4px;
    background: transparent;
    ul {
      li a {
        background: inherit;
      }
      li:first-child {
        background: #FE2F2E;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 100%;
          width: 1000px;
          height: 100%;
          background: inherit;
        }
      }
      li:nth-child(2) {
        background: #E62337;
      }
      li:nth-child(3) {
        background: #D71535;
      }
      li:nth-child(4) {
        background: #C62C45;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 100%;
          width: 1000px;
          height: 100%;
          background: inherit;
        }
      }
    }
  }
}
