.page-banner {
  color: #FFF;
  position: relative;
  .breadcrumbs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 17px 0;
    background: rgba(#FFF, 0.1);
  }
  .price {
    margin: 0;
    font-size: 49px;
    line-height: 59px;
    @include mq('tablet') {
      font-size: 27px;
      line-height: 33px;
    }
  }
  @include mq('tablet', min) {
    .search-block {
      .form-group {
        margin: 0;
      }
    }
  }
  .description {
    height: 400px;
    min-height: 400px;
    display: flex;
    align-items: center;
    @include mq('tablet') {
      height: 300px;
      min-height: 300px;
    }
  }
  &.page-banner-small {
    .description {
      height: auto;
      min-height: 150px;
    }
  }
  .txt {
    max-width: 700px;
    margin: 25px 0 0;

  }


  .pict-abs {
    position: absolute;
    bottom: -50px;
    max-height: 120%;
    right: 15px;
    max-width: 40%;
  }
  .social-box {
    position: absolute;
    top: 100%;
    left: 20px;
    @include mq('tablet') {
      margin-top: 0;
    }
  }
  .in {
    &.full-width {
      width: 100%;
    }
    &.text-center {
      width: 100%;
      .txt {
        margin: 0 auto;
      }
    }
  }
  .btn-wrap {
    margin-top: 30px;
    @include mq('tablet') {
      margin-top: 15px;
    }
    .btn {
      @include mq('tablet') {
        display: block;
        width: 100%;
      }
      &+ .btn {
        @include mq('tablet', min) {
          margin-left: 30px;
        }
        @include mq('tablet') {
          margin-top: 20px;
        }
      }
    }
  }
}
