.page-404 {
  position: relative;
  padding: 50px 0;
  @include mq('tablet') {
    padding: 0;
  }
  &:before {
    @extend .block-shadow-inset;
    @include mq('tablet', min) {
      content: '';
      width: 50%;
      right: 50%;
      top: 0;
      height: 100%;
      background: $red;
      position: absolute;
    }
  }
  .row {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    align-items: center;
    @include mq('tablet') {
      margin: 0 -20px;
    }
  }
  .text {
    margin: 30px 0;
    @include mq('tablet') {
      margin: 15px 0;

    }
  }
  .left-col {
    color: #FFF;
    @include mq('tablet', min) {
      padding: 0 30px;
    }
    img {
      display: block;
      margin: 0 auto;

    }
    @include mq('tablet') {
      background: $red;
    }
  }
  .right-col {
    justify-content: center;
    display: flex;
    .programs-container {
      max-width: 475px;
      width: 100%;
    }
  }
  .right-col,
  .left-col {
    @include mq('tablet-wide', min) {
      padding: 0 50px;

    }
    @include mq('tablet') {
      padding: 30px 20px;
    }
  }
  .tabs-head {
    display: flex;
    flex-flow: row wrap;
    @include mq('tablet', min) {
      .item {
        a {
          min-height: 118px;
        }
      }

    }
    @include mq('tablet') {
      margin: 0;
      .item {
        padding: 0;
        width: 50%;
        a {
          width: 100%;
        }
      }
    }
    @include mq('phone-wide') {
      .item {
        a {
          .top {
            padding: 10px;
            .num,
            .type {
              font-size: 12px;
            }
          }
          .ttl {
            padding: 10px;
          }
        }
      }
    }
  }
}
