.pagination {
  padding: 35px 0;

  a {
    border: none;
    &:hover {
      color: $red;
    }
  }
}

@media only screen and (max-width:767px) {
  .pagination {
    padding: 25px 0
  }
}

.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0
}

.pagination ul li {
  display: inline-block;
  vertical-align: top
}

.pagination ul li.next span,
.pagination ul li.prev span {
  background: 0 0
}

.pagination ul li.prev:hover a,
.pagination ul li.next:hover a  {
  color: $red;
}

.pagination ul li a,
.pagination ul li span {
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  font-weight: 700;
  color: inherit;
  text-decoration: none
}
.pagination ul li.next span,
.pagination ul li.prev span {
  color: $baseFClr;
}
.pagination ul li a .icon,
.pagination ul li span .icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.pagination ul li span {
  background: #FF2625;
  color: #FFF
}
