.popular-question {
  position: relative;
  @include mq('tablet') {
    padding: 0;
    .container {
      padding: 0;
    }
  }
  .container-middle {
    padding: $containerP;
    max-width: $containerMW;
  }
  .bg {
    bottom: 0;
    width: 100%;
    height: calc(100% - 150px);
    position: absolute;
    left: 0;
    &:before {
      content: '';
      background: rgba(#000, 0.5);
      background-size: cover;
      background-position: center 0;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .block {
    background: #FFF;
    position: relative;
    padding: 25px 0;
    @include mq('tablet', min) {
      padding: 50px 0;

    }
  }
  .btn-wrap {
    margin-top: 50px;
    @include mq('tablet') {
      margin-top: 25px;;
    }
  }
  .tabs-head {
    .item {
      &.active {
        color: $red;
        a {
          border-color: rgba(0, 0, 0, 0.05);
          .icon {
            opacity: 1;
          }
        }
      }
      .icon {
        position: absolute;
        top: 15px;
        right: 10px;
        width: 16px;
        height: 16px;
        opacity: 0;
      }
      a {
        display: block;
        position: relative;
        padding: 10px 40px 10px 0;
        position: relative;
        color: inherit;
        &:hover {
          border-color: rgba(0, 0, 0, 0.05);
          .icon {
            opacity: 1;
          }
        }
      }
    }
  }
  .tab-lnk {
    display: block;
    padding: 13px 40px 13px 0;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: inherit;
    &.open {
      color: $red;
      border-color: transparent;
      .icon-wrap {
        .icon {
          transform: translate(-50%, -50%)  rotate(180deg);
        }
      }
    }
    .icon-wrap {
      width: 40px;
      height: 50px;
      position: absolute;
      right: 0;
      top: 0;
      .icon {
        width: 20px;
        height: 20px;
        @include center;
        fill: red;
      }
    }
  }
  .tabs-wrap {
    @include mq('tablet', min) {
      .tab {
        display: block!important;
      }
    }
    @include mq('tablet') {
      .tab {
        position: static;
        opacity: 1;
        visibility: visible;
        z-index: auto;
        display: none;
        padding:  0 0 10px 0;
        border-bottom: 1px solid  rgba(0, 0, 0, 0.05);
        transition: none;
        &.active {
          display: block;
        }
      }
    }
  }
}
