.popup {
  padding: 55px;
  position: relative;
  background: $gray4;
  width: 770px;
  display: none;
  @include mq('tablet') {
    padding: 20px 15px 15px;
    min-height: 100vh;
  }
}
.fancybox-slide--html {
  padding: 0;
}
.popup {
  &.success {
    position: relative;
    .popup-in {
      opacity: 1;
      visibility: hidden;
      z-index: -100;
      position: relative;
    }
    .report {
      opacity: 1;
      visibility: visible;
      z-index: auto;
    }
  }
  .report {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    @include transition();
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
  .report-title {
    font-size: 42px;
    @include mq('tablet') {
      font-size: 20px;
      line-height: 23px;
    }
  }
}
