.posting-preview {
  .title {
    a {
      color: inherit;
      border: none;
    }
  }
  .row {
    display: flex;
    flex-flow: row wrap;
    @include mq('tablet') {
      display: block;
    }
    >div {
      display: flex;
      &:first-child {
        padding-right: 0;
      }
      &:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .pict {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include mq('tablet') {
      background: transparent!important;
      width: auto;
      margin: 0 -20px;
      img {
        display: block;
      }
    }
  }
  .desc {
    padding: 50px 0;
    width: 455px;
    max-width: 100%;
    @include mq('tablet') {
      padding: 30px 0;
    }
  }
  .txt {
    margin: 0 0 15px;
  }
}
