.preview-box {
  .desc {
    margin: 10px 0;
    max-width: 470px;
  }
  .preview-title {
    margin: 0 0 15px;
  }
  .sum {
    margin: 15px 0 15px 15px;
    font-size: 36px;
    @include mq('tablet') {
      font-size: 26px;
      margin: 15px 0 15px 8px;
    }
    .rub {
      font-size: 20px;
    }
  }
  .start {
    span {
      text-transform: lowercase;
    }
  }
  .btn-wrap {
    .btn {
      @include mq('tablet-wide') {
        @include mq('tablet', min) {
          margin: 5px 0!important;
          display: block;

        }
      }
    }
    .btn + .btn {
      margin: 0 0 0 10px;
    }
    @include mq('tablet') {
      font-size: 0;
      line-height: 0;
      .btn {
        padding-left: 15px;
        padding-right: 15px;
      }

    }
  }
}
