.programs-container {
  @include mq('tablet') {
    position: relative;
    padding-bottom: 50px;
    .row {
      >div {
        position: static;
      }
    }
  }
  .title-border {
  }
  .tabs-head-wrap {
    text-align: right;
    .slick-dots {
      justify-content: flex-start;
      top: auto;
      bottom: 25px;
      padding-left: 20px;
    }
  }

  .tabs-head {
    margin: 0 -20px 15px -10px;
    text-align: left;
    @include mq('tablet', min) {
      display: flex;
      flex-flow: row wrap;
      margin: 0;
    }
    @include mq('tablet') {
      position: static;

    }
    .item {
      font-size: 14px;
      line-height: 18px;
      padding: 10px;
      @include mq('tablet', min) {
        width: 50%;
        padding: 0 0 1px 1px;
        display: flex;
      }
      &.active a {
        color: #FFF;
        background: $red;
        box-shadow: 0px 0px 7px rgba(253, 39, 38, 0.72);
      }
      a {
        display: block;
        min-height: 136px;
        background: #FFF;
        border: none;
        border-radius: 3px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        color: inherit;
        width: 100%;
        position: relative;
        @include mq('tablet') {
          width: 220px;
          height: 133px;
          min-height: 133px;
        }
        &:hover {
          color: #FFF;
          background: #F20100;
          border-color: #F20100;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }
        .top {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          padding: 22px;
          overflow: hidden;
          .num {
            float: left;
          }
          .type {
            font-size: 13px;
            float: right;
          }
        }
        .ttl {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 22px;
          .icon {
            width: 33px;
            height: 33px;
            margin: 0 0 10px;
            display: block;
          }
        }
      }
    }
  }
  .text {
    margin: 15px 0;
  }
  .sum {
    margin: 20px 0 30px 15px;
    font-size: 36px;
    @include mq('tablet') {
      font-size: 26px;
      margin: 15px 0 15px 8px;
    }
    span {
      font-size: 20px;
    }
  }
  .btn-wrap {
    .btn {
      @include mq('tablet-wide') {
        @include mq('tablet', min) {
          margin: 5px 0!important;
          display: block;

        }

      }
    }
    .btn + .btn {
      margin: 0 0 0 10px;
    }
    @include mq('tablet') {
      font-size: 0;
      line-height: 0;
      .btn {
        padding-left: 15px;
        padding-right: 15px;
      }

    }
  }
}
