.reviews-aboutus {
  background: #F9F9F9;

  .blockquote-box .icon-wrap {
    background: #F9F9F9;
  }
  .slick-dots {
    top: auto;
    bottom: -3px;
    @include mq('tablet') {
      bottom: -10px;
    }
  }
  .top, .btm {
    position: relative;
    @include mq('desktop') {
      @include mq('tablet-wide', min) {
        margin: 0 80px;
      }
    }
  }
  .top {
    .carousel {
      .slick-list {
        padding-bottom: 34px;
        @include mq('tablet-wide') {
          padding-bottom: 45px;
        }
        @include mq('tablet') {
          padding: 0 0 15px;
        }
        .slick-slide {
          height: auto;
          display: flex;
          >div {
            width: 100%;
            display: flex;
          }
          .item {
            display: flex!important;
            width: 100%;
            max-width: 100%;
          }
        }
      }

      .slick-track {
        display: flex;
      }
    }
  }

  .arrow-round.slick-prev {
    @include mq('tablet-wide') {
      left: 0;
      top: 100%;
      margin-top: -10px;
    }
  }

  .arrow-round.slick-next {
    @include mq('tablet-wide') {
      right: 0;
      top: 100%;
      margin-top: -10px;
    }
  }
  .btm {
    .carousel {
      margin: 0 0 0 -20px;
      padding: 0 20px;
      @include mq('tablet') {
        padding: 0;
      }
    }

    .item {
      padding: 25px 0 0 20px;

      .blockquote-box {
        margin: 0;

        .txt {
          color: $baseFClr;
        }
        .user {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          margin: 0 0 20px;
          @include mq('tablet') {
            margin: 0 0 10px;
            justify-content: center;
          }
          .ava {
            width: 92px;
            img {
              display: blolck;
              border-radius: 100%;
            }

          }
          .info {
            @include mq('tablet', min) {
              flex: 1;
              padding-left: 20px;
            }
            @include mq('tablet') {
              width: 100%;
              padding-top: 10px;
              text-align: center;
            }
          }
        }
        .username {
          margin: 0 0 10px;
          @include mq('tablet') {
            margin: 0 0 10px;
          }
        }

        .userpost {
          max-width: 575px;
        }

        &:after, &:before {
          bottom: 100%;
          top: auto;
          left: 57px;
          @include mq('tablet-wide') {
            display: none!important;
          }
        }

        &:before {
          right: auto;
          border-top: 25px solid transparent;
          border-bottom: none;

        }

        &:after {
          right: auto;
          left: 59px;
          border-top: 25px solid transparent;
          border-left: 36px solid #F9F9F9;
          border-bottom: none;
          margin-bottom: -4px;
          margin-top: auto;

        }
      }
    }
  }

  .top {
    .slick-current {
      .item {
        .box {
          box-shadow: $boxShadowRed;
          z-index: 1;
        }
      }
    }

    .item {
      border: 1px solid transparent;
      display: flex;
      width: percentage(1/6);
      @include mq('tablet-wide') {
        width: percentage(1/4);
      }
      @include mq('tablet') {
        width: percentage(1/2);
      }

      .box {
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        max-width: 100%;
        font-size: 14px;
        padding: 13px;
        border: none;
        color: inherit;
        position: relative;
        @include transition();

        &:hover {
          box-shadow: $boxShadowRed;
          z-index: 1;
        }

        .ttl {
          width: 100%;
          align-self: flex-end;
        }
        .pict {
          max-width: 100%;
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            display: block;
            max-height: 80px;
            max-width: 166px;
          }
        }
      }
    }
  }
}

