.schedule-container {
  color: #FFF;
  .btn {
    margin-top: 35px;
    @include mq('tablet') {
      margin-top: 10px;
    }
  }
  &.success {
    position: relative;
    >.container-middle {
        opacity: 1;
        visibility: hidden;
        z-index: -100;
        position: relative;
    }
    .report {
      opacity: 1;
      visibility: visible;
      z-index: auto;
    }
  }
  .report {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: absolute;
    @include transition();
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
