.schedule-list {
  .head {
    padding-bottom: 40px;
    @include mq('tablet') {
      text-align: center;

    }
    .title {
      @include mq('tablet', min) {
        margin: 0;
      }
    }
    @include mq('tablet', min) {
      .btn {
        float: right;
      }
      .title {
        float: left;
      }

    }
  }

  .list {
    position: relative;
    padding-bottom: 85px;

    .month {
      position: relative;
      padding: 100px 0 0 240px;
      @include mq('tablet-wide') {
        padding: 0;
        & + .month {
          padding-top: 11px;

          &:before {
            top: -11px;
            height: 100%;
          }
        }
      }
      @include mq('tablet-wide', min) {
        & + .month {
          &:before {
            top: -15px;
            height: 100%;
          }
        }
      }

      &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(100% - 45px);
        background: #C3C3C3;
        left: 200px;
        top: 30px;
        @include mq('tablet-wide') {
          top: 0;
          height: calc(100% - 11px);
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .ttl-month {
      width: 170px;
      height: 60px;
      line-height: 60px;
      background: #FFF;
      box-shadow: 0 8px 36px rgba(#333333, 0.12);
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      color: #000;

      &:before {
        content: '';
        top: 50%;
        left: 100%;
        width: 30px;
        height: 1px;
        background: #C3C3C3;
        position: absolute;
      }

      @include mq('tablet-wide') {
        position: relative;
        margin: 0 auto 14px;
        width: 160px;
        height: 44px;
        font-weight: 500;
        line-height: 44px;
        z-index: 5;
        &:before {
          display: none;
        }
      }
    }

    .date-wrap {
      position: relative;

      .head-date {
        position: absolute;
        top: 0;
        left: -240px;
        width: 170px;
        text-align: right;

        .days {
          color: #8b8b8b;
          @include mq('tablet-wide') {
            font-weight: normal;
          }
        }

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -39px;
          border-radius: 100%;
          background: #FFF;
          width: 18px;
          height: 18px;
          background: $red;
          border: 3px solid #FFF;
        }

        @include mq('tablet-wide') {
          text-align: center;
          position: relative;
          margin: 0 auto;
          padding: 21px 0 10px;
          background: $gray4;
          left: auto;
          z-index: 4;
          &:after {
            top: 0;
            left: 50%;
            right: 0;
            transform: translateX(-50%);
            width: 15px;
            height: 15px;
            border: 2px solid #FFFFFF;
          }
        }
      }
    }

    .lessons {
      display: flex;
      flex-flow: row wrap;
      @include mq('tablet-wide') {
        margin: 0 -11px;
      }

      .item {
        padding: 15px;
        display: flex;
        @include mq('tablet-wide') {
          padding: 11px;
        }
      }

      .box {
        width: 100%;
        padding: 35px 30px 5px 45px;
        @include mq('tablet-wide') {
          padding: 17px 20px 6px;
        }
      }

      .lesson-ttl {
        font-size: 18px;
        line-height: 21px;
        @include mq('tablet-wide') {
          font-size: 14px;
          line-height: 21px;
          font-weight: 800;
        }
      }
    }

    .teachers {
      margin: 7px 0;
      a {
        display: inline-block;
      }
      @include mq('tablet-wide') {
        margin: 4px 0 6px;
        font-size: 12px;
        line-height: 15px;
      }
      .hidden {
        display: none;
      }
      &.open {
        .hidden {
          display: block;
        }

        .visible {
          display: none;
        }
      }
    }

    .indic {
      margin: 0 0 15px;
      @include mq('tablet-wide') {
        margin: 0 0 11px;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  .btn-wrap {
    position: relative;

    &.show-loader {
      .lds-default {
        visibility: visible;
        z-index: 10;
      }
    }

    .lds-default {
      visibility: hidden;
      z-index: -10;
      bottom: 100%;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      margin-bottom: 10px;
    }
  }
}
