.search-result {
  padding: 0;
  >.item {
    border-top: 10px solid #FFF;
    padding: 50px 0;
    @include mq('tablet') {
      padding: 30px 0;
      border-top-width: 5px;
    }
    &:first-child {
      border: none;
    }
  }
  .btn-wrap {
    margin-top: 35px;
    @include mq('tablet') {
      margin-top: 15px;

    }
  }
  .list {
    display: flex;
    flex-flow: row wrap;
    .item {
      padding: 15px;
      .box {
        position: relative;
      }
    }
    .ttl {
      margin: 0 0 15px;
    }
  }
}
.search-filter {
  margin-top: 50px;
  position: relative;
  @include mq('tablet') {
    margin-top: 30px;
  }
  ul {
    list-style-type: none;
    margin:0 -15px;
    padding: 0;
    display: flex;
    @include mq('tablet-wide', min) {
      display: flex!important;
      height: auto!important;
    }
    li {
      padding: 0 15px;

    }
    @include mq('tablet-wide') {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      margin: 0;
      display: none;

      li {
        border-top: 1px solid  #E6E6E6;
        padding: 0;

      }
      a {
        border-radius: 0;
        border-color: #FFF;
      }
    }

  }
  a {
    border: 2px solid #E6E6E6;
    background: #FFF;
    font-size: 14px;
    line-height: 26px;
    padding: 10px 24px;
    font-weight: 700;
    border-radius: 25px;
    display: block;
    color: inherit;
    position: relative;
    .icon-wrap {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      .icon {
        width: 16px;
        height: 16px;
        @include transition();
      }
    }
    &:hover {
      @include mq('tablet-wide', min) {

      }
    }
  }
  .active {
    a:hover {
      @include mq('tablet-wide', min) {
        background: #FFF;
        color: $red;
        border: 2px solid #E6E6E6;
      }
    }
    a {

      @include mq('tablet-wide', min) {
        background: #FFF;
        color: $red;
        border: 2px solid #E6E6E6;
      }
      @include mq('tablet-wide') {
        color: #FFF;
        border-color: $red;
        background: $red;
      }
    }
  }
  .head {
    a {
      padding-right: 40px;
    }
  }
  &.open {
    @include mq('tablet-wide') {
      box-shadow: $boxShadow;
    }
    .head {
      a {
        border-radius: 25px 25px 0 0;
        border-bottom-color: #FFF;
        .icon-wrap {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
