.section-deferred-payment {
  padding: 50px 0 35px;
  @include mq('tablet') {
    padding: 30px 0 15px;
  }
  .list {
    display: flex;
    flex-flow: row wrap;
    .item {
      padding: 15px;
    }
    .box {
      @include mq('tablet-wide', min) {
        padding: 50px;
      }
      padding: 30px;
      width: 100%;
      border-radius: 10px;
      .row {
        display: flex;
        flex-flow: row wrap;
        margin: 30px -15px;
        @include mq('tablet-wide') {
          margin: 15px 0;
        }
        >div {
          padding: 15px;
          &:first-child {
            border-right: 1px solid #DADADA;
            @include mq('tablet-wide') {
              border-bottom: 1px solid #DADADA;
              border-right: none;
            }
          }
        }
      }
    }
    .price,
    .ttl {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 15px;
      @include mq('tablet', min) {
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 30px;
      }
    }
    .price {
      margin: 0;
    }
  }
}
