.section-bank-card {
  .form {
    max-width: 792px;
    margin: 0 auto ;

  }
  .cards {
    display: flex;
    margin: 0 0 50px;
    @include mq('tablet') {
      margin-bottom: 25px;
      flex-flow: row wrap;
    }
    .card {
      background: #FFF;
      border-radius: 10px;
      padding: 45px;
      position: relative;
      @include mq('tablet') {
        width: 100%;
        padding: 15px;
      }
    }
    .front {
      flex: 1;
      z-index: 1;
    }
    .cvs{
      padding-top: 134px;
      width: 100%;
      margin-top: 15px;
      @include mq('tablet', min) {
        margin-top: 0;
        min-width: 222px;
        max-width: 222px;
        border-radius: 0 10px 10px 0;
        &:before {
          width: 20px;
          position: absolute;
          top: 0;
          height: 100%;
          right: 100%;
          background: #FFF;
          content: '';
        }
      }
      &:after {
        content: '';
        height: 60px;
        background: #C4C4C4;
        width: 100%;
        position: absolute;
        top: 56px;
        right: 0;
      }
    }
  }
  .validity {
    .form-lbl{
      text-align: right;
      display: block;
    }
    .selects {
      margin: 0 -5px;
      display: flex;
      justify-content: flex-end;
      .form-group {
        padding: 0 5px;
        width: 90px;
      }
    }
  }
}
