.section-feedback,
.land-section-feedback {
  .title {
    margin: 0 0 50px;
    @include mq('tablet') {
      margin: 0 0 25px;
    }
  }
  .carousel-wrap {
    position: relative;
    @include mq('desktop-wide-md') {
      @include mq('tablet-wide', min) {
        margin: 0 70px;
      }
    }
    .carousel {
      margin: 0 -15px;
      .slick-dots {
        position: relative;
        margin-top: 15px;
      }
      @include mq('tablet') {
        text-align: center;
        .slick-dots {
          position: relative;
          margin-top: 15px;
        }
      }
      .item {
        padding: 0 15px;
        .box {
          @include mq('tablet', min) {
            display: flex;
          }
        }
        .ava {
          width: 30%;
          padding: 0 10px;
          @include mq('tablet') {
            width: 160px;
            margin: 0 auto 15px;
            padding: 0;
          }
          img {
            width: 114px;
            border: 3px solid $red;
            border-radius: 100%;
            margin: 0 auto;
            display: block;
            @include mq('tablet') {
              margin: 0;
              width: 100%;
            }
          }
        }
        .desc {
          @include mq('tablet', min) {
            flex: 1;
            //max-width: 240px;
            //font-size: 14px;
            //line-height: 22px;
          }
          .name {
            margin: 0 0 15px;
          }
        }
      }
    }
  }
}
