.section-licenses {
  .desc {
    max-width: 970px;
    margin: 0 auto ;
  }
  .slick-dots {
    position: relative;
  }
  .carousel-wrap {
    margin: 0 -15px;
  }
  .carousel {
    .item {
      a {
        display: block;
        padding: 15px;
        border: none;
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
