.section-contacts {
  @include mq('tablet', min) {
    border-bottom: 5px solid #FFF;
  }
  .row {
    margin-bottom: 25px;
    @include mq('tablet', min) {
      display: flex;
      flex-flow: row wrap;
      >div {
        display: flex;
        &.visible-xxs {
          display: none;
        }
      }
      .map {
        display: flex;
        width: 100%;
        iframe {
          height: 100%;
        }
      }
    }
    @include mq('tablet') {
      margin-top: 15px;
    }
  }
  .info {
    .item {
      a[href^="mailto:"] {
        border-bottom-color: $baseFClr;
        &:hover {
          border-bottom-color: transparent;
        }
      }
      position: relative;
      margin-top: 25px;
      padding-left: 40px;
      min-height: 25px;
      max-width: 580px;
      .icon-wrap {
        width: 30px;
        position: absolute;
        top: 0;
        left: 0;
        color: $red;
        .icon {
          display: block;
          width: 25px;
          height: 25px;

        }
      }
      &:first-child {
        margin-top: 0;
      }
      @include mq('tablet') {
        margin-top: 15px;
      }

    }
    a {
      color: inherit;
    }
  }
  .box {
    @include mq('tablet') {
      background: #FFF;
      box-shadow: $boxShadow;
      margin: 30px 0;
      >div {
        float: none;
        padding: 20px 15px;
        &.map-wrap {
          padding: 0;
        }
      }
    }

  }
}
