.section-open-fitness {
    .list {
      display: flex;
      flex-flow: row wrap;
      .item {
        width: 50%;
        display: flex;
        border-bottom: 1px solid transparent;
        &:nth-child(even) {
          @include mq('tablet', min) {
            border-left: 1px solid transparent;

          }
        }
        @include mq('tablet') {
          width: 100%;
        }
        .box {
          width: 100%;
          border: none;
          color: inherit;
          padding: 30px 60px 30px 35px;
          position: relative;
          display: flex;
          align-items: center;
          background: #FFF;
          @include mq('tablet-wide') {
            padding: 15px 30px 15px 15px;
          }
          &:hover {
            z-index: 5;
            color: $red;
            box-shadow: $boxShadow;
            background: #FFF;
            .icon-wrap,
            .angle {
              color: #000;
              img {
                opacity: 1;
              }
            }
          }
        }
        .angle {
          position: absolute;
          right: 40px;
          top: 50%;
          transform: translateY(-50%);
          color: #8a8a8f;
          @include transition();
          @include mq('tablet-wide') {
            right: 10px;
          }
          .icon {
            display: block;
            width: 15px;
            height: 15px;
          }
        }
        .icon-wrap {
          width: 72px;
          min-width: 72px;
          max-width: 72px;
          color: #8a8a8f;
          @include transition();
          @include mq('tablet') {
            width: 40px;
            min-width: 40px;
            max-width: 40px;
          }
          img {
            opacity: 0.6;
            @include transition();
          }
          .icon {
            width: 72px;
            height: 82px;
            @include mq('tablet') {
              width: 40px;
              height: 50px;
            }
          }
        }
        .desc {
          flex: 1;
          padding-left: 30px;
          @include mq('tablet') {
            padding-left: 10px;
          }
          .in {
            max-width: 365px;
          }
        }
      }
    }
}
