.section-partners {
  .desc {
    margin: 30px 0;
    @include mq('tablet') {
      margin: 15px 0;
    }
  }
  .list {
    margin: 0 -1px;
    display: flex;
    flex-flow: row wrap;
    .item {
      border: 1px solid transparent;
      display: flex;
      width: percentage(1/6);
      @include mq('tablet-wide') {
        width: percentage(1/4);
      }
      @include mq('tablet') {
        width: percentage(1/2);
      }
      .box {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        font-size: 14px;
        padding: 13px;
        border: none;
        color: inherit;
        position: relative;
        @include transition();
        &:hover {
          box-shadow: $boxShadowRed;
          z-index: 1;
        }
        .ttl {
          width: 100%;
          align-self: flex-end;
        }
        .pict {
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            display: block;
            max-height: 80px;
          }
        }
      }
    }
  }
}
