.section-education {
  .list {
    .item {
      display: flex;
      padding: 25px;
      &:nth-child(even) {
        background: #FFF;
      }
      @include mq('tablet') {
        flex-flow: row wrap;
        padding: 15px;
      }
      .year {
        max-width: 165px;
        min-width: 165px;
        @include mq('tablet') {
          width: 100%;
          min-width: 100%;
          max-width: 100%;
          padding-bottom: 8px;
        }
      }
      .desc {
        flex: 1;
        @include mq('tablet') {
          width: 100%;

        }
        .ttl {
          margin: 0 0 8px;
        }
        .degree {
          position: relative;
          padding-left: 35px;
        }
        .icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
