.section-payment {

  .requisites {
    list-style-type: none;
    margin: 15px -20px 30px;
    padding: 0;
    @include mq('tablet') {
      margin-bottom: 15px;

    }
    li {
      position: relative;
      padding: 10px 20px;
      display: flex;
      margin: 6px 0 0;
      border-radius: 4px;
      @include transition();
      &:first-child {
        margin: 0;
      }
      &:nth-child(even) {
        background: #F4F4F4;
      }
      &:hover {
        background: $red;
        color: #FFF;
        button {
          opacity: 1;
          visibility: visible;
        }
      }
      button {
        margin-left: auto;
        border: none;
        color: #FFF;
        position: relative;
        padding: 0 0 0 30px;
        background:transparent;
        visibility: hidden;
        opacity: 0;
        @include mq('tablet') {
          padding: 0 0 0 20px;
        }
        @include transition();
        .icon {
          width: 20px;
          height: 20px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
        }
      }
    }
  }
}
