.section-summary {
  .box {
    padding: 35px;
    @include mq('tablet') {
      padding: 10px;
    }
    .title {
      margin: 0 0 15px;
      @include mq('tablet') {
        margin-bottom: 10px;
      }
    }
    .itm {
      margin-top: 15px;
      @include mq('tablet') {
        margin-top: 10px;
      }
    }
  }
  a[href^="mailto:"] {
    color: $red;
  }
}
