.section-instructors {
  .list {
    .item {
      margin-top: 30px;
      &:first-child {
        margin-top: 0;
      }
      @include mq('tablet') {
        margin-top: 15px;
      }
    }
  }
  .box {
    position: relative;
    padding: 30px 70px 30px 30px;
    @include mq('tablet') {
      padding: 15px;
    }
    &:hover {
      .icon-wrap,
      .ttl {
        color: $red;
      }
    }
    .icon-wrap {
      @include transition();
      width: 70px;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      @include mq('tablet') {
        width: 40px;
        display: none;
      }
    }
  }
  .in {
    display: flex;
    align-items: flex-start;
    @include mq('tablet') {
      display: block;

    }
    .pict {
      width: 100px;
      margin: 0 auto;
      @include mq('tablet', min) {
        min-width: 100px;
        max-width: 100px;
      }
      img {
        display: block;
        width: 100%;
      }
    }
    .desc {
      flex: 1;
      padding-left: 30px;
      @include mq('tablet') {
        padding: 15px 0 0;
      }
      .ttl {
        @include transition();
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 5px;
        margin-top: -5px;
        @include mq('tablet') {
          font-size: 18px;
          line-height: 22px;
          margin: 0 0 8px;
        }
      }
    }
  }
}
