.section-partners-list {
  .list {
    .item {
      padding: 50px 0;
      border-top: 10px solid #fff;
      &:first-child {
        border-top: none;
      }
      @include mq('tablet') {
        padding: 30px 0;
        border-top-width: 5px;
      }
    }
  }
  .pict-wrap {
    position: relative;
    padding-top: 100%;
    .pict {
      position: absolute;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      left: 0;
      width: 100%;
      top: 0;
      img {
        max-height: 100%;
      }
    }
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 15px;
    }
  }
}
