.section-blog {
  .section-blog-nav {
    display: flex;
    flex-flow: row wrap;
    .top-nav-sort {
      @include mq('tablet-wide', min) {
        margin-left: auto;
      }
      @include mq('tablet-wide') {
        width: 100%;

      }
      @include mq('tablet', min) {
        margin-left: auto;
        ul {
          li {
            &:first-child {
              &:before {
                display: none;
              }
            }
            &:before {
              content: '/';
              margin: 0 0 0 10px;
            }
          }
        }
      }
      @include mq('tablet') {
        font-size: 10px;
        padding-top: 10px;

      }
    }
  }
  .top-nav {
    ul {
      margin: 0 -5px;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      @include mq('tablet') {
        margin: 0 auto;
        max-width: 280px;
      }
      li {
        margin-right: 30px;
        @include mq('tablet') {
          margin: 0;
          width: 50%;
          &:nth-child(even) {
            text-align: right;
          }
        }
        &.active {
          a {
            border-color: $baseFClr;
            &:hover {
              @include mq('tablet', min) {
                color: $baseFClr;
              }
            }
            @include mq('tablet') {
              color: $red;
            }
          }
        }
        a {
          border-bottom-width: 2px;
          padding: 0 5px;
          color: inherit;
          border-color: transparent;
          &:hover {
            color: $red;
          }
          @include mq('tablet') {
            padding: 0;
            border: none;

          }
        }
      }
    }
  }
  .main-anons {
    padding-top: 40px;
    position: relative;
    .title-border {
      a {
        border: none;
        color: inherit;
      }
    }
    img {
      display: block;
      width: 100%;
    }
    .row {
      display: flex;
      flex-flow: row wrap;
      >div {
        position: relative;
        &:last-child {
          padding-bottom: 30px;
        }
      }
      .btm {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 15px;
        display: flex;
        color: $gray3;
        .item {
          position: relative;
          padding-left: 30px;
          margin-right: 15px;
          &.section {
            padding-left: 0;
          }
          &.views {
            margin-left: auto;
            @include mq('tablet') {
              margin-left: 15px;

            }
          }
          .icon {
            width: 20px;
            height: 20px;
            fill: #8B8B8B;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    .title-border {
      @include mq('tablet') {
        margin-top: 15px;
      }
    }
  }
}
.blog-list {
  padding: 35px 0;

  @include mq('tablet') {
    padding: 15px 0;
  }
  .row {
    display: flex;
    flex-flow: row wrap;
    .item {
      padding: 15px;
    }
  }
}
.blog-preview {
  position: relative;
  img {
    display: block;
  }
  .indicartors {
    color: $gray3;
    padding: 10px 0;
    display: flex;
    @include mq('tablet') {
      margin: 8px 0;
    }
    .views {
      position: relative;
      padding-left: 30px;
      margin-left: auto;
      margin-left: 15px;
      @include mq('tablet', min) {
        margin-left: auto;
      }
      .icon {
        width: 20px;
        height: 20px;
        fill: #8B8B8B;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .title {
    @include mq('tablet', min) {
      font-size: 22px;
      line-height: 25px;
    }
  }
}
