.section-anons {
  &:not(.section-anons-reverse) .item {
    &:nth-child(even) {
      >div {
        &:nth-child(1) {
          @include mq('tablet', min) {
            padding: 0 15px 0 0;
          }
        }
        &:nth-child(2) {
          padding: 0 15px;
          order: -1;
        }
      }
    }
    >div {
      display: flex;
      @include mq('tablet', min) {
        padding: 0 0 0 15px;
      }
    }
  }
  &.section-anons-reverse .item {
    &:nth-child(odd) {
      >div {
        &:nth-child(1) {
          @include mq('tablet', min) {
            padding: 0 15px 0 0;
          }
        }
        &:nth-child(2) {
          padding: 0 15px;
          order: -1;
        }
      }
    }
    >div {
      display: flex;
      @include mq('tablet', min) {
        padding: 0 0 0 15px;
      }
    }
  }
  .item {
    display: flex;
    flex-flow: row wrap;
    @include mq('tablet') {
      display: block;
    }

    >div {
      display: flex;
      @include mq('tablet', min) {
        padding: 0 0 0 15px;
        min-height: 423px;
      }
      .pict {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @include mq('tablet') {
          background: transparent!important;
          width: auto;
          margin: 0 -20px;
          img {
            display: block;
          }
        }
      }
      &:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .desc {
      padding: 50px 0;
      width: 455px;
      max-width: 100%;
      @include mq('tablet') {
        padding: 30px 0;
      }
    }
    .txt {
      margin: 0 0 15px;
    }
    .top {
      margin: 0 0 10px;
      display: flex;
      align-items: center;
      .bg-red {
        display: inline-block;
        vertical-align: top;
        padding: 5px 10px;
        margin-right: 15px;
      }

    }
  }
}
