.section-tariff {
  .list {
    .item {
      margin-top: 30px;
      position: relative;
      padding-left: 20px;
      border-left: 2px solid $red;
      @include mq('tablet') {
        margin-top: 15px;
        padding-left: 10px;
      }
      &:first-child {
        margin-top: 0;

      }
    }
    .num  {
      margin: 0 0 8px;
    }
    .ttl {

    }
    .desc {
      margin-top: 10px;
    }
  }
  .total-price {
    margin-top: 50px;
    @include mq('tablet') {
      margin-top: 30px;
    }
    .btn-wrap {
      margin-top: 30px;
    }
    .price {
      font-size: 20px;
      line-height: 26px;
      span {
        font-size: 36px;
        line-height: 40px;
      }
    }
  }
}
