.section-books {
  padding: 50px 0 35px;
  @include mq('tablet') {
    padding: 30px 0 15px;
  }
  .slick-dots {
    position: relative;
  }
  .carousel-wrap {
    position: relative;
    .carousel {
      margin: -15px -15px 0;
      .slick-track {
        display: flex;
        .slick-slide {
          display: flex;
          height: auto;
          >div {
            display: flex;
            width: 100%;
            .item {
              display: flex!important;

            }
          }
        }
      }
    }
  }
  .item {
    padding: 15px;
  }
  .box {
    width: 100%;
    padding: 25px;
    border: 2px solid #E5E5E5;
    @include mq('tablet') {
      padding: 15px;
    }
    .pict {

    }
    .year {
      margin: 8px 0;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
