.section-tinkoff {
  .row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    @include mq('tablet') {
      justify-content: center;
      text-align: center;
      >div {
        padding: 15px 0 0;
        &:first-child {
          padding-top: 0;
        }
      }

    }
  }
  .logo {
    img {
      display: block;
      max-width: 200px;
      @include mq('tablet') {
        margin: 0 auto;
      }
    }
  }
  .questions {
    display: inline-block;
    padding-left: 30px;
    color: inherit;
    border: none;
    position: relative;
    span {
      border-bottom: 1px solid;
      &:hover {
        border-bottom-color: transparent;
      }
    }
    .icon {
      width: 25px;
      height: 25px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      position: absolute;
    }
  }
}
