.section-subscribe {
  &.success {
    position: relative;
    .block {
      .inner {
        opacity: 1;
        visibility: hidden;
        z-index: -100;
        position: relative;
      }
    }
    .report {
      opacity: 1;
      visibility: visible;
      z-index: auto;
    }
  }
  .report {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: absolute;
    @include transition();
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
  .block {
    background:  url(../images/subscribe-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    color: #FFF;
    padding: 50px 15px;
    @include mq('tablet') {
      padding: 30px 15px;
    }
    .inner {
      max-width: 970px;
      margin: 0 auto;
    }
    .title {
      font-size: 27px;
      line-height: 30px;
      margin: 0 0 30px;
      @include mq('tablet') {
        font-size: 20px;
        line-height: 24px;
      }
    }
    form {
      max-width: 420px;
      margin: 0 auto 15px;
      position: relative;
      input {
        display: block;
        width: 100%;
        background: $red;
        border: none;
        border-bottom: 1px solid #FFF;
        color: #FFF;
        padding: 15px 60px 15px 15px;
        font-size: 16px;
        line-height: 19px;
        @include placeholder() {
          color: #FFF;
        }
        @include mq('tablet') {
          font-size: 14px;
          padding: 10px 50px 10px 10px;
        }
      }
      button {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        background: #FFF;
        color: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: 1px solid #FFF;
        &:hover {
          background: $red;
          color: #FFF;
        }
        .icon {
          width: 12px;
        }
        @include mq('tablet') {
          width: 40px;
          height: 40px;
        }
      }
    }
    a {
      color: inherit;
    }
  }
}
