.section-consultation {
  .form {
    background: url(../images/block-consultation-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    max-width: 797px;
    margin: 0 auto;
    padding: 35px 40px 40px;
    position: relative;
    @include mq('tablet') {
      padding: 15px;
    }
    .form-control {
      &.error {
        color: $red;
        @include placeholder() {
          color: $red;
        }
      }
    }
    a {
      color: inherit;
    }
  }
  .report {
    padding: 0 25px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
  }
  .report-btn {
    .btn{
      color: #FFF;
      @include mq('tablet') {
        display: block;
      }
    }
  }
  .report-in {
    max-width: 480px;
  }
  .report-title {
    font-size: 42px;
    @include mq('tablet') {
      font-size: 20px;
      line-height: 23px;
    }
  }
  .report-desc {
    margin: 15px 0;
  }

  &.success {
    .report {
      z-index: 10;
      opacity: 1;
      visibility: visible;
    }
    .form-in {
      position: relative;
      opacity: 0;
      z-index: -1000;
      visibility: hidden;
    }
  }
}
