.subscription-block {
  background:  url(../images/subscription-bg.jpg) center 0 no-repeat;
  background-size: cover;
  color: #FFF;
  position: relative;
  @include mq('tablet') {
    background:  url(../images/subscribe-mob.jpg) center 0 no-repeat;
    background-size: cover;
  }
  &.success {
    .report {
      opacity: 1;
      visibility: visible;
      z-index: 11;
    }
  }
  .report {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: absolute;
    @include transition();
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  url(../images/subscription-bg.jpg) center 0 no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    @include mq('tablet') {
      background:  url(../images/subscribe-mob.jpg) center 0 no-repeat;
      background-size: cover;
    }

  }
  .form-group {
    input {
      @include mq('desktop', min) {
        width: 330px;
      }
      @include mq('desktop') {
        @include mq('tablet-wide', min) {
          width: 230px;
        }
      }
    }
    @include mq('tablet-wide', min) {
      margin-bottom: 0;
    }
  }
  .title {
    margin: 0 0 15px;
    @include mq('tablet-wide', min) {
      white-space: nowrap;
      margin: 0;
    }
  }
  .inner {
    display: flex;
    align-items: center;
    margin: 0 -15px;
    padding: 25px 0;
    min-height: 136px;
    @include mq('tablet-wide') {
      display: block;
      max-width: 458px;
      margin: 0 auto;
    }
    a {
      color: inherit;
    }
    @include mq('tablet-wide-wide') {
      .title {
        margin: 0 0 15px;
      }
      @include mq('tablet-wide', min) {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
      }

    }
    @include mq('tablet-wide-wide', min) {
      input {
        width: 339px;
      }
    }
    >* {
      padding: 0 15px;
    }
  }
}
