.tags-block {
  margin: 50px 0;
  @include mq('tablet') {
    margin: 30px 0;
  }
  .title {
    margin: 0 0 20px;
    @include mq('tablet', min) {
      font-size: 18px;
      line-height: 21px;
    }
  }
  .line {
    display: flex;
    flex-flow: row wrap;
    .ttl {
      width: 170px;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}
.tags {
  .tag {
    margin: 0 13px 13px 0;
  }
}
.tag {
  border: 1px solid $gray5;
  color: #000000;
  background: transparent;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 15px;
  border-radius: 26px;
  display: inline-block;
  &:hover {
    border-color: $gray5;
    color: $red;
    box-shadow: none;
  }
  &:active {
    border-color: #EB2120;
    color: $red;
  }
}
