.tariffs-list {
  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .item {
      display: flex;
      padding: 15px;
    }
  }
  .box {
    width: 100%;
    padding: 30px;
    @include mq('tablet-wide') {
      padding: 15px;
    }
    .title-border {
      padding-bottom: 15px;
    }
    .ttl {
      @include mq('tablet', min) {
        min-height: 79px;

      };
    }
    .btn-wrap {
      margin: 50px 0;
      @include mq('tablet') {
        margin: 20px 0;
      }
    }
  }
}
