.teacher-detail {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
  .column {
    padding: 0 15px;
    &:first-child {
      width: 40%;
      @include mq('tablet') {
        width: 100%;

      }
    }
    &:last-child {
      width: 60%;
      @include mq('tablet') {
        width: 100%;

      }
    }
  }
  .pict {
    img {
      display: block;
    }
    margin: 0 0 30px;
    @include mq('tablet') {
      margin: 0 0 15px;
    }
  }
  .social-box {
    margin: 15px 0
  }
}
