.teachers-list {
  display: flex;
  flex-flow: row wrap;
  padding: 35px 0;
  +.btn-wrap {
    padding-bottom: 50px;
    @include mq('tablet') {
      padding-bottom: 30px;

    }
  }
  @include mq('tablet') {
    margin: -5px;
    padding: 25px 0;
  }
  .item {
    padding: 15px;
    display: flex;
    @include mq('tablet') {
      padding: 5px;

    }
  }
}
.teacher-preview {
  width: 100%;
  background: #FFF;
  box-shadow: $boxShadow;
  position: relative;
  @include transition();
  &:hover {
    box-shadow: 0 8px 36px rgba(#333333, 0.12);
    .ttl {
      color: $red;
    }
  }
  .pict {
    img {
      display: block;
      width: 100%;
    }
  }
  .desc {
    padding: 10px 20px;
  }
  .ttl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 5px;
    @include mq('tablet', min) {
      min-height: 48px;
    }
  }
}
